{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}




{% if transaction.success %}

<div class="cashenvoy.info">
    <br>
    <img src="{{ logo }}" alt="Cash Envoy Logo" />
    <br>
    {{ transaction.response_description }}

    <br><br>
</div>

{% else %}

<div class="cashenvoy.error">
    <br>
    <img src="{{ logo }}" alt="Cash Envoy Logo" />
    <br>
    {{ transaction.response_description }}

    <br><br>
</div>

{% endif %}

