
/* ===================== DASHBOARD LANDING ===================== */


#home_icon {
	position:absolute;
	top:110px;
	left:10px;
	
	background-image:url(ui/images/icons/home_20x20.png);
	
}


body {
	background-color:#000;
	background-image: url(./ui/images/wallpaper/city-view-hd-wallpapers-11750.jpeg);
	font-family: 'CenturyGothicRegular', verdana, arial; 
	
}


.header-wrapper {
    background: none;
    overflow: visible;
}

.header-wrapper > .header {
    border: none;
}

#page-title {
    color: #aac;
}

#main-nav-button {
    color: #aac;
}

#command-center-wrapper {
        
	width:100%;
	height:100%;
        
        /*
	width:890px;
	height:480px;
        */
        
}





.glass-pane {
    position:absolute;
    top: 0px;
    
    background-image: url(../images/transparent_pixel.gif);

    margin: 0px 0px;
    
    z-index: 410;
}



.glass-pane > div.inner-wrap {
	display:block;
	
	position:relative;
	left: 0px;
	
	width:960px;
	height:550px;
        
	margin:5px auto;
        margin-top: 115px;
        
        
	background:rgba(0, 0, 0, .8);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .8));
        background: -moz-linear-gradient(top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .8));
        background: -o-linear-gradient(top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .8));
        background: linear-gradient(top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .8));
        
	border:solid 2px rgba(50, 50, 50, 1);
	
	border-radius:20px;	
	-moz-border-radius:20px;	
	-webkit-border-radius:20px;
	
	box-shadow: 2px 2px 3px rgba(0,0,0,.7);

        /*
	border:solid 5px rgba(50, 50, 50, .7);
	
        background-image: url(../images/black_denim.png);
        */
        
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	box-shadow: 1px 1px 2px rgba(0,0,0,.6);
}




.glass-pane > div.clear-button {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    background: transparent;
    
    z-index: 1;
}


.glass-pane > div.inner-wrap > a.cancel-button > .icon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    
    height: 15px;
    width: 150px;
    
    font-size: 75%;
    font-weight: bold;
    line-height: 8px;
    text-align: right;
    color: #770;
    
    display: block;
    z-index: 405;
}

.glass-pane > div.inner-wrap > a.cancel-button > .icon-close:before {
    position: relative;
    float: right;
    margin-left: 5px;
    
    font-size: 150%;
    color: #444;
}

.glass-pane > div.inner-wrap > a.cancel-button:hover > .icon-close:before {
    color: #777;
}
















.frames {
	position:relative;
	width:650px;
	height:480px;
	
        /*
	position:absolute;
	top:140px;
	left:50px;
	border-bottom: dotted 1px #0ac;
	*/
        
        float: right;
        
        border: none;
	margin:15px 35px 15px auto;
	
	padding-top:15px!important;
        overflow: hidden;
        z-index: 9;

}


.frame-strip {
	width:1700px;
	height:480px;
	
	position:absolute;
	top: 0px;
	left: 0px;
/*	
	border-left: dotted 1px #0ac;
	*/
	padding:0px!important;
        overflow: hidden;

        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    
}


.glass-panel {
	width:240px;
	height:550px;
	
	position:absolute;
	top: 0px;
	left: 0px;
	
	border-right: solid 5px  rgba(0, 0, 0, .4);
	
	padding-top:0px;
        background: rgba(0, 0, 0, .4);
        z-index: 10;
        
        
	border-radius:5px 0px 0px 5px;	
	-moz-border-radius:5px 0px 0px 5px;	
	-webkit-border-radius:5px 0px 0px 5px;
        
}


.frame {
    position: relative;
    display: block;
    
    
    width:650px;
    height:480px;

    padding: 5px 0px 0px 0px!important;
    
}






/* ------------------- APP TILE ------------------ */

.app-tile-grid {

}


.app-tile {
    
    display: inline-block;
    position: relative;

    width: 140px;
    height: 140px;

	border-radius: .5em;	
	-moz-border-radius: .5em;	
	-webkit-border-radius: .5em;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;   

    overflow: hidden;

}

.app-tile > .bg {


    display: block;
    position: absolute;

    width: 100%;
    height: 100%;

	background-color: rgba(40, 40, 40, .6);
    z-index: -1;

}



.app-tile > .content {

    display: block;
    position: relative;

    width: 100%;
    height: 100%;

}


.app-tile > .content > .image-wrap {


    display: block;
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: 2;

}


.app-tile > .content > .image-wrapper img {
  max-width: 80px;
  max-height: 80px;
  margin: 0 auto;
}

.app-tile > .content > .image-wrap span.icon {
   font-size: 80px; 
   height: 80px; 
   line-height: 80px; 
   width: 80px;
}


.app-tile > .content > .image-wrap span.icon.large {
    font-size: 300%;
}

 .app-tile > .content > .image-wrap span.icon.medium {
    font-size: 240%;
}

 .app-tile > .content > .image-wrap span.icon.small {
    font-size: 120%;
}

.app-tile > .content > .dashboard {


    display: block;
    position: absolute;

    width: 100%;
    height: 100%;

    background: none;

    z-index: 3;

}


.app-tile > .content > .dashboard > .label {

	width:140px;
	height:15px;
	
	position:absolute;
	bottom:10px;
	left:20px;
	
	font-family: 'GeosansLight', verdana, arial; 
	font-size:14px;
	text-align:left;
	color:#ccc;

}



.app-tile > .content > .dashboard > .count {

      position: absolute;
      right: 20px;
      bottom: 10px;

      font-size: 14px;
      font-weight: bold;

}






.app-tile:hover, .app-tile.active-state {
     /*      outline: 3px #225a68 solid;*/
     color: #fff;
}


.app-tile:hover > .bg,  
.app-tile.active-state > .bg {
     /* outline: 3px #225a68 solid;*/
     background-color: #0ac; 
}



