
/* 
    Created on : Jul 26, 2015, 8:35:39 AM
    Author     : Gboyega Dada <gboyega@fpplabs.com>
*/


/*

CUSTOMER INFO

*/



.header-wrapper {
    display: none;
}



#header {
	
	border:none;
}


#footer {
	border:none;
	
}


.content {
	
	border:none;
	margin:0px auto;
	padding:0px 0px;
	
	width:980px;
	
	clear:both;
	
}



#login-form-outer-wrapper {
	position:absolute;
	top:-15px;
	left:250px;
	z-index:100;
	
	width:480px;
	height:320px;
	
	border:solid 5px #222; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
	
}


#login-icon:before {
	display:block;
	height:100px;
	width:100px;
	
	font-size:300%;
	font-weight: normal;
	font-style: normal;
	
	position:relative;
	left:7px;
	top:4px;
	
	line-height:0%!important;
	color:#2c2c2c!important;
	
}




#login-form-label {
	width:90px;
	height:120px; 

	text-align:right;
	font-size:110%;
	color:#444;
	
	padding:120px 40px 40px 20px;
	margin:0px 0px;
	
	/*padding:10px; */
	
	border-right:dashed 1px #333;
	float:left;

}


#login-form-wrapper {
	list-style:none;
	width:240px;
	height:230px; 

	text-align:left;
	font-size:80%;
	color:#555;
	
	padding:50px 20px 40px 20px;
	margin:0px 30px 0px 0px;
	
	/*padding:10px; */
	
	float:right;

}

#login-form-wrapper li {
	list-style:none;
	width:240px;
	border:none;
	padding:10px 0px 10px 0px;
	margin:0px 0px;
}

#login-form-wrapper li.last-child {
	border-top:dotted 1px rgba(0, 100, 160, .6);
}


#login-form-wrapper small {
	margin:0px 0px 0px 5px;
	color:#444;
	
}

#login-form-wrapper  input[type='text'], 
#login-form-wrapper  input[type='password'] {
	padding:4px 2px;
	margin:0px 5px 0px 0px;
	width:230px;
	
	color:#555;
	
	}

#login-form-wrapper input[type='text']::-webkit-input-placeholder {
	color:rgba(150, 150, 150, .7);
}

#login-form-wrapper input[type='text']:-moz-input-placeholder {
	color:rgba(150, 150, 150, .7);
}

#login-form-wrapper input[type='text']:-ms-input-placeholder {
	color:rgba(150, 150, 150, .7);
	color:#555;
}


#login-errors {
	color:#a00;
}

