@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('fonts/gothic-webfont.eot');
    src: url('fonts/gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothic-webfont.woff') format('woff'),
         url('fonts/gothic-webfont.ttf') format('truetype'),
         url('fonts/gothic-webfont.svg#CenturyGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'GeosansLight';
    src: url('fonts/GeosansLight.eot');
    src: url('fonts/GeosansLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/GeosansLight.woff') format('woff'),
         url('fonts/GeosansLight.ttf') format('truetype'),
         url('fonts/GeosansLight.svg#GeosansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'IcoMoon';
	src: url('fonts/icomoon/IcoMoon.eot');
	src: url('fonts/icomoon/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon/IcoMoon.svg#IcoMoon') format('svg'),
		url('fonts/icomoon/IcoMoon.woff') format('woff'),
		url('fonts/icomoon/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
.icon-home:before {
	content: "\0021";
}
.icon-home-2:before {
	content: "\0022";
}
.icon-home-3:before {
	content: "\0023";
}
.icon-newspaper:before {
	content: "\0024";
}
.icon-pencil:before {
	content: "\0025";
}
.icon-pencil-2:before {
	content: "\0026";
}
.icon-droplet:before {
	content: "\0027";
}
.icon-picture:before {
	content: "\0028";
}
.icon-picture-2:before {
	content: "\0029";
}
.icon-camera:before {
	content: "\002a";
}
.icon-music:before {
	content: "\002b";
}
.icon-play:before {
	content: "\002c";
}
.icon-film:before {
	content: "\002d";
}
.icon-camera-2:before {
	content: "\002e";
}
.icon-spades:before {
	content: "\002f";
}
.icon-clubs:before {
	content: "\0030";
}
.icon-diamonds:before {
	content: "\0031";
}
.icon-broadcast:before {
	content: "\0032";
}
.icon-microphone:before {
	content: "\0033";
}
.icon-book:before {
	content: "\0034";
}
.icon-paper:before {
	content: "\0035";
}
.icon-paper-2:before {
	content: "\0036";
}
.icon-new:before {
	content: "\0037";
}
.icon-copy:before {
	content: "\0038";
}
.icon-folder:before {
	content: "\0039";
}
.icon-folder-2:before {
	content: "\003a";
}
.icon-tag:before {
	content: "\003b";
}
.icon-cart:before {
	content: "\003c";
}
.icon-basket:before {
	content: "\003d";
}
.icon-calculate:before {
	content: "\003e";
}
.icon-support:before {
	content: "\003f";
}
.icon-phone:before {
	content: "\0040";
}
.icon-mail:before {
	content: "\0041";
}
.icon-location:before {
	content: "\0042";
}
.icon-compass:before {
	content: "\0043";
}
.icon-history:before {
	content: "\0044";
}
.icon-clock:before {
	content: "\0045";
}
.icon-bell:before {
	content: "\0046";
}
.icon-bell-2:before {
	content: "\0047";
}
.icon-bell-3:before {
	content: "\0048";
}
.icon-calendar:before {
	content: "\0049";
}
.icon-mouse:before {
	content: "\004a";
}
.icon-screen:before {
	content: "\004b";
}
.icon-laptop:before {
	content: "\004c";
}
.icon-mobile:before {
	content: "\004d";
}
.icon-tablet:before {
	content: "\004e";
}
.icon-mobile-2:before {
	content: "\004f";
}
.icon-drawer:before {
	content: "\0050";
}
.icon-drawer-2:before {
	content: "\0051";
}
.icon-box-add:before {
	content: "\0052";
}
.icon-box-remove:before {
	content: "\0053";
}
.icon-database:before {
	content: "\0054";
}
.icon-undo:before {
	content: "\0055";
}
.icon-redo:before {
	content: "\0056";
}
.icon-forward:before {
	content: "\0057";
}
.icon-reply:before {
	content: "\0058";
}
.icon-reply-2:before {
	content: "\0059";
}
.icon-comments:before {
	content: "\005a";
}
.icon-comments-2:before {
	content: "\005b";
}
.icon-comments-3:before {
	content: "\005c";
}
.icon-comments-4:before {
	content: "\005d";
}
.icon-comments-5:before {
	content: "\005e";
}
.icon-comments-6:before {
	content: "\005f";
}
.icon-user:before {
	content: "\0060";
}
.icon-user-2:before {
	content: "\0061";
}
.icon-user-3:before {
	content: "\0062";
}
.icon-busy:before {
	content: "\0063";
}
.icon-loading:before {
	content: "\0064";
}
.icon-loading-2:before {
	content: "\0065";
}
.icon-search:before {
	content: "\0066";
}
.icon-search-2:before {
	content: "\0067";
}
.icon-zoom-in:before {
	content: "\0068";
}
.icon-zoom-out:before {
	content: "\0069";
}
.icon-key:before {
	content: "\006a";
}
.icon-key-2:before {
	content: "\006b";
}
.icon-locked:before {
	content: "\006c";
}
.icon-unlocked:before {
	content: "\006d";
}
.icon-wrench:before {
	content: "\006e";
}
.icon-equalizer:before {
	content: "\006f";
}
.icon-cog:before {
	content: "\0070";
}
.icon-pie:before {
	content: "\0071";
}
.icon-bars:before {
	content: "\0072";
}
.icon-stats-up:before {
	content: "\0073";
}
.icon-gift:before {
	content: "\0074";
}
.icon-trophy:before {
	content: "\0075";
}
.icon-diamond:before {
	content: "\0076";
}
.icon-coffee:before {
	content: "\0077";
}
.icon-rocket:before {
	content: "\0078";
}
.icon-meter-slow:before {
	content: "\0079";
}
.icon-meter-medium:before {
	content: "\007a";
}
.icon-meter-fast:before {
	content: "\007b";
}
.icon-dashboard:before {
	content: "\007c";
}
.icon-fire:before {
	content: "\007d";
}
.icon-lab:before {
	content: "\e000";
}
.icon-remove:before {
	content: "\e001";
}
.icon-remove-2:before {
	content: "\e002";
}
.icon-remove-3:before {
	content: "\e003";
}
.icon-briefcase:before {
	content: "\e004";
}
.icon-briefcase-2:before {
	content: "\e005";
}
.icon-cars:before {
	content: "\e006";
}
.icon-bus:before {
	content: "\e007";
}
.icon-cube:before {
	content: "\e008";
}
.icon-cube-2:before {
	content: "\e009";
}
.icon-puzzle:before {
	content: "\e00a";
}
.icon-glasses:before {
	content: "\e00b";
}
.icon-glasses-2:before {
	content: "\e00c";
}
.icon-accessibility:before {
	content: "\e00d";
}
.icon-accessibility-2:before {
	content: "\e00e";
}
.icon-target:before {
	content: "\e00f";
}
.icon-target-2:before {
	content: "\e010";
}
.icon-lightning:before {
	content: "\e011";
}
.icon-power:before {
	content: "\e012";
}
.icon-power-2:before {
	content: "\e013";
}
.icon-clipboard:before {
	content: "\e014";
}
.icon-clipboard-2:before {
	content: "\e015";
}
.icon-playlist:before {
	content: "\e016";
}
.icon-grid-view:before {
	content: "\e017";
}
.icon-tree-view:before {
	content: "\e018";
}
.icon-menu:before {
	content: "\e019";
}
.icon-menu-2:before {
	content: "\e01a";
}
.icon-cloud:before {
	content: "\e01b";
}
.icon-cloud-2:before {
	content: "\e01c";
}
.icon-download:before {
	content: "\e01d";
}
.icon-upload:before {
	content: "\e01e";
}
.icon-upload-2:before {
	content: "\e01f";
}
.icon-link:before {
	content: "\e020";
}
.icon-link-2:before {
	content: "\e021";
}
.icon-flag:before {
	content: "\e022";
}
.icon-flag-2:before {
	content: "\e023";
}
.icon-flag-3:before {
	content: "\e024";
}
.icon-eye:before {
	content: "\e025";
}
.icon-eye-2:before {
	content: "\e026";
}
.icon-bookmark:before {
	content: "\e027";
}
.icon-bookmark-2:before {
	content: "\e028";
}
.icon-star:before {
	content: "\e029";
}
.icon-star-2:before {
	content: "\e02a";
}
.icon-star-3:before {
	content: "\e02b";
}
.icon-heart:before {
	content: "\e02c";
}
.icon-heart-2:before {
	content: "\e02d";
}
.icon-thumbs-up:before {
	content: "\e02e";
}
.icon-thumbs-down:before {
	content: "\e02f";
}
.icon-happy:before {
	content: "\e030";
}
.icon-smiley:before {
	content: "\e031";
}
.icon-neutral:before {
	content: "\e032";
}
.icon-plus:before {
	content: "\e033";
}
.icon-minus:before {
	content: "\e034";
}
.icon-help:before {
	content: "\e035";
}
.icon-help-2:before {
	content: "\e036";
}
.icon-info:before {
	content: "\e037";
}
.icon-blocked:before {
	content: "\e038";
}
.icon-cancel:before {
	content: "\e039";
}
.icon-cancel-2:before {
	content: "\e03a";
}
.icon-cancel-3:before {
	content: "\e03b";
}
.icon-checkmark:before {
	content: "\e03c";
}
.icon-minus-2:before {
	content: "\e03d";
}
.icon-plus-2:before {
	content: "\e03e";
}
.icon-enter:before {
	content: "\e03f";
}
.icon-exit:before {
	content: "\e040";
}
.icon-loop:before {
	content: "\e041";
}
.icon-arrow-up:before {
	content: "\e042";
}
.icon-arrow-right:before {
	content: "\e043";
}
.icon-arrow-down:before {
	content: "\e044";
}
.icon-arrow-left:before {
	content: "\e045";
}
.icon-arrow-up-left:before {
	content: "\e046";
}
.icon-arrow-up-2:before {
	content: "\e047";
}
.icon-arrow-up-right:before {
	content: "\e048";
}
.icon-arrow-right-2:before {
	content: "\e049";
}
.icon-arrow-down-right:before {
	content: "\e04a";
}
.icon-arrow-down-2:before {
	content: "\e04b";
}
.icon-arrow-down-left:before {
	content: "\e04c";
}
.icon-arrow-left-2:before {
	content: "\e04d";
}
.icon-arrow-up-left-2:before {
	content: "\e04e";
}
.icon-arrow-up-3:before {
	content: "\e04f";
}
.icon-arrow-up-right-2:before {
	content: "\e050";
}
.icon-arrow-right-3:before {
	content: "\e051";
}
.icon-arrow-down-right-2:before {
	content: "\e052";
}
.icon-arrow-down-3:before {
	content: "\e053";
}
.icon-arrow-down-left-2:before {
	content: "\e054";
}
.icon-arrow-left-3:before {
	content: "\e055";
}
.icon-arrow-up-left-3:before {
	content: "\e056";
}
.icon-arrow-up-4:before {
	content: "\e057";
}
.icon-arrow-up-right-3:before {
	content: "\e058";
}
.icon-arrow-right-4:before {
	content: "\e059";
}
.icon-arrow-down-right-3:before {
	content: "\e05a";
}
.icon-arrow-down-4:before {
	content: "\e05b";
}
.icon-arrow-down-left-3:before {
	content: "\e05c";
}
.icon-arrow-left-4:before {
	content: "\e05d";
}
.icon-arrow-up-5:before {
	content: "\e05e";
}
.icon-arrow-right-5:before {
	content: "\e05f";
}
.icon-arrow-down-5:before {
	content: "\e060";
}
.icon-arrow-left-5:before {
	content: "\e061";
}
.icon-arrow-up-6:before {
	content: "\e062";
}
.icon-arrow-right-6:before {
	content: "\e063";
}
.icon-arrow-down-6:before {
	content: "\e064";
}
.icon-arrow-left-6:before {
	content: "\e065";
}
.icon-arrow-up-7:before {
	content: "\e066";
}
.icon-arrow-right-7:before {
	content: "\e067";
}
.icon-arrow-down-7:before {
	content: "\e068";
}
.icon-arrow-left-7:before {
	content: "\e069";
}
.icon-menu-3:before {
	content: "\e06a";
}
.icon-enter-2:before {
	content: "\e06b";
}
.icon-backspace:before {
	content: "\e06c";
}
.icon-backspace-2:before {
	content: "\e06d";
}
.icon-tab:before {
	content: "\e06e";
}
.icon-tab-2:before {
	content: "\e06f";
}
.icon-checkbox:before {
	content: "\e070";
}
.icon-checkbox-unchecked:before {
	content: "\e071";
}
.icon-checkbox-partial:before {
	content: "\e072";
}
.icon-radio-checked:before {
	content: "\e073";
}
.icon-radio-unchecked:before {
	content: "\e074";
}
.icon-font:before {
	content: "\e075";
}
.icon-paragraph-left:before {
	content: "\e076";
}
.icon-paragraph-center:before {
	content: "\e077";
}
.icon-paragraph-right:before {
	content: "\e078";
}
.icon-left-to-right:before {
	content: "\e079";
}
.icon-right-to-left:before {
	content: "\e07a";
}
.icon-out:before {
	content: "\e07b";
}
.icon-out-2:before {
	content: "\e07c";
}
.icon-embed:before {
	content: "\e07d";
}
.icon-seven-segment:before {
	content: "\e07e";
}
.icon-seven-segment-2:before {
	content: "\e07f";
}
.icon-seven-segment-3:before {
	content: "\e080";
}
.icon-seven-segment-4:before {
	content: "\e081";
}
.icon-seven-segment-5:before {
	content: "\e082";
}
.icon-seven-segment-6:before {
	content: "\e083";
}
.icon-seven-segment-7:before {
	content: "\e084";
}
.icon-seven-segment-8:before {
	content: "\e085";
}
.icon-seven-segment-9:before {
	content: "\e086";
}
.icon-seven-segment-10:before {
	content: "\e087";
}
.icon-bluetooth:before {
	content: "\e088";
}
.icon-share:before {
	content: "\e089";
}
.icon-share-2:before {
	content: "\e08a";
}
.icon-mail-2:before {
	content: "\e08b";
}
.icon-google-plus:before {
	content: "\e08c";
}
.icon-google-plus-2:before {
	content: "\e08d";
}
.icon-google-plus-3:before {
	content: "\e08e";
}
.icon-facebook:before {
	content: "\e08f";
}
.icon-facebook-2:before {
	content: "\e090";
}
.icon-twitter:before {
	content: "\e091";
}
.icon-twitter-2:before {
	content: "\e092";
}
.icon-twitter-3:before {
	content: "\e093";
}
.icon-twitter-4:before {
	content: "\e094";
}
.icon-feed:before {
	content: "\e095";
}
.icon-feed-2:before {
	content: "\e096";
}
.icon-youtube:before {
	content: "\e097";
}
.icon-youtube-2:before {
	content: "\e098";
}
.icon-vimeo:before {
	content: "\e099";
}
.icon-vimeo-2:before {
	content: "\e09a";
}
.icon-flickr:before {
	content: "\e09b";
}
.icon-flickr-2:before {
	content: "\e09c";
}
.icon-picassa:before {
	content: "\e09d";
}
.icon-picassa-2:before {
	content: "\e09e";
}
.icon-dribbble:before {
	content: "\e09f";
}
.icon-dribbble-2:before {
	content: "\e0a0";
}
.icon-forrst:before {
	content: "\e0a1";
}
.icon-forrst-2:before {
	content: "\e0a2";
}
.icon-deviantart:before {
	content: "\e0a3";
}
.icon-deviantart-2:before {
	content: "\e0a4";
}
.icon-github:before {
	content: "\e0a5";
}
.icon-github-2:before {
	content: "\e0a6";
}
.icon-github-3:before {
	content: "\e0a7";
}
.icon-github-4:before {
	content: "\e0a8";
}
.icon-wordpress:before {
	content: "\e0a9";
}
.icon-wordpress-2:before {
	content: "\e0aa";
}
.icon-blogger:before {
	content: "\e0ab";
}
.icon-blogger-2:before {
	content: "\e0ac";
}
.icon-tumblr:before {
	content: "\e0ad";
}
.icon-tumblr-2:before {
	content: "\e0ae";
}
.icon-yahoo:before {
	content: "\e0af";
}
.icon-yahoo-2:before {
	content: "\e0b0";
}
.icon-amazon:before {
	content: "\e0b1";
}
.icon-amazon-2:before {
	content: "\e0b2";
}
.icon-apple:before {
	content: "\e0b3";
}
.icon-android:before {
	content: "\e0b4";
}
.icon-windows:before {
	content: "\e0b5";
}
.icon-soundcloud:before {
	content: "\e0b6";
}
.icon-soundcloud-2:before {
	content: "\e0b7";
}
.icon-skype:before {
	content: "\e0b8";
}
.icon-reddit:before {
	content: "\e0b9";
}
.icon-linkedin:before {
	content: "\e0ba";
}
.icon-lastfm:before {
	content: "\e0bb";
}
.icon-lastfm-2:before {
	content: "\e0bc";
}
.icon-delicious:before {
	content: "\e0bd";
}
.icon-stumbleupon:before {
	content: "\e0be";
}
.icon-stumbleupon-2:before {
	content: "\e0bf";
}
.icon-pinterest:before {
	content: "\e0c0";
}
.icon-pinterest-2:before {
	content: "\e0c1";
}
.icon-xing:before {
	content: "\e0c2";
}
.icon-libreoffice:before {
	content: "\e0c3";
}
.icon-file-pdf:before {
	content: "\e0c4";
}
.icon-file-openoffice:before {
	content: "\e0c5";
}
.icon-file-word:before {
	content: "\e0c6";
}
.icon-file-excel:before {
	content: "\e0c7";
}
.icon-file-powerpoint:before {
	content: "\e0c8";
}
.icon-file-xml:before {
	content: "\e0c9";
}
.icon-file-css:before {
	content: "\e0ca";
}
.icon-html5:before {
	content: "\e0cb";
}
.icon-html5-2:before {
	content: "\e0cc";
}
.icon-css3:before {
	content: "\e0cd";
}
.icon-IcoMoon:before {
	content: "\e0ce";
}
.icon-popup:before {
	content: "\e0cf";
}
.icon-book-2:before {
	content: "\e0d0";
}
.icon-bookmark-3:before {
	content: "\e0d1";
}
.icon-home-4:before {
	content: "\e0d2";
}
.icon-keyboard:before {
	content: "\e0d3";
}
.icon-feather:before {
	content: "\e0d4";
}
.icon-network:before {
	content: "\e0d5";
}
.icon-inbox:before {
	content: "\e0d6";
}
.icon-square:before {
	content: "\e0d7";
}
.icon-globe:before {
	content: "\e0d8";
}
.icon-broadcast-2:before {
	content: "\e0d9";
}
.icon-arrow:before {
	content: "\e0da";
}
.icon-screen-2:before {
	content: "\e0db";
}
.icon-publish:before {
	content: "\e0dc";
}
.icon-browser:before {
	content: "\e0dd";
}
.icon-light-bulb:before {
	content: "\e0de";
}
.icon-sun:before {
	content: "\e0df";
}
.icon-sun-2:before {
	content: "\e0e0";
}
.icon-back:before {
	content: "\e0e1";
}
.icon-history-2:before {
	content: "\e0e2";
}
.icon-battery:before {
	content: "\e0e3";
}
.icon-battery-2:before {
	content: "\e0e4";
}
.icon-battery-3:before {
	content: "\e0e5";
}
.icon-battery-4:before {
	content: "\e0e6";
}
.icon-battery-5:before {
	content: "\e0e7";
}
.icon-code:before {
	content: "\e0e8";
}
.icon-triangle:before {
	content: "\e0e9";
}
.icon-triangle-2:before {
	content: "\e0ea";
}
.icon-triangle-3:before {
	content: "\e0eb";
}
.icon-triangle-4:before {
	content: "\e0ec";
}
.icon-arrow-2:before {
	content: "\e0ed";
}
.icon-arrow-3:before {
	content: "\e0ee";
}
.icon-arrow-4:before {
	content: "\e0ef";
}
.icon-arrow-5:before {
	content: "\e0f0";
}
.icon-arrow-6:before {
	content: "\e0f1";
}
.icon-arrow-7:before {
	content: "\e0f2";
}
.icon-arrow-8:before {
	content: "\e0f3";
}
.icon-arrow-9:before {
	content: "\e0f4";
}
.icon-arrow-10:before {
	content: "\e0f5";
}
.icon-arrow-11:before {
	content: "\e0f6";
}
.icon-arrow-12:before {
	content: "\e0f7";
}
.icon-arrow-13:before {
	content: "\e0f8";
}
.icon-arrow-14:before {
	content: "\e0f9";
}
.icon-arrow-15:before {
	content: "\e0fa";
}
.icon-arrow-16:before {
	content: "\e0fb";
}
.icon-arrow-17:before {
	content: "\e0fc";
}
.icon-arrow-18:before {
	content: "\e0fd";
}
.icon-arrow-19:before {
	content: "\e0fe";
}
.icon-arrow-20:before {
	content: "\e0ff";
}
.icon-arrow-21:before {
	content: "\e100";
}
.icon-mute:before {
	content: "\e101";
}
.icon-sound:before {
	content: "\e102";
}
.icon-volume:before {
	content: "\e103";
}
.icon-collapse:before {
	content: "\e104";
}
.icon-full-screen:before {
	content: "\e105";
}
.icon-last:before {
	content: "\e106";
}
.icon-first:before {
	content: "\e107";
}
.icon-fast-backward:before {
	content: "\e108";
}
.icon-fast-forward:before {
	content: "\e109";
}
.icon-stop:before {
	content: "\e10a";
}
.icon-record:before {
	content: "\e10b";
}
.icon-pause:before {
	content: "\e10c";
}
.icon-play-2:before {
	content: "\e10d";
}
.icon-upload-3:before {
	content: "\e10e";
}
.icon-cloud-3:before {
	content: "\e10f";
}
.icon-install:before {
	content: "\e110";
}
.icon-download-2:before {
	content: "\e111";
}
.icon-upload-4:before {
	content: "\e112";
}
.icon-trashcan:before {
	content: "\e113";
}
.icon-archive:before {
	content: "\e114";
}
.icon-folder-3:before {
	content: "\e115";
}
.icon-song:before {
	content: "\e116";
}
.icon-movie:before {
	content: "\e117";
}
.icon-images:before {
	content: "\e118";
}
.icon-landscape:before {
	content: "\e119";
}
.icon-documents:before {
	content: "\e11a";
}
.icon-document:before {
	content: "\e11b";
}
.icon-document-2:before {
	content: "\e11c";
}
.icon-grid:before {
	content: "\e11d";
}
.icon-add:before {
	content: "\e11e";
}
.icon-list:before {
	content: "\e11f";
}
.icon-retweet:before {
	content: "\e120";
}
.icon-arrow-22:before {
	content: "\e121";
}
.icon-back-2:before {
	content: "\e122";
}
.icon-shuffle:before {
	content: "\e123";
}
.icon-reload-CCW:before {
	content: "\e124";
}
.icon-reload-CW:before {
	content: "\e125";
}
.icon-warning:before {
	content: "\e126";
}
.icon-help-3:before {
	content: "\e127";
}
.icon-help-4:before {
	content: "\e128";
}
.icon-info-circle:before {
	content: "\e129";
}
.icon-info-2:before {
	content: "\e12a";
}
.icon-blocked-2:before {
	content: "\e12b";
}
.icon-plus-3:before {
	content: "\e12c";
}
.icon-minus-3:before {
	content: "\e12d";
}
.icon-close:before {
	content: "\e12e";
}
.icon-plus-4:before {
	content: "\e12f";
}
.icon-minus-4:before {
	content: "\e130";
}
.icon-cancel-4:before {
	content: "\e131";
}
.icon-checkmark-2:before {
	content: "\e132";
}
.icon-unlocked-2:before {
	content: "\e133";
}
.icon-locked-2:before {
	content: "\e134";
}
.icon-rss:before {
	content: "\e135";
}
.icon-time:before {
	content: "\e136";
}
.icon-flash:before {
	content: "\e137";
}
.icon-calendar-2:before {
	content: "\e138";
}
.icon-microphone-2:before {
	content: "\e139";
}
.icon-clock-2:before {
	content: "\e13a";
}
.icon-eye-3:before {
	content: "\e13b";
}
.icon-google-circles:before {
	content: "\e13c";
}
.icon-support-2:before {
	content: "\e13d";
}
.icon-flight:before {
	content: "\e13e";
}
.icon-shopping:before {
	content: "\e13f";
}
.icon-music-2:before {
	content: "\e140";
}
.icon-leaf:before {
	content: "\e141";
}
.icon-palette:before {
	content: "\e142";
}
.icon-sleep:before {
	content: "\e143";
}
.icon-camera-3:before {
	content: "\e144";
}
.icon-price:before {
	content: "\e145";
}
.icon-trophy-2:before {
	content: "\e146";
}
.icon-search-3:before {
	content: "\e147";
}
.icon-settings:before {
	content: "\e148";
}
.icon-flag-4:before {
	content: "\e149";
}
.icon-link-3:before {
	content: "\e14a";
}
.icon-alert:before {
	content: "\e14b";
}
.icon-printer:before {
	content: "\e14c";
}
.icon-quote:before {
	content: "\e14d";
}
.icon-comment:before {
	content: "\e14e";
}
.icon-chat:before {
	content: "\e14f";
}
.icon-thumbs-up-2:before {
	content: "\e150";
}
.icon-star-4:before {
	content: "\e151";
}
.icon-star-5:before {
	content: "\e152";
}
.icon-heart-3:before {
	content: "\e153";
}
.icon-heart-4:before {
	content: "\e154";
}
.icon-share-3:before {
	content: "\e155";
}
.icon-center:before {
	content: "\e156";
}
.icon-direction:before {
	content: "\e157";
}
.icon-compass-2:before {
	content: "\e158";
}
.icon-map:before {
	content: "\e159";
}
.icon-location-2:before {
	content: "\e15a";
}
.icon-export:before {
	content: "\e15b";
}
.icon-card:before {
	content: "\e15c";
}
.icon-contact:before {
	content: "\e15d";
}
.icon-users:before {
	content: "\e15e";
}
.icon-user-4:before {
	content: "\e15f";
}
.icon-forward-2:before {
	content: "\e160";
}
.icon-reply-to-all:before {
	content: "\e161";
}
.icon-reply-3:before {
	content: "\e162";
}
.icon-attachment:before {
	content: "\e163";
}
.icon-write:before {
	content: "\e164";
}
.icon-email:before {
	content: "\e165";
}
.icon-address:before {
	content: "\e166";
}
.icon-mouse-2:before {
	content: "\e167";
}
.icon-mobile-3:before {
	content: "\e168";
}
.icon-phone-2:before {
	content: "\e169";
}
.icon-paperclip:before {
	content: "\e16a";
}
.icon-fork:before {
	content: "\e16b";
}
.icon-cloud-upload:before {
	content: "\e16c";
}
.icon-cloud-download:before {
	content: "\e16d";
}
.icon-upload-5:before {
	content: "\e16e";
}
.icon-download-3:before {
	content: "\e16f";
}
.icon-target-3:before {
	content: "\e170";
}
.icon-map-pin-alt:before {
	content: "\e171";
}
.icon-map-pin-fill:before {
	content: "\e172";
}
.icon-map-pin-stroke:before {
	content: "\e173";
}
.icon-star-6:before {
	content: "\e174";
}
.icon-umbrella:before {
	content: "\e175";
}
.icon-rain:before {
	content: "\e176";
}
.icon-cloud-4:before {
	content: "\e177";
}
.icon-moon-fill:before {
	content: "\e178";
}
.icon-moon-stroke:before {
	content: "\e179";
}
.icon-sun-fill:before {
	content: "\e17a";
}
.icon-sun-stroke:before {
	content: "\e17b";
}
.icon-tag-fill:before {
	content: "\e17c";
}
.icon-tag-stroke:before {
	content: "\e17d";
}
.icon-unlock-fill:before {
	content: "\e17e";
}
.icon-unlock-stroke:before {
	content: "\e17f";
}
.icon-lock-fill:before {
	content: "\e180";
}
.icon-lock-stroke:before {
	content: "\e181";
}
.icon-clock-3:before {
	content: "\e182";
}
.icon-home-5:before {
	content: "\e183";
}
.icon-user-5:before {
	content: "\e184";
}
.icon-eye-4:before {
	content: "\e185";
}
.icon-bars-alt:before {
	content: "\e186";
}
.icon-bars-2:before {
	content: "\e187";
}
.icon-chart-alt:before {
	content: "\e188";
}
.icon-chart:before {
	content: "\e189";
}
.icon-aperture-alt:before {
	content: "\e18a";
}
.icon-aperture:before {
	content: "\e18b";
}
.icon-camera-4:before {
	content: "\e18c";
}
.icon-image:before {
	content: "\e18d";
}
.icon-layers:before {
	content: "\e18e";
}
.icon-layers-alt:before {
	content: "\e18f";
}
.icon-eyedropper:before {
	content: "\e190";
}
.icon-brush-alt:before {
	content: "\e191";
}
.icon-brush:before {
	content: "\e192";
}
.icon-pen-alt2:before {
	content: "\e193";
}
.icon-pen-alt-fill:before {
	content: "\e194";
}
.icon-pen-alt-stroke:before {
	content: "\e195";
}
.icon-pen:before {
	content: "\e196";
}
.icon-book-alt2:before {
	content: "\e197";
}
.icon-book-alt:before {
	content: "\e198";
}
.icon-book-3:before {
	content: "\e199";
}
.icon-list-nested:before {
	content: "\e19a";
}
.icon-list-2:before {
	content: "\e19b";
}
.icon-read-more:before {
	content: "\e19c";
}
.icon-article:before {
	content: "\e19d";
}
.icon-right-quote-alt:before {
	content: "\e19e";
}
.icon-left-quote-alt:before {
	content: "\e19f";
}
.icon-right-quote:before {
	content: "\e1a0";
}
.icon-left-quote:before {
	content: "\e1a1";
}
.icon-hash:before {
	content: "\e1a2";
}
.icon-pilcrow:before {
	content: "\e1a3";
}
.icon-question-mark:before {
	content: "\e1a4";
}
.icon-info-3:before {
	content: "\e1a5";
}
.icon-ampersand:before {
	content: "\e1a6";
}
.icon-at:before {
	content: "\e1a7";
}
.icon-folder-fill:before {
	content: "\e1a8";
}
.icon-folder-stroke:before {
	content: "\e1a9";
}
.icon-box:before {
	content: "\e1aa";
}
.icon-compass-3:before {
	content: "\e1ab";
}
.icon-battery-charging:before {
	content: "\e1ac";
}
.icon-battery-full:before {
	content: "\e1ad";
}
.icon-battery-half:before {
	content: "\e1ae";
}
.icon-battery-empty:before {
	content: "\e1af";
}
.icon-iphone:before {
	content: "\e1b0";
}
.icon-fullscreen-alt:before {
	content: "\e1b1";
}
.icon-fullscreen:before {
	content: "\e1b2";
}
.icon-fullscreen-exit-alt:before {
	content: "\e1b3";
}
.icon-fullscreen-exit:before {
	content: "\e1b4";
}
.icon-play-alt:before {
	content: "\e1b5";
}
.icon-last-2:before {
	content: "\e1b6";
}
.icon-first-2:before {
	content: "\e1b7";
}
.icon-eject:before {
	content: "\e1b8";
}
.icon-stop-2:before {
	content: "\e1b9";
}
.icon-pause-2:before {
	content: "\e1ba";
}
.icon-play-3:before {
	content: "\e1bb";
}
.icon-volume-mute:before {
	content: "\e1bc";
}
.icon-volume-2:before {
	content: "\e1bd";
}
.icon-headphones:before {
	content: "\e1be";
}
.icon-microphone-3:before {
	content: "\e1bf";
}
.icon-steering-wheel:before {
	content: "\e1c0";
}
.icon-cd:before {
	content: "\e1c1";
}
.icon-arrow-down-alt2:before {
	content: "\e1c2";
}
.icon-arrow-down-alt1:before {
	content: "\e1c3";
}
.icon-arrow-down-8:before {
	content: "\e1c4";
}
.icon-arrow-up-alt2:before {
	content: "\e1c5";
}
.icon-arrow-up-alt1:before {
	content: "\e1c6";
}
.icon-arrow-up-8:before {
	content: "\e1c7";
}
.icon-arrow-right-alt2:before {
	content: "\e1c8";
}
.icon-arrow-right-alt1:before {
	content: "\e1c9";
}
.icon-arrow-right-8:before {
	content: "\e1ca";
}
.icon-arrow-left-alt2:before {
	content: "\e1cb";
}
.icon-arrow-left-alt1:before {
	content: "\e1cc";
}
.icon-arrow-left-8:before {
	content: "\e1cd";
}
.icon-move-horizontal-alt2:before {
	content: "\e1ce";
}
.icon-move-horizontal-alt1:before {
	content: "\e1cf";
}
.icon-move-horizontal:before {
	content: "\e1d0";
}
.icon-move-vertical-alt2:before {
	content: "\e1d1";
}
.icon-move-vertical-alt1:before {
	content: "\e1d2";
}
.icon-move-vertical:before {
	content: "\e1d3";
}
.icon-transfer:before {
	content: "\e1d4";
}
.icon-loop-alt4:before {
	content: "\e1d5";
}
.icon-loop-alt3:before {
	content: "\e1d6";
}
.icon-loop-alt2:before {
	content: "\e1d7";
}
.icon-loop-alt1:before {
	content: "\e1d8";
}
.icon-loop-2:before {
	content: "\e1d9";
}
.icon-reload-alt:before {
	content: "\e1da";
}
.icon-reload:before {
	content: "\e1db";
}
.icon-undo-2:before {
	content: "\e1dc";
}
.icon-curved-arrow:before {
	content: "\e1dd";
}
.icon-spin:before {
	content: "\e1de";
}
.icon-spin-alt:before {
	content: "\e1df";
}
.icon-lightbulb:before {
	content: "\e1e0";
}
.icon-new-window:before {
	content: "\e1e1";
}
.icon-key-fill:before {
	content: "\e1e2";
}
.icon-key-stroke:before {
	content: "\e1e3";
}
.icon-beaker:before {
	content: "\e1e4";
}
.icon-beaker-alt:before {
	content: "\e1e5";
}
.icon-trash-fill:before {
	content: "\e1e6";
}
.icon-trash-stroke:before {
	content: "\e1e7";
}
.icon-magnifying-glass:before {
	content: "\e1e8";
}
.icon-award-stroke:before {
	content: "\e1e9";
}
.icon-award-fill:before {
	content: "\e1ea";
}
.icon-equalizer-2:before {
	content: "\e1eb";
}
.icon-move-alt2:before {
	content: "\e1ec";
}
.icon-move-alt1:before {
	content: "\e1ed";
}
.icon-move:before {
	content: "\e1ee";
}
.icon-bolt:before {
	content: "\e1ef";
}
.icon-link-4:before {
	content: "\e1f0";
}
.icon-pin:before {
	content: "\e1f1";
}
.icon-minus-alt:before {
	content: "\e1f2";
}
.icon-minus-5:before {
	content: "\e1f3";
}
.icon-plus-alt:before {
	content: "\e1f4";
}
.icon-plus-5:before {
	content: "\e1f5";
}
.icon-document-fill:before {
	content: "\e1f6";
}
.icon-document-stroke:before {
	content: "\e1f7";
}
.icon-document-alt-fill:before {
	content: "\e1f8";
}
.icon-document-alt-stroke:before {
	content: "\e1f9";
}
.icon-movie-2:before {
	content: "\e1fa";
}
.icon-heart-fill:before {
	content: "\e1fb";
}
.icon-heart-stroke:before {
	content: "\e1fc";
}
.icon-mail-3:before {
	content: "\e1fd";
}
.icon-share-4:before {
	content: "\e1fe";
}
.icon-calendar-alt-fill:before {
	content: "\e1ff";
}
.icon-calendar-alt-stroke:before {
	content: "\e200";
}
.icon-calendar-3:before {
	content: "\e201";
}
.icon-cog-2:before {
	content: "\e202";
}
.icon-dial:before {
	content: "\e203";
}
.icon-wrench-2:before {
	content: "\e204";
}
.icon-rss-alt:before {
	content: "\e205";
}
.icon-rss-2:before {
	content: "\e206";
}
.icon-cursor:before {
	content: "\e207";
}
.icon-denied:before {
	content: "\e208";
}
.icon-x-altx-alt:before {
	content: "\e209";
}
.icon-x:before {
	content: "\e20a";
}
.icon-check-alt:before {
	content: "\e20b";
}
.icon-checkmark-3:before {
	content: "\e20c";
}
.icon-comment-alt2-fill:before {
	content: "\e20d";
}
.icon-comment-alt2-stroke:before {
	content: "\e20e";
}
.icon-comment-fill:before {
	content: "\e20f";
}
.icon-comment-stroke:before {
	content: "\e210";
}
.icon-comment-alt1-fill:before {
	content: "\e211";
}
.icon-comment-alt1-stroke:before {
	content: "\e212";
}
.icon-chat-alt-fill:before {
	content: "\e213";
}
.icon-chat-alt-stroke:before {
	content: "\e214";
}
.icon-chat-2:before {
	content: "\e215";
}
.icon-Fahrenheit:before {
	content: "\e216";
}
.icon-Celsius:before {
	content: "\e217";
}
.icon-none:before {
	content: "\e218";
}
.icon-compass-4:before {
	content: "\e219";
}
.icon-thermometer:before {
	content: "\e21a";
}
.icon-lightning-2:before {
	content: "\e21b";
}
.icon-cloudy:before {
	content: "\e21c";
}
.icon-weather:before {
	content: "\e21d";
}
.icon-snowy:before {
	content: "\e21e";
}
.icon-snowy-2:before {
	content: "\e21f";
}
.icon-windy:before {
	content: "\e220";
}
.icon-windy-2:before {
	content: "\e221";
}
.icon-rainy:before {
	content: "\e222";
}
.icon-rainy-2:before {
	content: "\e223";
}
.icon-lightning-3:before {
	content: "\e224";
}
.icon-cloud-5:before {
	content: "\e225";
}
.icon-cloud-6:before {
	content: "\e226";
}
.icon-cloudy-2:before {
	content: "\e227";
}
.icon-moon:before {
	content: "\e228";
}
.icon-sun-3:before {
	content: "\e229";
}
.icon-lightning-4:before {
	content: "\e22a";
}
.icon-cloud-7:before {
	content: "\e22b";
}
.icon-cloudy-3:before {
	content: "\e22c";
}
.icon-weather-2:before {
	content: "\e22d";
}
.icon-snowy-3:before {
	content: "\e22e";
}
.icon-snowy-4:before {
	content: "\e22f";
}
.icon-snowy-5:before {
	content: "\e230";
}
.icon-windy-3:before {
	content: "\e231";
}
.icon-windy-4:before {
	content: "\e232";
}
.icon-rainy-3:before {
	content: "\e233";
}
.icon-rainy-4:before {
	content: "\e234";
}
.icon-lightning-5:before {
	content: "\e235";
}
.icon-lightning-6:before {
	content: "\e236";
}
.icon-cloud-8:before {
	content: "\e237";
}
.icon-lines:before {
	content: "\e238";
}
.icon-weather-3:before {
	content: "\e239";
}
.icon-weather-4:before {
	content: "\e23a";
}
.icon-weather-5:before {
	content: "\e23b";
}
.icon-cloud-9:before {
	content: "\e23c";
}
.icon-cloudy-4:before {
	content: "\e23d";
}
.icon-snowflake:before {
	content: "\e23e";
}
.icon-wind:before {
	content: "\e23f";
}
.icon-windy-5:before {
	content: "\e240";
}
.icon-sun-4:before {
	content: "\e241";
}
.icon-moon-2:before {
	content: "\e242";
}
.icon-sun-5:before {
	content: "\e243";
}
.icon-sunrise:before {
	content: "\e244";
}



/*

:horizontal – The horizontal pseudo-class applies to any scrollbar pieces that have a horizontal orientation.

:vertical – The vertical pseudo-class applies to any scrollbar pieces that have a vertical orientation.

:decrement – The decrement pseudo-class applies to buttons and track pieces. It indicates whether or not the button or track piece will decrement the view's position when used (e.g., up on a vertical scrollbar, left on a horizontal scrollbar).

:increment – The increment pseudo-class applies to buttons and track pieces. It indicates whether or not a button or track piece will increment the view's position when used (e.g., down on a vertical scrollbar, right on a horizontal scrollbar).

:start – The start pseudo-class applies to buttons and track pieces. It indicates whether the object is placed before the thumb.

:end – The end pseudo-class applies to buttons and track pieces. It indicates whether the object is placed after the thumb.

:double-button – The double-button pseudo-class applies to buttons and track pieces. It is used to detect whether a button is part of a pair of buttons that are together at the same end of a scrollbar. For track pieces it indicates whether the track piece abuts a pair of buttons.

:single-button – The single-button pseudo-class applies to buttons and track pieces. It is used to detect whether a button is by itself at the end of a scrollbar. For track pieces it indicates whether the track piece abuts a singleton button.

:no-button – Applies to track pieces and indicates whether or not the track piece runs to the edge of the scrollbar, i.e., there is no button at that end of the track.

:corner-present – Applies to all scrollbar pieces and indicates whether or not a scrollbar corner is present.

:window-inactive – Applies to all scrollbar pieces and indicates whether or not the window containing the scrollbar is currently active. (In recent nightlies, this pseudo-class now applies to ::selection as well. We plan to extend it to work with any content and to propose it as a new standard pseudo-class.)

*/

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    border-radius: 0px;
	background-color:#000;
}
 
::-webkit-scrollbar-thumb {
	background-color:#444;
    border-radius: 4px;
	
}

::-webkit-scrollbar-thumb:hover {
	background-color:#555;
    border-radius: 4px;
}


::-webkit-scrollbar-button       { 
	background-color:#111;
    border-radius: 0px;
 }
 
::-webkit-scrollbar-arrow {
	background-color:#222;
	color:#fff;
	 
 }
 
::-webkit-scrollbar-thumb:window-inactive {
	background: transparent;
}


::-webkit-scrollbar-track-piece  { /* 4 */
	background-color:#000;
	border-left:solid 1px #222;

 }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }

body {
	font: 90%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #eee;
	text-align:center; 

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;

	margin: 0;
	padding: 0;
	color: #777;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .main_nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link, a:visited {
	
	text-decoration:none; 
	color:#777; 
	font-family:Arial, Helvetica, sans-serif; 

}



a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this fixed width container surrounds all other elements ~~ */
.container {
	position:relative;
	
	width: 980px;
	background: none; 
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */


}

.wrapper {
	width: 980px;
	background: none;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}


/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.content {
	width: 980px;
	height:500px;
	padding: 10px 0;
	
	float: left;
	
}

.content, .footer, .header, .sidebar1 {
	position:relative;
	
}


.sidebar1 {
	float: left;
	width: 180px;
	background: none;
	padding-bottom: 10px;
}


.footer {
	padding: 10px 0;
	background: none;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}



/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.main_nav {
	list-style: none; /* this removes the list marker */
	/* border-top: 1px solid #666; this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
	text-align:left;
}
ul.main_nav li {
	/* border-bottom: 1px solid #666; this creates the button separation */
}
ul.main_nav a, ul.main_nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 3px 5px 3px 10px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	width: 160px;  /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */
	text-decoration: none;
	background: none;
}
ul.main_nav a:hover, ul.main_nav a:active, ul.main_nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background: none;
	color: #999;
}





/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the overflow:hidden on the .container is removed */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after {
  clear: both;
}

.no-border {
    border: none!important;
}

.hard-line-break {
    display: block;
    height: 0px;
    width: auto;
    
    margin: 0 0;
    padding: 0 0;
}



.list-justify {
    text-align: justify;
    /*
    min-width: 600px;
    */
}

.list-justify:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.list-justify li {
    display: inline-block;
}













/*
button::-moz-focus-inner, 
input::-moz-focus-inner {
	padding:0!important;
	border:0!important;
	margin:0px 0px!important;
}

*/


.search-button {
	display:block;
	
	font-size:400%!important;
	line-height:36%!important;
	color:#333!important;
	border:none!important;

	padding:0px 0px 0px 5px!important;
	margin:0px 0px 0px 10px!important;
	cursor:pointer!important;
	
	position:relative!important;
	top:3px!important;
	
	height:40px!important;
	width:35px!important;
	
	overflow:hidden!important;
	
	border-radius:20px!important;	
	-moz-border-radius:20px!important;	
	-webkit-border-radius:20px!important;
	
	float:left;

}


.search-button:hover {
	color:#444!important;
	background-color:rgba(50, 50, 50, .4)!important;
	
}




.search-icon-inset {
	display:block;
	
	font-size:130%!important;
	line-height:100%!important;
	color:#333!important;
	border:none!important;

	padding:0px 0px 0px 5px!important;
	margin:0px 0px 0px 10px!important;
	cursor:pointer!important;
	
	position:relative!important;
	top:10px!important;
	
	height:40px!important;
	width:35px!important;
	
	overflow:hidden!important;
	
	border-radius:20px!important;	
	-moz-border-radius:20px!important;	
	-webkit-border-radius:20px!important;
	
	float:left;
	z-index:40;

}


input.button-1, 
button.button-1, 
.button-1-no-href, 
a.button-1:link, 
a.button-1:active, 
a.button-1:visited {
	
	background-color:rgba(50, 50, 50, .4);
	color:#666!important;  
	font-size:70%; 
	cursor:pointer;
	
	padding:3px 20px;
        display: inline-block;
        white-space: nowrap;
	
	border:solid 1px transparent;
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	text-transform:uppercase;
	
}

.button-1-no-href {
	color:#000!important;  
	
}

input.button-1:hover, 
input.button-1:focus, 
button.button-1:hover, 
button.button-1:focus, 
a.button-1:hover, 
a.button-1:focus, 
a.button-1-active  {
	
	color:#0ac!important; 
	background-color:rgba(0, 0, 0, .9);
	
}




.button-2:link, 
.button-2:active, 
.button-2:visited {
	
	background-color:rgba(50, 50, 50, .4);
	color:#666!important;  
	font-size:70%; 
	
	padding:3px 20px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	text-transform:uppercase;
	
}

.button-2:hover, 
.button-2:focus, 
.button-2-active  {
	
	color:#0ac!important; 
	background-color:rgba(0, 0, 0, .9);
	
}





.button-3:link, 
.button-3:active, 
.button-3:visited, 
.button-3:focus {
	
	color:#555; 
	font-size:110%; 
	
	padding:4px 6px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
}

.button-3:hover {
	
	background-color:rgba(50, 50, 50, .4);
	
}




.button-4 {
    border: dashed 1px #444!important;
    background: transparent!important;
    
    border-radius:10px!important;	
    -moz-border-radius:10px!important;	
    -webkit-border-radius:10px!important;
}





    

.blue-button {
    border: solid 4px #222;
    background: #046;
    color: #fff!important;
    font-family: 'CenturyGothicRegular', verdana, arial; 


    cursor: pointer;
    text-shadow: 1px 1px #555;

    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
}

.blue-button > span[class*="icon-"] {
    margin-left: 10px;
    padding-left: 10px;
    border-left: dashed 1px #fff;
}


.blue-button:hover {
    background: #057;
}
    

    .blue-button.xx-large {

        font-size: 150%;
        font-weight: normal;
        height: auto;
        min-width: 200px;
        padding: 10px 20px;
        
    }
    
    
    .blue-button.x-large {

        font-size: 120%;
        font-weight: normal;
        height: auto;
        min-width: 120px;
        padding: 10px 20px;
        
    }
    
    
    .blue-button.large {

        font-size: 90%;
        font-weight: normal;
        height: auto;
        min-width: 100px;
        padding: 5px 20px;
        
    }
    
    


.on-off-button {
    display: block;
    width: 95%;

    min-width: 150px;
    min-height: 25px;
    
    padding: 10px 5px 0px 10px!important;
    background: rgba(0, 0, 0, .2);

    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
}





.on-off-button:before {
        content: '';
        display: inline-block;
        border: solid 1px transparent;
        font-size: 50%;
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
        text-align: center;
        

        
        height: 10px;
        width: 10px;
        padding: 0px 0px;
        margin-right: 6px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
        -moz-box-shadow: 0px 2px 4px rgba(10, 10, 10, .60);
        -webkit-box-shadow: 0px 2px 4px rgba(10, 10, 10, .60);
        box-shadow: 0px 2px 4px rgba(10, 10, 10, .60);
}



.on-off-button:hover {
    background: rgba(0, 0, 0, .4);
}


.on-off-button.online:before {

	background: #080;
        color: #080;
}


.on-off-button.offline:before {

	background: #800;
        color: #800;
}



.previous-button-1:before {
	content:'\eb';

	font-family:'EntypoRegular'!important;	
	font-weight: normal;
	font-style: normal;
	
	position:relative;
	left:-5px;
	top:7px;
	
	font-size:42px!important;
	line-height:20%!important;
	color:#333!important;
	
} 

.next-button-1:after {
	content:'\ee';

	font-family:'EntypoRegular'!important;	
	font-weight: normal;
	font-style: normal;
	
	position:relative;
	left:5px;
	top:7px;
	
	font-size:42px!important;
	line-height:20%!important;
	color:#333!important;
	
}





body {
	background-color:#000;
	background-image: url(../img/black_denim.png);
	font-family: 'CenturyGothicRegular', verdana, arial; 
	
}



#floral_bg {
	height:200px;
	width:600px;
	background: url(../img/floral_bg.png) top left no-repeat;
		
	position:fixed;
	bottom:0px;
	left:0px;

	opacity:.3; 
	-moz-opacity:.3; 
	filter:Alpha(opacity=30); 
	
	z-index:0;
	
}

.alert-box {
	background-image:url(../img/black_denim.png);
	border:solid 10px rgba(100, 100, 100, .3);
	padding:10px 10px 5px 10px;

	box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -moz-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        
	text-align:left;
	font-size:80%;

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
}




.alert-box > .cancel-button > .icon-close {
    position: absolute;
    top: 4px;
    right: 10px;
    
    height: 15px;
    width: 15px;
    
    font-size: 150%;
    color: #444;
    
    display: block;
    z-index: 405;
}

.alert-box > a.cancel-button:hover > .icon-close {
    color: #777;
}





.alert-box h2 {
	border-bottom:dashed 1px rgba(100, 100, 0, .4);
	padding:5px 5px;

	text-align:left;
	font-size:100%;
	font-weight:normal;
	
	letter-spacing:2px;
}


.alert-box small {
	display:block;
	padding:0px 0px;
	
	width:100%;

	text-align:right;
	font-size:75%;
	font-weight:normal;
	
	color:#777;
	
}



.alert-box-section-header {

    width: 100%;
    border-bottom: dotted 1px #660;
    
    font-size: 80%;
    text-align: left;
    text-transform: uppercase;
    color: #555;
    
    text-indent: 6px;
    padding-bottom: 3px;
    margin-bottom: 6px;
    
}




.field-group {
    min-width: 150px;
    min-height: 25px;
    
    padding: 5px 5px!important;
    background: rgba(0, 0, 0, .2);

    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
    
    margin-bottom: 10px;
}



.mini-status {
	display:block; 
	
	height:30px;
	width:100px;
	margin:0px 0px;
	
	font-size:70%;
	color:inherit;
	text-align:center;
	
}






.picker-dialog-box {
    display: none; 
    position:fixed; 
    top:140px; 
    left:490px; 
    width:350px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}


.picker-dialog-box > .button-1 {
    font-size: 90%;
}

.picker-dialog-box > p > .blue-button {
    font-size: 100%;
}


.picker-dialog-box > p > #select-target-id {
    min-width: 200px;
}





#token {
	display:none;
	
}


.container {
	/* border:dashed 1px #09F; */
	
}




.header-wrapper {
    top:0px;
    left:0px; 
    width: 100%;
    height: 140px;
    background-color:#000;
    background-image:url('../img/black_denim.png');
    z-index: 500;
    
    overflow: visible;
}


.header-wrapper.fixed {
    position: fixed;
}


.header-wrapper.absolute {
    position: absolute;
}

.header-wrapper .header {
    position: relative;
    top: 0px;
    left: 0px;
    
    margin: 0px auto;
    
    height:140px;
    width:885px;

    border-bottom:solid 1px #444; 
    background:none;

    z-index:20;
    
}


.header-wrapper .side-bar {
	height:500px;
	width:300px;
	
	position:relative;
	top:0px;
	left:-290px;
        margin: 0px auto;
	
	background:none;
	z-index:10;
}




.side-bar {
	position:absolute;
	left:50px;
        top: 140px;
        
	background:none;
	z-index:10;
        
        height:500px;
	width:300px;

}




#footer {
	position:absolute;
	bottom:0px;
	left:50px;
	
	height:140px;
	width:885px;
	
	border-top:solid 1px #444; 
	background:none;
	
	z-index:20;
	
}

#page-title {
	color:#444;
	font-size:36px;
	font-family: 'CenturyGothicRegular', verdana, arial; 
	text-transform:capitalize;
        
        position: relative;
        left: -53px;
	
	text-align:left;
	padding-top:50px;
        
        cursor: pointer;
        
}


#page-title:before {
        content: '\e069';
        
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
        
        margin-right: 15px;
        
        position: relative;
        top: 2px;
        
}








#page-options-panel {
    position:absolute;
    top:225px;
    left:50px;
    text-align: right;

    height: 30px;
    width:875px;
    padding-right: 10px;
    
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: dotted 1px #660;
}



#page-options-panel:before {
	content:'';
	
	display:block;
	
        position: absolute;
        top: 61px;
        left: 20px;
        
        margin-left: 25px;
        	
		
	width:0px;
	height:0px;
	
	border-width: 7px 7px;
        border-style: solid;
        border-color: transparent;
        border-top-color:  #660;
        
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}







#page-description-panel {
    height: 25px;
    width: 450px;

    font-size: 75%;
    color: #660;
    text-align: left;
    
    position: absolute;
    left: 10px;
    top: 5px;
}





.icon_20x20 {
	height:20px;
	width:20px;
	
	background-color:none;
	
}




input[type="text"], input[type="password"], input[type="number"], textarea {
	border:solid 4px rgba(50, 50, 50, .4);	
	background:none;
	
	font-family: 'CenturyGothicRegular', verdana, arial; 
	color:#999;
	
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	box-shadow: 1px 1px 2px rgba(0,0,0,.6) inset;
	resize:none;	
}


input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, textarea:focus {
	background:#fff;
	border:solid 4px rgba(40, 40, 40, 1);
	color:#555;
}


label {
    color: #555;
    cursor: pointer;
}

label:hover {
    opacity: 0.8; 
    -moz-opacity: 0.8; 
    filter:Alpha(opacity=80); 
}

select {
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    padding: 3px;
    
    background: #222;
    color: #999;
    border: transparent!important;
    
    min-width: 150px;
}


select:focus {
    color: #444;
    background: #fff;
}

select > option {
    margin: 3px;
    
    color: #999;
    border: transparent;
    
}


input.illegal {
    border-color: #900!important;
}


.radio-button-label-1, 
.checkbox-label-1 {
    color: #555;
    font-size: 100%;
}


.radio-button-label-1 > input[type="radio"], 
.checkbox-label-1 > input[type="checkbox"] {
    margin-right: 10px;
}





input.text-field-2 {
    border: none!important;
    background: #222!important;
    box-shadow: none!important;
    
    margin: 5px 0px;
    padding-left: 5px;
}

input.text-field-2:focus {
    background: #fff!important;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;

}


select.select-control-1 {
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    padding: 3px;
    
    background: #222;
    color: #999;
    border: transparent!important;
}

select.select-control-1:focus {
    color: #444;
    background: #fff;
}

select.select-control-1 > option {
    margin: 3px;
    
    color: #999;
    border: transparent!important;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
}




input.mini-entry-field {
    border: none!important;
    background: #222!important;
    box-shadow: none!important;
    
    margin-top: 10px;
    padding-left: 5px;
    
}



input.mini-entry-field:focus {
    background: #fff!important;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;

}







/* message bubble */

.message-bubble {
	display:none;
	
	position:absolute;
	top:100px;
	left:200px;
	
	height:120px;
	width:240px;
	
	background:rgba(0, 0, 0, .8);
	border:solid 2px rgba(50, 50, 50, 1);
	
	border-radius:16px;	
	-moz-border-radius:16px;	
	-webkit-border-radius:16px;
	
	box-shadow: 2px 2px 3px rgba(0,0,0,.7);
	
	z-index:3000;
	
}

.message-bubble p {
	width:auto;
	height:auto;
	
	margin:10px auto 10px auto;
	font-family:Verdana, Geneva, sans-serif;
	font-size:75%;
	color:#aaa;
	letter-spacing:normal;
	
	text-align:left;
	
	
}

.message-bubble p b, 
.message-bubble p strong {
	border-bottom:dotted 2px #444;
	text-transform:capitalize;
}


.message-bubble p small {
	color:#770;
	display:block;
	margin-top:15px;
}

/* bubbles appearing on the right (with arrow pointing left) */

.message-bubble-on-right span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:16px 20px;
	border-right-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	top:20px;
	left:-44px;
	
}

.message-bubble-on-right span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:12px 17px;
	border-right-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	top:-13px;
	left:-12px;
	
}



/* bubbles appearing to the left (with arrow pointing right) */

.message-bubble-on-left span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:16px 20px;
	border-left-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	top:20px;
	right:-44px;
	
}

.message-bubble-on-left span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:12px 17px;
	border-left-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	top:-13px;
	right:-12px;
	
}



/* bubbles appearing on top (with arrow pointing down) */

.message-bubble-above span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:20px 16px;
	border-top-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	bottom:-42px;
	left:25px;
	
}

.message-bubble-above span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-top-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	bottom:-13px;
	right:-12px;
	
}


/* bubbles appearing below (with arrow pointing up) */

.message-bubble-below span.bubble-arrow { /*arrow shade */
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:20px 16px;
	border-bottom-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	top:-42px;
	left:25px;
	
}

.message-bubble-below span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-bottom-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	top:-13px;
	right:-12px;
	
}




/*

NOTIFICATIONS BAR


*/



#notifications-bar-wrapper {
	display: block;
	
	position:absolute;
	top:75px;
	right: 180px;
	
	list-style:none;
	color:#444;
	font-size:80%;
	
	height:20px;
	width:420px;
	padding:0px 20px;
	
	border:none;

	background: none; /* rgba(50, 50, 50, .4); */	

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
}



#notification-tiles-wrapper {
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
}


#notification-tiles-wrapper > li.admin-notification-tile {
    list-style: none;
    margin: 0px 0px 0px 6px;
    padding: 0px 0px;
    
    float: right;
    height: 24px;
    min-width: 20px;
    width: auto;
    
    overflow: hidden;
}

li.admin-notification-tile .inner-wrapper {
        display: inline-block;
	background: #fff;
        border: none;
        color: #000;
        font-family: arial;
        text-align: left;
        

        height: 24px;
        min-width: 20px;
        width: auto;
        
        padding: 0px 2px;

	border-radius:4px;	
	-moz-border-radius:4px;	
	-webkit-border-radius:4px;
}

li.admin-notification-tile a {
    
}


li.admin-notification-tile.displayed {
    opacity: 0.4; 
    -moz-opacity: 0.4; 
    filter:Alpha(opacity=40); 
}



li.admin-notification-tile.read {
    display: none;
}

.admin-notification-icon {
    height: 18px;
    width: 18px;
    
    margin: 2px 0px 1px 0px;
}

.admin-notification-count {
    display: inline-block;
    height: 18px;
    min-width: 18px;
    
    font-size: 140%;
    text-align: right;
    
    position: relative;
    top: -2px;
}




/*

PASSWORD STRENGTH METER

*/


.password-strength-meter {
    
    /*
	display:none;
	
	position:absolute;
	top:198px;
	left:440px;
    */
        
	
	height:5px;
	width:70px;
	
	list-style:none;
	margin:0px 0px;
	padding:0px 0px;
	
	background:none;	
}


.password-strength-meter li {
	height:5px;
	width:15px;
	
	list-style:none;
	margin:0px 2px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	
	border-radius:2px;	
	-moz-border-radius:2px;	
	-webkit-border-radius:2px;

	background:rgba(60, 60, 60, .7);	
}


.password-strength-meter:before {
        display: none;
	content:'Strength:';
	font-size:60%;
	color:#555;
	text-align:right;
	
	height:10px;
	width:70px;
	
	position:absolute;
	left:-35px;
	top:-4px;

}




.placeholder-color-1::-webkit-input-placeholder {
	color:rgba(150, 150, 150, .7);
}

.placeholder-color-1:-moz-input-placeholder {
	color:rgba(150, 150, 150, .7);
}

.placeholder-color-1:-ms-input-placeholder {
	color:#555;	
        color:rgba(150, 150, 150, .7);

}

.placeholder-color-1 {
    color:#555; 
    color:rgba(150, 150, 150, .7);

}



small.text-input-label {
    display: block;
    margin:0px 0px 2px 5px;
    color:#444;

    font-size: 80%;
    text-align: left;
	
}


.text-input-label-2 {
    display: block;
    margin: -10px 0px 0px 5px;
    color:#060;
    
    position: relative;
    top: 20px;
    
    width: 8px;

    font-size: 100%;
    text-align: left;
	
}


small.text-input-label-3 {
    
    display: block;
    margin:0px 0px 0px 5px;
    font-size: 80%;
    color: #555;
    text-align: left;
}


small.tiny-status {
    display: block;
    margin:0px 5px 0px 5px;
    color:#444;
    
    text-align: right;

    font-size: 70%;
	
}

small.tiny-status.error {
    color:#a00!important;
	
}

.tiny-yellow-text {
    color:#660!important;
    font-size: 95%;
	
}


.tiny-label {
    background: #047;
    color: #fff;
    padding: 2px 3px;
    border-radius:10%;	
    -moz-border-radius:10%;	
    -webkit-border-radius:10%;
    
    white-space: nowrap;
    
    font-size: 80%;
}




span.uni-label {
    position: relative;
    display: inline-block;
    background: none;
    color: #fff;
    padding: 0 0;
    
    height: 17px;
    width: auto;
    
    white-space: nowrap;
    font-size: 10px;
    
    border-radius: 5px;	
    -moz-border-radius: 5px;	
    -webkit-border-radius: 5px;
    
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

span.uni-label:before, 
span.uni-label:after {
  display: table;
  content: " ";
  clear: both;
}


span.uni-label > span, 
span.uni-label > input[type=text] {
    position: relative;
    display: inline-block;
    
    background: #333;
    padding: 1px 5px;
    border: none;
    
    height: 15px;
    width: auto;
    
    float: left;
    
    color: inherit;
    white-space: inherit;
    font-size: inherit;
    
    
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    
    border-radius: 5px;	
    -moz-border-radius: 5px;	
    -webkit-border-radius: 5px;
}



span.uni-label.large > span, 
span.uni-label.large > input[type=text] { 
    padding: 3px 5px!important;
    height: 16px;
    width: auto;
    
    font-size: 1.3em;
    
    border-radius: 3px;	
    -moz-border-radius: 3px;	
    -webkit-border-radius: 3px;
}

span.uni-label > span.status {
    display: none;
}

span.uni-label > span > span {
    position: relative;
    display: inline;
    padding: 0 0;
    margin: 0 0;
    width: auto;
    height: auto;
    white-space: nowrap;
}


span.uni-label > span.left, 
span.uni-label > input[type=text].left {
    padding-left: 5px;
    padding-right: 3px;
    
    border-radius:5px 0 0 5px;	
    -moz-border-radius:5px 0 0 5px;	
    -webkit-border-radius:5px 0 0 5px;
}

span.uni-label > span.left { 
    overflow: hidden;
    text-overflow: ellipsis;
}


span.uni-label > span.center, 
span.uni-label > input[type=text].center {
    padding-left: 3px;
    padding-right: 1px;
    
    border-radius: 0;	
    -moz-border-radius: 0;	
    -webkit-border-radius: 0;
}

span.uni-label > span.right, 
span.uni-label > input[type=text].right
{
    padding-left: 3px;
    padding-right: 5px;
    
    border-radius:0 5px 5px 0;	
    -moz-border-radius:0 5px 5px 0;	
    -webkit-border-radius:0 5px 5px 0;
}

span.uni-label > span.blue, 
span.uni-label > input[type=text].blue {
    background: #047;
    color: #fff;
}

span.uni-label > span.green, 
span.uni-label > input[type=text].green {
    background: #0D4023;
    color: #fff;
}

span.uni-label > span.yellow, 
span.uni-label > input[type=text].yellow {
    background: #660;
    color: #fff;
}

span.uni-label > span.red, 
span.uni-label > input[type=text].red {
    background: #4a2020;
    color: #fff;
}

span.uni-label > span.grey ,
span.uni-label > input[type=text].grey {
    background: #222;
    color: #999;
}

span.uni-label > span.currency, 
span.uni-label > input[type=text].currency {
    color: #060;
}

span.uni-label > span.price, 
span.uni-label > input[type=text].price {
    color: #770;
}


span.uni-label > input[type=text] {
    max-width: 50px;
}

span.uni-label > input[type=text]:focus {
    background: #fff;
    color: #222;
}


span.color-label.icon {
    position: relative;
    display: inline-block;
    
    width: auto;
    
    text-indent: 0;
    
    margin: 0 0;
    padding: 0 0;
    
    margin-left: 4px;
}


span.color-label.icon:before {
    margin: 0 0;
    padding: 0 0;
}

span.color-label.blue:before {
    background: none;
    color: #047;
}

span.color-label.yellow:before {
    background: none;
    color: #770;
}

span.color-label.green:before {
    background: none;
    color: #0D6023;
}

span.color-label.red:before {
    background: none;
    color: #822;
}

span.color-label.grey:before {
    background: none;
    color: #999;
}


@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.2; }
}

.blink {
  -webkit-animation-name: blink;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: .5s; 
}



@-webkit-keyframes blink-2 {  
  from { 
	opacity: 0.5;
  	-webkit-animation-timing-function: ease-in;
	 }
  50% { 	
  	opacity: 0.9;
  	-webkit-animation-timing-function: ease-in;
	 }

  to { 	
  	opacity: 0.5;
  	-webkit-animation-timing-function: ease-out;
	 }

}

.blink-2 {
  -webkit-animation-name: blink-2;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s; 
}






@-webkit-keyframes blink-fast {  
  from { opacity: 1.0; }
  to { opacity: 0.2; }
}

.blink-fast {
  -webkit-animation-name: blink-fast;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: .2s; 
}




/*
*
* MAIN + PAGE NAV (COMMON CSS)
*
*/



.nav-menu {
    
     display: none;
    
     position: absolute;

     background: #000 url('../img/black_denim.png');

    list-style: none;
    
    margin: 0px 0px;
    padding: 10px 10px;
    padding-bottom: -5px;
    
    min-height: 70px;
    max-height: 420px;
    width: 250px;
    
    border: solid 1px #444;
    
    border-radius:20px;	
    -moz-border-radius:20px;	
    -webkit-border-radius:20px;
    
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
        
}


.nav-menu li {
    list-style: none;
    
    margin: 0px 15px 0px 0px;
    padding: 15px 10px 10px 10px;  
    
    height: 40px;
    width: 210px;
    float: left;
    
    border-bottom: none;
    
    text-align: left;
    font-size: 150%;
    
    color: #444;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
}


.nav-menu > li.divider {
    height: 1px;
    width: 95%;
    
    margin: 0px 0px;
    padding: 0px 0px;  
    
    border-bottom: dotted 1px #444;
}

.nav-menu li:before {
    height: 80px;
    width: 80px;
    
    position: relative;
    top: 2px;
    
    padding: 5px;
    margin-right: 10px;
    font-size: 100%;
    
    border-radius:40px;	
    -moz-border-radius:40px;	
    -webkit-border-radius:40px;
    
    border: solid 2px #444;
    
}




.nav-menu li:hover {
    color: #888;
}







/*
 *
 * MAIN NAV
 * 
 *
 */
 
 
 #main-nav-wrapper {
     position: absolute;
     top: 0px;
     right: 50px;
     z-index: 5000;
     
     display: block;
     width: 420px;
     height: 140px;
     
     background: none;
     
 }
 
 
 #main-nav-button {
     display: block;
     height: 80px;
     width: 140px;
     
     position: absolute;
     top: 60px;
     right: 0px;
     
     padding-right: 35px;
     
     
     background: none;
     
     color: #444;
     font-size: 200%;
     text-align: right;
     
     border: solid 1px #f00;
     border: none;
 }
 
 
#main-nav-button.on, 
#page-title.on {
     color: #666!important;
 }
 
#main-nav-button:before {
        margin: 0px 0px;
        
        position: relative;
        top: 5px;
        left: 110px;
        
}


#main-nav {
    
     position: absolute;
     top: 110px;
     right: 0px;
     

    
    min-height: 140px;
    max-height: 420px;
    width: 750px;
    

    border-radius:20px 0px 20px 20px;	
    -moz-border-radius:20px 0px 20px 20px;	
    -webkit-border-radius:20px 0px 20px 20px;

    
}

.header-wrapper.fixed #main-nav-wrapper {
    right: 195px;
}






#main-nav li.icon-locked:before {
    padding: 5px 1px 5px 9px;
}






/*
*
* PAGE NAV (CONTEXTUAL MENU)
*
*/


#page-nav {
    
     position: absolute;
     top: 110px;
     left: 0px;
     

    
    min-height: 70px;
    max-height: 420px;
    width: 250px;

    border-radius:0px 20px 20px 20px;	
    -moz-border-radius:0px 20px 20px 20px;	
    -webkit-border-radius:0px 20px 20px 20px;

    
}





/*
 *
 * CSS FOR TABLE TYPE LAYOUTS
 *
 *
 */
 
 
 [class^="col-"], [class*=" col-"] {
     float: left;
     display: block;
     height: 30px;
     
     text-align: left;
     font-size: 70%;
     
/*     border: dotted 1px #660;*/
     
     padding: 3px 4px 0px 5px;
 }
 
 .col-wide {
     width: 270px;
         
 }
 
 
 .col-wide {
     width: 130px;
         
 }
 
 .col-narrow {
     width: 90px;
 }
 
 
 .table-header {
    padding-top: 5px!important;     
 }
 
 .table-header .col-wide, 
.table-header .col-narrow {
     color: #660;
 }

 .table-header [class^="col-"], 
 .table-header [class*=" col-"] {
     font-weight: bold;
 }
 
 .dotted-yellow-line {
    width: 490px;
    height: 70px;
    
    padding: 3px 5px 10px 5px;
    
    border-top: dotted 1px #660;
}


.dotted-yellow-line:before {
	content:'';
	
	display:block;
	
        position: relative;
        top: -18px;
        left: 0px;
        
        margin-left: 25px;
        	
		
	width:0px;
	height:0px;
	
	border-width: 7px 7px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color:  #660;
        
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}



 .dotted-blue-hor-line {
    width: 100%;
    height: 0px;
    
    padding: 0px 0px;
    margin: 3px 0px;
    
    border-top: dotted 1px #046;
}


 .dotted-yellow-hor-line {
    width: 100%;
    height: 0px;
    
    padding: 0px 0px;
    margin: 3px 0px;
    
    border-top: dotted 1px #660;
}


 .dotted-grey-hor-line {
    width: 100%;
    height: 0px;
    
    padding: 0px 0px;
    margin: 3px 0px;
    
    border-top: dotted 1px #444;
}



.tiny-yellow-arrow-down:before {
	content:'';
	
	display:block;
	
        position: relative;
        top: 0px;
        left: 0px;
        
        margin-left: 25px;
        	
		
	width:0px;
	height:0px;
	
	border-width: 7px 7px;
        border-style: solid;
        border-color: transparent;
        border-top-color:  #660;
        
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}






/*


QUICK SEARCH TOOL

*/




#search-tool-wrapper {
	position:absolute;
	left:650px;
	top:130px;
	
	height:110px;
	width:340px;
	
	font-size:120%; 
        
        z-index: 100;
	
}




#quick-search-form-wrapper {
	
	width:340px;
	height:50px;
	float:left;	
	text-align:left;
	
	padding:27px 0px 10px 0px;
	
}

#quick-search-form-wrapper input[type='text'] {
	padding:4px 2px 4px 26px;
	margin:5px 0px 0px 0px;
	width:230px;
	
	position:relative;
	left:-40px;
	color:#333!important;
	
	float:left;

}


#quick-search-form-wrapper input[type='text']::-webkit-input-placeholder {
	color:rgba(150, 150, 150, .4);
}

#quick-search-form-wrapper input[type='text']:-moz-input-placeholder {
	color:rgba(150, 150, 150, .4);
}

#quick-search-form-wrapper input[type='text']:-ms-input-placeholder {
	color:rgba(150, 150, 150, .4);
	color:#555;
}


#quick-search-form-wrapper .search-icon-inset {
	cursor:default!important;
}


#quick-search-form-wrapper a.search-button {
	margin:0px 0px 0px 5px!important;
	
}





#quick-search-results {
	display:none;
	
	list-style:none;
	margin:0px 0px;
	padding:0px 0px;
	
	position:absolute;
	left:10px;
	top:70px;
	
	height:auto;
	max-height:200px;
	width:284px;
	
	overflow:auto;
	overflow-x: hidden;

	border: 1px solid #333; 
	background: #111 url(../img/black_denim.png)  repeat; 
	color: #777; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	z-index:1000;
}


#quick-search-results li {
	font-size:80%;
	padding:5px 10px;
	
}

#quick-search-results a:last-child {
	border-bottom:none;
}

#quick-search-results a { 
	color: #777;
	display:block;
	border-bottom:dashed 1px rgba(50, 50, 50, .5);
 }
 
 
#quick-search-results a:hover { 
	color: #888;
	background:rgba(150, 150, 150, .05);
}



#quick-search-results li small {
	font-size:70%;
	color:#444;
	margin-right:15px;
	margin-top:10px;	
	
}






.quick-search-result-detail:before {
	

	font-weight: normal;
	font-style: normal;
	
	position:relative;
	left:-2px;
	top:2px;
	
	font-size:130%!important;
	line-height:120%!important;
	color:#333!important;
}





/*


NATIONAL FLAGS 


*/



.national-flag-small {
    width: 30px; 
    height: 30px; 
    background-color: transparent;
    
    float: left;
    margin-right: 0px;
    
    position: relative;
    top: 4px;
    left: -7px;
    
}




.national-flag-x-small {
    width: 20px; 
    height: 20px; 
    background-color: transparent;
    
    float: left;
    margin-right: 6px;
    
    position: relative;
    top: 0px;
    left: 0px;
    
}






.national-flag-medium {
    width: 48px; 
    height: 48px; 
    background-color: transparent;
    
    float: left;
    margin-right: 10px;
    
    position: relative;
    top: 0px;
    left: 0px;
    
}






.user-status:before {
        content: '';
        display: inline-block;
        border: solid 1px transparent;
        font-size: 50%;
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
        text-align: center;
        

        
        height: 10px;
        width: 10px;
        padding: 0px 0px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
        -moz-box-shadow: 0px 2px 4px rgba(10, 10, 10, .60);
        -webkit-box-shadow: 0px 2px 4px rgba(10, 10, 10, .60);
        box-shadow: 0px 2px 4px rgba(10, 10, 10, .60);
}




.user-dp {
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    -moz-box-shadow: 0px 2px 4px rgba(10, 10, 10, .60) inset;
    -webkit-box-shadow: 0px 2px 4px rgba(10, 10, 10, .60) inset;
    box-shadow: 0px 2px 4px rgba(10, 10, 10, .60) inset;

}


.user-dp.tiny {
    width: 25px;
    height: 25px;
}

.user-dp.mini {
    width: 50px;
    height: 50px;
}

.user-dp > img {
    width:100%;
}



/*

LOGIN STATUS

*/


.mediumListIconTextItem.user-status:before {
        position: relative;
        left: 5px;
        top: 5px;
        
        float: left;
}




#profile-name-in-header {
	display:block;
	
	position:absolute;
	top:155px;
	left:60px;
	
	height:60px;
	width: 500px;
        text-align: left;
	
	border: none;
	color:#444;
	
	font-weight:normal;
	font-size:200%;	
}



#profile-name-in-header.user-status:before {
        position: relative;
        left: -10px;
        top: 15px;
        
        float: left;
}


#quick-search-results .user-status:before {
        height: 6px;
        width: 6px;
        
        position: relative;
        left: -5px;
        top: 5px;
        
        float: left;
}


.user-status.online:before {

	background: #080;
        color: #080;
}


.user-status.offline:before {

	background: #800;
        color: #800;
}


.user-status.disabled:before {

	background: #333;
        color: #333;
}





/*

SIDE PANEL

*/




.side-panel {
	position:absolute;
	top:320px;
	left:50px;
        
	width:230px;
	min-height:50px; 
	border:none;
	border:solid 1px #444;	
	text-align:left;
	font-size:80%;
	color:#555;
	
	padding:20px 20px 50px 20px!important;
	
	border:solid 5px #222; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
}


.side-panel .button-1 {
    font-size: 90%;
}



.side-panel > li {
    list-style: none;
    padding: 2px 0px;
    margin-bottom: 5px;
    font-size: 85%;
}


.side-panel > .header {
	list-style:none;
	margin:0px 0px 20px 0px;
	padding:0px 0px 10px 0px;
	
	text-align:left; 
	height: auto; 
	width: 100%; 
	
	border:none;
	border-bottom:dotted 1px #046;
	/*
	border-right:solid 1px #444;
	*/
	
	color:#444;
        font-size: 120%;
	
}



.side-panel > li > .entry {
    padding: 2px 4px;
    background: #111;
    color: #444;
    font-style: italic;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
}







/*
*
* ADMIN ACCOUNT DIALOG
*
*/

.message-bubble {
    z-index: 10003;
}


#my-account-dialog-box {
    display: none; 
    position:fixed; 
    top:40px; 
    left:490px; 
    width:380px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}


#my-account-dialog-box .yellow-hint-text {
    text-align: left;
    font-size: 80%;
    color:#660; 
    margin-top: 3px;
}

#my-account-dialog-box > .blue-button {
    font-size: 100%;
}



#my-account-dialog-box input[type="text"] {
    padding: 3px;
    margin-bottom: 10px;
}


#my-account-dialog-box .text-input-label {
    margin-left: 3px;
    font-size: 95%;
}

#my-account-dialog-box .field-group {
    min-width: 360px;
    min-height: 25px;
    
    padding: 5px 5px!important;
    background: rgba(0, 0, 0, .2);

    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
    
    margin: 5px 6px;
}


#my-account-dialog-box #profile-info-wrapper.field-group > div {
    margin: 0px 10px 0px 15px!important;
}

#my-account-dialog-box #password-tool-wrapper {
    display: none;
}

#my-account-dialog-box .field-group > div > input {
    position: relative;
    top: -2px;
    margin: 2px 0px!important;
}


#display-picture-image-picker-wrapper {

    
}



.display-picture-image-picker-button {
        display: block;
        height: 100px;
        width: 100px;
        
        margin: 0px 0px;
        
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
	box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
	border:solid 4px rgba(70, 70, 70, .6);
        

        background-size: contain; 
        background-repeat: none; 
        background-position: center center;
        
        
	
}



.display-picture-image-picker-button > span.icon-aperture {
	display:block;
        height: 40px;
        width: 50px;
        font-size: 300%;
        margin: 10px auto;
        
        text-align: center;

	
	opacity:.6; 
	-moz-opacity:.6; 
	filter:Alpha(opacity=60); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.display-picture-image-picker-button-a {	
    
}

.display-picture-image-picker-button-a:hover .display-picture-image-picker-button > span.icon-aperture {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}







/*
*
* EDITABLE LIST
*
*
*/





ul.editable-list {
    list-style: none;
    margin: 0px auto!important;
    padding: 20px 20px;
    
    width: 450px;
    height: auto;
    
    border:solid 4px rgba(50, 50, 50, .6);
    
    position:relative;
    top:0px;
    left:0px;
    
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;

}



.editable-list > li {
    list-style: none;
    margin: 0px auto;
    padding: 0px 0px;
}



.editable-list > .header {
    font-size: 150%;
    font-weight: bold;
    text-align: left;
    color: #444;
    
    margin: 0px 0px;
    
    border: none;
    
    position: absolute;
    top: -50px;
    left: 10px;
    
    width: 300px;
}



.editable-list-add-button-wrapper {
   
   padding: 0px 0px;
   margin: 0px 0px!important;
 
}



.editable-list-add-button {
    /*border:dashed 1px #555!important;*/
    color: #555;
    display: block;

    width: 100%;
    height: 50px;
    
    line-height: 350%;
    padding: 0px 0px;
    text-align: center;
    
    border: dashed 1px #444;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
            
	
}

.editable-list-add-button:before {
	display:block;
        float: left;
        
	width:40px;
	height:50px;
	border:none;
        
        
        font-size: 200%;
        
        position: relative;
        left: 10px;
        top: 0px;

	
	opacity:.2; 
	-moz-opacity:.2; 
	filter:Alpha(opacity=20); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}



.editable-list-add-button:hover {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}



.editable-list-tile {
    list-style: none;
    display: block;
    height: 20px;
    width: 95%;

    border-bottom:dotted 1px #046;
    text-align:left;
    
    padding: 15px 10px 15px 10px!important;
    
    color: #444;
    font-style: normal;
    font-size: 90%;
    
}

.editable-list-tile > .button-1 {
    display: none;
}


.editable-list-tile:hover > .button-1 {
    display: block;
}

.editable-list-tile .tiny_status {
    font-style: normal;
    
    position: relative;
    top: -2px;
    left: 0px;
    
    z-index: 20;
}

.editable-list-delete-button:before, 
.editable-list-edit-button:before {
    cursor: pointer;
    
    position: relative;
    top: 2px;
    left: -5px;
    
    color: #333;
    
   
}


.editable-list-delete-button, 
.editable-list-edit-button {
    display: inline-block;
    width: 30px;
    
    font-size: 110%;
    color: #444!important;
    font-style: normal;
    
    position: relative;
    top: 2px;
    left: 0px;

    
    float: right;
    
    z-index: 22;
    
}


.editable-list-delete-button:hover, 
.editable-list-edit-button:hover {
    /*
    opacity: 1; 
    -moz-opacity: 1; 
    filter:Alpha(opacity=100);     
    */
}


.editable-list-field {
    border: none!important;
    background: #222!important;
    box-shadow: none!important;
    
    margin-top: 10px;
    padding-left: 5px;
    
}



.editable-list-field:focus {
    background: #fff!important;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;

}



.editable-list-tile .tiny-status {
    display: inline-block;
}


.editable-list-tile.last-child {
    border-bottom: none;
}







.circular-button {

    color: #fff!important;
    font-size: 90%;
    line-height:130%;
    
    cursor: pointer;

}


.circular-button > li > span:before {
    display: block;
    height: 15px;
    width: 15px;
    color: #000;
    background: #fff;
    font-size: 130%;
    padding: 5px;
    margin: 5px auto;
    border-radius:15px;	
    -moz-border-radius:15px;	
    -webkit-border-radius:15px;
}

.circular-button:hover > li > span:before {
    
}



.circular-button-2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    
    font-size: 10px;
    line-height: 9px;
    color: #777;
    font-style: normal;
    
    position: relative;
    margin: 0px 2px;
}

.circular-button-2:before {
    cursor: pointer;
    
    position: absolute;
    height: 10px;
    width: 10px;
    
    color: #f00;
    text-align: center;
    
    background: #fff;
    padding: 5px;
    
    border-radius:50%;	
    -moz-border-radius:50%;	
    -webkit-border-radius:50%;
    
   
}












.quick-remove-button.circular-button {
    display: block;
    
    position: relative;
    top: -10px;
    height: 10px;
    width: 10px;
    float: right;
    
    
    opacity:0; 
    -moz-opacity:0; 
    filter:Alpha(opacity=0); 
    
    z-index: 300;
}

.quick-remove-button.circular-button > div {
    position: relative;
    display: block;
    height: 10px;
    width: 10px;
    list-style: none;
    float: right;
    text-align: center;
    margin: 0px 0px;
    font-size: 70%;
    color: #fff;
}

.quick-remove-button.circular-button > div:before {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    height: 10px;
    width: 10px;
    
    font-size: 100%;
    line-height: 12px;
    padding: 5px;
    margin: 5px auto;
    border-radius: 50%;	
    -moz-border-radius: 50%;	
    -webkit-border-radius: 50%;
    
    background: #046;
    background: rgba(0, 100, 140, .5);
    color: #fff;
}

.quick-remove-button.circular-button:hover > div:before {
    background: rgba(0, 100, 140, .8);
}


