<li class="admin-notification-tile {{#isDisplayed}}displayed{{/isDisplayed}} {{#isRead}}read{{/isRead}}" id="admin-notification-tile-{{id}}" >
<a href="{{url}}">
<div class="inner-wrapper">
    <span class="admin-notification-count">{{count}}</span>
    <img class="admin-notification-icon" src="{{icon}}" />
</div>
</a>

</li>