

<!-- APP PICKER WIDGET -->

<div id="app-picker-widget-wrapper" class="glass-pane" display="none">
        <div class="clear-button cancel-button" >&nbsp;</div>
        
        <div class="inner-wrap">
            <span class="bubble-arrow">&nbsp;</span>
            
            <a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">close app picker</span></a>
            
            <div id="app-picker-widget-thumbs" class="clearfix">

                
            {{ #AppList }}
                {{>app-picker-widget-thumb}}
            {{ /AppList }}
            
                
            
            </div>
        </div> 
    </div>









