
<div app_id="{{handle}}" id="app-tile-{{handle}}"  class="app-picker-widget-thumb-button trashable" trash_type="app-tile" style="" >

    <div class="inner-wrap" style="background-image:url({{icon.hrefs.large}});"  >



        <div class="thumb-dashboard-wrapper">
            <ul class="thumb-dashboard">



            </ul>

            <div class="clear-button" onclick="pageWidget.addApp('{{handle}}')">&nbsp;</div>
        </div>

        <div class="label">{{name}}</div>

    </div>

</div>
