
<li id="category-tile-{{id}}" data_add_to="category" data_target_id="{{id}}" class="droppable-tile tile">

<a class="fltlft main-anchor" href="{{href}}">
       <span class="color-label icon {{Store.label_color}} icon-folder-fill fltlft"></span> 
       {{#parent.has_parent}}{{parent.title}} / {{/parent.has_parent}}{{title}} (<span id="category-population-{{id}}">{{population}}</span>)

</a>


<div class="dashboard">
<a href="javascript:void(0)" onclick="Category.editCategory({{id}}); return false;" ><span class="icon-pencil-2"></span> </a>
<a href="javascript:void(0)" onclick="Category.deleteCategory({{id}});" ><span class="icon-close"></span></a>
</div>
</li>