
<div class="alert-box grp-dialog-box">
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>

        <h2 class="bubble-title">{{meta.title}}</h2>


       <!--
        <div class="tiny-yellow-text">{{description}}</div>
        <br/>


        <div class="dotted-yellow-hor-line tiny-yellow-arrow-down">&nbsp;</div>
        -->


        <form name="edit-category-form" id="edit-category-form"  method="POST" action="#">
        <p class="bubble-text">



                    <div class="clearfloat">&nbsp;</div>
                    <br />

                    <div class="field-group fltlft">

                    <div class="fltlft">
                    <small class="text-input-label">Title</small>
                    <input id="item_name" name="title" class="category-title-field category-description" type="text" size="28" maxlength="200" placeholder="Category Title..." onchange="" value="{{{Category.title}}}" />
                    <br /><br />
                    </div>


                    <div class="fltlft">
                    <small class="text-input-label">Description</small>
                    <textarea id="item_description" class="category-description" name="description" rows=3 cols="30" placeholder="Description..." onchange="" >{{{Category.description}}}</textarea>
                    <br /><br />
                    </div>



                    <div class="fltlft">
                    <small class="text-input-label">Parent Category</small>
                    <select id="select-category-parent-id" class="select-control-1" name="parent_id" tip="Please choose a <b>Category</b>. <small></small>" size="1"  >

                        {{#Parents}}
                        <option value={{id}} {{#is_parent}}selected{{/is_parent}}>
                                {{#has_parent}}{{parent.title}} / {{/has_parent}}{{title}}
                        </option>
                        {{/Parents}}
                    </select>
                    <br /><br />
                    </div>



                    <div class="fltlft">
                    <small class="text-input-label">Sort Order</small>
                    <input id="item_name" name="sort_order" class="category-title-field category-description" type="number" size="5" maxlength="3" placeholder="0" onchange="" value="{{Category.sort_order}}" />
                    <br /><br />
                    </div>

                    </div>


                    <div class="clearfloat">&nbsp;</div>
                    <br />


                    <div class="field-group fltlft">

                    <div id="banner-image-picker-wrapper" class="fltlft">
                         <small class="text-input-label">Banner</small>
                         <a href="javascript:void(0);" class="banner-image-picker-add-button-a" onclick="PhotoUploader.initPhotoUpload(Category.saveBanner, 1500, 250); return false;">
                             <span class="banner-image-picker-add-button" style="background: url('{{Category.banner.hrefs.large}}') no-repeat center center; background-size: contain;">&nbsp;
                             <span class="icon-aperture"></span>
                            </span>
                         </a>
                         <small class="yellow-hint-text">Click photo to upload</small>
                         <a href="javascript:void(0);" id="clear-category-banner-button" class="blue-button small" onclick="Category.clearBanner({{Category.id}});" > Remove Banner </a>


                    <br />
                    </div>

                    </div>


        </p>

        <div class="clearfloat">&nbsp;</div>
        <div class="dotted-blue-hor-line">&nbsp;</div>
        <br />


        {{#Category.isActive}}
        <a id="category-status-button" class="online on-off-button" href="javascript:void(0);" >On (Turn Off)</a>
        <input type="checkbox" style="display:none;" name="is_active" id="category-status-checkbox" CHECKED value=true />
        {{/Category.isActive}}

        {{^Category.isActive}}
        <a id="category-status-button" class="offline on-off-button" href="javascript:void(0);" >Off (Turn On)</a>
        <input type="checkbox" style="display:none;" name="is_active" id="category-status-checkbox" value=true />
        {{/Category.isActive}}



        </form>
        <br />
        <div class="dotted-blue-hor-line">&nbsp;</div>
        <br /><br />

        &nbsp;&nbsp;

        <a href="javascript:void(0);" id="category-save-button" class="blue-button large" onclick="Category.saveCategory({{Category.id}});" > {{meta.buttonLabel}} <span class="icon-checkmark-2">&nbsp;</span></a>

        <br /><br /><br/>

</div>
