

<!-- COLOR PICKER WIDGET -->

<div id="color-picker-widget-wrapper" class="glass-pane">

    <span class="bubble-arrow left">&nbsp;</span>

    <a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">close widget</span></a>

</div>









