
<div class="alert-box grp-dialog-box">
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>

        <h2 class="bubble-title">{{meta.title}}</h2>

                    
       <!--
        <div class="tiny-yellow-text">{{description}}</div>
        <br/>


        <div class="dotted-yellow-hor-line tiny-yellow-arrow-down">&nbsp;</div>
        -->

        <form name="edit-coupon-form" id="edit-coupon-form"  method="POST" action="#">
        <p class="bubble-text">

                    <div class="fltlft coupon-code-wrapper">
                    <!-- <br /><span class="x-large-label">Code</span>&nbsp;&nbsp; -->

                    <input id="text-field-coupon-code" class="coupon-code-field" name="code" onkeyup="Coupon.validateCode();" tip="Please enter a name for the new tax class. <small>Use only A-Z, a-z, 0-9, spaces, dots, commas or dashes!</small>" class="placeholder-color-1" type="text" value="{{Coupon.code}}" placeholder="NEW CODE" size=16 maxlength="60"  />
                    <br />
                    </div>



                    <div class="fltlft">
                    <select id="coupon-store-id" class="" name="store-id" tip="Please choose a <b>store</b>. <small></small>" size="1" onChange="Coupon.resetCurrency(this)"  >
                        <option value=-1 >-- Choose a store --</option>

                        {{#Stores}}
                        <option value={{id}} {{selected}} currencyCode="{{Currency.code}}">{{label}}</option>
                        {{/Stores}}
                    </select>
                    <br />
                    </div>




                    <div class="clearfloat">&nbsp;</div>
                    <br /><br />
                    <div class="dotted-blue-hor-line">&nbsp;</div>
                    <br/>


                    <div class="fltlft">
                    <span class="large-label">Discount Amount:</span>
                    <br/><br/>
                    </div> 


                    &nbsp;&nbsp;

                    <div class="field-group fltlft">

                    <div class="fltlft">
                    <input id="text-field-discount-amount" name="discount-amount" class="discount-amount" tip="Please enter a <b>shipping rate</b>. <small></small>" class="placeholder-color-1" type="number" onChange="Coupon.validateAmount();"  onkeypress="return validateFloatEntry(event, this);" onkeyup="return revalidateFloatEntry(event, this);" value="{{Coupon.discountAmount}}" placeholder="" size=5 />
                    </div>  
                    
                    

                    <div class="fltlft">
                    <select id="select-field-discount-type" class="discount-type" name="discount-type" tip="Please select a rate type. <small></small>" size="1" onChange="Coupon.validateAmount();" >
                        <option value=0 {{^Coupon.discountType}}selected{{/Coupon.discountType}}>%</option>
                        <option value=1 id="coupon-currency" {{#Coupon.discountType}}selected{{/Coupon.discountType}}>{{Coupon.Currency.code}}</option>
                    </select>
                    </div> 

                    </div>





                    <div class="clearfloat">&nbsp;</div>

                    <div class="dotted-blue-hor-line">&nbsp;</div>
                    <br/>






                    <div class="fltlft">
                    <span class="large-label">Valid from</span>
                    <br/><br/>
                    </div>
                    
                    &nbsp;&nbsp;



                    <div class="field-group fltlft">
                    
 
                    <div class="fltlft">
                    <select id="text-field-start-month" class="date-field" name="start-month" tip="Please select a rate type. <small></small>" size="1"  >
                        {{#Coupon.startDateMonth}}
                            <option value={{numeric}} {{selected}}>{{name}}</option>
                        {{/Coupon.startDateMonth}}
                    </select>
                    </div> 


                    <div class="fltlft">
                    <select id="text-field-start-day" class="date-field" name="start-day" tip="Please select a rate type. <small></small>" size="1"  >
                        {{#Coupon.startDateDay}}
                            <option value={{numeric}} {{selected}} >{{name}}</option>
                        {{/Coupon.startDateDay}}
                    </select>
                    </div> 

                    

                    <div class="fltlft">
                    <select id="text-field-start-year" class="date-field" name="start-year" tip="Please select a rate type. <small></small>" size="1"  >
                        {{#Coupon.startDateYear}}
                            <option value={{numeric}} {{selected}}>{{name}}</option>
                        {{/Coupon.startDateYear}}
                    </select>
                    </div> 



                    <div class="fltlft">
                    <label class="date-picker-checkbox-label" for="valid-from-today-checkbox">
                    <input type="checkbox" class="date-picker-checkbox" name="valid-from-today" id="valid-from-today-checkbox" value=true />Today 
                    <span class="tiny-yellow-text"></span>
                    </label>
                    </div>

                    </div>
                    




                    <div class="clearfloat">&nbsp;</div>

                    <br />

                    <div class="fltlft">
                    <span class="large-label">Valid until</span>
                    <br/><br/>
                    </div>

                    
                    &nbsp;&nbsp;



                    <div class="field-group fltlft">
                   

                    <div class="fltlft">
                    <select id="text-field-end-month" class="date-field" name="end-month" tip="Please select a rate type. <small></small>" size="1"  >
                        {{#Coupon.endDateMonth}}
                            <option value={{numeric}} {{selected}}>{{name}}</option>
                        {{/Coupon.endDateMonth}}
                    </select>
                    </div> 


                    <div class="fltlft">
                    <select id="text-field-end-day" class="date-field" name="end-day" tip="Please select a rate type. <small></small>" size="1"  >
                        {{#Coupon.endDateDay}}
                            <option value={{numeric}} {{selected}}>{{name}}</option>
                        {{/Coupon.endDateDay}}
                    </select>
                    </div> 

                    

                    <div class="fltlft">
                    <select id="text-field-end-year" class="date-field" name="end-year" tip="Please select a rate type. <small></small>" size="1"  >
                        {{#Coupon.endDateYear}}
                            <option value={{numeric}} {{selected}}>{{name}}</option>
                        {{/Coupon.endDateYear}}
                    </select>
                    </div> 


                    <div class="fltlft">
                    <label class="date-picker-checkbox-label" for="valid-until-never-checkbox">
                    <input type="checkbox" class="date-picker-checkbox" name="valid-until-never" id="valid-until-never-checkbox" value=true {{#Coupon.isIndefinite}}checked{{/Coupon.isIndefinite}} />Never 
                    <span class="tiny-yellow-text"></span>
                    </label>
                    </div>

                    </div>



                    <div class="clearfloat">&nbsp;</div>

                    <div class="dotted-blue-hor-line">&nbsp;</div>
                    <br/>
                    <div class="fltlft">
                    <span class="large-label">Expires after</span>
                    <br/><br/>
                    </div>
                    &nbsp;&nbsp;


                    <div class="fltlft">
                    <input id="text-field-discount-amount" name="expires-after-uses" class="discount-amount" tip="Please enter a <b>shipping rate</b>. <small></small>" class="placeholder-color-1" type="number"  onkeypress="return validateFloatEntry(event, this);" onkeyup="return revalidateFloatEntry(event, this);" value="{{Coupon.usesPerCoupon}}" placeholder="" size=5 />
                    <br/><br/>
                    </div>  

                    <div class="fltlft">
                    <span class="large-label">uses.</span>
                    <br/><br/>
                    </div>
                    &nbsp;&nbsp;


  
        </p>

        <br />
        <div class="dotted-blue-hor-line">&nbsp;</div>
        <br />
        
        {{#Coupon.isActive}}
        <a id="coupon-status-button" class="online on-off-button" href="javascript:void(0);" >On (Turn Off)</a>
        <input type="checkbox" style="display:none;" name="is_active" id="coupon-status-checkbox" CHECKED value=true />
        {{/Coupon.isActive}}

        {{^Coupon.isActive}}
        <a id="coupon-status-button" class="offline on-off-button" href="javascript:void(0);" >Off (Turn On)</a>
        <input type="checkbox" style="display:none;" name="is_active" id="coupon-status-checkbox" value=true />
        {{/Coupon.isActive}}
                    

        
        </form>
        <br />
        <div class="dotted-blue-hor-line">&nbsp;</div>
        <br /><br />

        &nbsp;&nbsp;                        

        <a href="javascript:void(0);" id="coupon-save-button" class="blue-button large" onclick="Coupon.saveCoupon({{Coupon.id}});" > {{meta.buttonLabel}} <span class="icon-checkmark-2">&nbsp;</span></a>

        <br /><br /><br/>
    
</div>



