
<div id="customer-profile-dialog-box" class="alert-box">
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>
    <form name="customer-profile-form" id="customer-profile-form"  method="POST" action="save-customer-profile.ajax.php">
        
        <h2 class="bubble-title">{{meta.title}}</h2>
        <div class="tiny-yellow-text">
            Change the details and options of this customer profile or disable it.
            <br /><br />
        </div>
        <br/>
        <p class="bubble-text">
                    <div>
                        
                    <div class="fltlft">
                    <small class="text-input-label-3">FIRST NAME</small>
                    <input id="text-field-customer-fname" name="fname" require="name" tip="Please enter a first name. <small>Use only A-Z, a-z, 0-9, spaces, dots, commas or dashes!</small>" class="placeholder-color-1" type="text" value="{{Customer.firstname}}" placeholder="First Name"  size=30 />
                    <br /><br />
                    </div>
                        
                    <div class="fltlft">
                    <small class="text-input-label-3">LAST NAME</small>
                    <input id="text-field-customer-lname" name="lname" require="name" tip="Please enter a last name. <small>Use only A-Z, a-z, 0-9, spaces, dots, commas or dashes!</small>" class="placeholder-color-1" type="text" value="{{Customer.lastname}}" placeholder="Last Name"  size=30 />
                    <br /><br />
                    </div>
                        
                    <div class="fltlft">
                    <small class="text-input-label-3">EMAIL ADDRESS</small>
                    <input id="text-field-customer-email" name="email" require="email" tip="Please enter an email for this customer profile. <small>Use only A-Z, a-z, 0-9, spaces, dots, commas or dashes!</small>" class="placeholder-color-1" type="text" value="{{Customer.email}}" placeholder="Email Address"  size=30 />
                    <br /><br />
                    </div>
                        
                    <div class="fltlft">
                    <small class="text-input-label-3">TELEPHONE</small>
                    <input id="text-field-customer-phone" name="phone" require="phone" tip="Please enter a phone number for this customer profile. <small>Use only digits (0-9). Number must be at least 6 digits long and may start with a (+).</small>" class="placeholder-color-1" type="text" value="{{Customer.telephone}}" placeholder="Telephone"  size=30 />
                    <br /><br />
                    </div>
                        
                    <div class="dotted-blue-hor-line fltlft">&nbsp;</div>

                    <br style="clear: both" />
                        
                    <div class="fltlft" id="password-tool-wrapper">
                        <small class="text-input-label-3">(New password)</small>
                        <input type="password" id="text-field-customer-pass1" name="password" require="password" tip='Please enter a new password. <small>Must be at least 8 characters long, and contain 1 uppercase letter and a number. <br/>- OR -<br/> Use a pass-phrase instead. For example: "I love bvlgari".</small>' size=30 value=""  >
                        <br/>
                            <ul class="password-strength-meter" id="customer-password-meter-1">
                                <li class="password-strength-poor password-strength-weak password-strength-good password-strength-excellent">&nbsp;</li>
                                <li class="password-strength-weak password-strength-good password-strength-excellent">&nbsp;</li>
                                <li class="password-strength-good password-strength-excellent">&nbsp;</li>
                                <li class="password-strength-excellent">&nbsp;</li>
                            </ul>
                        <br/>
                        <small class="text-input-label-3">(confirm)</small>
                        <input type="password" id="text-field-customer-pass2" name="password-confirm" require="password-confirm" tip="Please re-type password (must be the same as the first)." size=30 value="" >
                        <br />
                        <br />
                    </div>


                    <br style="clear: both" />

                    <div class="fltlft">
                        <label class="radio-button-label-1" for="change-customer-password">
                        <input type="checkbox" id="change-customer-password" name="set-password" value=1 onchange="Customer.togglePasswordTool(this);" />
                        <span class="tiny-yellow-text">Change Password</span>
                        </label>
                        <br/><br/>
                    </div>

                        
                    </div>  
  
        </p>
        <div class="clearfloat">&nbsp;</div>
        <br />
        <div class="dotted-blue-hor-line">&nbsp;</div>
        <br />
        </form>

        <a href="javascript:void(0);" id="customer-account-save-button" class="save-button blue-button large" onclick="Customer.saveProfile({{Customer.id}});" > {{meta.saveButtonLabel}} <span class="icon-checkmark-2">&nbsp;</span></a>

        <br /><br /><br/>
</div>



