
<div id="" class="alert-box picker-dialog-box">
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>

        <h2 class="bubble-title">{{title}}</h2>
        <div class="tiny-yellow-text">{{description}}</div>
        <br/>
        <div class="dotted-yellow-hor-line tiny-yellow-arrow-down">&nbsp;</div>
        <p class="bubble-text">
                    <br />

                {{#entities}}
                    <select id="select-{{input_name}}" class="select-control-1" name="{{input_name}} tip="Please choose a <b>{{entityName}}</b>. <small></small>" size="1"  >
                        <option value=-1 >-- Choose a {{entity_name}} --</option>
                        
                        {{#options}}
                        <option value={{id}} >{{label}}</option>
                        {{/options}}
                    </select>
                    <br /><br />
                {{/entities}}


                <br /><br />
                    
                    
    
                    <a href="javascript:void(0);" id="add-to-button" class="blue-button large" > {{buttonLabel}} <span class="icon-checkmark-2">&nbsp;</span></a>
        
    
                    <br /> 
  
        </p>

        
        <!--
        <br />
        <div class="dotted-blue-hor-line">&nbsp;</div>
        <br /><br />

        &nbsp;&nbsp;                        
        <a class="button-1" id="tax-class-button-cancel" href="javascript:void(0)" onClick="return false;" >cancel</a>


        
        <br />
        <small class="bubble-tiny-text">click anywhere to close X</small>
        -->    

        <br/>
    
</div>



