
<div class="alert-box grp-dialog-box picker-dialog-box">
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>

        <h2 class="bubble-title">{{meta.title}}</h2>

                    
       
        <div class="tiny-yellow-text">{{meta.description}}</div>
        <br/>


        <div class="dotted-yellow-hor-line tiny-yellow-arrow-down">&nbsp;</div>
        


        <form name="edit-category-form" id="edit-category-form"  method="POST" action="#">
        <p class="bubble-text">



                    <div class="clearfloat">&nbsp;</div>
                    <br />

                    <div class="field-group fltlft">
                    
                    {{#fields}}
                    <div class="fltlft">
                    <small class="text-input-label">{{entityName}}</small>
                    <select id="select-target-id" class="select-control-1" name="target-id" tip="Please choose a <b>{{entityName}}</b>. <small></small>" size="1"  >
                        <option value=-1 >-- Choose a {{entityName}} --</option>
                        
                        {{#options}}
                        <option value={{id}} >{{label}}</option>
                        {{/options}}
                    </select>
                    
                    <br /><br />
                    </div>
                    {{/fields}}



                    </div>


                    <div class="clearfloat">&nbsp;</div>
                    <br />


                    <div class="field-group fltlft">

                    <div id="banner-image-picker-wrapper" class="fltlft">
                         <small class="text-input-label">File (e.g. CSV)</small> 
                         <a href="javascript:void(0);" class="banner-image-picker-add-button-a" onclick="PhotoUploader.initPhotoUpload(Category.saveBanner, 800, 200); return false;">
                             <span class="banner-image-picker-add-button" style="background: url('{{Category.Banner.large}}') no-repeat center center; background-size: contain;">&nbsp;
                             <span class="icon-upload-3"></span>
                            </span>
                         </a>
                         <small class="yellow-hint-text">Click to upload</small>
                         
                    <br />
                    </div>

                    </div>

  
        </p>

        <div class="clearfloat">&nbsp;</div>
        <div class="dotted-blue-hor-line">&nbsp;</div>
        

        
        </form>
        <br /><br />

        &nbsp;&nbsp;                        

        <a href="javascript:void(0);" id="category-save-button" class="blue-button large" onclick="Catalog.doImport({{Category.id}});" > {{meta.buttonLabel}} <span class="icon-checkmark-2">&nbsp;</span></a>

        <br /><br /><br/>
    
</div>



