
<div id="layout-slide-dialog-box" class="alert-box grp-dialog-box">
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>

        <h2 class="bubble-title">{{meta.title}}</h2>

                    
       <!--
        <div class="tiny-yellow-text">{{description}}</div>
        <br/>


        <div class="dotted-yellow-hor-line tiny-yellow-arrow-down">&nbsp;</div>
        -->


        <form name="edit-layout-slide-form" id="edit-layout-slide-form"  method="POST" action="#">
        <p class="bubble-text">



                    <div class="clearfloat">&nbsp;</div>
                    <br />

                    
                    <ul class="tabs fltlft">

                        <a href="javascript:void(0);" onclick="Layout.showImageTab(); return false;">
                        <li id="slide-image-picker-tab" class="{{#Slide.is_image}}tab-selected{{/Slide.is_image}}">Image</li>
                        <a>

                        <a href="javascript:void(0);" onclick="Layout.showHTMLTab(); return false;">
                        <li id="slide-html-input-tab" class="{{#Slide.is_text}}tab-selected{{/Slide.is_text}}">HTML</li>
                        <a>

                        <input id="field-slide-type" name="type" class="" style="display: none;" type="checkbox" value=true {{#Slide.is_image}}checked{{/Slide.is_image}}/>
                    
                    </ul>

                    <div class="field-group fltlft">
                    
                    
                    <div id="slide-image-picker-wrapper" class="fltlft" style="{{^Slide.is_image}}display: none;{{/Slide.is_image}}">
                         <a href="javascript:void(0);" class="slide-image-picker-add-button-a" onclick="PhotoUploader.initPhotoUpload(Layout.saveSlideImage, {{Slide.pixel_width}}, {{Slide.pixel_height}}); return false;">
                             <span class="slide-image-picker-add-button" style="background: url('{{Slide.image.large}}') no-repeat center center; background-size: contain;">&nbsp;
                             <span class="icon-aperture"></span>
                            </span>
                         </a>
                         <small class="yellow-hint-text">Click photo to upload</small>
                    <br />
                    </div>

                    <div id="slide-html-input-wrapper" class="fltlft" style="{{^Slide.is_text}}display: none;{{/Slide.is_text}}">

                    <textarea id="field-slide-text" name="text" class="" cols="35" maxlength="1200" onchange="" >{{Slide.text}}</textarea>
                    
                    </div>

                    </div>



                    <div class="clearfloat">&nbsp;</div>
                    <br />

                    <div class="field-group fltlft">

                    
                    <div class="fltlft">
                    <small class="text-input-label">HREF</small>
                    <input id="field-slide-href" name="href" class="" type="text" size="50" maxlength="200" placeholder="http://" onchange="" value="{{Slide.href}}" />
                    <br />
                    </div>

                   <div class="fltlft">
                    <label class="field-label" for="field-href-target" >
                    &nbsp;&nbsp;
                    <input id="field-href-target" name="target" class="" type="checkbox" value=true {{#Slide.open_in_new_window}}checked{{/Slide.open_in_new_window}}/>
                    Opens in new window
                    </label>
                    </div>

                  


                    </div>





  
        </p>

        <div class="clearfloat">&nbsp;</div>

        
        </form>
        <br />
        <div class="dotted-blue-hor-line">&nbsp;</div>
        <br /><br />

        &nbsp;&nbsp;                        

        <a href="javascript:void(0);" id="save-button" class="blue-button large" onclick="Layout.saveSlide({{Slide.id}});" > {{meta.buttonLabel}} <span class="icon-checkmark-2">&nbsp;</span></a>

        <br /><br /><br/>
    
</div>



