
<div id="layout-tile-dialog-box" class="alert-box picker-dialog-box">
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>

        <h2 class="bubble-title">{{title}}</h2>
        <div class="tiny-yellow-text">{{description}}</div>
        <br/>
        <div class="dotted-yellow-hor-line tiny-yellow-arrow-down">&nbsp;</div>
        <p class="bubble-text">
        <form name="edit-layout-tile-form" id="edit-layout-tile-form"  method="POST" action="#">

                    <div class="field-group fltlft" id="tile-dims-wrapper" >
                    
                    Width: 
                    <select id="select-pixel-width" class="select-control-1" name="pixel-width" tip="Please choose" size="1"  >

                        {{#width}}
                        <option value={{value}} {{selected}}>{{label}}</option>
                        {{/width}}

                    </select>
                    
                    <br /><br />

                    Height: 
                    <select id="select-pixel-height" class="select-control-1" name="pixel-height" tip="Please choose" size="1"  >
                        {{#height}}
                        <option value={{value}} {{selected}}>{{label}}</option>
                        {{/height}}
                    </select>
                    
                    <br />

                    </div>

  
        </form>


        </p>

        <div class="clearfloat">&nbsp;</div>
        <div class="dotted-blue-hor-line">&nbsp;</div>
        <br />

        <a href="javascript:void(0);" id="save-button" class="blue-button large" > {{buttonLabel}} <span class="icon-checkmark-2">&nbsp;</span></a>


        <br/><br /><br />
    
</div>



