<div class="alert-box layout-dialog-box">
    <a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>

        <h2 class="bubble-title">{{meta.title}} ({{Layout.Store.title}})</h2>
        <p class="bubble-text">



                    <div class="clearfloat">&nbsp;</div>

                    <div class="field-group fltlft" id="new-tile-wrapper">
                        <a class="new-layout-tile-button" href="javascript:void(0);" onclick="Layout.newTile();">

                               <div class="text-header3">new tile</div>
                               <div class="icon-new tile-icon-large"></div>
                        </a>
                    </div>

                    <div class="field-group fltlft" id="sort-order-tool-wrapper">
                           <a href="javascript:void(0);" id="save-sort-order-button" class="blue-button large fltlft" onclick="Layout.saveSortable();" >save new sort order<span class="icon-grid">&nbsp;</span></a>
                    </div>

                    <ul class="field-group fltlft" id="layout-tile-grid-wrapper">

                        {{#Layout.Tiles}}
                        <li class="layout-tile" id="layout-tile-{{id}}" sort_id={{id}} style="width: {{adjusted_pixel_width}}px; height: {{pixel_height}}px;">
                        
                        <div class="tile-content-wrapper" style="width: {{adjusted_pixel_width}}px; height: {{pixel_height}}px;">
                        <ul class="slide-strip" style="width: {{slide_strip_pixel_width}}px; height: {{pixel_height}}px;">
                            {{#Slides}}

                            {{#is_image}}
                            <li class="slide" style="background: url('{{image.large}}') no-repeat center center; background-size: cover; width: {{adjusted_pixel_width}}px; height: {{pixel_height}}px;" >
                            &nbsp;
                            </li>
                            {{/is_image}}
                            {{#is_text}}
                            <li class="slide" style="width: {{adjusted_pixel_width}}px; height: {{pixel_height}}px;" >
                            {{{text}}}
                            </li>
                            {{/is_text}}

                            {{/Slides}}
                        </ul>
                        </div>

                        <div class="layout-tile-tool-box">
                        <a class="circular-button" href="javascript:void(0);" onclick="Layout.editTile({{id}})">
                        <span class="tile-edit-button icon-pencil-2"></span>
                        </a>

                        <a class="circular-button" href="javascript:void(0);" onclick="Layout.deleteTile({{id}})">
                        <span class="tile-delete-button icon-trash-stroke"></span>
                        </a>

                        <span class="drag-handle icon-move"></span>
                        </div>
                        
                        <div class="layout-tile-dashboard-wrapper">
                        <ul class="layout-tile-dashboard">

                              {{^noSlides}}
                              <a class="circular-button" href="javascript:void(0);" onclick="Layout.prevSlide({{id}})">
                              <li><span class="icon-arrow-9"></span><br /><span class="button-label">Prev</span></li>
                              </a>

                              <a class="circular-button" href="javascript:void(0);" onclick="Layout.editSlide({{id}})">
                              <li><span class="icon-pencil-2"></span><br />Edit</li>
                              </a>
                              {{/noSlides}}


                              <a class="circular-button" href="javascript:void(0);" onclick="Layout.newSlide({{id}})">
                              <li><span class="icon-plus-2"></span><br /><span class="button-label">New</span></li>
                              </a>
                              
                              {{^noSlides}}
                              <a class="circular-button" href="javascript:void(0);" onclick="Layout.deleteSlide({{id}})">
                              <li><span class="icon-trash-fill"></span><br />Delete</li>
                              </a>
 
                              <a class="circular-button" href="javascript:void(0);" onclick="Layout.nextSlide({{id}})">
                              <li><span class="icon-arrow-6"></span><br /><span class="button-label">Next</span></li>
                              </a>
                              {{/noSlides}}



                        </ul>
                        </div>

                        </li>
                        {{/Layout.Tiles}}

                    </ul>

       </p>


</div>