
<div class="alert-box grp-dialog-box" id="my-account-dialog-box" >
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>

        <h2 class="bubble-title">{{meta.title}}</h2>

        <form name="edit-my-account-form" id="edit-my-account-form"  method="POST" action="#">
        <p class="bubble-text">



                    <div class="clearfloat">&nbsp;</div>

                    <div class="field-group fltlft" id="profile-info-wrapper">

                    <div id="display-picture-image-picker-wrapper" class="fltlft">
                         <small class="text-input-label">Display Picture</small> 
                         <a href="javascript:void(0);" class="display-picture-image-picker-button-a" onclick="PhotoUploader.initPhotoUpload(MyAccount.saveDisplayPicture, 200, 200); return false;">
                             <span class="display-picture-image-picker-button" style="background: url('{{Profile.DisplayPicture.large}}') no-repeat center center; background-size: contain;">&nbsp;
                             <span class="icon-aperture"></span>
                            </span>
                         </a>
                         <small class="yellow-hint-text">Click photo to upload</small>
                         
                    <br />
                    </div>

                    <div class="fltlft" >
                    <small class="text-input-label">First Name</small>
                    <input id="account-field-first-name" name="fname" require="name" class="" type="text" size="28" maxlength="200" placeholder="First Name..." onchange="" value="{{Profile.fname}}" tip="Please enter your first name. <small>Use only A-Z, a-z, 0-9, spaces, dots, commas or dashes!</small>" />
                    <br />

                    <small class="text-input-label">Last Name</small>
                    <input id="account-field-last-name" name="lname" require="name" class="" type="text" size="28" maxlength="200" placeholder="Last Name..." onchange="" value="{{Profile.lname}}" tip="Please enter your last name. <small>Use only A-Z, a-z, 0-9, spaces, dots, commas or dashes!</small>" />
                    <br /><br />


                    <div class="dotted-blue-hor-line">&nbsp;</div>
                    <br />

                    <small class="text-input-label">Email Address</small>
                    <input id="account-field-email" name="email" require="email" class="" type="text" size="28" maxlength="200" placeholder="Email..." onchange="" value="{{Profile.email}}" tip="Please enter your email address. <small>Use only A-Z, a-z, 0-9, spaces, dots, commas or dashes!</small>" />
                    <br />

                    <small class="text-input-label">Telephone</small>
                    <input id="account-field-phone" name="phone" require="phone" class="" type="text" size="28" maxlength="200" placeholder="Phone" onchange="" value="{{Profile.telephone}}" tip="Please enter your phone number. <small>Use only digits (0-9). Number must be at least 6 digits long and may start with a (+).</small>" />
                    <br /><br />
                    </div>

                    </div>


                    <div class="clearfloat">&nbsp;</div>
                    <br />
                    
                    <div class="fltlft">
                    <label for="account-field-set-password" >
                    &nbsp;&nbsp;
                    <input id="account-field-set-password" name="set-password" class="" type="checkbox" value=true onchange="MyAccount.togglePasswordTool(this);" />
                    Change Password
                    </label>
                    </div>


                    <div class="field-group fltlft" id="password-tool-wrapper">

                    <div class="fltlft">
                    <small class="text-input-label">New Pasword</small>
                    <input id="account-field-password" name="password" class="" type="password" require="password" size="25" maxlength="200" onchange="" value="" tip='Please enter a new password. <small>Must be at least 8 characters long, and contain 1 uppercase letter and a number. <br/>- OR -<br/> Use a pass-phrase instead. For example: "I love bvlgari".</small>' />
                    
                    <br/>
                        <ul class="password-strength-meter fltrt" id="account-field-password-meter">
                            <li class="password-strength-poor password-strength-weak password-strength-good password-strength-excellent">&nbsp;</li>
                            <li class="password-strength-weak password-strength-good password-strength-excellent">&nbsp;</li>
                            <li class="password-strength-good password-strength-excellent">&nbsp;</li>
                            <li class="password-strength-excellent">&nbsp;</li>
                        </ul>
                    <br/>
                    </div>

                    

                    <div class="fltlft">
                    <small class="text-input-label">Confirm Pasword</small>
                    <input id="account-field-confirm-password" name="confirm-password" class="" type="password" require="password-confirm" size="25" maxlength="200" onchange="" value="" tip="Please re-type password (must be the same as the first)." />
                    
                    
                    </div>

                    </div>

  
        </p>

        </form>

        <div class="clearfloat">&nbsp;</div>
        <br /><br />

        &nbsp;&nbsp;                        

        <a href="javascript:void(0);" id="my-account-save-button" class="save-button blue-button large" onclick="MyAccount.saveProfile({{Profile.id}});" > {{meta.buttonLabel}} <span class="icon-checkmark-2">&nbsp;</span></a>

        <br /><br /><br/>
    
</div>



