

<div class="alert-box order-expanded-view-box">
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>

        <div class="order-details-wrapper">
        <div class="order-details-inner-wrapper">
        <table width="750" border="0" cellspacing="0px" cellpadding="0px" class="table-1" >
          <tr>
            <td><h1>{{Order.store.title}}</h1></td>
            <td>&nbsp;</td>
            <td align="right">
            <div class=" field-group">

            <h3 class="order-num fltrt"><span class="order-status-indicator user-status {{Order.status}}"></span>&nbsp;&nbsp;Order #{{Order.order_num}}</h3>
            
                   <select id="order-status-control" class="fltrt" onchange="Orders.setOrderStatus(this, {{Order.id}});">
                       <option value="pending" {{#Order.status_flag.pending}}selected{{/Order.status_flag.pending}}>Pending</option>
                       <option value="shipped" {{#Order.status_flag.shipped}}selected{{/Order.status_flag.shipped}} >Shipped</option>
                       <option value="delivered" {{#Order.status_flag.delivered}}selected{{/Order.status_flag.delivered}} >Delivered</option>
                       <option value="cancelled" {{#Order.status_flag.cancelled}}selected{{/Order.status_flag.cancelled}} >Cancelled</option>
                   </select>
           
           </div>
            </td>
          </tr>
        </table>


        <p></p>

        <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-2" >
          <tr>
            <td >

            <strong>Customer</strong>
            <p>
            <span class="icon-user-5"></span> {{Order.customer.name}}<br />
            <span class="icon-mobile-3"></span> {{Order.customer.phone}}<br />
            <span class="icon-mail"></span> {{Order.customer.email}}
            </p>
            </td>
            <td >

            <strong>Shipping Address</strong>
            <p>
            {{Order.shipping_address.name}},<br />
            {{Order.shipping_address.street}}<br />
            {{Order.shipping_address.suburb}} {{Order.shipping_address.city}}<br />
            {{Order.shipping_address.province}}{{Order.shipping_address.country}}
            
            </p>
            </td>
            <td class="last-child">

            <strong>Payment</strong>
            <p>
            Amount: {{Order.grand_total}}<br />
            Status: {{Order.payment_status}}
            </p>
            </td>
          </tr>
        </table>

        <div class="quick-info-bar">
            <span class="icon-basket">&nbsp;{{Order.quantity}} items</span>
            &nbsp;&nbsp;
            <span class="icon-calendar-2">&nbsp;ordered at {{Order.order_date}}</span>
            &nbsp;&nbsp;
            <span class="icon-flight">&nbsp;{{Order.shipping.description}}</span>
        </div>

        <p>
            <span class="payment-status fltrt {{Order.payment_status}}">{{Order.payment_status}}</span>
            <br style="clear: both" />
        </p>

        <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-3" >
          <tr>
            <th scope="col" class="th-item">Item</th>
            <th scope="col" class="th-price">Price</th>
            <th scope="col" class="th-quantity">Quantity</th>
            <th scope="col" class="th-total">Total</th>
          </tr>

          {{#Order.items}}
          <tr>
            <td align="left" class="td-item">{{item_name}} - {{item_description}}</td>
            <td align="left">{{{Order.currency.symbol}}}{{original_price}}</td>
            <td align="center">{{quantity}}</td>
            <td align="right">{{{Order.currency.symbol}}}{{original_subtotal}} {{Order.currency.code}}</td>
          </tr>
          {{/Order.items}}
        </table>

        <br />

        <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-4" >


          {{#Order.discounts}}
          <tr>
            <td>{{description}}:</td>
            <td>LESS {{{Order.currency.symbol}}}{{pretty_amount}} {{Order.currency.code}}</td>
          </tr>
          {{/Order.discounts}}


          {{#Order.taxes}}
          <tr>
            <td>{{description}}:</td>
            <td>{{{Order.currency.symbol}}}{{pretty_amount}} {{Order.currency.code}}</td>
          </tr>
          {{/Order.taxes}}

          <tr>
            <td class="label">Subtotal:</td>
            <td class="value">{{{Order.currency.symbol}}}{{Order.total}} {{Order.currency.code}}</td>
          </tr>

          <tr>
            <td>Shipping ({{Order.shipping.description}}):</td>
            <td>{{{Order.currency.symbol}}}{{Order.shipping.amount_before_tax}} {{Order.currency.code}}</td>
          </tr>

          {{#Order.shipping.taxes}}
          <tr>
            <td>{{description}}:</td>
            <td>{{{Order.currency.symbol}}}{{pretty_amount}} {{Order.currency.code}}</td>
          </tr>
          {{/Order.shipping.taxes}}



          <tr class="grand-total">
            <td>Total:</td>
            <td>{{{Order.currency.symbol}}}{{Order.grand_total}} {{Order.currency.code}}</td>
          </tr>
        </table>
        
        <p>&nbsp;</p>
        <h3>Payment Receipts</h3>
        
        <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-3" >
          <tr>
            <th scope="col" align="left" class="th-gateway">Payment Processor</th>
            <th scope="col" align="center" class="th-paid">Amount</th>
            <th scope="col" align="center" class="th-ref">Ref</th>
            <th scope="col" align="center" class="th-quantity">Date</th>
            <th scope="col" align="right" class="th-status">Status</th>
          </tr>

          {{#Order.receipts}}
          <tr>
            <td align="left" class="td-item">{{payment_processor}}</td>
            <td align="center">{{{Order.currency.symbol}}}{{amount}} {{Order.currency.code}}</td>
            <td align="center">{{transaction_ref}}</td>
            <td align="center">{{datetime}}</td>
            <td align="right">{{status}}</td>
          </tr>
          {{/Order.receipts}}
        </table>

        <br />
        <p>&nbsp;</p>
        </div>
        </div>



        <div class="order-dashboard-wrapper">

        <ul class="order-dashboard">

              <a class="circular-button" href="javascript:void(0);" onclick="Order.composeEmail({{Order.id}})">
              <li><span class="icon-email"></span><span class="button-label">Email</span></li>
              </a>

              <a class="circular-button" href="pdf.orders.php?id={{Order.id}}&f=0" target="_blank">
              <li><span class="icon-printer"></span><span class="button-label">Print</span></li>
              </a>


              <a class="circular-button" href="pdf.orders.php?id={{Order.id}}&f=1" target="_blank">
              <li><span class="icon-download"></span><span class="button-label">PDF</span></li>
              </a>
              
              <!--
              <a class="circular-button" href="javascript:void(0);" onclick="Order.expand({{Order.id}})">
              <li><span class="icon-out-2"></span><span class="button-label">Expand</span></li>
              </a>

              <a class="circular-button" href="javascript:void(0);" onclick="Order.selectOrder({{Order.id}})">
              <li><span class="icon-checkmark"></span><span class="button-label">Select</span></li>
              </a>
              -->

        </ul>
        </div>

</div>
