
<div class="order-tile {{Order.status}}" id="order-tile-{{Order.id}}"  data_order_id="{{Order.id}}">
        <span class="order-number"><span class="order-status-indicator user-status {{Order.status}}"></span>#{{Order.orderNum}}</span>

        <h3 class="customer-name">
        <a href="javascript:void(0);">{{Order.Customer.firstname}} {{Order.Customer.lastname}}</a>
        </h3>
        <span class="icon-mobile-3">&nbsp;{{Order.Customer.phone}}</span>
        &nbsp;&nbsp;
        <span class="icon-mail">&nbsp;{{Order.Customer.email}}</span>
        &nbsp;&nbsp;
        <br />
        <span class="icon-basket">&nbsp;{{Order.quantity}} items</span>
        &nbsp;&nbsp;
        <span class="icon-calendar-2">&nbsp;ordered {{Order.orderDate}}</span>
        &nbsp;&nbsp;
        <span class="icon-flight">&nbsp;{{Order.Shipping.description}}</span>

        <br />

        <span class="payment-status {{Order.Transaction.PaymentStatusClass}}">{{Order.Transaction.PaymentStatus}}</span>





        <div class="order-tile-dashboard-wrapper">
        <div class="order-status-control-wrapper field-group">
            <select id="order-status-control-{{Order.id}}" class="order-status-control" onchange="Orders.setOrderStatus(this, {{Order.id}});">
                       <option value="pending" {{#Order.StatusFlag.pending}}selected{{/Order.StatusFlag.pending}}>Pending</option>
                       <option value="shipped" {{#Order.StatusFlag.shipped}}selected{{/Order.StatusFlag.shipped}} >Shipped</option>
                       <option value="delivered" {{#Order.StatusFlag.delivered}}selected{{/Order.StatusFlag.delivered}} >Delivered</option>
                       <option value="cancelled" {{#Order.StatusFlag.cancelled}}selected{{/Order.StatusFlag.cancelled}} >Cancelled</option>
            </select>
        </div>

        <ul class="order-tile-dashboard">

              <a class="circular-button" href="javascript:void(0);" onclick="Order.composeEmail({{Order.id}})">
              <li><span class="icon-email"></span><span class="button-label">Email</span></li>
              </a>

              <a class="circular-button" href="javascript:void(0);" onclick="Orders.deleteOrder({{Order.id}})">
              <li><span class="icon-trash-fill"></span><span class="button-label">Delete</span></li>
              </a>


              <a class="circular-button" href="javascript:void(0);" onclick="Order.expand({{Order.id}})">
              <li><span class="icon-out-2"></span><span class="button-label">Expand</span></li>
              </a>

              <a id="order-tile-select-button" class="circular-button" href="javascript:void(0);" onclick="Orders.toggleSelection({{Order.id}})">
              <li><span class="icon-checkmark"></span><span class="button-label">Select</span></li>
              </a>

        </ul>
        </div>

</div>