
<div class="alert-box grp-dialog-box" id="order-email-dialog-box">
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>

        <h2 class="bubble-title">{{meta.title}}</h2>

                    
       
       <!--
        <div class="tiny-yellow-text">{{meta.description}}</div>
        <br/>


        <div class="dotted-yellow-hor-line tiny-yellow-arrow-down">&nbsp;</div>
        -->

        <form name="order-email-form" id="order-email-form"  method="POST" action="#">
        <p class="bubble-text">



                    <div class="clearfloat">&nbsp;</div>
                    <br />

                    <div class="field-group fltlft">

                    <div class="fltlft">
                    <small class="text-input-label">To:</small>
                    <input id="field-to" name="to" class="" type="text" size="28" maxlength="200" placeholder="Send To..." onchange="" value="" tip="Please enter an <b>email address</b>. <small></small>"  />
                    <br /><br />
                    </div>

                    <div class="fltlft">
                    <small class="text-input-label">Subject:</small>
                    <input id="field-subject" name="subject" class="" type="text" size="28" maxlength="200" placeholder="Subject..." onchange="" value="Order details for: order #{{Order.orderNum}} (PDF)" tip="Please enter a <b>subject</b> for this message. <small></small>" />
                    <br /><br />
                    </div>

                    </div>



                    <div class="clearfloat">&nbsp;</div>
                    <br />


                    <div class="field-group fltlft">

                    <div class="fltlft">
                    <small class="text-input-label">Message:</small>
                    <textarea id="field-body" name="body" class="" cols="35" rows=5 maxlength="1200" onchange="" tip="Please type a <b>message</b>. <small></small>" >Please find order details attached (as PDF).</textarea>
                    
                    <br />
                    </div> 
                    
                    <div class="fltlft pdf-filename">
                    Attachment: 
                    <span class="icon-file-pdf"> order-{{Order.orderNum}}.pdf</span>
                    </div>

                    </div>




                    <div class="clearfloat">&nbsp;</div>

  
        </p>


        </form>
        <br />
        <div class="dotted-blue-hor-line">&nbsp;</div>
        <br /><br />

        &nbsp;&nbsp;                        

        <a href="javascript:void(0);" id="sale-save-button" class="blue-button large" onclick="Order.sendEmail({{Order.id}});" > {{meta.buttonLabel}} <span class="icon-checkmark-2">&nbsp;</span></a>

        <br /><br /><br/>
    
</div>



