
<li class="editable-list-tile trashable" id="page-{{id}}"  trash_type="page-tile" data_page_id="{{id}}"  data_page_title="{{name}}" >

{{name}}

<a class="button-1 editable-list-edit-button fltrt" href="javascript:void(0)" onclick="pageWidget.editPage({{id}}); return false;" >edit</a>
<a class="button-1 editable-list-delete-button fltrt" href="javascript:void(0)" onclick="pageWidget.removePage({{id}});" >remove</a>

</li>