
 <li class="app-tile trashable table-row checklist-tile clearfix" id="app-tile-{{handle}}" trash_type="app-tile" data-app-id="{{handle}}" data-app-name="{{name}}" data-tile-id="{{handle}}" >
     <div class="dimmer">&nbsp;</div>
                    <div class="col-wide app-name">
                        {{name}}
                    </div>  
                    <div class="col-wide">
                        <span class="uni-label large">
                            <span class="left blue" title="{{name}}">@</span>
                            <span class="right grey" title="{{name}}">{{handle}}</span>
                        </span> 
                        <br />
                    
                    </div>    
                    
 <small class="tiny-status" id="app-field-status-{{handle}}">&nbsp;</small>
 <div class="icon-checkmark circular-button-2 select-app-button" >&nbsp;</div>
 <div class="icon-cancel-2 circular-button-2 remove-app-button" >&nbsp;</div>
 
 
 </li>
 
