
<div id="new-item-pane" class="pageWidgetDialog">
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>



<!-- APP PICKER WIDGET -->
{{>app-picker-widget}}






<!-- DIALOG BOX TITLE -->


<div id="product-dialog-title">
    <span class="item-name icon icon-menu-2" title="{{{Page.title}}}">{{{Page.title}}}</span>
</div>


<!-- BEGIN: BREAD CRUMBS -->

<ul id="bread-crumbs">
    
    
    <a href="javascript:void(0);" onclick="pageWidget.seekPane (0); return false;">
        <li class="active-crumb">Title and Content</li>
    </a>
    <a href="javascript:void(0);" onclick="pageWidget.seekPane (1); return false;">
        <li class="">Page Settings</li>
    </a>
    <a href="javascript:void(0);" onclick="pageWidget.seekPane (2); return false;">
        <li class="">Apps</li>
    </a>
    
</ul>





<ul id="frame-headers" class="list-justify">
        <li class="description_title" label="0"><span class="active-frame-header fltlft">Title and Content</span><span class="next-frame-header fltrt">Page Settings</span></li>
        <li class="description_title" label="1"><span class="active-frame-header fltlft">Page Settings</span><span class="next-frame-header fltrt">Apps</span></li>
        <li class="description_title" label="2"><span class="active-frame-header fltlft">Apps</span><span class="next-frame-header fltrt"><!-- Choose a Category --></span></li>
</ul>



<div id="next-prev-handles" >
    <a href="javascript:void(0);" onclick="pageWidget.prevPane(); return false;"><span id="prev-pane-button" class="next-prev-button-1 icon-arrow-left-7 fltlft">&nbsp;</span></a>
    <a href="javascript:void(0);" onclick="pageWidget.nextPane(); return false;"><span id="next-pane-button" class="next-prev-button-1 icon-arrow-right-7 fltrt">&nbsp;</span></a>

</div>









<div id="sub-pane-strip" class="strip">




<!-- SUB-PANE 1 : DESCRIPTION -->

<div class="sub-pane frame" id="frame_1">

    
    <div id="page_info_setup">


    <section id="page_info_form_wrapper">
        <form id="page_info_form" method="post" action="{{base_url}}page.api.ajax.php" onsubmit="return false;" >
            
        <div class="field-row clearfix">
                
            
        <div class="field-wrap">
        <small class="text-input-label">Page Title</small>
        
        {{#Page.Autosave}}
        <input id="page-title-field" class="text-box" name="title" type="text" size="20" maxlength="200" tinyStatus="#page-title-status" placeholder="Page Title..." value="{{{Page.Autosave.title}}}" />
        {{/Page.Autosave}}
                  
        {{^Page.Autosave}}
        <input id="page-title-field" class="text-box" name="title" type="text" size="20" maxlength="200" tinyStatus="#page-title-status" placeholder="Page Title..." value="{{{Page.title}}}" />
        {{/Page.Autosave}}
        
        <small class="tiny-status" id="page-title-status">&nbsp;</small>
        </div>
            

         <!--
         <small class="text-input-label">Page Body</small>
         <textarea id="page-body-field" class="text-box" name="body" rows=15 cols="30" tinyStatus="#page-body-status" placeholder="Page content..." onchange="pageWidget.save(this)" >{{Page.body}}</textarea>
         <small class="tiny-status" id="page-body-status">&nbsp;</small>
         -->
        <div class="field-wrap"> 
        <small class="text-input-label">Page Handle</small>
        <span class="uni-label large">
        <span class="left {{Page.Store.label_color}}" title="{{Page.Store.title}}">@</span>
        <span class="right grey status" id="page-handle-status-{{id}}-{{Page.Store.id}}">&nbsp;</span>
        <input class="right grey page-handle-field" name="page-handle" data-sync-id="page-handle-{{id}}-{{Page.Store.id}}" data-page-id="{{id}}" data-uni-label-status="#page-handle-status-{{id}}-{{Page.Store.id}}" data-store-id="{{Page.Store.id}}" type="text" value="{{Page.handle}}" />
        </span>
        </div>
         
        </div>

        <div id="rtf-editor-wrapper">
            <div class="inner-wrap quill-editor">
               <!-- Create the toolbar container -->
               <div id="toolbar">
                   <button title="Bold" class="ql-bold">B</button>
                   <button title="Italic" class="ql-italic">I</button>
                   <button title="Underline" class="ql-underline">U</button>
                   <button title="List" class="ql-list">UL</button>

                   <select title="Font" class="ql-font">
                     <option value="sans-serif" selected>Sans Serif</option>
                     <option value="Georgia, serif">Serif</option>
                     <option value="Monaco, 'Courier New', monospace">Monospace</option>
                   </select>
                   <select title="Size" class="ql-size">
                     <option value="10px">Small</option>
                     <option value="13px" selected>Normal</option>
                     <option value="18px">Large</option>
                     <option value="32px">Huge</option>
                   </select>
                   <select title="Text Color" class="ql-color">
                     <option value="rgb(255, 255, 255)">White</option>
                     <option value="rgb(0, 0, 0)" selected>Black</option>
                     <option value="rgb(255, 0, 0)">Red</option>
                     <option value="rgb(0, 0, 255)">Blue</option>
                     <option value="rgb(0, 255, 0)">Lime</option>
                     <option value="rgb(0, 128, 128)">Teal</option>
                     <option value="rgb(255, 0, 255)">Magenta</option>
                     <option value="rgb(255, 255, 0)">Yellow</option>
                   </select>

                   <a href="javascript:void(0);" class="editor-save-button" >save</a>
                   <a href="javascript:void(0);" class="editor-mode-button" ><span class="icon-clipboard"></span></a>
               </div>

               <!-- Create the editor container -->
               <div id="editor">

                 {{#Page.Autosave}}
                 {{{Page.Autosave.body}}}
                 {{/Page.Autosave}}

                 {{^Page.Autosave}}
                 {{{Page.body}}}
                 {{/Page.Autosave}}
               </div>

               <!-- Status bar -->
               <div class="rtf-editor-status-bar">
                   <span class="text"></span>
                   <span class="dot"></span>
               </div>
            </div>
        </div>
            
        <div id="code-editor-wrapper">
            <div class="inner-wrap"></div>
        </div>
         
        </form>
    </section>
        

    
    </div>
    
    
    

    <div id="page-settings-wrapper">

        <h2 class=" section-header-1">Page Settings</h2>


    </div>
    
    
    

</div>






<!-- SUB-PANE 2 : PAGE SETTINGS -->

<div class="sub-pane frame" id="frame_2">

    <section id="page-template">
        
            <br />
            <small class="text-input-label">Page Template</small>    
            <div id="template-chooser-wrap">
                <select id="select-page-template" name="page-template" tinyStatus="#page-template-status" onchange="pageWidget.save(this)">
                <option value="0">Choose a template...</option>
                {{#Theme.page_templates}}
                <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                {{/Theme.page_templates}}
                </select>
            <small class="tiny-status select-status" id="page-template-status">&nbsp;</small>
                
            </div>
    </section>
    
    
</div>






<!-- SUB-PANE 3 : APPS -->

<div class="sub-pane frame" id="frame_3">

    <section id="page-apps">
        {{>page-app-list}}    
    </section>
    
    
</div>






</div> <!-- END: #SUB_PANE_STRIP -->

        
</div> <!-- END: #NEW_ITEM_PANE -->


