
 <ul id="apps-wrapper">
                
 <li id="app-list-task-bar-wrapper" class="clearfix">
     <div id="app-list-task-bar">
        <a class="circular-button select-all-apps-button fltlft" href="javascript:void(0);">
         <span class="icon-checkmark"></span><span class="button-label">Select All</span>
         </a>

         <a class="circular-button remove-selected-apps-button fltlft" href="javascript:void(0);">
         <span class="icon-trash-fill"></span><span class="button-label">Remove</span>
         </a>

     </div> 
     
    <a href="javascript:void(0);" id="app-add-button" class="icon-plus-alt">add app</a>
 </li>
 
 <li class="table-header">
                    <div class="col-wide">App Name</div>  
                    <div class="col-wide">@Handle</div>    
 </li>

 <section class="scrollable-list-container" id="apps-checklist-container">
 {{#Page.AppList}}
    {{>page-app-list-item}}
 {{/Page.AppList}}
 
 </section>
 
 
 </ul>
 
 
