
<div image_src_l="{{hrefs.large}}" image_id="{{id}}" id="base_img2_{{id}}"  class="product-photo-widget-thumb-button trashable primary-product-image-candidate" trash_type="base-image" style="" >

    <div class="inner-wrap" style="background-image:url({{hrefs.thumb}});"  >



        <div class="thumb-dashboard-wrapper">
            <ul class="thumb-dashboard">


                <a class="circular-button" href="javascript:void(0);" onclick="productWidget.deleteImage({{id}})">
                <li><span class="icon-cancel-3"></span><br /><span class="button-label">{{!Delete}}</span></li>
                </a>


            </ul>

            <div class="clear-button" onclick="productWidget.setPrimaryBaseImage({{id}})">&nbsp;</div>
        </div>

    </div>

</div>