

<!-- PRODUCT PHOTO WIDGET -->

<div id="product-photo-widget-wrapper" class="glass-pane" display="none">
        <div class="clear-button cancel-button" >&nbsp;</div>
        
        <div class="inner-wrap">
            <span class="bubble-arrow">&nbsp;</span>
            
            <a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">close photo widget</span></a>
            <div id="photo-widget-drop-label" >
                   Drop picture here to add it...
                   <div class="icon-upload-3 tile-icon-large"></div>
            </div>
            <div id="photo-widget-uploader" class="droppable-uploader-area" data-target="product" data-id="{{id}}" data-set-primary="no" >
                   
            </div>
            
            <div id="product-photo-widget-thumbs" class="clearfix">

                
            {{ #images }}
            <div image_src_l="{{hrefs.large}}" image_id="{{id}}" id="base_img2_{{id}}"  class="product-photo-widget-thumb-button trashable primary-product-image-candidate" trash_type="base-image" style="" >
                
                <div class="inner-wrap" style="background-image:url({{hrefs.thumb}});"  >
                
                

                    <div class="thumb-dashboard-wrapper">
                        <ul class="thumb-dashboard">


                            <a class="circular-button" href="javascript:void(0);" onclick="productWidget.deleteImage({{id}})">
                            <li><span class="icon-cancel-3"></span><br /><span class="button-label">{{!Delete}}</span></li>
                            </a>


                        </ul>
                        
                        <div class="clear-button" onclick="productWidget.setPrimaryBaseImage({{id}})">&nbsp;</div>
                    </div>
                    
                </div>
            
            </div>
            {{ /images }}
            
            
                
                
            <a class="product-photo-widget-thumb-add-button-a dropper-upload-button" href="javascript:void(0);" onclick="PhotoUploader.initPhotoUpload(productWidget.saveBaseImage, 400, 600); return false;" >
            <div class="product-photo-widget-thumb-button add-button" >
             
                   <div class="text-header3">upload</div>
                   <div class="icon-upload-3 tile-icon-medium"></div>
            </div>
            </a>
                
            
            </div>
        </div> 
    </div>









