        <li image_src_l="{{hrefs.large}}" image_id="{{id}}" id="base_img_{{id}}" class="base-image-picker-thumb-button  trashable primary-product-image-candidate" trash_type="base-image" style="background-image:url({{hrefs.thumb}}); display:{{hide}};" >
                <a class="circular-button quick-remove-button" href="javascript:void(0);" onclick="productWidget.deleteImage({{id}})">
                <div class="icon-cancel-3"></div>
                </a>
        </li>