
<div id="new-item-pane" class="productWidgetSlider">
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>

<!-- RECYCLE BIN (DROPPABLE) -->
<div id="recycle-bin-wrapper">
<div id="recycle-bin">

&nbsp;

</div>
    
</div>



<!-- PRODUCT PHOTO WIDGET -->
{{>product-photo-widget}}










<!-- DIALOG BOX TITLE -->

<div id="product-dialog-title">
    <span class="item-name icon icon-menu-2" title="{{{title}}}">{{{short_title}}}</span>
</div>

<!-- BEGIN: BREAD CRUMBS -->

<ul id="bread-crumbs">
    <a href="javascript:void(0);" onclick="productWidget.seekPane (0); return false;">
        <li class="active-crumb">Description</li>
    </a>
    
    <!--
    <a href="javascript:void(0);" onclick="productWidget.seekPane (1); return false;">
    <li>Stores</li>
    </a>    
    -->
    
    <a href="javascript:void(0);" onclick="productWidget.seekPane (1); return false;">
    <li>Categories</li>
    </a>
    
    <a href="javascript:void(0);" onclick="productWidget.seekPane (2); return false;">
    <li>Product Options</li>
    </a>
    

    <a href="javascript:void(0);" onclick="productWidget.seekPane (3); return false;">
    <li>Group</li>
    </a>
</ul>





<ul id="frame-headers" class="list-justify">
        <li class="description_title" label="0"><span class="active-frame-header fltlft">Name and Description</span><span class="next-frame-header fltrt">Choose a Category</span></li>
        
        <!-- <li class="description_title" label="2"><span class="active-frame-header fltlft">Choose a Store</span><span class="next-frame-header fltrt">Product Options</span></li> -->
        
        <li class="description_title" label="1"><span class="active-frame-header fltlft">Choose a Category</span><span class="next-frame-header fltrt">Product Options</span></li>
        
        <li class="description_title" label="2"><span class="active-frame-header fltlft">Product Options</span><span class="next-frame-header fltrt">Product Group (you may also like)</span></li>
        <li class="description_title" label="3"><span class="active-frame-header fltlft">Product Group (you may also like)</span><span class="next-frame-header fltrt"></span></li>
</ul>



<div id="next-prev-handles" >
    <a href="javascript:void(0);" onclick="productWidget.prevPane(); return false;"><span id="prev-pane-button" class="next-prev-button-1 icon-arrow-left-7 fltlft">&nbsp;</span></a>
    <a href="javascript:void(0);" onclick="productWidget.nextPane(); return false;"><span id="next-pane-button" class="next-prev-button-1 icon-arrow-right-7 fltrt">&nbsp;</span></a>

</div>




<div id="sub-pane-strip" class="frame-strip strip">




<!-- SUB-PANE 1 : DESCRIPTION -->

<div class="sub-pane frame" id="frame_1">

    
    <div id="product_info_setup">


    <section id="product_info_form_wrapper">
        <form id="product_info_form" method="post" action="{{base_url}}save_product_info.ajax.php" onsubmit="return false;" >
        <small class="text-input-label">Title</small>
        <input id="product-name-field" name="title" type="text" size="30" maxlength="200" tinyStatus="#item-name-status" placeholder="Item Name..." value="{{{title}}}" />
         <small class="tiny-status" id="item-name-status">&nbsp;</small>

         <!--
         <small class="text-input-label">Description</small>
         <textarea id="item_description" name="description" rows=15 cols="30" tinyStatus="#item-description-status" placeholder="Description..." onchange="productWidget.saveDescription(this)" >{{{description}}}</textarea>
         <small class="tiny-status" id="item-description-status">&nbsp;</small>
         -->
        <small class="text-input-label">Description</small>
        <div id="rtf-editor-wrapper">
             <div class="inner-wrap quill-editor">
                <!-- Create the toolbar container -->
                <div id="toolbar">
                    <button title="Bold" class="ql-bold">B</button>
                    <button title="Italic" class="ql-italic">I</button>
                    <button title="Underline" class="ql-underline">U</button>
                    <button title="List" class="ql-bullet">UL</button>

                    <select title="Size" class="ql-size">
                      <option value="10px">Small</option>
                      <option value="13px" selected>Normal</option>
                      <option value="18px">Large</option>
                      <option value="32px">Huge</option>
                    </select>
                    
                    <a href="javascript:void(0);" class="editor-save-button" >save</a>
                </div>

                <!-- Create the editor container -->
                <div id="editor">
                  {{{description}}}
                </div>
                
                <!-- Status bar -->
                <div class="rtf-editor-status-bar">
                    <span class="text"></span>
                    
                    <span class="dot"></span>
                </div>
             </div>
        </div>
         
        </form>
    </section>
        

    
    </div>
    
    
    <div id="base-image-preview-wrapper">

        <h2 class=" section-header-1">Product Photos</h2>


        <div class="mini-status" id="base-image-preview-status">Saving...</div>
        <div id="base-image-preview" style="background:url('{{primary_image.hrefs.large}}') no-repeat; background-size: contain; background-position: center center;" bg_src_cache="" active_image_button="base_img_{{primary_image.id}}" >
        &nbsp;
        
        <a class="circular-button quick-remove-button" style="{{^hide_drop_label}}display:none;{{/hide_drop_label}}" href="javascript:void(0);" onclick="productWidget.removePrimaryBaseImage({{id}})">
        <div class="icon-cancel-3"></div>
        </a>
        
        <div id="base-image-drop-label" style="{{#hide_drop_label}}display:none;{{/hide_drop_label}}" >Drop picture here to replace this one...</div>
        <div id="base-image-uploader" class="droppable-uploader-area" data-target="product" data-id="{{id}}" data-set-primary="yes" ></div>
        </div>


        <section id="base-image-picker-outer-wrapper">

        <a href="javascript:void(0);" class="base-image-picker-add-button-a" ><div class="base-image-picker-add-button">&nbsp;</div></a>
         <ul id="base-image-picker-wrapper">

        
        {{ #images }}
        {{>product-base-image-picker-thumb}}
        {{ /images }}

        </ul>
          
        
        </section>
    </div>
    
    
    
    

</div>







<!-- SUB-PANE 2: STORES 

<div class="sub-pane frame" id="frame_2">


<ul id="store_picker_tiles" class="picker-tiles">

        
    {{#stores}}
    <a href="javascript:void(0);" class="picker-tile-link{{#in_store}} picker-tile-select-state{{/in_store}}" onClick="return productWidget.togglePickerTile(this);" data_id="{{id}}" data_type="store">
    <li id="store-tile-{{id}}" class="picker-tile">
    <h2 class="picker-tile-label" icon="tag">{{title}}</h2>
    </li>  
    </a>
    {{/stores}}


</ul>


</div>


-->



<!-- SUB-PANE 3: CATEGORIES -->

<div class="sub-pane frame" id="frame_3">


<ul id="tag_tiles" class="picker-tiles">

        
    {{#tags}}
    {{^is_root}}
    <a href="javascript:void(0);" class="picker-tile-link{{#in_category}} picker-tile-select-state{{/in_category}} {{Store.label_color}}" onClick="return productWidget.togglePickerTile(this);" data_id="{{id}}" data_type="category" >
    <li id="tag-tile-{{id}}" class="picker-tile">
    <h2 class="picker-tile-label" icon="tag">{{title}}</h2>
    
    </li>  
    </a>
    {{/is_root}}
    {{/tags}}


</ul>


</div>



<!-- SUB-PANE 4: PRODUCT OPTIONS / VARIANTS -->

 <div class="sub-pane frame" id="frame-4">
 
 {{>product-option-list}}
 
 </div> 
 
 <!-- END: SUB-PANE 4: AVAILABLE SIZES -->
 
 
 







<!-- SUB-PANE 5: PRODUCT GROUP -->

<div class="sub-pane frame" id="frame-5">

    <div class="search-field-wrapper">
        <small class="text-input-label">Add a product...</small>
        <a class="search-icon-inset icon-search-2" onclick='return false;'></a>
        <input class="quick-search-term" type="text" size="30" maxlength="200" tinyStatus="#void" value=""  placeholder="Type here to start a search." />
    </div>


    <div class="product-group-menu-wrapper">
        <ul class="product-group-menu">
        </ul>
    </div>


    <div class="group-member-items-wrapper">
        <ul class="editable-list group-member-items">
        {{#product_group}}
            <li class="editable-list-tile product-group-member-tile trashable" id="member-product-{{id}}"  trash_type="product-group-member-tile" data_product_id="{{id}}" data_title="{{title}}">
            <span class="user-dp tiny fltlft" ><img src="{{primary_image.hrefs.thumb}}"/></span><span class="item-name">{{title}}</span><span class="reference-code">{{reference_code}}</span>
            <a class="button-1 editable-list-delete-button fltrt" href="javascript:void(0)" onclick="productWidget.removeFromProductGroup({{id}});" >remove</a>
            </li>
        {{/product_group}}
        </ul>
    </div>


</div> <!-- END: SUB-PANE 5: PRODUCT GROUP -->




</div> <!-- END: #SUB_PANE_STRIP -->

        
</div> <!-- END: #NEW_ITEM_PANE -->


