

<!-- SUB-PANE 5: PRODUCT PRICING -->

<div class="sub-pane" id="frame-5">

    <ul id="product-pricing-wrapper">
        

        <li class="table-header">
           Pricing 
           
           <select id="select-pricing-mode" name="pricing_by" tinyStatus=""  onchange="productWidget.refreshPricesAndStock();">
               {{#pricingOptions}}
               <option {{selected}} value="{{value}}">{{label}}</option>
               {{/pricingOptions}}
               
               
              
           </select>
           
        </li>


        
        
<!-- FLAT PRICING -->

{{#flatPricing}}
                <li class="table-header">
                    <div class="col-wide">&nbsp;</div>  
                    <div class="col-wide">&nbsp;</div>  
                    
                    
       
                {{#stores}}
                    <div class="col-narrow">{{title}} <span class="store-currency-symbol">{{{currency.symbol}}}</span></div> 
                {{/stores}}
                </li>
                <li class="table-row">
                    <div class="col-wide">&nbsp;</div> 
                    <div class="col-wide">&nbsp;</div>  

                {{#basePrices}}
                    <div class="col-narrow">
                        <span class="text-input-label-2">{{{store.currency.symbol}}}</span>
                        <input class="text-field-2" data_option_id="0" data_store_id="{{store.id}}" type="text" size="10" value="{{value}}"  onchange="productWidget.setOptionPrice(this);"  onkeypress="return validateFloatEntry(event, this);" onkeyup="return revalidateFloatEntry(event, this);"/>
                    </div> 
                {{/basePrices}}
                </li>  
                

                
{{/flatPricing}}










<!-- PRICING BY PRODUCT OPTION -->
{{#pricingByOption}}

                <li class="table-header">

                    {{#attributes}}
                    <div class="col-wide">{{label}}</div>  
                    {{/attributes}}
                    
                    {{#stores}}
                    <div class="col-narrow">{{title}} <span class="store-currency-symbol">{{{currency.symbol}}}</span></div> 
                    {{/stores}}
                
                
                </li>
                
<section class="scrollable-list-container">

                {{#options}}
                        <li class="table-row">

                            {{#attributes}}
                            <div class="col-narrow static-attribute-field-{{id}}">{{value}}</div>  
                            {{/attributes}}
                            
                            {{#prices}}
                            <div class="col-narrow">
                                <span class="text-input-label-2">{{{store.currency.symbol}}}</span>
                                <input class="text-field-2" data_option_id="0" data_store_id="{{store.id}}" type="text" size="10" value="{{value}}"  onchange="productWidget.setOptionPrice(this);"  onkeypress="return validateFloatEntry(event, this);" onkeyup="return revalidateFloatEntry(event, this);"/>
                            </div> 
                            {{/prices}}
                        
                        </li> 
                {{/options}}  
                
                
</section> <!-- END SCROLLABLE LIST -->
                

{{/pricingByOption}}






                <li class="save-button-row">
                    <div class="dotted-blue-hor-line"></div>
                    <br/>
                    <a class="button-2" href="javascript:void(0);" onClick="productWidget.saveProductOptionPrices(); return false;" >
                        save prices
                    </a>
                </li>

    </ul>



</div> <!-- END: SUB-PANE 5: PRODUCT PRICING -->




<!-- SUB-PANE 6: PRODUCT STOCK -->

<div class="sub-pane" id="frame-6">


<ul id="product-stock-wrapper" >


    <li class="table-header">

        <div class="col-narrow">CODE</div>

        {{#attributes}}
        <div class="col-narrow">{{label}}</div>
        {{/attributes}}

        {{#stores}}
        <div class="col-narrow">{{title}}</div> 
        {{/stores}}

    </li> 


<section class="scrollable-list-container">

    {{#options}}
            <li class="table-row">
                <div class="col-narrow">
                <input class="reference-code-entry-field text-field-2" id="reference-code-field-{{id}}" tinyStatus="#reference-code-field-status-{{id}}" type="text" name="option-reference-code" data_option_id="{{id}}" value="{{referenceCode}}" onchange="productWidget.saveOptionReferenceCode(this)" size="10" />
                <small class="tiny-status" id="reference-code-field-status-{{id}}">&nbsp;</small>
                </div>  
                

                {{#attributes}}
                <div class="col-narrow">{{value}}</div>
                {{/attributes}} 

                {{#stock}}
                <div class="col-narrow">
                    <input class="text-field-2" data_option_id="{{optionId}}" data_store_id="{{store.id}}" type="text" size="10" value="{{value}}"  onblur="productWidget.setOptionStock(this);" />
                </div> 
                {{/stock}}

            </li> 
    {{/options}}  


</section> <!-- END SCROLLABLE LIST -->
        
        
        
        
<li class="save-button-row">
    <div class="dotted-blue-hor-line"></div>
    <br/>
    <a class="button-2" href="javascript:void(0);" onClick="productWidget.updateProductStock(); return false;" >
        update product stock
    </a>
</li>


</ul>




</div> <!-- END: SUB-PANE 6: PRODUCT STOCK -->



