<div id="product-tile-{{id}}" class="product-tile-wrapper numbered {{#stock_low}}low-stock{{/stock_low}} {{#stock_out}}out-of-stock{{/stock_out}} {{#is_featured}}featured{{/is_featured}}" item_number="{{index}}" data-featured="{{#is_featured}}1{{/is_featured}}{{^is_featured}}0{{/is_featured}}" data_product_id="{{id}}" data-tile-id="{{id}}" >
   <div class="product-thumb-wrapper"><img src="{{primary_image.hrefs.thumb}}" width="150" alt=""></div>
   <div class="product-tile-dashboard-wrapper">
      <div class="header" title="{{title}}">{{short_title}}</div>
      <div class="text1 reference-code">{{referenceCode}}&nbsp;</div>
      <span class="featured-icon icon-star-3"></span>

      <a class="show-product-stats-button" href="javascript:void(0);" onclick="Chart.showProductStats(0, {{id}})">
      <ul class="info-charms">
          <li class="icon-heart">{{favourites}}</li>
          <li class="icon-star-4">{{views}}</li>
          <li class="icon-basket">{{sold}}</li>
      </ul>
      </a>

      <ul class="product-tile-dashboard">


            <a class="circular-button edit-button"  href="javascript:void(0);" >
            <li><span class="icon-pencil-2"></span><span class="button-label">Edit</span></li>
            </a>

            <a class="circular-button delete-button" href="javascript:void(0);" >
            <li><span class="icon-trash-fill"></span><span class="button-label">Delete</span></li>
            </a>

            {{#hidden}}
            <a class="circular-button toggle-visibility-button" id="product-hide-button" data-hidden=1  href="javascript:void(0);" >
            <li><span class="hide-icon icon-minus-5"></span><span class="button-label">Hide</span></li>
            </a>

            {{/hidden}}
            {{^hidden}}

            <a class="circular-button toggle-visibility-button" id="product-show-button" data-hidden=0  href="javascript:void(0);" >
            <li><span class="hide-icon icon-eye-4"></span><span class="button-label">Show</span></li>
            </a>

            {{/hidden}}

            <a id="product-tile-select-button" class="circular-button select-button">
            <li><span class="icon-checkmark"></span><span class="button-label">Select</span></li>
            </a>
          


      </ul>
   </div>
</div>   
