
 <ul id="product-options-wrapper">
                
 <li id="product-option-task-bar-wrapper" class="clearfix">
     <div id="product-option-task-bar">
        <a class="circular-button select-all-product-options-button fltlft" href="javascript:void(0);">
         <span class="icon-checkmark"></span><span class="button-label">Select All</span>
         </a>

         <a class="circular-button delete-selected-product-options-button fltlft" href="javascript:void(0);">
         <span class="icon-trash-fill"></span><span class="button-label">Delete</span>
         </a>

         <a class="circular-button edit-selected-product-options-button fltlft" href="javascript:void(0);" >
         <span class="icon-pencil-2"></span><span class="button-label">Edit</span>
         </a>

     </div> 
     
    <a href="javascript:void(0);" id="product-option-add-button" onclick="productWidget.editProductOption('new'); return false;" class="icon-plus-alt">new product option</a>
 </li>
 
 <li class="table-header">
                    <div class="col-wide">Description</div>  
                    <div class="col-wide">Stock</div>    
                    <div class="col-wide">Price</div>  
                    <div class="col-narrow">Item Code</div>    
                    
 </li>

 <section class="scrollable-list-container" id="product-options-checklist-container">
 {{#options}}
    {{>product-option-list-item}}
 {{/options}}
 
 </section>
 
 
 </ul>
 
 