



<!-- PRODUCT VARIANT WIDGET -->

<div id="product-variant-widget-wrapper" class="glass-pane plural" style="display: none;">
        <div class="clear-button cancel-button" >&nbsp;</div>
        
        <div class="inner-wrap">
            <span class="bubble-arrow">&nbsp;</span>
             
            <a href="javascript:void(0);" class="cancel-button" ><span class="icon-close"><!--close variant widget--></span></a>
            <br class="hard-line-break" />
            
            <div class="variant-details-wrapper">

                <section class="stock">
                    <h2 class="header">Available Stock</h2>
                    <div class="inner-wrap">
                        {{#stores}}
                        {{#in_store}}
                        <span class="uni-label">
                        <span class="left {{store.label_color}}" title="{{title}}">{{short_title}}</span>
                        <span class="right grey status" id="options-stock-wstatus-{{id}}">&nbsp;</span>
                        <input class="right grey option-stock-field" name="options-stock" data-format="float" data-sync-id="option-stock" data-uni-label-status="#options-stock-wstatus-{{id}}" data-store-id="{{id}}" type="text" value="{{value}}" />
                        </span> 
                        {{/in_store}}
                        {{/stores}}
                    </div>
                    
                </section>
                
                <section class="prices">
                    <h2 class="header">Price</h2>
                    <div class="inner-wrap">
                        {{#stores}}
                        {{#in_store}}
                        <span class="uni-label">
                        <span class="left {{store.label_color}}" title="{{title}}">{{short_title}}</span>
                        <span class="center grey currency">{{{currency.symbol}}}</span>
                        <span class="right grey price status" id="options-price-wstatus-{{id}}">&nbsp;</span>
                        <input class="right grey price option-price-field" name="options-price" data-format="price" data-sync-id="option-price" data-price-id="{{id}}" data-uni-label-status="#options-price-wstatus-{{id}}" data-store-id="{{id}}" type="text" value="{{formatted_value}}" />
                        </span>
                        {{/in_store}}
                        {{/stores}}
                    </div>
                    
                </section>
            </div>
            


            <div id="variant-photo-preview-wrapper">

                <h2 class="header">Photo Preview</h2>


                <div class="mini-status" id="variant-photo-preview-status">Saving...</div>
                <div id="variant-photo-preview" style="background:url('') no-repeat; background-size: contain; background-position: center center;" bg_src_cache=""  >
                &nbsp;
                
                <a class="circular-button quick-remove-button" style="{{^ProductOption.hide_drop_label}}display:none;{{/ProductOption.hide_drop_label}}" href="javascript:void(0);" onclick="productWidget.removeOptionPreviewPhoto({{ProductOption.id}})">
                <div class="icon-cancel-3"></div>
                </a>
                
                <div id="variant-photo-drop-label" >
                   Drop picture here to replace this one...
                   <div class="icon-upload-3 tile-icon-large"></div>
                </div>
                <div id="variant-photo-uploader" class="droppable-uploader-area" data-target="product_option_plural" data-product-id="{{id}}" ></div>
                </div>


            </div>


            
            
            
            
            
            
        </div> 
    </div>










