

    <li class="table-header">

        <div class="col-narrow">CODE</div>

        {{#attributes}}
        <div class="col-narrow">{{label}}</div>
        {{/attributes}}

        {{#stores}}
        <div class="col-narrow">{{title}}</div> 
        {{/stores}}

    </li> 


<section class="scrollable-list-container">

    {{#options}}
            <li class="table-row">
                <div class="col-narrow">
                <input class="reference-code-entry-field text-field-2" id="reference-code-field-{{id}}" tinyStatus="#reference-code-field-status-{{id}}" type="text" name="option-reference-code" data_option_id="{{id}}" value="{{referenceCode}}" onchange="productWidget.saveOptionReferenceCode(this)" size="10" />
                <small class="tiny-status" id="reference-code-field-status-{{id}}">&nbsp;</small>
                </div>  
                

                {{#attributes}}
                <div class="col-narrow">{{value}}</div>
                {{/attributes}} 

                {{#stock}}
                <div class="col-narrow">
                    <input class="text-field-2" data_option_id="{{optionId}}" data_store_id="{{store.id}}" type="text" size="10" value="{{value}}"  onblur="productWidget.setOptionStock(this);" />
                </div> 
                {{/stock}}

            </li> 
    {{/options}}  


</section> <!-- END SCROLLABLE LIST -->
        
        
        
        
<li class="save-button-row">
    <div class="dotted-blue-hor-line"></div>
    <br/>
    <a class="button-2" href="javascript:void(0);" onClick="productWidget.updateProductStock(); return false;" >
        update product stock
    </a>
</li>



