



<!-- PRODUCT VARIANT WIDGET -->

<div id="product-variant-widget-wrapper" class="glass-pane" style="display: none;">
        <div class="clear-button cancel-button" >&nbsp;</div>
        
        <div class="inner-wrap">
            <span class="bubble-arrow">&nbsp;</span>
             
            <a href="javascript:void(0);" class="cancel-button" ><span class="icon-close"><!--close variant widget--></span></a>
            <br class="hard-line-break" />
            
            <div class="variant-details-wrapper">
                <section class="sku">
                    <h2 class="header">Stock Keeping Unit / Bar Code</h2>
                    <div class="inner-wrap">
                        
                        {{#ProductOption.has_SKU}}
                        <span class="uni-label">
                        <span class="left blue">SKU</span>
                        <span class="right grey status" id="option-sku-status-{{ProductOption.id}}">&nbsp;</span>
                        <input class="right grey option-sku-field" name="option-sku" data-format="upper-case" data-sync-id="option-sku-{{ProductOption.id}}" data-option-id="{{ProductOption.id}}" data-uni-label-status="#option-sku-status-{{ProductOption.id}}" type="text" value="{{ProductOption.sku}}" />
                        </span>
                        {{/ProductOption.has_SKU}}
                        
                        {{#ProductOption.has_UPC}}
                        <span class="uni-label">
                        <span class="left blue">UPC</span>
                        <span class="right grey status" id="option-upc-status-{{ProductOption.id}}">&nbsp;</span>
                        <input class="right grey option-upc-field" name="option-upc" data-format="upper-case" data-sync-id="option-upc-{{ProductOption.id}}" data-option-id="{{ProductOption.id}}" data-uni-label-status="#option-upc-status-{{ProductOption.id}}" type="text" value="{{ProductOption.upc}}" />
                        </span>
                        {{/ProductOption.has_UPC}}
                        
                        {{#ProductOption.has_ISBN}}
                        <span class="uni-label">
                        <span class="left blue">ISBN</span>
                        <span class="right grey status" id="option-upc-status-{{ProductOption.id}}">&nbsp;</span>
                        <input class="right grey option-upc-field" name="option-isbn" data-format="upper-case" data-sync-id="option-isbn-{{ProductOption.id}}" data-option-id="{{ProductOption.id}}" data-uni-label-status="#option-isbn-status-{{ProductOption.id}}" type="text" value="{{ProductOption.isbn}}" />
                        </span>
                        {{/ProductOption.has_ISBN}}
                        
                        {{#ProductOption.has_EAN}}
                        <span class="uni-label">
                        <span class="left blue">EAN</span>
                        <span class="right grey status" id="option-ean-status-{{ProductOption.id}}">&nbsp;</span>
                        <input class="right grey option-ean-field" name="option-ean" data-format="upper-case" data-sync-id="option-ean-{{ProductOption.id}}" data-option-id="{{ProductOption.id}}" data-uni-label-status="#option-ean-status-{{ProductOption.id}}" type="text" value="{{ProductOption.ean}}" />
                        </span>
                        {{/ProductOption.has_EAN}}
                        
                    </div>
                </section>
                
                <section class="attributes">
                    <h2 class="header">Options</h2>
                    <div class="inner-wrap">
                        
                        {{#ProductOption.product_type.attribute_types}}
                        <select class="option-attribute-type-field" name="add-attribute" data-option-id="{{ProductOption.id}}" data-attribute-type-id="{{id}}" data-sync-id="option-attribute-{{ProductOption.id}}-{{id}}" data-helper-id="#option-new-attribute-field-{{ProductOption.id}}-{{id}}" >
                            <optgroup label="{{label_plural}}:">
                                {{#no_attribute}}<option value="placeholder">Choose a {{label}}...</option>{{/no_attribute}}
                                {{#values}}
                                    <option id="option-attribute-{{id}}" value="{{id}}" {{#selected}}selected{{/selected}}>{{label}}: {{value}}</option>
                                {{/values}}
                                
                                <option value="new">[ Add a new {{label}}... ]</option>
                            </optgroup>
                        </select>
                        
                        <input class="helper-field" id="option-new-attribute-field-{{ProductOption.id}}-{{id}}" name="new-attribute" data-sync-id="option-attribute-{{ProductOption.id}}-{{id}}" data-option-id="{{ProductOption.id}}" data-attribute-type-id="{{id}}" type="text" value="" placeholder="[ new {{label}}... ]" />
                        {{/ProductOption.product_type.attribute_types}}
                        <br /><br />
                    </div>
                </section>
                
                <section class="stock">
                    <h2 class="header">Available Stock</h2>
                    <div class="inner-wrap">
                        {{#ProductOption.stock}}
                        <span class="uni-label">
                        <span class="left {{store.label_color}}" title="{{store.title}}">{{store.short_title}}</span>
                        <span class="right grey status" id="option-stock-wstatus-{{id}}-{{store.id}}">&nbsp;</span>
                        <input class="right grey option-stock-field" name="option-stock" data-format="float" data-sync-id="option-stock-{{id}}-{{store.id}}" data-stock-id="{{id}}" data-uni-label-status="#option-stock-wstatus-{{id}}-{{store.id}}" data-store-id="{{store.id}}" type="text" value="{{value}}" />
                        </span> 
                        {{/ProductOption.stock}}
                    </div>
                    
                </section>
                
                <section class="prices">
                    <h2 class="header">Price</h2>
                    <div class="inner-wrap">
                        {{#ProductOption.prices}}
                        <span class="uni-label">
                        <span class="left {{store.label_color}}" title="{{store.title}}">{{store.short_title}}</span>
                        <span class="center grey currency">{{{store.currency.symbol}}}</span>
                        <span class="right grey price status" id="option-price-wstatus-{{id}}-{{store.id}}">&nbsp;</span>
                        <input class="right grey price option-price-field" name="option-price" data-format="price" data-format="price" data-sync-id="option-price-{{id}}-{{store.id}}" data-price-id="{{id}}" data-uni-label-status="#option-price-wstatus-{{id}}-{{store.id}}" data-store-id="{{store.id}}" type="text" value="{{formatted_value}}" />
                        </span>
                        {{/ProductOption.prices}}
                    </div>
                    
                </section>
            </div>
            


            <div id="variant-photo-preview-wrapper">

                <h2 class="header">Photo Preview</h2>


                <div class="mini-status" id="variant-photo-preview-status">Saving...</div>
                <div id="variant-photo-preview" style="background:url('{{ProductOption.image.hrefs.large}}') no-repeat; background-size: contain; background-position: center center;" bg_src_cache=""  >
                &nbsp;
                
                <a class="circular-button quick-remove-button" style="{{^ProductOption.hideDropLabel}}display:none;{{/ProductOption.hideDropLabel}}" href="javascript:void(0);" onclick="productWidget.removeOptionPreviewPhoto({{ProductOption.id}})">
                <div class="icon-cancel-3"></div>
                </a>
                
                <div id="variant-photo-drop-label" style="{{#ProductOption.hideDropLabel}}display:none;{{/ProductOption.hideDropLabel}}" >
                   Drop picture here to replace this one...
                   <div class="icon-upload-3 tile-icon-large"></div>
                </div>
                <div id="variant-photo-uploader" class="droppable-uploader-area" data-target="product_option" data-product-id="{{ProductOption.product_id}}" data-option-id="{{ProductOption.id}}" ></div>
                </div>


            </div>


            
            
            
            
            
            
        </div> 
    </div>










