
 <li class="product-option-tile trashable table-row checklist-tile clearfix" id="option_{{id}}" trash_type="product-option-tile" data_option_id="{{id}}" data_option_entry="{{entry}}" data-tile-id="{{id}}" >
     <div class="dimmer">&nbsp;</div>
                    <div class="col-wide product-option-title">
                        <span class="tile-num"></span>
                        
                        <span class="text">{{description}}</span>
                    </div>  
                    <div class="col-wide">
                        {{#stock}}
                        <span class="uni-label">
                            <span class="left {{store.label_color}}" title="{{store.title}}">{{store.short_title}}</span>
                        <span class="right grey status" id="option-stock-status-{{id}}-{{store.id}}">&nbsp;</span>
                        <input class="right grey option-stock-field" name="option-stock" data-format="float" data-sync-id="option-stock-{{id}}-{{store.id}}" data-stock-id="{{id}}" data-uni-label-status="#option-stock-status-{{id}}-{{store.id}}" data-store-id="{{store.id}}" type="text" value="{{value}}" />
                        </span> 
                        {{/stock}}
                        <br />
                    
                    </div>    
                    <div class="col-wide">
                        {{#prices}}
                        <span class="uni-label">
                        <span class="left {{store.label_color}}" title="{{store.title}}">{{store.short_title}}</span>
                        <span class="center grey currency">{{{store.currency.symbol}}}</span>
                        <span class="right grey price status" id="option-price-status-{{id}}-{{store.id}}">&nbsp;</span>
                        <input class="right grey price option-price-field" name="option-price" data-format="price" data-sync-id="option-price-{{id}}-{{store.id}}" data-price-id="{{id}}" data-uni-label-status="#option-price-status-{{id}}-{{store.id}}" data-store-id="{{store.id}}" type="text" value="{{formatted_value}}" />
                        </span>
                        {{/prices}}
                    </div>  
                    <div class="col-narrow">
                        
                        {{#has_SKU}}
                        <span class="uni-label">
                        <span class="left blue">SKU</span>
                        <span class="right grey status" id="option-sku-status-{{id}}">&nbsp;</span>
                        <input class="right grey option-sku-field" name="option-sku" data-format="upper-case" data-sync-id="option-sku-{{id}}" data-option-id="{{id}}" data-uni-label-status="#option-sku-status-{{id}}" type="text" value="{{sku}}" />
                        </span>
                        {{/has_SKU}}
                        
                        {{#has_UPC}}
                        <span class="uni-label">
                        <span class="left blue">UPC</span>
                        <span class="right grey status" id="option-upc-status-{{id}}">&nbsp;</span>
                        <input class="right grey option-upc-field" name="option-upc" data-format="upper-case" data-sync-id="option-upc-{{id}}" data-option-id="{{id}}" data-uni-label-status="#option-upc-status-{{id}}" type="text" value="{{upc}}" />
                        </span>
                        {{/has_UPC}}
                        
                        {{#has_ISBN}}
                        <span class="uni-label">
                        <span class="left blue">ISBN</span>
                        <span class="right grey status" id="option-upc-status-{{id}}">&nbsp;</span>
                        <input class="right grey option-upc-field" name="option-isbn" data-format="upper-case" data-sync-id="option-isbn-{{id}}" data-option-id="{{id}}" data-uni-label-status="#option-isbn-status-{{id}}" type="text" value="{{isbn}}" />
                        </span>
                        {{/has_ISBN}}
                        
                        {{#has_EAN}}
                        <span class="uni-label">
                        <span class="left blue">EAN</span>
                        <span class="right grey status" id="option-ean-status-{{id}}">&nbsp;</span>
                        <input class="right grey option-ean-field" name="option-ean" data-format="upper-case" data-sync-id="option-ean-{{id}}" data-option-id="{{id}}" data-uni-label-status="#option-ean-status-{{id}}" type="text" value="{{ean}}" />
                        </span>
                        {{/has_EAN}}
                    </div>   
 
                    
 <small class="tiny-status" id="product-option-field-status-{{id}}">&nbsp;</small>
 <div class="icon-checkmark circular-button-2 select-product-option-button" >&nbsp;</div>
 <div class="icon-pencil-2 circular-button-2 edit-product-option-button" >&nbsp;</div>
 <div class="icon-cancel-2 circular-button-2 delete-product-option-button" >&nbsp;</div>
 
 
 </li>
 
