
<div class="alert-box grp-dialog-box">
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>

        <h2 class="bubble-title">{{meta.title}}</h2>

                    
       
       <!--
        <div class="tiny-yellow-text">{{description}}</div>
        <br/>


        <div class="dotted-yellow-hor-line tiny-yellow-arrow-down">&nbsp;</div>
        -->

        <form name="edit-sale-form" id="edit-sale-form"  method="POST" action="#">
        <p class="bubble-text">



                    <div class="clearfloat">&nbsp;</div>
                    <br />

                    <div class="field-group fltlft">

                    <div class="fltlft">
                    <input id="item_name" name="title" class="sale-title-field" type="text" size="28" maxlength="200" placeholder="Sale Title..." onchange="" value="{{Sale.title}}" />
                    
                    </div>


                    <div class="fltlft">
                    <select id="sale-store-id" class="" name="store-id" tip="Please choose a <b>store</b>. <small></small>" size="1" onChange="Sale.resetCurrency(this)"  >
                        <option value=-1 >-- Choose a store --</option>

                        {{#Stores}}
                        <option value={{id}} {{selected}} currencyCode="{{Currency.code}}">{{label}}</option>
                        {{/Stores}}
                    </select>
                    <br />
                    </div>

                    </div>







                    <div class="clearfloat">&nbsp;</div>
                    <br />
                    <div class="dotted-blue-hor-line">&nbsp;</div>
                    <br/>


                    <div class="fltlft">
                    <span class="large-label">Discount Amount:</span>
                    <br/><br/>
                    </div> 


                    &nbsp;&nbsp;

                    <div class="field-group fltlft">

                    <div class="fltlft">
                    <input id="text-field-discount-amount" name="discount-amount" class="discount-amount" tip="Please enter a <b>shipping rate</b>. <small></small>" class="placeholder-color-1" type="number" onChange="Sale.validateAmount();"  onkeypress="return validateFloatEntry(event, this);" onkeyup="return revalidateFloatEntry(event, this);" value="{{Sale.discountAmount}}" placeholder="" size=5 />
                    </div>  
                    
                    

                    <div class="fltlft">
                    <select id="select-field-discount-type" class="discount-type" name="discount-type" tip="Please select a rate type. <small></small>" size="1" onChange="Sale.validateAmount();" >
                        <option value=0 {{^Sale.discountType}}selected{{/Sale.discountType}}>%</option>
                        <option value=1 id="sale-currency" {{#Sale.discountType}}selected{{/Sale.discountType}}>{{Sale.Currency.code}}</option>
                    </select>
                    </div> 

                    </div>




                    <div class="clearfloat">&nbsp;</div>

  
        </p>

        
        <div class="dotted-blue-hor-line">&nbsp;</div>
        <br />
        
        {{#Sale.isActive}}
        <a id="sale-status-button" class="online on-off-button" href="javascript:void(0);" >On (Turn Off)</a>
        <input type="checkbox" style="display:none;" name="is_active" id="sale-status-checkbox" CHECKED value=true />
        {{/Sale.isActive}}

        {{^Sale.isActive}}
        <a id="sale-status-button" class="offline on-off-button" href="javascript:void(0);" >Off (Turn On)</a>
        <input type="checkbox" style="display:none;" name="is_active" id="sale-status-checkbox" value=true />
        {{/Sale.isActive}}
                    

        
        </form>
        <br />
        <div class="dotted-blue-hor-line">&nbsp;</div>
        <br /><br />

        &nbsp;&nbsp;                        

        <a href="javascript:void(0);" id="sale-save-button" class="blue-button large" onclick="Sale.saveSale({{Sale.id}});" > {{meta.buttonLabel}} <span class="icon-checkmark-2">&nbsp;</span></a>

        <br /><br /><br/>
    
</div>



