<div class="chart-dialog-box">
    <a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>
    <div class="chart-header-wrapper">
        <h2 class="chart-title">{{ title }}</h2>
        <ul class="chart-filter-controls">

            {{#labels}}
            <li class="{{icon}} chart-filter-control" style="color:{{color}}">{{label}}</li>
            {{/labels}}

        </ul>
    </div>

    <div class="outer-graph-container">
        <div class="graph-container">
        </div>
    </div>

</div>