
<div id="edit-tax-rule-dialog-box" class="alert-box">
<a href="javascript:void(0);" class="cancel-button" ><span class="icon-close">&nbsp;</span></a>

    <form name="edit-tax-rule-form" id="edit-tax-rule-form"  method="POST" action="#">
        <input type="hidden" name="type" value="{{TaxRule.type}}"  />
        <input type="hidden" name="priority" value="{{TaxRule.priority}}"  />
        
        <h2 class="bubble-title">{{meta.title}}</h2>
        <div id="edit-tax-rule-dialog-hint" class="tiny-yellow-text">Enter a name, zone (choose) and a percentage charge for your new tax rule.</div>
        <br/>
        <div class="dotted-yellow-hor-line tiny-yellow-arrow-down">&nbsp;</div>
        <br/>
        <p class="bubble-text">


                    <div class="fltlft">
                    <small class="text-input-label-3">NAME</small>
                    <input id="text-field-tax-rule-name" name="name" tip="Please enter a name for the new tax rate. <small>Use only A-Z, a-z, 0-9, spaces, dots, commas or dashes!</small>" class="placeholder-color-1" type="text" value="{{TaxRule.name}}" placeholder="Enter a name here." tinyStatus="#tax-rule-name-status"  size=30 />
                                
                    <br/><br /> <br />
                    </div>  
  
            
            
                    <div class="fltlft">
                    <small class="text-input-label-3">TAX ZONE</small>
                    <select id="text-field-tax-rule-zone-id" class="select-control-1" name="zone-id" tip="Please select a tax zone. <small>Hint: you have to setup a zone (a way to group countries and provinces) then select it here so that the new tax rate will apply to any country you add to the zone.</small>" size="1"  >
                        <option value=0 >-- Choose a tax zone --</option>

                        {{#Zones}}
                        <option value={{id}} {{selected}}>{{label}}</option>
                        {{/Zones}}
                    </select>
                    
                    &nbsp;&nbsp;
                    </div> 
            
                    <div class="fltlft">
                    <small class="text-input-label-3">RATE (%)</small>
                    <input id="text-field-tax-rule-rate" name="rate" tip="Please enter a tax rate. For example: 5%. <small>Hint: This is a percentage of the amount your customer is paying for an item at your store (e.g. 5% VAT). </small>" class="placeholder-color-1" type="number"  onkeypress="return validateFloatEntry(event, this);" onkeyup="return revalidateFloatEntry(event, this);" value="{{TaxRule.rate}}" placeholder="" tinyStatus="#tax-rate-name-status"  size=10 />
                    </div>  
        </p>

        <br /><br /><br/><br /><br />
        <br /><br /><br/><br />
        
        <div class="dotted-blue-hor-line">&nbsp;</div>
        <br/>
        <input type="submit" class="button-1" id="edit-tax-rule-button-ok" href="javascript:void(0)" value="{{meta.buttonLabel}}" />
        <br /><br/>
    </form>
</div>