{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | About Us{% endblock title %}

{% block head %}
{{ parent() }}



<!-- NON GLOBAL JS -->
{# <script type="text/javascript" src="{{ assets_path }}jscript/shop-landing.js"></script> #}

<!-- NON GLOBAL CSS -->
{# <link href="{{ assets_path }}css/shop-landing.css" rel="stylesheet" type="text/css" /> #}


    
{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
<div class="inner-content-wrapper">
    
    <div id="category-header" style="height: 410px;">


        <div id="bread-crumps" style="border-bottom: solid 1px #000;">
        <a href="{{ store.landing }}">Home</a> - About Us

        </div> 
        <img id="category-banner-image" src="{{ assets_path }}images/about-us-banner.jpg" style="height: 400px;" />

    </div>

    <p>&nbsp;</p>
    
    <br />
    <p>
            Aimas was born out of a love for celebrating one’s individuality and being able to express oneself through fashion. We believe that everyone can express themselves through what they wear and more importantly how they wear it. The aimas brand is a Nigerian fashion label that has found the perfect fusion between the richness and beauty of the African continent and the contemporary western world. The result is beautifully crafted pieces that appeal to fashion and art lovers the world over.
    </p>
    
    <p>
            Aimas produces hand finished accessorized t-shirts for women, men and kids, a range beautifully crafted bags and purses, neckpieces, hairpieces, and home accessories. All our pieces have been lovingly made by hand using the finest African fabrics and trimmings. The brand also produces a ready to wear range made from customized prints that have its roots in the African continent and tell our beautiful story.
    </p>
    
    <p>
            Every aimas creation has an owner, which one belongs to you?

    </p>
    
    <p>&nbsp;</p>
    
    
<br style="clear: both" />
</div></div>
{% endblock content %}

