{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.email.html.twig' %}
{% block content %}


            <br>

            {{ notification }}
            <br><br>

            {{ what_to_do|raw }} <a href="{{ href|raw }}" style="color: #000000; text-decoration: none; border-bottom: 1px dashed #555;">{{ href|raw }}</a>
            <br><br><br>



{% endblock content %}