{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.email.html.twig' %}


{% block content %}


            <br>

            {{ body|raw }}
            <br><br><br>


{% endblock content %}