{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- googleoff: all -->


<!-- META -->
<meta name="robots" content="noindex, nofollow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" Content="{{ meta.description }}">
<meta name="copyright" content="{{ now|date("Y") }} FPP Labs">
<meta name="author" content="Gboyega Dada <gboyega@fpplabs.com>">
<meta name="language" content="{{ dash.language }}">

<link rel="shortcut icon" href="{{ dash.base_url }}favicon.ico" />
<link rel="icon" href="{{ dash.base_url }}favicon.ico" type="image/x-icon" />

<base href="{{ dash.base_url }}" />



<!-- STYLESHEETS -->
<link href="{{ dash.assets_path }}css/main.css" rel="stylesheet" type="text/css" />
<link href="{{ dash.assets_path }}css/vendor/jquery-ui.custom.css" rel="stylesheet" type="text/css" />
<link href="{{ dash.assets_path }}css/vendor/jquery.Jcrop.css" rel="stylesheet" type="text/css" />
<link href="{{ dash.assets_path }}css/vendor/jcrop.canvas.css" rel="stylesheet" type="text/css" />
<link href="{{ dash.assets_path }}css/vendor/jquery.fs.dropper.min.css" rel="stylesheet" type="text/css" />

<!-- JS FILES -->
<script type="text/javascript" src="{{ dash.assets_path }}js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="{{ dash.assets_path }}js/vendor/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="{{ dash.assets_path }}js/vendor/jquery.ui.sortable.js"></script>
<script type="text/javascript" src="{{ dash.assets_path }}js/toolbox.js"></script> 
<script type="text/javascript" src="{{ dash.assets_path }}js/vendor/jfingerprint.js"></script> 
<script type="text/javascript" src="{{ dash.assets_path }}js/vendor/math.uuid.js"></script>
<script type="text/javascript" src="{{ dash.assets_path }}js/vendor/mustache.js"></script> 
<script type="text/javascript" src="{{ dash.assets_path }}js/vendor/jquery.form.js"></script>
<script type="text/javascript" src="{{ dash.assets_path }}js/vendor/ImageResizer.js"></script>
<script type="text/javascript" src="{{ dash.assets_path }}js/vendor/jquery.fs.dropper.js"></script>
<script type="text/javascript" src="{{ dash.assets_path }}js/vendor/jquery.Jcrop.min.js"></script>
<script type="text/javascript" src="{{ dash.assets_path }}js/vendor/shortcut.mod.js"></script>
<script type="text/javascript" src="{{ dash.landing }}js/classes.js"></script> 


{% block head %}

<title>Dashboard{% block title %}{% endblock title %}</title>

{% endblock head %}


</head>

<body>
    
<!-- BEGIN: ENV VARS -->
<input type="hidden" id="meta_token" value="{{session.auth_token}}"  />
<input type="hidden" id="meta_admin_root" value="{{dash.base_url}}"  />
<!-- END: ENV VARS -->
 
<div class="container">

<div class="header-wrapper absolute">
    

{%  block pageheader %}
{% include 'partials/header.html.twig' %}
{% include 'partials/nav.html.twig' %}
{% endblock pageheader %}
    
</div>

    



<div class="content">
{% block content %}
   

{% endblock content %}
<!-- END: CONTENT -->
</div>



<br class="clearfloat" />


<div class="footer">
{% block footer %}
&nbsp;

{% endblock footer %}
<!-- END: FOOTER -->
</div>    



<!-- END: CONTAINER -->
</div>



</body>
</html>
