{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}



<div class="search-results-wrapper">
    

<div class="wide-content-wrapper">
<div class="inner-content-wrapper">
    
{#
#}

<div class="page-title">
    
    Search 
    
    <a href="javascript:void(0);" class="exit-button-1 fltrt"> exit search</a>

</div>

    <div class="pagination">

    <span class="item-count search-item-count"></span>

    </div>

<ul class="item-grid search-item-grid">



</ul>

<div class="pagination">

<span class="item-count search-item-count"></span>

</div>

<br style="clear: both" />
</div></div>
</div>