{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Email Confirmed{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/register.css" rel="stylesheet" type="text/css" />

<!-- NON GLOBAL JS -->
<script type="text/javascript" src="jscript/confirm.js"></script>

{% endblock head %}


{% block content %}
<div class="page-title">Error</div>


<div id="register-wrapper" >


        <table id="register-form-table" cols="3" cellspacing="10" >

            <thead>
                <tr>
                    <th colspan="3" class="register-sub-header">
                        Email Verification Failed
                    </th>
                </tr>

            </thead>
            
            <tbody>     
                <tr>
                    <td class="register-field-label" colspan="2">
                        We were unable to verify your email address.
                        <br /><br />
                        Note: This can happen if while copying the confirmation link from your inbox you didn't quite get it all.
                        <br /><br />
                    </td>
                    <td class="register-field-error"></td>
                </tr>
                
                <tr>
                    <td class="register-field-label" colspan="2"><br><br><br></td>
                    <td class="register-field-error"></td>
                </tr>
            </tbody>

        </table>
        
</div>

{% endblock content %}

