{# 

 	@Package: Cataleya
        (c) 2015 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %}{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ dash.assets_path }}css/landing.css" rel="stylesheet" type="text/css" />



{% endblock head %}




{%  block pageheader %}

<div class="header">

<a  href="javascript:void(0);" onclick="HomeNav.back();">
<div id="page-title"><span class="title-text">Welcome</span></div>
</a>

</div>

{% endblock pageheader %}



{% block content %}

<div id="command-center-wrapper" class="glass-pane">
    <div class="inner-wrap">
        

        <div class="glass-panel">&nbsp;</div>


        <!-- BEGIN FRAMES -->

        <div id="command-center-slider-wrap" class="frames" data-title-selector="#page-title .title-text">
        <div class="frame-strip strip">



        <!-- FRAME: WELCOME -->

        <div id="home-frame" class="app-tile-grid frame" data-title="Welcome" data-title="Welcome">


        {% for app in dash.apps.main %}
            {% include 'landing/app-tile.html.twig' %}
        {% endfor %}


        </div>


        <!-- FRAME: VENDOR -->

        <div id="vendor-frame" class="app-tile-grid frame" data-title="Apps">

        {% for app in dash.apps.vendor %}
            {% include 'landing/app-tile.html.twig' %}
        {% endfor %}


        </div>



        <!-- FRAME: SETTINGS -->

        <div id="settings-frame" class="app-tile-grid frame" data-title="Settings">


        {% for app in dash.apps.settings %}
            {% include 'landing/app-tile.html.twig' %}
        {% endfor %}


        </div>




        </div>    
        <!-- END FRAME STRIP -->


        </div>
        <!-- END FRAMES -->



    </div>
</div>

{% endblock content %}

