{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Sign In{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ dash.assets_path }}css/login.css" rel="stylesheet" type="text/css" />



{% endblock head %}




{%  block pageheader %}
{# don't load general header #}
{% endblock pageheader %}



{% block content %}

<input type="hidden" id="login_token" value="{{ login.token }}"  />

<div id="login-form-outer-wrapper">
<div id="login-form-label">

<span id="login-icon" class="icon-locked">&nbsp;</span>
<!-- Login -->
</div>



<ul id="login-form-wrapper" style="display:block">


<form name="login_form" id="lform-{{ login.token }}" method="post" action="{{ dash.landing }}login">
    <input type="hidden" name="token-{{ login.token }}" value="{{ login.token }}"  />
    <input type="hidden" id="lfp-{{ login.token }}" name="fp-{{ login.token }}" value=""  />

    <li>
        <small>Email Address</small>

        <input type="text" name="username-{{ login.token }}" id="login-form-email" value="{{ login.user }}" size="30" maxlength="150" />

    <br/>
    </li>


    <li>
    <small>Password</small>

    <input type="password" name="password-{{ login.token }}" id="login-form-password" value="" size="30" maxlength="50" />
    <br/><br/>


    </li>

    <li class="last-child">
    <input class="blue-button x-large" type="submit" name="login-{{ login.token }}" value="login">

    </li>

    <li id="login-errors">
        {{ login.response }}
    </li>


</form>

</ul>
        
</div>

<div id="footer">
&nbsp;
</div>



</div>

</div>



<script type="text/javascript" >
    $(document).ready(function () {
        $('input#username').focus();
    });

</script>
{% endblock content %}

