<span class="item-count">Showing {{ page.start }} - {{ page.stop }} of {{ category.size }} product{% if category.size > 1 %}s{% endif %}.</span>

{# only generate navigation if  content spans mutiple pages #}

{% if category.size > page.size %}


<span class="page-numbers">
Page {{ page.number }} | 
{% if page.previous.number != 0 %}<a href="{{ page.previous.href }}">Previous</a>{% endif %} 

{% for pg in page.index %}
<a href="{{ pg.href }}" />{{ pg.number }}</a>
{% endfor %}


{% if page.next.number != 0 %}<a href="{{ page.next.href }}">Next</a>{% endif %}
<a href="{{ page.all.href }}">View All</a></span>


{% endif %}
