{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | {{ product.category.title }} | {{ product.title }}{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/product-display.css" rel="stylesheet" type="text/css" />

<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/libs/easyzoom.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/product.display.js"></script>
<script type="text/javascript">



{# Dump product info in global variable as JSON (for local JS OPS) #}       
var product = {{ product|json_encode()|raw }};
                    
                    

</script>


{% endblock head %}



{% block content %}


<!-- PRODUCT IMAGES -->
<div id="product-images">

<div id="main-product-photo-wrapper">
{# <div id="photo-zoom-icon">&ocirc;</div> #}


<a class="product-zoom" id="main-product-photo-zoom-anchor" href="{{ product.primaryImage.src.zoom }}"><img id="main-product-photo" class="frame-classic-outlined-2" src="{{ product.primaryImage.src.large }}" /></a>
</div>

    <div id="photo-zoom-hint">&UpArrow; Rollover main photo to zoom. &nbsp;&DownArrow; Click thumb to enlarge.</div>
    <ul id="alt-product-images" class="photo-grid">


{% for image in product.images %}

<li>
    <a href="{{ image.zoom }}" data_new_src="{{ image.large }}" onclick="enlargeProductPhoto(this); return false;" target="_blank"><img class="mini-thumb-1" src="{{ image.thumb }}" /></a>
</li>

{% endfor %}

</ul>

</div>




<!-- PRODUCT INFO -->

<div id="product-info-wrapper">



	
    <ul id="product-info">
    
    <li id="bread-crumps">
    <a href="{{ shop.landing }}">Home</a> - <a href="{{ product.category.href }}">{{ product.category.title }}</a> - {{ product.title }}
    
    </li>
    
    <li id="product-name">
    {{ product.title }}
    </li>
    
    <li id="product-base-price">
    <span class="{% if product.isOnSale == true %}old-price{% endif %}">
    {{ store.currency.symbol|raw }}<span id="product-price-value">{{ product.base_price|number_format(2, '.', ',') }}</span>
    </span>
    
    {% if product.isOnSale %}
    <span  class="sale-price">
    {{ store.currency.symbol|raw }}<span id="product-price-value">{{ product.salePrice|number_format(2, '.', ',') }}</span>
    </span>
    {% endif %}
    </li>
    
    
    <li id="product-details-wrapper">
    &nbsp;
    
    
    
    		<ul class="tab-group">
            	<li class="tab-wrapper tab-state-front" id="tab-1">
                    <a href="javascript:void(0);" onclick='return tabFocus("tab-1")'><span class="tab-header">Product Details</span></a>
                    <p class="tab-body">
                    {{ product.description|raw }}
                    </p>
                </li>
            
            	<li class="tab-wrapper" id="tab-2">
                    <a href="javascript:void(0);" onclick='return tabFocus("tab-2")'><span class="tab-header">Styling Ideas</span></a>
                    <p class="tab-body">&nbsp;
                    {{ product.styling_ideas|raw }}
                    </p>
                </li>



            	<li class="tab-wrapper" id="tab-3">
                    <a href="javascript:void(0);" onclick='return tabFocus("tab-3")'><span class="tab-header">Delivery Info</span></a>
                    <p class="tab-body">&nbsp;
                    {{ product.delivery_info|raw }}
                    </p>
                </li>


            </ul>
    </li>
    
    <form id="add-to-cart-form" name="add_to_cart_form" method="POST" action="{{ store.landing }}cart/add/">
        <input type="hidden" id="shop_landing" name="shop_landing" value="{{ store.landing }}" />
        <input type="hidden" name="qty" value="1" />
        <input type="hidden" name="product_id" value={{ product.id }} />
        <input type="hidden" name="option_id" value=0 />
        

 
    
{% for attribute in product.attributes  %}
    <li id="attribute-group-{{ attribute.id }}">
    
    {# <label for="product-size-select">{{ attribute.label_plural }}:</label> #}
    <select class="select-control-wide product-attribute-control" id="product-{{ attribute.label }}-select" name="{{ attribute.label }}_id" onchange="checkAvailability();">
        
        {% if attribute.values|length > 1  %}  
        <option value="0" selected="selected">Please choose a {{ attribute.label }}...</option>
        {% endif %}
        
    {% for value in attribute.values %}
        
        <option value="{{ value.id }}">{{ value.label }}: {{ value.value }}</option>
    
    {% endfor %}
        
    </select>
    
      {# <a href="javascript:void(0);" id="size-guide-anchor">View Size Guide</a> #}
   
    </li>
{% endfor %}
    



    <li id="customer-actions">
        {% if product.out_of_stock %}
        <input type="submit" class="black-button-large-1" id="add-to-cart-button" style="display: none;" value="add to bag "  tip="Oops! <small></small>" />
        <span class="black-button-large-1 deactivated" id="sold-out-button" >sold out</span>
        {% else %}
        <input type="submit" class="black-button-large-1" id="add-to-cart-button" value="add to bag "  tip="Oops! <small></small>"/>
        <span id="sold-out-button" class="out-of-stock" style="display: none;" >This option is out of stock. Please choose something else.<br /></span>
        {% endif %}
        
            <a class="transparent-button-large-1" id="add-to-wishlist-button" href="javascript:void(0);" onclick="addToWishlist();" tip="Oops! <small></small>">add to wishlist</a>
       
    </li>
        
</form>
                    
    
    <li id="social">
    twitter // facebook
    

    </li>
    
    
    </ul>



</div>





{% endblock content %}



