{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | {{ category.title }}{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/category-display.css" rel="stylesheet" type="text/css" />

{% endblock head %}


{% block content %}

<!-- CATEGORY HEADER -->
<div id="category-header">
    
    <div id="bread-crumps">
    <a href="{{ shop.landing }}">Home</a> - <a href="{{ category.href }}">{{ category.title }}</a>
    
    </div> 
    <img id="category-banner-image" src="{{ category.banner.large }}" />

</div>

<div class="pagination">

{% include 'pagenav.category.html.twig' %}

</div>


<ul class="item-grid">


{% for sale in sales %}

{% for product in sale.products %}



<a href="{{ product.href }}">
<li>
<img class="large-thumb-l frame-classic-1" src="{{ product.image.thumb }}" />


<div class="product-thumb-label">
{{ product.title }}<br />
<span  class="{% if product.isOnSale == true %}old-price{% endif %}">
{{ store.currency.symbol|raw }} {{ product.base_price|number_format(2, '.', ',') }}
</span>

{% if product.isOnSale %}
<span class="sale-price" >{{ store.currency.symbol|raw }}{{ product.salePrice|number_format(2, '.', ',') }}</span>
{% endif %}
</div>

</li>
</a>


{% endfor %}
    
{% endfor %}

</ul>



<div class="pagination">

{% include 'pagenav.category.html.twig' %}
    
</div>


{% endblock content %}

