{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Create Account{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/register.css" rel="stylesheet" type="text/css" />

<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/confirm.js"></script>


{% endblock head %}


{% block content %}
<div class="page-title">Create Account</div>


<div id="register-wrapper" >


        <table id="register-form-table" cols="3" cellspacing="10" >
        
            <thead>
                <tr>
                    <th colspan="3" class="register-sub-header">
                        Account Created
                    </th>
                </tr>

            </thead>
            
            <tbody>
                
                <tr>
                    <td class="register-field-label" colspan="2">Hello {{ customer.firstname }}! Your account was successfully created!</td>
                    <td class="register-field-error"></td>
                </tr>
                <tr>
                    <td class="register-field-label" colspan="2"><br><br><br></td>
                    <td class="register-field-error"></td>
                </tr>
                
            </tbody>
                
            <thead>
                <tr>
                    <th colspan="3" class="register-sub-header">
                        Confirmation
                    </th>
                </tr>

            </thead>
            
            <tbody>     
                <tr>
                    <form name="confirm-form" method="post" action="{{ store.landing }}confirm/">
                    <input type="hidden" name="digest-token-{{ form_token }}-1" value="{{ customer.confirm.digest }}"  />
     
                    <td class="register-field-label" colspan="2">
                        A confirmation email has been sent to your inbox. 
                        <br /><br />
                        Please copy the verification code (a 6 digit number) in your email message and paste it here:
                        <br /><br />
                        <input type="text" name="num_code-int-{{ form_token }}-1" id="confirm-form-code" value="" size="30" maxlength="8" />
                        <br />
                        <input type="submit" class="black-button-large-1" name="submit-submit-{{ form_token }}" id="register-form-submit" value="confirm" />
                        <br /><br />
                        - OR -
                        <br /><br />
                        Follow the link in the message (click or copy and paste it in your browser).
                        <br /><br />
                        This is to make sure important information regarding your transactions are sent to the right email address.
                    </td>
                    <td class="register-field-error"></td>
                    </form>
                </tr>
                
       
         
            </tbody>
        </table>
        
</div>

{% endblock content %}

