{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.email.html.twig' %}


{% block content %}

Hello {{ email.Customer.firstname }}! Welcome to {{store.title}}!
<br><br>

{#
<div style="color: #ff0000">
As a thank-you for signing up as a new customer, please use the code 
<span style="font-weight: bold; font-style: italic;">{{email.Coupon.code}}</span> at the checkout for 
<span style="font-style: italic;">{{email.Coupon.discount}}</span> off your first order!
</div>
#}

<br>
For help with any of our online services, please email us at: 
<a href="mail:{{store.contact.email}}" style="color:#555;">{{store.contact.email}}</a> or call 
<a href="tel:{{store.contact.phone}}" style="color:#555;">{{store.contact.phone}}</a>


<br><br>


Happy Shopping!
<br><br><br>




<div style="border-top: 1px solid #ddd; font-size: 90%;">
    <br>
    Note: This Email address was registered with us by one of our customers, 
    however if you did not sign up to be a member and would like to be removed from our registered customer list, 
    please send an email to {{store.title}}: <a href="mail:{{store.contact.email}}" style="color:#555;">{{store.contact.email}}</a> 
    and we will be happy to make any amendments to your account.
</div>

{% endblock content %}