

<a href="{{ product.href }}">
<li>
<img class="large-thumb-l frame-classic-1" src="{{ product.image.thumb }}" />


<div class="product-thumb-label">
{{ product.title }}<br />
<span  class="{{#product.isOnSale}}old-price{{/product.isOnSale}}{{^product.isOnSale}} normal-price{{/product.isOnSale}}">
{{{ store.currency.symbol }}} {{ product.base_price }}
</span>

{{#product.isOnSale}}
<span class="sale-price" >{{{ store.currency.symbol }}}{{ product.salePrice }}</span>
{{/product.isOnSale}}
</div>

</li>
</a>
