
Please choose a delivery option...
<br /><br />

<ul id="shipping-options-list" >
    {{#ShippingOptions}}
    <li value="{{ id }}" >
        <label for="shipping-option-{{ id }}" >
        <input type="radio" onclick="Checkout.refreshShippingCharges (this);" name="shipping-option" id="shipping-option-{{ id }}" value="{{ id }}" />{{ name }}
        </label>
    </li>
    {{/ShippingOptions}}
</ul>