<div id="main-nav-wrapper">
    <a id="main-nav-button" class="icon-list" href="{{dash.base_url}}#" >menu</a>
    <ul class="nav-menu" id="main-nav">
        <a href="{{dash.base_url}}"><li class="icon-home-4">home</li></a>
        <a href="{{dash.base_url}}browse.customers.php"><li class="icon-users">Customers</li></a>
        <a href="{{dash.base_url}}landing.stores.php"><li class="icon-location">Stores</li></a>

        <li class="divider"></li>

        <a href="{{dash.base_url}}landing.catalog.php"><li class="icon-tag">Catalog</li></a>
        <a href="{{dash.base_url}}landing.orders.php"><li class="icon-cart">Orders</li></a>

        {% if user.is.SUPER_USER or user.can.VIEW_ADMIN_PROFILES %}
        <a href="{{dash.base_url}}profiles.admin.php"><li class="icon-user-3">Employees</li></a>
        {% endif %}

        <li class="divider"></li>

        <a href="{{dash.base_url}}#settings"><li class="icon-settings">Settings</li></a>
        <a href="{{dash.base_url}}landing.customers.php"><li class="icon-pinterest">Social</li></a>
        <a href="{{dash.base_url}}logout.php"><li class="icon-locked">Logout</li></a>
    </ul>

</div>

