{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}



<div class="bank-transfer.info">
    <br>
    For Cash Deposits, Bank Transfers, or Cheques, payment can be made at any branch of:

    <br><br>

    Bank Name: {{ bank_details.bank }}<br />
    Account Name: {{ bank_details.account_name }}<br />
    Account Number: {{ bank_details.account_num }}<br />

    <br /><br>

    {{ bank_details.instructions }}

    <br><br>
</div>


