/* 
    Document   : cart-display
    Created on : Nov 10, 2012, 6:47:25 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
*/

.content {
    
}


.page-title {
    padding: 0px 0px 5px 0px;
    
    margin-left: 0px;
}



#main-cart-items-list {
    width: 780px;
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 40px 0px;

    border-bottom: solid 1px #330;  
}

#cart-user-actions {
    width: 780px;
}



#main-cart-items-list li {
    border-bottom: dotted 1px #ccc; 
    
    padding: 10px 0px 20px 0px;
    
    margin: 0px 0px 0px 0px;
    
}

#main-cart-items-list li.list-items-header {
    border-bottom: none; /*solid 1px #000; */
    background: none; /*#322;*/
    
    font-weight: bold;
}
 
#main-cart-items-list li.list-items-header div {
    color: #000;
    text-transform: uppercase;
}

.cart-item-thumb {
    margin-right: 10px;
}


#main-cart-items-list li.last-child {
   border-bottom: none;  
    min-height: 50px;
}


#main-cart-items-list li [class^="list-items-"], 
#main-cart-items-list li [class*=" list-items-"] {
    float: left;
}

#main-cart-items-list-header [class^="list-items-"], 
#main-cart-items-list-header [class*=" list-items-"]{
    
    color: #fff;
}



#cart-errors {
    margin: 10px 0px;
    width: 780px;
}

#cart-errors li {
    border: none;
    border-top: dotted 1px #f00;
    
    color: #f00;
    font-size: 70%;
    
    min-height: 20px;
    
    padding: 5px 0px 5px 0px;
    margin: 0px 0px;
    
}

#cart-errors li.last-child {

    min-height: 0px;
    border: none;
    border-bottom: dotted 1px #f00; 
    
}


#cart-errors a {
    color: #f00;
    font-weight: bold;
    text-decoration: underline;
}



#cart-status-message li {
    border: none;
    border-top: dotted 1px #660;
    
    color: #660;
    font-size: 70%;
    
    min-height: 20px;
    
    padding: 5px 10px 5px 10px; 
}


#cart-status-message li.last-child {

    min-height: 0px;
    border: none;
    border-bottom: dotted 1px #660;
    
}



#cart-checkout-button {
    margin: 0px 0px 0px 10px;
}

#cart-update-button {
    float: left;
    margin: 0px 10px 0px 10px;
}


#cart-continue-button-1, 
#cart-continue-button-2 {
    float: left;
    margin: 0px 10px 0px 0px;
}


#cart-continue-button-1 {
    position: relative;
    top: -50px;
}



/*

CART SUMMARY

*/

/*

#cart-summary {
    width: 280px;
    float: right;

    margin-bottom: 20px;
}

#cart-summary li {
    border: none;
    background: #eee;
   
    margin: 1px;
    padding-left: 10px;
}

#cart-summary li.list-items-header {
    border: none;
    background: #322;
    
    margin: 1px;
    color: #fff;
    
    font-size: 150%;
}


.cart-sub-total {
    border: none;
    background: none;;
    margin: 0px;
    
    padding: 7px 4px 7px 10px;
    text-align: right;
    
    font-size: 100%!important;
    color: #000;
    
}

*/



#cart-summary {

    margin-bottom: 20px;
    font-size: 80%!important;
}

#cart-summary li {
    border: none;
   
    margin: 1px;
    padding-left: 10px;
}

#cart-summary li.list-items-header {
    border: none;
    background: #322;
    
    margin: 1px;
    color: #fff;
    
    font-size: 150%;
}




#cart-summary .field-label {
    text-align: right;
    width: 300px;
}

#cart-summary .field-value {
    text-align: right;
    width: 140px;
}




#cart-summary-inner-wrapper {
    width: 450px;
    margin-bottom: 30px;
}

#cart-summary-inner-wrapper > li {
    margin: 0px 0px 5px 0px;
    color: #000;
}


li.cart-sub-total {
    background: none; /*#f5f5f5*/;
    font-size: 100%!important;
    color: #000!important;
    margin-bottom: 30px!important;
}


li.cart-grand-total {
    border: none;
    border-top: dashed 1px #f00!important;
    border-bottom: dashed 1px #f00!important;
    
    background: none; /*#f5f5f5*/;
    margin-top: 30px!important;
    font-size: 100%!important;
    color: #f00!important;
}



/*

COUPON CODE FORM

*/


#coupon-code-form-wrapper {
    width: 350px;
    margin-bottom: 20px;
}

#coupon-code-form-wrapper li {
    border: none;
    background: none;
   
    margin: 1px;
    margin-bottom: 3px;
    
    padding: 0px;
    padding-left: 10px;
    text-align: right;
    
    font-size: 70%;
}

#coupon-code-form-wrapper li.list-items-header {
    border: none;
    background: #322;
    
    margin: 1px;
    color: #fff;
    
    font-size: 150%;
}


#coupon-code-form-wrapper li.last-child {
    border: none;
    background: #f5f5f5;
    margin: 1px;
    
    font-size: 140%;
    color: #f00;
    
}



.stock-low {
    color: #f00;
}