/* 
    Document   : cart-display
    Created on : Nov 10, 2012, 6:47:25 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
*/

.content {
    width: 1040px;
}


.page-title {
    border-bottom: solid 1px #330;  
    padding: 0px 0px 5px 0px;
    
    margin-left: 0px;
}



#checkout-wrapper {
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 0px 0px;
    
    width: 700px;

    border-bottom: solid 1px #330;  
}

#checkout-wrapper > li {
    border-bottom: solid 1px #ccc; 
    min-height: 100px;
    
    padding-left: 0px;
    padding-right: 0px;
    
    margin: 0px 0px 10px 0px;
    
}

#checkout-wrapper > li.list-items-header {
    border-bottom: solid 1px #000;
    background: #000;
    margin-bottom: 5px;
    
    font-weight: bold;
}




#checkout-wrapper > li.last-child {
   border-bottom: none;  
    min-height: 50px;
}


#checkout-wrapper li [class^="list-items-"], 
#checkout-wrapper li [class*=" list-items-"] {
    float: left;
}

#checkout-wrapper-header [class^="list-items-"], 
#checkout-wrapper-header [class*=" list-items-"]{
    
    color: #fff;
}



#cart-errors {
    margin: 10px 0xp;
}

#cart-errors li {
    border: none;
    border-top: dotted 1px #f00;
    
    color: #f00;
    font-size: 70%;
    
    min-height: 20px;
    
    padding: 5px 0px 5px 0px;
    margin: 0px 0px;
    
}

#cart-errors li.last-child {

    min-height: 0px;
    border: none;
    border-bottom: dotted 1px #f00; 
    
}



#cart-status-message li {
    border: none;
    border-top: dotted 1px #660;
    
    color: #660;
    font-size: 70%;
    
    min-height: 20px;
    
    padding: 5px 10px 5px 10px; 
}


#cart-status-message li.last-child {

    min-height: 0px;
    border: none;
    border-bottom: dotted 1px #660;
    
}


/*

#cart-checkout-button {
    float: right;
    margin: 0px 0px 0px 10px;
}

*/

#cart-update-button {
    float: left;
    margin: 0px 10px 0px 10px;
}


#cart-continue-button-1, 
#cart-continue-button-2 {
    float: left;
    margin: 0px 10px 0px 0px;
}





/*

CART SUMMARY

*/



#cart-summary {
    width: 280px;
    float: right;

    margin-bottom: 20px;
}

#cart-summary li {
    border: none;
    background: #eee;
   
    margin: 1px;
    padding-left: 10px;
}

#cart-summary li.list-items-header {
    border: none;
    background: #322;
    
    margin: 1px;
    color: #fff;
    
    font-size: 150%;
}


#cart-summary li.last-child {
    border: none;
    background: #f5f5f5;
    margin: 1px;
    
    font-size: 140%;
    color: #f00;
    
}






.stock-low {
    color: #f00;
}






.sub-section-header {
    margin-top: 10px;

    display: block;
    width: 100%;
    height: 30px;
    
    
    font-size: 18px;
    border-bottom: dotted 1px #aaa;
}

.sub-section-header:before {
   position: relative;
   left: -5px;
   top: 1px;
   font-size: 20px; 
}







#shipping-info-form-wrapper {
    height: 350px;
    width: 349px;
    
    margin-right: 1px;
    
    padding: 0px 0px;
    background: #222;
}



#shipping-info-form-wrapper .sub-section-header {
    width: 325px;
    color: #fff;
    padding-left: 25px;
}







#edit-shipping-address {
    height: 280px;
    width: 360px;
    
    margin: 20px 10px 10px 20px;
    z-index: 4;
}


#shipping-address-summary {
    display: none;
}

#edit-shipping-address > .field-label {
    width: 80px;
    min-height: 30px;
    
    font-size: 80%;
    margin: 1px 1px;
    padding: 0px 5px;
    
    color: #888;
}


#edit-shipping-address > .field-input {
    width: 230px;
    min-height: 30px;
    margin: 1px 1px;
    
}


#edit-shipping-address > .field-input > input {
    background: #555;
    border: none;
    color: #ccc;
    
    height: 13px;
    width: 200px;
}




/*

SHIPPING OPTIONS 

*/

#shipping-options-wrapper {    
    display: none;
    height: 350px;
    width: 280px;

    padding: 0px 0px;
    background: #222;
}


#shipping-options-wrapper .sub-section-header {
    width: 315px;
    color: #fff;
}




/*

ADDRESS BOOK


*/


#address-book-wrapper {
    display: none;

    height: 350px;
    width: 280px;
    
    margin: 0px 0px;
    
    background-color: #222;
    
    /*
    border-radius:15px;	
    -moz-border-radius:15px;	
    -webkit-border-radius:15px;
    */
    
    
}



#address-book-wrapper > .sub-section-header {
    width: 260px;
    color: #fff;
    padding-left: 15px;
}

#address-book-wrapper > .sub-section-header > span.icon-book-2 {
    position: relative;
    top: 2px;
}
 
#address-book-note {
    margin: 0px 0px;
    padding: 10px;
    border-bottom: dashed 1px #666;
    font-size: 70%;
    color: #999;
    
    background: #222;
}


#address-book-entries {

    margin: 0px 0px;
    padding: 10px;
    
    /*
    border-bottom: dashed 1px #666;
    background: #333;
    */
}

#address-book-entries > a > li {
    display: inline-block;
    width: auto;
    list-style: none;
    margin: 0px 5px 10px 15px;
    font-size: 80%;
    color: #aaa;
    border-bottom: dashed 1px transparent;
    
}

#address-book-entries > a > li:before {
    position: relative;
    left: -5px;
}

#address-book-entries > a > li:hover {
    border-bottom: dashed 1px #aaa;
}



#delivery-section-eye-candy {
    height: 350px;
    width: 350px;    

    padding: 0px 0px;
    background: url('../images/ui/emma-3.3.jpg') repeat;
}



/*

CHECKOUT SECTIONS

*/


.checkout-step-header:before {
    position: relative;
    left: -5px;
    
    font-size: 120%;
}


