/* 
    Document   : cart-display
    Created on : Nov 10, 2012, 6:47:25 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
*/

.content {
    width: 960px;
    margin-bottom: 50px;
}



.wide-content-wrapper {
    left: 0px;
    
    
}

.page-title {
    width: 940px;
    /* border-bottom: solid 1px #330;  */
    padding: 0px 0px 5px 0px;
    
    margin: 0px auto;
}




#checkout-notices {
    margin: 10px 0px;
}

#checkout-notices li {
    min-height: 20px;
    height: auto;
    min-width: 190px;
    
    margin: 0px 10px 10px 10px;
    padding: 5px 5px 5px 10px;
    
    z-index: 4;
    
    color: #fff;
    background: #909;
    font-size: 70%;
    text-align: left;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
}

#checkout-notices li.last-child {

    min-height: 0px;
    border: none;
    background: none;
    border-bottom: dotted 1px #f00; 
    
}


#checkout-notices a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}


#bread-crumps {
	text-indent: 10px;
}


#checkout-wrapper {
    width: 940px;
    margin: 0px auto;
    padding: 10px 0px 0px 0px;

}

#checkout-wrapper > li {
    border-bottom: solid 1px #ccc; 
    min-height: 100px;

    
    margin: 0px 0px 20px 0px;
    
}


#checkout-wrapper > li.last-child {
    border-bottom: none; 
    min-height: 50px;
    margin: 0px 0px;
    
}

#checkout-wrapper > li.list-items-header {
    border: none;
    background: #000;
    margin-bottom: 1px;
    
    font-weight: bold;
    text-indent: 20px;
}

#checkout-wrapper > li.list-items-header, 
#checkout-wrapper > li.list-items-header > div {
    color: #777;
}


#checkout-wrapper > li.last-child {
   border-bottom: none;  
    min-height: 50px;
}


#checkout-wrapper li [class^="list-items-"], 
#checkout-wrapper li [class*=" list-items-"] {
    float: left;
}

.checkout-wrapper-header [class^="list-items-"], 
.checkout-wrapper-header [class*=" list-items-"]{
    
    color: #fff;
}





.sub-section-header {
    margin-top: 10px;

    display: block;
    width: 100%;
    height: 30px;
    
    color: #000;
    text-indent: 20px;
    font-size: 18px;
    border-bottom: solid 1px #000;
}

.sub-section-header:before {
   position: relative;
   left: -5px;
   top: 1px;
   font-size: 20px; 
}



.list-items-row {
    padding-bottom: 6px;
}




#shipping-info-form-wrapper {
    width: 418px;
    min-height: 300px;
    height: auto;
    
    margin-right: 0px;
    
    padding: 0px 0px;
    background: none;
}






#delivery-section-eye-candy {
    min-height: 200px;
    width: 238px;

    padding: 0px 0px;
    background: url('../images/emma-3.3.jpg') repeat;
    background: none;
}





/*

SHIPPING OPTIONS 

*/

#shipping-options-wrapper { 
    width: 280px;    
    min-height: 300px;
    height: auto;
    margin-right: 0px;

    padding: 0px 0px;
    background: none;
}


#shipping-options {
    height: auto!important;
    min-height: 50px;
}

#mini-shipping-charges {
    height: 20px;
    min-width: 200px;
    width: auto;
    
    margin: 20px 20px 10px 20px;
    padding-top: 7px;
    z-index: 4;
    
    font-size: 75%;
    text-align: left;
    
    border-top: solid 1px #f00;
}

#mini-delivery-info {
    height: auto;
    min-width: 190px;
    
    margin: 0px 20px 10px 20px;
    padding: 5px 5px;
    z-index: 4;
    
    color: #fff;
    background: #909;
    font-size: 70%;
    text-align: left;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
}

#shipping-options-list {
    list-style: none;
}

#shipping-options-list > li {
    list-style: none;
}


/*

ADDRESS BOOK


*/


#address-book-wrapper { 
    display: none;

    height: 350px;
    width: 280px;
    
    margin: 0px 0px;
    
    background: none;
    
    /*
    border-radius:15px;	
    -moz-border-radius:15px;	
    -webkit-border-radius:15px;
    */
    
    
}




#address-book-wrapper > .sub-section-header > span.icon-book-2 {
    position: relative;
    top: 2px;
}
 
#address-book-note {
    margin: 0px 0px;
    padding: 10px;
    border-bottom: dashed 1px #666;
    font-size: 70%;
    color: #999;
    
    background: none;
}


#address-book-entries {

    margin: 0px 0px;
    padding: 10px;
    
    /*
    border-bottom: dashed 1px #666;
    background: #333;
    */
}

#address-book-entries > a > li {
    display: inline-block;
    width: auto;
    list-style: none;
    margin: 0px 5px 10px 15px;
    font-size: 80%;
    color: #aaa;
    border-bottom: dashed 1px transparent;
    
}

#address-book-entries > a > li:before {
    position: relative;
    left: -5px;
}

#address-book-entries > a > li:hover {
    border-bottom: dashed 1px #aaa;
}




/*

CHECKOUT SECTIONS

*/


.checkout-step-header:before {
    position: relative;
    left: -5px;
    
    font-size: 120%;
}






/*

PAYMENT DETAILS

*/




#billing-info-form-wrapper {
    width: 418px;
    min-height: 200px;
    height: auto;
    
    margin-right: 0px;
    
    padding: 0px 0px;
    background: none;
    
}






#billing-section-eye-candy {
    min-height: 200px;
    width: 238px; 
    height: auto;
    

    padding: 0px 0px;
    background: url('../images/emma-3.3.jpg') repeat;
    background: none;
    background-position: 0px -150px;
}


#billing-payment-method {
    min-height: 200px;
    height: auto;
    width: 280px; 
    margin-right: 0px;

    padding: 0px 0px;
    background: none;
}




#payment-options-list li {
    text-indent: 20px;
    padding-bottom: 0px;
}



.billing-address-cue {
    height: auto;
    min-height: 100px;
    width: auto;
    
    margin: 20px 20px 10px 20px;
    z-index: 4;
    
    color: #000;
    font-size: 75%;
    text-align: left;
    
}






/*

ADDRESS EDITOR FORM

*/

.edit-address {
    height: 280px;
    width: 360px;
    
    margin: 20px 10px 10px 30px;
    z-index: 4;
}

.address-summary {
    display: none;
}



.edit-address > .field-label {
    width: 110px;
    min-height: 30px;
    
    font-size: 80%;
    margin: 1px 1px;
    padding: 0px 5px;
    
    color: #000;
}


.edit-address > .field-input {
    width: 200px;
    min-height: 30px;
    margin: 1px 1px;
    
}


.edit-address > .field-input input {
    background: none;
    border: solid 1px #aaa;
    color: #000;
    
    height: 15px;
    width: 180px;
}


.edit-address > .field-input select {
    background: none;
    border: solid 1px #aaa;
    color: #000;
    
    height: 20px;
    width: 180px;
}

.checkout-notice {
    display: block;
    font-size: 70%;
    color: #555;
    padding-bottom: 10px;
}


.list-items-header {
    margin-bottom: 0px;
    color: #777;
}




/*

AUTOCOMPLETE CSS




.ui-autocomplete {
    padding: 0;
    list-style: none;
    background-color: #fff;
    width: 218px;
    border: 1px solid #B0BECA;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ui-autocomplete .ui-menu-item a {
    border-top: 1px solid #B0BECA;
    display: block;
    padding: 4px 6px;
    color: #353D44;
    cursor: pointer;
}
.ui-autocomplete .ui-menu-item:first-child a {
    border-top: none;
}
.ui-autocomplete .ui-menu-item a.ui-state-hover {
    background-color: #D5E5F4;
    color: #161A1C;
}


*/