/* 
    Document   : contact.css
    Created on : Nov 10, 2012, 6:47:25 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
*/

.content {
    margin-bottom: 50px;
}

/*
.page-title {
    border-bottom: solid 1px #330;  
    padding: 0px 0px 5px 0px;
    
    margin-left: 0px;
    margin-bottom: 30px;
}
*/

.contact-deco {
    margin-right: 20px;
}



.contact-address-wrapper {
    margin-left: 20px;
}