/*
    Document   : inspiration
    Created on : Oct 18, 2013, 6:36:17 AM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
    Description:
        Purpose of the stylesheet follows.
*/



.inner-content-wrapper p {
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

.inner-content-wrapper hr {
    margin-left: 30px;
    margin-right: 30px;
    border: 0;
    border-top: solid 1px #ccc;
    margin-bottom: 15px;
}


.inner-content-wrapper h4, h3 {
    margin-left: 30px;
    margin-right: 30px;
}
