/* 
    Document   : login
    Created on : Nov 12, 2012, 3:56:32 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>

*/


.inner-content-wrapper {
	width:780px;
        
}


#login-wrapper {
    display: block;
    min-width: 200px;
    height: auto;
    
    padding: 0px 0px;
}

#login-wrapper > li {
    display: block;
    min-width: 300px;
    margin: 0px 0px;
    
    border-right: dotted 1px #ccc;
    float: left;
}

#login-wrapper li.last-child {
    border-right: none;
}

#login-form-table {
    
}


#login-form-table td {
    text-align: left;
}

#login-form-table > tbody > tr > td, 
#login-form-table > thead > tr > th {
    padding-top: 10px;
    padding-right: 15px;
}

#login-form-table th {
    text-align: left;
    padding-bottom: 0px;
    
    font-weight: normal;
}


.login-field-label {
    font-size: 90%;
}


.login-sub-header {
    font-size: 120%;
}

th.login-sub-header > .text {
    margin-bottom: 15px;
}

.login-text-normal {
    font-size: 90%;
}

#new-customer-box {
    display: block;
    width: 380px;
    
    margin: 0px 10px 0px 30px;
    padding: 0px 0px;
}

#new-customer-box > li {
    margin: 10px 0px 20px 0px;
    padding: 0px 0px;
    
    text-align: left;
}


#new-customer-box > li.login-sub-header {
    margin-bottom: 20px;
}

#new-customer-box > li#hello-stranger {
    margin-bottom: 25px;
}


.error-text {
    font-size: 70%;
    color: #f00;
    width: 230px!important;
    height: auto;
     
}

.response-text {
    font-size: 70%;
    color: #fff;
    background: #990099;
    width: 96%;
    height: auto;
    padding: 5px 5px;
    margin-bottom: 10px;     
}


.instructions {
    width: 95%;
    font-size: 80%;
    padding: 0px 0px;
    text-align: left;
}