/*
    Document   : shop-landing
    Created on : Nov 12, 2012, 3:56:32 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>

*/


/*
.content {
    text-align: left;

}

.page-title {
    width: 780px!important;
    padding: 0px 0px 5px 0px;
    border-bottom: solid 1px #000;

    margin-bottom: 30px;
}
*/

#lookbook-outer-wrapper {
    width: 780px; /* 875px; */
    min-height: 346px;


    padding-top: 0px!important;
    padding-left: 0px!important;

    list-style: none;
    overflow: hidden;

    border: none;

    position: relative;
    top: 0px;
    left: 0px;


}


#lookbook-wrapper {
    position: relative;
    display: block;
    margin: 0px auto;
    float: none;

    border: none;
    background: none;

    width: 260px;
    height: 346px;
    overflow: visible;

    /*

    border:solid 6px rgba(100, 100, 100, .3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5) inset;
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, .5) inset;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, .5) inset;

    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    */
}



#lookbook-wrapper ul.slide-strip {
    position: absolute;
    top: 0px;
    left: -300px;
    display: block;

    width: 260px;
    height: 346px;

    list-style: none;
    z-index: 10;

}


#lookbook-wrapper ul.slide-strip li.slide {
    display: block;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 260px;
    height: 346px;

    float: left;

    background-color: rgba(0, 0, 100, .3);

    overflow: hidden;
}


#lookbook-wrapper ul.slide-strip li.slide > img {
    width: 260px;
    height: 346px;
}




#lookbook-wrapper ul.slide-strip li.slide .slide-content-wrapper {
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;

    width: 260px;
    height: 346px;
}







/*


SLIDE THUMBS


*/







#lookbook-thumbs-outer-wrapper {
    width: 780px; /* 875px; */
    min-height: 120px;


    margin-top: 2px;
    padding-top: 0px!important;
    padding-left: 0px!important;

    list-style: none;
    overflow: hidden;

    border: none;

    position: relative;
    top: 0px;
    left: 0px;


}


#lookbook-thumbs-wrapper {
    position: relative;
    display: block;
    margin: 0px 0px;
    float: none;

    border: none;
    background: none;

    height: 120px;
    width: 780px;
    overflow: hidden;

    /*

    border:solid 6px rgba(100, 100, 100, .3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5) inset;
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, .5) inset;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, .5) inset;

    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    */
}



#lookbook-thumbs-wrapper ul.slide-strip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;

    height: 120px;
    width: 90px;

    list-style: none;
    z-index: 10;

    background: none;

}


#lookbook-thumbs-wrapper ul.slide-strip li.slide {
    display: block;
    list-style: none;
    margin: 0px 1px 0px 0px;
    padding: 0px 0px;
    height: 120px;
    width: 90px;

    float: left;


    overflow: hidden;
}






#lookbook-thumbs-wrapper ul.slide-strip li.slide .slide-content-wrapper {
    display: block;
    overflow: hidden;
    margin: 0px 3px 0px 0px;
    padding: 0px 0px;

    height: 120px;
    width: 90px;
}






#lookbook-outer-wrapper a,
#lookbook-thumbs-wrapper a {
    text-decoration: none;
}


.lookbook-nav-button {
    display: block;
    height: 120px;
    width: 50px;
    background: #aaa;
    color: #000;

    opacity:.7;
    -moz-opacity:.7;
    filter:Alpha(opacity=70);

    z-index: 100;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}



.lookbook-nav-button:hover {
    opacity:1;
    -moz-opacity:1;
    filter:Alpha(opacity=100);
}


.lookbook-nav-button.prev {
    position: absolute;
    left: 0px;
    top: 0px;
}


.lookbook-nav-button.next {
    position: absolute;
    right: 0px;
    top: 0px;
}




.my-gallery {
  position: relative;
  width: 100%;
  float: none;

  margin: 15px 0px;
}

.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 150px;
    height: 170px;
    overflow-y: hidden;
}
.my-gallery figcaption {
  display: none;
}
