@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('fonts/gothic-webfont.eot');
    src: url('fonts/gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothic-webfont.woff') format('woff'),
         url('fonts/gothic-webfont.ttf') format('truetype'),
         url('fonts/gothic-webfont.svg#CenturyGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'GeosansLight';
    src: url('fonts/GeosansLight.eot');
    src: url('fonts/GeosansLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/GeosansLight.woff') format('woff'),
         url('fonts/GeosansLight.ttf') format('truetype'),
         url('fonts/GeosansLight.svg#GeosansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Socicon';
    src: url('fonts/socicon/socicon.eot');
    src: url('fonts/socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('fonts/socicon/socicon.woff') format('woff'),
         url('fonts/socicon/socicon.ttf') format('truetype'),
         url('fonts/socicon/socicon.svg#socicon') format('svg');
    font-weight: normal;
    font-style: normal;

}


.social-icon {
    font-family: 'Socicon'!important;
    text-decoration: none;
    
}




/*

@font-face {
    font-family: 'Hello Kitty';
    src: url('fonts/entypo-icon-font/entypo-webfont.eot');
    src: local('?'), url('fonts/entypo-icon-font/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo-icon-font/entypo-webfont.woff') format('woff'),
         url('fonts/Hello-Kitty-Angel.ttf') format('truetype'),
         url('fonts/entypo-icon-font/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*/




/*

MAIN LAYOUT

*/

body {
	/* background-image:url(../images/bgs/paper-bg-blue-01.jpg); */
        background: #fff;
}



.main-logo {
    display: block;
    position: relative;
    
    
    width:220px; 
    height:70px; 
    background:url(../images/logo/logo-horizontal-black.png) no-repeat;
    background-position: left center;
    
    margin: 0 0;
    margin-top: -25px;
    
    /*
    top: 0px;
    left: 0px;
    width:230px; 
    height:126px; 
    background:url(../images/aimas_logo.png); 
    */
    
    background-size: contain; 
    z-index:0; 
    
}


.main-logo-2 {
    display: block;
    position: relative;
    
    
    width:150px; 
    height:150px; 
    background:url(../images/logo/color.png) no-repeat;
    background-position: left center;
    
    margin: 0 auto;
    
    /*
    top: 0px;
    left: 0px;
    width:230px; 
    height:126px; 
    background:url(../images/aimas_logo.png); 
    */
    
    background-size: contain; 
    z-index:0; 
    
}



.main-logo-full {
    display: block;
    position: absolute;
    top: -10px;
    left: 0px;
    
    
    width:220px; 
    height:220px; 
    background:url(../images/logo/color.png) no-repeat;
    background-position: left center;
    
    /*
    width:230px; 
    height:126px; 
    background:url(../images/aimas_logo.png); 
    */
    
    background-size: contain; 
    z-index:0; 
    
}



#bread-crumps {
	font-size:70%;
	margin-bottom:10px;
        padding: 10px 5px 0px 7px;
        
        text-align: left;
}

#bread-crumps a:hover, 
#bread-crumps a:focus {
        text-decoration: none!important;
	/* border-bottom:dashed 1px #444; */
	
}







.secondary-nav {
    position: relative;
    
    display: block;
    list-style: none;
    
    margin: 10px 0px 40px 0px;
    padding: 10px 25px;
    
    height: 30px;
    width: auto;
    
    border: none;
    
    background: #fff;
    background: rgba(255, 255, 255, .4);

    border-radius: 10px;	
    -moz-border-radius: 10px;	
    -webkit-border-radius: 10px;
    
    z-index: 400;
    
}


.secondary-nav li {
    float: left;
    
    font-size: 65%;
    color: #444;
    
    margin: 0px 25px 0px 0px;
    
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.secondary-nav li > span.connector {
    display: block;

    position: relative;
    top: 8px;
    left: 0%;
        
    border-bottom: dotted 1px #aaa;
    width: 100%;
    padding-left: 26px;
    
    float: right;
}


.secondary-nav li.first-child > span.connector {
    width: 50%;
    padding-left: 0px;
    
}


.secondary-nav li.last-child > span.connector {
    left: -50%;
        
    width: 50%;
}


.secondary-nav li:hover {
    color: #777;
}


.secondary-nav li.active-crumb {
    color: #000;
}






.secondary-nav li:after {
	content:' ';
	
	display:block;
	
        position: relative;
        top: 4px;
        left: 0px;
        
        margin: 0px auto;
        	
		
	width:10px;
	height:10px;
	
	border: none;

        background: #aaa;
	
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}


.secondary-nav li.active-crumb:after {
        
        background: #000;
}





.white-circular-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    
    border-radius:15px;	
    -moz-border-radius:15px;	
    -webkit-border-radius:15px;
    
    background-color: #fff;
    color: #000;
    
    margin-right: 10px;
}


.white-circular-icon:before {
    position: relative;
    left: 5px;
    top: 2px;
    
    font-size: 20px;
}



/*

ANCHOR STYLES

*/


a.deco-dashed:hover, 
a.deco-dashed:focus {
    border-bottom: dashed 1px #000;
}



.shop-side-bar-wrapper {
	width:160px;
	min-height:200px;
        height: auto;
        
        display: none;
}


.shop-side-bar {
	width: 140px;
        height: auto;
        
        list-style: none;
        margin: 3px 2px;
        padding: 10px 0px 50px 0px;
        text-align: left;
        
        border: none;
        background: none;
}


.shop-side-bar li {
	width: 120px; /* auto; */
	min-height: 10px;
        display: inline-block;
        
        position: relative;
        left: -6px;
        
        list-style: none;
        margin: 0px 0px 10px 0px;
        padding: 5px 10px;
        
        font-size: 75%;
        text-align: left;
        text-transform: none;
	
	border: solid 1px #777;
        
        font-weight: bold;
        color: #000;
        background: #fff;
        
        
        /*

        -moz-box-shadow: 0px 2px 4px rgba(10, 10, 10, .1);
        -webkit-box-shadow: 0px 2px 4px rgba(10, 10, 10, .1);
        box-shadow: 0px 2px 4px rgba(10, 10, 10, .1);
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        */
    
        
	
}





        
/*

.shop-side-bar {
	width: 140px;
        height: auto;
        
        list-style: none;
        margin: 3px 2px;
        padding: 10px 0px 50px 0px;
        text-align: left;
        
        border: none;
        border-right: solid 5px #000;
        background: #000;
        background: rgba(0, 0, 0, .8);
}


.shop-side-bar li {
	width: 120px; 
	min-height: 10px;
        display: inline-block;
        
        position: relative;
        left: 0px;
        
        list-style: none;
        margin: 0px 0px 10px 0px;
        padding: 5px 10px;
        
        font-size: 75%;
        text-align: left;
        text-transform: none;
	
	border: none; 
        border-bottom: dotted 1px #aaa;
        font-weight: bold;
        color: #fff;
	
}

*/




.shop-side-bar li img.sidebar-icon {
    height: 12px;
    width: 12px;
    float: right;
    display: none;
}


.shop-side-bar a {
    
        /* font-family: 'Chunkfive'; */
}


.shop-side-bar a:hover > li img.sidebar-icon {
    display: block;
}


.shop-header {
	width: 960px;
	min-height: 100px;
	height: auto;
        padding: 0px 0px;
        padding-top: 40px;
	
	
	float:left;
}



.header-row {
    display: block;
    width: 960px;
    min-height: 40px;
    height: auto;
    padding: 0px 0px;
    
    font-size: 100%;
    color: #555;
}


#header-row-1.header-row {
    height: 60px;
    padding-bottom: 0px;
    border-bottom: solid 1px #eee;
}




#header-text-banner-row {
    display: none;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
}

.header-text-banner {
    display: block;
    width: 479px;
    min-height: 20px;
    height: auto;
    
    background: #bbb;
    color: #fff;
    text-align: center;
    margin-right: 1px;
    padding: 5px 0px;
}

.header-text-banner.last-child {
    margin-right: 0px;
    margin-left: 0px;
}


.header-text-banner a {
    color: #fff;
}


#header-links-row {
    /* border-top: solid 1px #eee; */
    border-bottom: solid 1px #eee;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
    min-height: 20px;
}

.header-links {
    margin: 0 0;
    display: inline-block;
    width: auto;
    text-align: left;
}



.header-links > .menu-item-wrap {
    position: relative;
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 0 0;
    text-align: center;
    
}

.header-links > .menu-item-wrap:first-child {
    margin-left: 0px;
}


.header-links > .menu-item-wrap > a {
    font-size: 0.8em;
    margin: 0px 0px;
    padding: 8px 8px;
    text-transform: uppercase;
    color: #999;
    font-weight: bold;
}

.header-links a[nohref] {
    cursor: default;
}

.header-links > .menu-item-wrap > a.active, 
.header-links > .menu-item-wrap > a:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

.header-links a[nohref]:hover,
.header-links a[nohref] {
    cursor: default;
    text-decoration: none;
}

.search-box-wrapper {
    margin-top: -3px;
}




/* ================== SUBMENUS ================== */


.submenus {
    position: absolute;
    display: block;
    
    width: 100%;
    min-height: 1px;
    
    
    z-index: 400;
}

ul.submenu {
    position: absolute;
    display: none;
    top: 22px;
    left: 0px;
    
    list-style: none;
    padding: 0 0;
    margin: 0 0;
    
    min-width: 150px;
    width: auto;
    
    background: #fff;
    
    box-shadow: 0px 2px 4px rgba(10, 10, 10, .40);
    -moz-border-box-shadow: 0px 2px 4px rgba(10, 10, 10, .40);
    -webkit-border-box-shadow: 0px 2px 4px rgba(10, 10, 10, .40);
    
    z-index: 400;
}

ul.submenu.active {
    display: inline-block;
}


/*
ul.submenu:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:12px 10px;
	border-bottom-color: #000;
	
	position:absolute;
	top:-25px;
	right: 48%;
	
}
*/



ul.submenu li {
    position: relative;
    display: block;
    text-align: left;
    
    
    border-radius: 2px;	
    -moz-border-radius: 2px;	
    -webkit-border-radius: 2px;
    
    list-style: none;
    padding: 5px 15px;
    margin: 4px 3px;
    
    min-width: 150px;
    width: auto;
}


ul.submenu li > a {
    text-transform: lowercase;
    
    font-size: .9em;
    text-align: left;
    color: #000;
    
    letter-spacing: 2px;
}

ul.submenu li > a:hover {
    color: #000;
}




ul.submenu.level0 > li > a {
    font-weight: normal;
}



ul.submenu.level1 {
    position: relative;
    display: block;
    top: 0px;
    left: 0px;
    
    background: none;
    box-shadow: none;
    -moz-border-box-shadow: none;
    -webkit-border-box-shadow: none;
}


ul.submenu.level1 li {
    
    padding: 5px 15px;
    margin: 4px 3px;
    
    min-width: 150px;
    width: auto;
}

ul.submenu.level1 li > a {
    text-transform: lowercase;
    
    font-size: .9em;
    text-align: left;
    color: #777;
    
    letter-spacing: 2px;
}


#dotted-line-1 {
    position: absolute;
    top: 130px;
    left: 0px;
}


#dotted-line-2 {
    position: absolute;
    top: 170px;
    left: 0px;
}


.shop-footer {
	padding: 10px 0px;
        margin-bottom: 30px;
	background: none;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */

	width: 960px;
	height:140px;
	
	/* border:dotted 1px #f00; */
	
}



.footer-row {
    display: block;
    width: 950px;
    min-height: 10px;
    height: auto;
    padding: 20px 5px 40px 5px;
    
    font-size: 75%;
    color: #555;
}

.footer-row a {
    color: #555;
}

.footer-row p {
    padding: 0px 0px;
}

.footer-links {
    font-size: 110%;
}

.footer-links a {
    margin-right: 10px;
    text-transform: lowercase;
}


.footer-row.last-child,  
.footer-row.first-child {
    border-top: solid 1px #eee;
}




.social-bar {
  position: relative;
  display: block;
  height: auto;
  float: right;
  margin-top: -10px;
  background: none;
  text-align: right;
  width: 40%; }
  .social-bar .networks {
    list-style: none;
    position: relative;
    display: inline-block;
    float: none;
    width: auto;
    margin: 0 auto; }
    .social-bar .networks > li {
      list-style: none;
      display: block;
      float: left;
      margin-right: 6px;
      padding: 2px 6px;
      margin-right: 10px;}
      .social-bar .networks > li > a:hover {
          text-decoration: none;
      }
      .social-bar .networks > li .social-icon {
        color: #000;
        font-size: 18px;
        margin: 0 0; }
      .social-bar .networks > li .social-icon {
        font-size: 22px;
        margin: 0 0; }


.footer-wallpaper {
    display: none;
    height: 251px;
    margin-top: 50px;
    
    opacity: 1; 
    -moz-opacity: 1; 
    filter:Alpha(opacity=100); 
}

.page-title {
    font-size: 130%;
    font-weight: bold;
    display: block;
    width: 100%;
    min-height: 30px;
    
    margin: 0px 0px 10px 0px;
    padding-top: 10px;
    text-align: left;
    
}


.page-title-2 {
    font-size: 130%;
    font-weight: bold;
    display: block;
    width: auto;
    min-height: 30px;
    
    margin: 0px 10px 40px 50px;
    text-align: left;
    
}









/*

PHOTO GRIDS

*/


.photo-grid {
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px!important;
    
    min-height: 50px;
}

.photo-grid li {
    list-style: none;
    margin: 0px 5px 5px 0px;
    padding: 0px 0px!important;
    
    float: left;
}







/*

CLASS TO STRIP LIST STYLE

*/


ul.list-style-stripped {
  list-style: none;
}


ul.list-style-stripped li {
    list-style: none;
    margin: 0px 10px;
    padding: 10px 0px;
    
}








/*


LIST ITEMS

*/


.list-items {
    list-style: none;    
    margin: 0px 0px;
    padding: 0px 0px;
}



ul.list-items>li, 
ul.list-items>form>li{
    list-style: none;
    margin: 0px 10px;
    
    text-align: left;
    min-height: 10px;
    
}

.list-items li:last-child {
    border-bottom: none;
}

.list-items  li [class^="list-items-"], 
.list-items li [class*=" list-items-"] {
    min-height: 10px;
    min-width: 20px;
    
    margin: 0px 10px 0px 0px;
    font-size: 75%;
}


.list-items-header {
    margin-bottom: 10px;
    padding: 10px 0px;
    color: #777;
}


.list-items-header, 
.list-items-header [class^="list-items-"], 
.list-items-header [class*=" list-items-"] {
    min-height: 20px!important;
    
    font-weight: bold;
}



.list-items-header [class^="list-items-"].center, 
.list-items-header [class*=" list-items-"].center, 
.list-items li [class^="list-items-"].center, 
.list-items li [class*=" list-items-"].center{
    text-align: center;
}


.list-items-header [class^="list-items-"].right, 
.list-items-header [class*=" list-items-"].right, 
.list-items li [class^="list-items-"].right, 
.list-items li [class*=" list-items-"].right{
    text-align: right;
}


.list-items-xx-narrow-col {
    width: 20px;
}

.list-items-x-narrow-col {
    width: 80px;
}


.list-items-narrow-col {
    width: 120px;
}


.list-items-wide-col {
    width: 150px;
}

.list-items-x-wide-col {
    width: 250px!important;
}

.list-items-xx-wide-col {
    width: 350px;
}




/*


THUMB SIZES


*/



.tiny-thumb-1 {
    display: block;
    height: 20px;
    width: auto;
    
    margin: 0px 5px 5px 0px!important;
}


.large-thumb-l {
	height:263px;
	width:175px;
}

.mini-thumb-1 {
	
	width:90px;
	height:135px;
	
}


.x-mini-thumb-1 {
	
	width:60px;
	height:90px;
	
}





/*


FRAMES (for thumbs, pictures, boxes)


*/


.frame-polaroid-1 {
    background: #fff;
    border:solid 1px #fff;

    box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    -moz-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    -webkit-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    
    padding: 5px 5px 30px 5px;
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
}


.frame-classic-1 {
    background: #fff;
    border:solid 1px #fff;

    box-shadow: 0px 1px 4px rgba(150, 10, 10, .30);
    -moz-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .30);
    -webkit-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .30);
    
    padding: 3px 3px;
    
}


.frame-classic-outlined-1 {
    background: #fff;
    border:solid 1px #eee;

    box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    -moz-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    -webkit-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    
    padding: 5px 5px 5px 5px;
    
}


.frame-classic-outlined-2 {
    background: #fff;
    border:solid 1px #eee;

    box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    -moz-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    -webkit-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    
    padding: 4px 4px;
    
}


.frame-modern-1 {
    background: #fff;
    border:solid 1px #ccc;

    
    padding: 0px 0px;
    
}




/*

LABELS

*/


.label-red-1 {
    background: #f00;
    color: #fff;
    
    font-size: 90%;
    
    padding: 1px 5px;
}


.label-black-1 {
    background: #000;
    color: #fff;
    
    font-size: 90%;
    
    padding: 1px 5px;
}





/*


BUTTONS


*/



.black-button-large-1 {
    display: inline-block;
    height: 20px;
    min-height: 20px;
    min-width: 60px;
    
    padding: 4px 20px;
    margin: 5px 0px;
    
    color: #fff!important;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none!important;
    background: #000;
    cursor: pointer;
    
    border: none;
    
}



.black-button-large-1.deactivated {

    cursor: not-allowed;
    
}



.transparent-button-large-1 {
    display: inline-block;
    height: 18px;
    min-width: 98px;
    text-decoration: none!important;
    
    padding: 4px 20px;
    margin: 5px 0px;
    
    color: #000!important;
    text-align: center;
    background: none;
    
    border: dotted 1px #999;
    
}


input.black-button-large-1 {
    
    min-height: 30px;
    
}


.black-button-mini {
    display: inline-block;
    min-height: 10px;
    
    padding: 4px 15px;
    margin: 5px 0px;
    
    color: #fff!important;
    text-align: center;
    background: #000;
    
    /*
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    */
    
    font-size: 80%;
    text-transform: uppercase;
    text-decoration: none!important;
    
}


.exit-button-1 {
    display: inline-block;
    min-height: 10px;
    
    padding: 2px 15px;
    margin: 5px 0px;
    
    color: #fff!important;
    text-align: center;
    background: #999;
    
    /*
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    */
    
    font-size: 50%;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none!important;
}




.red-button-mini {
    display: inline-block;
    min-height: 10px;
    
    padding: 4px 15px;
    margin: 5px 0px;
    
    color: #fff!important;
    text-align: center;
    background: #e00;
    
    /*
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    */
    
    font-size: 80%;
    text-transform: uppercase;
    text-decoration: none!important;
    
}




.grey-button-mini {
    display: inline-block;
    min-height: 10px;
    
    padding: 4px 15px;
    margin: 5px 0px;
    
    color: #fff!important;
    text-align: center;
    background: #777;
    
    /*
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    */
    
    font-size: 80%;
    text-transform: uppercase;
    text-decoration: none!important;
    
}




.delete-button-1 {
    display: inline-block;
    width: 30px;
    
    font-size: 140%;
    color: #444!important;
    font-style: normal;
    text-decoration: none!important;
    
    position: relative;
    top: 0px;
    left: 0px;
    
    float: none;
    
    z-index: 22;  
}


.delete-button-1:before {
    cursor: pointer;
    
    position: relative;
    top: 2px;
    left: -5px;
    
    color: #333;
    
   
}

/*

SELECT CONTROLS

*/

select.select-control-1 {
    width: 120px;
    height: auto;
    
    padding: 3px 2px;
    
    font-size: 100%;
}


select.select-control-wide {
    width: 240px;
    height: auto;
    
    padding: 3px 2px;
    
    font-size: 100%;
}


select.select-control-x-wide {
    width: 300px;
    height: auto;
    
    padding: 3px 2px;
    
    font-size: 100%;
}



/*

TEXT BOXES

*/


input[type='text'], 
input[type='password'] {
    background: #fff;
    border: solid 1px #ccc;
    box-shadow: 0px 0px 2px rgba(10, 10, 10, .20) inset;
    -moz-border-box-shadow: 0px 0px 2px rgba(10, 10, 10, .20) inset;
    -webkit-border-box-shadow: 0px 0px 2px rgba(10, 10, 10, .20) inset;
    
    color: #000;

    padding: 3px 4px;
    
    /*
    border-radius:0px;	
    -moz-border-radius:0px;	
    -webkit-border-radius:0px;    
    */
}



input.fancy-grey-box {
    border: dotted 1px #ddd;
    background: none;
    color: #888;
    
    box-shadow: none;
    -moz-border-box-shadow: none;
    -webkit-border-box-shadow: none;
    
    padding: 5px 7px;   
    
    /*
    border: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 5px;	
    -moz-border-radius: 5px;	
    -webkit-border-radius: 5px; 
    */
}

input.fancy-grey-box:focus {
    outline: solid 1px #ddd;;
    background: #fff;
}

input#product-search-term {
    position: relative;
    width: 240px;
    top: -5px;
}




label > small, 
a > small {
    font-size: 75%;
    color: #777;
    
    position: relative;
    top: -3px;
}


/*

ICON SIZES

*/



.large-icon:before {
    font-size: 120%;
}

.small-icon:before {
    font-size: 120%;
}

.tiny-icon:before {
    font-size: 70%;
}







/*

SHOPPER DASHBOARD

*/


#shopper-dashboard {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    
    height: 50px;
    min-width: 430px;
    
}

#shopper-dashboard li {
    display: block;
    list-style: none;
    margin: 0px 10px 0px 0px!important;
    padding: 0px 10px 0px 0px;
    
    height: 50px;
    min-width: 60px;
    width: auto;
    
    float: right;
    
    text-align: left;
    
}





.dashboard-section-label {
    display: block;
    min-width: 60px;
    width: auto;
    font-size: 70%;
    text-transform: uppercase;
}

.dashboard-section-text {
    display: block;
    min-width: 60px;
    width: auto;
    font-size: 75%;
    white-space: nowrap;
}




.dashboard-section-icon {
    display: none; /* inline-block; */
    height: 50px;
    min-width: 30px!important;
    width: auto!important;
    padding: 0px 0px!important;
    margin: 0px 0px!important;
    
    float: left;
    outline: none; /* dotted 1px #ddd; */
    
}

#shopping-bag-icon-wrapper.dashboard-section-icon {
    margin-left: 10px!important;
}


img#shopping-bag-icon {
    width: 50px;
    height: 50px;
    
    position: relative;
    top: -10px;
    
    /*
    opacity:.5; 
    -moz-opacity:.5; 
    filter:Alpha(opacity=50); 
    */
}


img#wishlist-icon {
    width: 23px;
    height: 23px;
    float: right;
}


img#my-account-icon {
    width: 23px;
    height: 23px;
    float: right;
}


#shopper-dashboard-bag {
    border-right: none!important;
}

/*
#shopper-dashboard-account:before, 
#shopper-dashboard-bag:before, 
#shopper-dashboard-wishlist:before {
    content: ' ';
    display: inline-block;
    height: 50px;
    width: 40px;
    outline: solid 1px #f00;
    margin-right: 10px;
}
*/



/*

CART MESSENGER

*/


#cart-messenger {
    display: none; 
    min-height:110px; 
    width:300px; 
    position:absolute; 
    top:80px; 
    right:-20px; 
    border:solid 1px #000; 
    background-color:#FFFFFF; 
    vertical-align:middle; 
    text-align:center; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:11px; 
    color:#000; 
    
    border-radius:16px;	
    -moz-border-radius:16px;	
    -webkit-border-radius:16px;

    box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    z-index: 3000;
}


#cart-messenger:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-bottom-color: #000;
	
	position:absolute;
	top:-35px;
	right: 50px;
	
}

#cart-messenger-content {
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    min-height:110px; 
    width:300px; 
    vertical-align:middle; 
    text-align:center; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:11px; 
    color:#000; 
}

#cart-messenger-content li {
    position: relative;
    list-style: none;
    margin: 0px 20px;
    padding: 20px 10px;
    
    width:240px; 
    border-bottom: dashed 1px #ccc; 
}

#cart-messenger-content-header {
    text-align: left;
    font-size: 110%;
    
    font-weight: bold;
}

#cart-messenger-content li:last-child {
    border-bottom: none; 
}

.remove-item-button {
    
    /*
    display: inline-block;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 0;
    height: 15px;
    width: 15px;
    
    font-size: 120%;
    line-height: 12px;
    
    border-radius: 50%;	
    -moz-border-radius: 50%;	
    -webkit-border-radius: 50%;
    */
    
    display: inline-block;
    float: right;
}

#cart-messenger-error-text {
    color: #f00;
}



.cart-messenger-thumb {
    position: relative;
    display: inline-block;
    float:left; 
    margin:0px 10px 0px 0px; 
}


.cart-messenger-item:before {

	position:absolute;
	left:55px;
	top:10px;
	content:attr(quantity);
	color:#fff;
	font-size:100%;
	text-align:center;
	line-height:75%;
	
	background: #046;
        background: rgba(0, 100, 140, .5);
	
	height:8px;
	min-width:8px;
	float:left;
	
	margin:0px 0px 0px 0px;
	padding:5px;
        
        z-index: 50;
	
	border: solid 2px #fff;
        border-radius: 50%;	
        -moz-border-radius: 50%;	
        -webkit-border-radius: 50%;
        box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);

}

.cart-messenger-item {
    text-align: left!important;
    min-height: 90px;
}



/*

AJAX HTML ERROR RESPONSE


*/


#ajax-error-wrapper {
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    min-height:110px; 
    width:300px; 
    vertical-align:middle; 
    text-align:center; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:11px; 
    color:#000; 
}

#ajax-error-wrapper li {
    
    list-style: none;
    margin: 0px 20px;
    padding: 20px 10px;
    
    width:240px; 
    border-bottom: dashed 1px #ccc; 
    
}

#ajax-error-wrapper li:last-child {
    border-bottom: none; 
}








/*


ALERT BOX


*/

.alert-box {
        display:none; 
        position:fixed; 
        top:140px; 
        left:490px; 
        width:300px; 
        min-height: 50px;
        height:auto; 
        z-index:10001;
        
        padding: 15px 10px 10px 10px;
        
        border:solid 1px #000; 
        background-color:#FFFFFF; 
        vertical-align:middle; 
        text-align:center; 
        font-family:Arial, Helvetica, sans-serif; 
        font-size:12px; 
        color:#000; 

        border-radius:16px;	
        -moz-border-radius:16px;	
        -webkit-border-radius:16px;

        box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
        -moz-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
        -webkit-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);

}





.alert-box h2 {
	border-bottom:dashed 1px #aaa;
	padding:5px 5px;

	text-align:left;
	font-size:100%;
	font-weight:normal;
	
	letter-spacing:2px;
}


.alert-box small {
	display:block;
	padding:0px 0px;
	
	width:100%;

	text-align:right;
	font-size:75%;
	font-weight:normal;
        
        margin-top: 20px;
	
	color:#777;
	
}


#fullscreen-bg2 {
    display:none; 
    position:fixed; 
    top:0px; 
    left:0px; 
    height:100%; 
    width:100%; 
    background-color:rgba(0, 0, 0, 0); 
    z-index:10000
}






/* 

MESSAGE BUBBLE


*/

.message-bubble {
	display:none;
	
	position:absolute;
	top:100px;
	left:200px;
	
	min-height:70px;
	width:240px;
	
	background: #fff;
	border: solid 1px #000;
	
	border-radius:16px;	
	-moz-border-radius:16px;	
	-webkit-border-radius:16px;
	
        box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
        -moz-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
        -webkit-border-box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
        
	
	z-index:10020;
        
	
}

.message-bubble p {
	width:auto;
	height:auto;
	
	margin:10px auto 10px auto;
        font-family:Arial, Helvetica, sans-serif; 
	font-size:75%;
	color:#000;
	letter-spacing:normal;
	
        text-align:center; 
	
	
}

.message-bubble p b, 
.message-bubble p strong {
	border-bottom:dotted 2px #444;
	text-transform:capitalize;
}


.message-bubble p small {
	color:#770;
	display:block;
	margin-top:15px;
}

/* bubbles appearing on the right (with arrow pointing left) */

.message-bubble-on-right span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:16px 20px;
	border-bottom-color:rgba(0, 0, 0, 0);
	
	position:absolute;
	top:20px;
	left:-44px;
	
}

.message-bubble-on-right span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:12px 17px;
	border-right-color:#000;
	
	position:absolute;
	top:-13px;
	left:-12px;
	
}



/* bubbles appearing to the left (with arrow pointing right) */

.message-bubble-on-left span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:16px 20px;
	border-left-color:rgba(0, 0, 0, 0);
	
	position:absolute;
	top:20px;
	right:-44px;
	
}

.message-bubble-on-left span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:12px 17px;
	border-left-color:#000;
	
	position:absolute;
	top:-13px;
	right:-12px;
	
}



/* bubbles appearing on top (with arrow pointing down) */

.message-bubble-above span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:20px 16px;
	border-top-color:rgba(0, 0, 0, 0);
	
	position:absolute;
	bottom:-42px;
	left:25px;
	
}

.message-bubble-above span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-top-color:#000;
	
	position:absolute;
	bottom:-13px;
	left: -12px;
	
}


/* bubbles appearing below (with arrow pointing up) */

.message-bubble-below span.bubble-arrow { /*arrow shade */
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:20px 16px;
	border-bottom-color:rgba(0, 0, 0, 0);
	
	position:absolute;
	top:-42px;
	left:25px;
	
}


.message-bubble-below span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-bottom-color:#000;
	
	position:absolute;
	top:-13px;
	right:-12px;
	
}







/*


FORM VALIDATION 

*/


.validator-message {
    display: block; 
    color: #f00; 
    font-size: 70%; 
    margin-bottom: 10px;
}










/*

SEARCH RESULTS 


*/


.search-results-wrapper {
    display: none;
    background: none;
}



.search-results-wrapper  .no-results {
    display: block;
    width: 350px;
    padding: 8px 8px;
    margin: 35px auto;
    
    border-radius:7px;	
    -moz-border-radius:7px;	
    -webkit-border-radius:7px;
    
    background: rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 90%;
    
    cursor: pointer;
}

.search-results-wrapper  .no-results:hover {
    background: rgba(0, 0, 0, .3);
}






/*


PRODUCT THUMB CLASSES

*/



.product-thumb-label {
	display:block;
	
	font-size:75%;
	font-weight: normal;
	color:#777;
        
	
	margin: 5px 0px 0px 0px;
	text-align: center;
	
}


.product-thumb-label .old-price {
    text-decoration: line-through;
}


.product-thumb-label .new-price, 
.product-thumb-label .sale-price {
    margin-left: 5px;
    padding: 0px 3px;
    color: #f00;
}


.product-thumb-label .normal-price {
    margin-left: 0px;
    padding: 0px 3px;
    color: #000;
}






.contact-address-wrapper {
    list-style: none;
    width: 300px;
    margin-bottom: 40px;
}

.contact-address-wrapper > li {
    list-style: none;
    display: block;
    width: 100%;
    float: left;
    text-align: left;
}





.newsletter .email {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}


.newsletter .email:focus {
    width: 240px;
}


.newsletter .button {
    border: none;
    
}




@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.2; }
}

.blink {
  -webkit-animation-name: blink;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: .5s; 
}



@-webkit-keyframes blink-2 {  
  from { 
	opacity: 0.5;
  	-webkit-animation-timing-function: ease-in;
	 }
  50% { 	
  	opacity: 0.9;
  	-webkit-animation-timing-function: ease-in;
	 }

  to { 	
  	opacity: 0.5;
  	-webkit-animation-timing-function: ease-out;
	 }

}

.blink-2 {
  -webkit-animation-name: blink-2;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s; 
}