/* 
    Document   : cart-display
    Created on : Nov 10, 2012, 6:47:25 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
*/

.content {
    text-align: left;
}


.page-title {
    margin-bottom: 20px;
}


.sub-section-header {
    text-align: left;
    border-bottom: solid 1px #aaa;  
    padding: 0px 0px 5px 0px;
    width: 780px;
    
    margin-left: 0px;
}


#personals-details-wrapper {
    padding: 2px;
    border: solid 1px #aaa;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 775px;
    
    -moz-box-shadow: 0px 0px 5px rgba(60, 60, 60, .15);
    -webkit-box-shadow: 0px 0px 5px rgba(60, 60, 60, .15);
    box-shadow: 0px 0px 5px rgba(60, 60, 60, .15);
}

.field-label {
    display: block;
    width: 200px;
    font-weight: bold;
    background: #eee;
}



.field-input {
    display: block;
    width: 550px;
    font-weight: normal;
    background: none;
}


.field-label, 
.field-input {
    color: #000;
    line-height: 30px;
    display: inline-block;
    min-height: 30px;
    height: auto;
    margin: 1px;
    
    font-size: 75%;
    text-align: left;
    text-indent: 5px;
}


#order-history-table {
    font-size: 90%;
    width: 780px;
    border-bottom: solid 1px #000;
    padding-bottom: 20px;
}

#order-history-table > thead > tr > td {
    border-bottom: solid 1px #000;
    font-weight: bold;
} 


#order-history-table > tbody > tr > td {
    border-bottom: dotted 1px #ddd;
} 