@charset "utf-8";
/* CSS Document */


.content {
    margin-bottom: 100px;
    text-align: left;
}


.page-title {
    /* border-bottom: solid 1px #330; */
    padding: 0px 0px 5px 0px;
    
    margin-left: 0px;
    margin-bottom: 0px;
}


.sub-section-header {
    text-align: left;
    border-bottom: solid 1px #aaa;  
    padding: 0px 0px 5px 0px;
    
    margin-left: 0px;
}





/*


ORDER: EXPANDED VIEW



*/



.order-details-wrapper {
    position:relative; 
    
    width: 780px;
    height: auto;
    
    padding: 2px;
    border: solid 1px #aaa;
    
    -moz-box-shadow: 0px 0px 5px rgba(60, 60, 60, .15);
    -webkit-box-shadow: 0px 0px 5px rgba(60, 60, 60, .15);
    box-shadow: 0px 0px 5px rgba(60, 60, 60, .15);
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
}


.order-details-inner-wrapper {
    
    width: 100%;
    height: auto;
    
    padding: 0px 0px;
    overflow: hidden;
    
    background: #fff url('../images/paper-bg.jpg');
    
}




.order-details-inner-wrapper .payment-status {
   display: block;
   
    text-transform: uppercase;
    font-size: 170%;
    font-weight: bold;
    
    font-family: arial;

    opacity:.3; 
    -moz-opacity:.3; 
    filter:Alpha(opacity=30); 
}

.order-details-inner-wrapper .payment-status.paid {
    color: #064;
}


.order-details-inner-wrapper .payment-status.cash-on-delivery {
    color: #660;
}


.order-details-inner-wrapper .payment-status.pending {
    color: #660;
}

.order-details-inner-wrapper .payment-status.cancelled {
    color: #800;
}


.order-details-inner-wrapper .payment-status.failed {
    color: #800;
}






.table-1 {
    width: 100%;
}

.table-1 td {
	background: #000;
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	padding: 10px 10px 0px 10px;
}

.table-1 td .order-num {
	color: #aa0;
        width: 70%;
        background: #111;
        padding: 5px 10px 5px 0px;
        border-radius:5px;	
        -moz-border-radius:5px;	
        -webkit-border-radius:5px;
        
        margin-right: 15px;
        
}


.quick-info-bar {
    width: 100%;
    height: 35px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
    
    font-size: 85%;
}

.quick-info-bar > span {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}




.table-2 td {
	background: none;
	color: #777;
	font-family:"Times New Roman", Times, serif;
	padding: 10px 10px;
	width: 320px;
	vertical-align: top;
	border-right:solid 1px #ccc; 
}

.table-2 td p {
	font-size: 95%;
}

.table-2 td:last-child, 
.table-2 td.last-child {
	border-right: none;
}

.table-3, 
.table-4 {
    width: 100%;
}

.table-3 th {
	background: none;
	color: #777;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	vertical-align: bottom;
	padding: 10px;
	padding-bottom: 6px;
	border-bottom:solid 1px #ccc; 
}



.table-3 td {
	background: none;
	color: #777;
	padding: 6px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	vertical-align: top; 
}


.table-3 .th-item {
	text-align: left;
	width: 460px;
}


.table-3 .th-price {
	text-align: left;
	width: 100px;
}


.table-3 .th-quantity {
	text-align: center;
	width: 60px;
}


.table-3 .th-total {
	text-align: right;
	width: 180px;
}



.table-3 .td-item {
	font-weight: bold;
}




.table-4 td {
	background: none;
	color: #777;
	padding: 6px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	vertical-align: top; 
	text-align: right;
}


.table-4 td.label {
	width: 545px;
}

.table-4 td.value {
	width: 170px;
}

.table-4 tr.grand-total > td {
	border-top:solid 1px #ccc; 
	font-weight: bold;
	font-size: 95%;
        color: #000;
}










.order-dashboard-wrapper {

   position: absolute;
   top: 0px;
   right: 20px;
   display: block;
   text-align: left;
   margin: 0px;
   padding: 0px;
   width: 250px;
   height: 50px;
   background: none;
   z-index: 4;

    
}



.order-dashboard {
    position: absolute;
    top: 5px;
    right: 20px;
    display: block;
    width: 150px;
    height: 50px;
    
    overflow: hidden;
    
    padding: 0px 0px!important;
    margin: 0px 0px;
    text-align: right;
}



.order-dashboard li {
    list-style: none;
    float: right;
    text-align: center;
    margin: 0px 4px 0px 10px;
    font-size: 80%;
    color: #aaa;
}


.order-dashboard li > span[class*="icon-"]:before {
    font-size: 160%;
}

.order-dashboard li > span.button-label {
    position: relative;
    top: 4px;
}


.circular-button span {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.circular-button:hover span {
    color: #777;
}