@charset "utf-8";
/* CSS Document */




/*

CATEGORY HEADER

*/

#category-header {
    min-height: 205px;
    width: 100%;
    border: none;


    margin: 0px 0px 15px 0px;
    padding: 0px 0px;
}




#category-banner-image {
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 160px;
    height: auto;
    width: 100%;
    border: solid 1px #eee;

    border-radius: 0.5em;

    margin: 0px 0px;
    padding: 0px 0px;
}

#category-banner-image.no-banner {
    display: none;
}





/*

MAIN LAYOUT

*/




.pagination {
	width:100%;
	height:40px;

	margin:0px 0px;
	padding:0px 15px 0px 0px;

	/*border:dashed 1px #aaa;*/
	float:left;
}

.item-count {
	width:350px;
	height:20px;

	margin:15px 0px 0px 0px;

	float:left;
	text-align:left;
	color:#999;

	font-size:75%;

}

.page-numbers {
	width:360px;
	height:20px;

	margin:15px 0px 0px 0px;

	float:right;
	text-align:right;
	color:#999;

	font-size:75%;
}


.page-numbers a,
.page-numbers a:link,
.page-numbers a:visited,
.page-numbers a:active {
	margin:0px 5px;
}


.page-numbers a:hover,
.page-numbers a:focus {
	border-bottom:dashed 1px #000;
        text-decoration: none;

}


.item-grid {
	list-style:none;

	width:100%;
	min-height:300px;
        height: auto;

	margin:0px auto;
	padding:0px 0px 0px 0px!important;

/*
	border:solid 1px #aaa;
	border-left:none;

*/
}

.item-grid li {
	list-style:none;
	margin:0px 15px 30px 0px;
	padding:0px 0px;

	float:left;

}

.item-grid a:link {


}

.item-grid li .thumb {
    display: block;
    position: relative;
    overflow: hidden;

    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item-grid li .thumb > img {
    display: block;
    position: relative;
    /*width: 100%;*/
}
