@charset "utf-8";
/* CSS Document */




.inner-content-wrapper {
	width:780px;
	padding-top: 10px;
        
}



#product-images {
	width:320px;
	overflow:auto;
	margin:0px 0px;
}


#main-product-photo-wrapper {
	width:300px;
	height:450px;
	padding:0px 0px;
	overflow:visible;
        
        margin-bottom: 10px;
	
	/* border:solid 1px #f00;  */
	
	
}

#main-product-photo {
	width: 100%;
	height: auto; /* 440px; */
	margin:0px 0px;
	
	clear:both;
    overflow: hidden;
	
/*	
	border-radius:2px;	
	-moz-border-radius:2px;	
	-webkit-border-radius:2px;
	
*/	
}


#photo-zoom-icon {
	content:'\f4';
	display:block;

	position:absolute!important;
	top:10px!important;
	
	font-family:'EntypoRegular'!important;	
	font-size:500%!important;
	line-height:30%!important;
	color:#fff!important;
	border:none!important;
	background:#555;

	padding:0px 0px 0px 0px!important;
	margin:0px 0px 0px 10px!important;

	height:40px!important;
	width:35px!important;
	
	opacity:.2; 
	-moz-opacity:.2; 
	filter:Alpha(opacity=20);
	
	overflow:visible!important;
	z-index:40;
	
}


#photo-zoom-hint {
    text-align: left;
    font-size: 65%;
    
    font-weight: bold;
    color: #000;
    
    margin: 3px 0px;
}

#easy_zoom{
	width:444px;
	height:444px;
	background:#000;
	color:#333;
	position:absolute;
	top:10px;
	left:320px; /* 346px; */
	overflow:hidden;
	z-index:1000;
	
	-moz-box-shadow: 0px 0px 5px rgba(100, 60, 60, .15);
	-webkit-box-shadow: 0px 0px 5px rgba(100, 60, 60, .15);
	box-shadow: 0px 0px 5px rgba(100, 60, 60, .15);

	padding:0px 0px;
	margin:0px 0px;
	border:solid 4px #fff;
	
	/* vertical and horizontal alignment used for preloader text */
	line-height:400px;
	text-align:center;
	}




#alt-product-images {
	list-style:none;
	margin:10px 0px;
	padding:0px 18px;

	width:297px;
	height: auto;
	float:left;
}

#alt-product-images li img {
    height: auto;
}


/*
#alt-product-images li {
	list-style:none;
	width:90px;
	height:135px;
	
	margin: 4px 4px;
	padding:0px 0px 0px 0px;
	float:left;
	
		
}

*/




/*

PRODUCT INFO

*/


#product-info-wrapper {
	width:440px;
	min-height:450px;
        height: auto;
	margin: 3px 0px 0px 10px;
	padding:0px 0px;
	background:#fff;
	
        /*
	border:solid 1px #ddd;
        -moz-box-shadow: 0px 1px 5px rgba(150, 10, 10, .15);
        -webkit-box-shadow: 0px 1px 5px rgba(150, 10, 10, .15);
	box-shadow: 0px 1px 5px rgba(150, 10, 10, .15);
        */
        
        
	
}


#product-info {
	list-style:none;
	margin:0px 0px;
	padding:0px 0px;
	
	width:400px;
	min-height:300px;
        height: auto;
}


#product-info li {
	list-style:none;
	
	margin:5px 0px 10px 0px;
	padding:0px 0px 0px 20px;
	
	text-align:left;
        height: auto;

}


#product-details-wrapper {
}


li#bread-crumps {
	font-size:70%;
	margin-top:15px;	
}

li#bread-crumps a:hover, 
li#bread-crumps a:focus {
	border-bottom:dashed 1px #444;
	
}


li#product-name {
	
	font-size:110%;
	font-weight: normal;
	
}


li#product-base-price {
	
	font-size:110%;
	font-weight: normal;
        
        margin-bottom: 20px;
	
}

li#product-base-price .old-price {
    text-decoration: line-through;
}


li#product-base-price .new-price, 
li#product-base-price .sale-price {
    margin-left: 5px;
    color: #f00;
}




/*

PRODUCT DESCRIPTION TABS

*/



.tab-group {
	display:block;
	
	width:350px;
	min-height:100px;
        height: auto;

	list-style:none;
	margin:0px 0px 0px 0px!important;
	padding:0px 0px!important;
}


.tab-wrapper {
	list-style:none;
	margin:0px 0px!important;
	padding:0px 0px!important;
	
	width:390px;
	min-height:100px;
        height: auto;
	border:solid 1px #ccc;
	background:#fff;
        display: none;
	
	z-index:190;
}

#tab-1 {
	z-index:200;
}

.tab-wrapper .tab-body {
	border-top:dotted 1px #777;
	margin:10px 15px;
	padding:10px;
	background:#fff;
	
	font-size:75%;
}


.tab-wrapper a, 
.tab-header a {
    text-decoration: none;
}

.tab-header-group {
	margin:0px 0px!important;
	padding:0px 0px!important;
}


.tab-header {
	display:block;
	min-width:100px;
        width: auto;
	
	height:15px;	
	border: solid 1px #ccc;
        border-bottom: none;
	background: #fff;
	z-index:190;
	
	padding:3px 5px 3px 10px;
        margin-right: 5px;
	
	float: left;
	
	font-size:80%;
	
}




.tab-group > li.tab-state-front {
	z-index:200;
        display: block;
}




span.tab-state-front.tab-header {
	background:#eee;
}



/*

PRODUCT SIZES

*/


#product-sizes {

	margin:10px 0px!important;
}


#size-guide-anchor {
    font-size: 75%;
    font-weight: bold;
    
    word-break: keep-all;
    text-wrap: none;
    
    display: inline-block;
    min-width: 150px;
}



/*

PRODUCT COLORS

*/


#product-colors {
        display: none;
	margin:10px 0px!important;
        min-height: 50px;
	
}




.out-of-stock {
    color: #f00;
    font-size: 70%;
    font-weight: bold;
}


#add-to-wishlist-button {
  cursor: pointer;
}


#add-to-wishlist-button:before {
    position: relative;
    top: 2px;
    left: -5px;
}


li#social {
    border-top: dotted 1px #777;
}




/* 

You might also like...

*/


#product-group-wrapper {
	margin:20px 28px 0px 0px;
	padding:10px 18px;

	width:404px;
	height: auto;
	float:left;
        text-align: left;
	border:solid 1px #ddd;
	box-shadow: 0px 1px 5px rgba(150, 10, 10, .15);
}

#product-group-thumbs {
    margin-top: 20px;
}
