/* 
    Document   : login
    Created on : Nov 12, 2012, 3:56:32 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>

*/


#register-wrapper {
    display: block;
    min-width: 780px;
    min-height: 350px;
    
    padding: 0px 0px;
}





#register-form-table {
    width: 780px;
}


#register-form-table td {
    text-align: left;
}

#register-form-table > tbody > tr > td, 
#register-form-table > thead > tr > th {
    width: 200px;
    padding-top: 10px;
}




.register-field-error {
    font-size: 70%;
    color: #f00;
}

#register-form-table th {
    text-align: left;
    padding-bottom: 0px;
    border-bottom: solid 1px #ccc;
    
    font-weight: normal;
}


.register-field-label {
    font-size: 90%;
}


.register-sub-header {
    font-size: 120%;
}


.register-text-normal {
    font-size: 90%;
}




label > small {
    font-size: 70%;
    color: #777;
    
    position: relative;
    top: -3px;
}

.error-text {
    font-size: 70%;
    color: #f00;
     
}