/* 
    Document   : shop-landing
    Created on : Nov 12, 2012, 3:56:32 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>

*/

.wide-content-wrapper {  
}
.inner-content-wrapper {
	padding: 0px 0px 0px 0px!important;
	margin: 0px 0px 0px 161px;
        
}

#layout-tile-grid-outer-wrapper {
    margin: 0px auto;
    width:100%;
    min-height: 400px;
    
    padding: 0px 0px!important; /* 0px 8px 5px 0px; */
    
    list-style: none;
    
    position: relative;
    overflow-x: hidden;
    
    
}

#hero-1 {
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 960px; 
    height: 540px;
    
    border-radius: 0.5em;
}

#hero-1 > ul > li > .wrap {
	display: block;
	position: relative:
	width: 960px; 
	height: 540px;
	border-radius: 0.5em;
	overflow: hidden;
}

#hero-1 .img {
	display: block;
	position: absolute;
	top: 0px; left: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	border-radius: 0.5em;
}

#hero-1 .caption {
	display: none;
	position: relative;
	width: 33%;
	height: 66%;
	margin: 300px 0 0 0;
	padding: 20px 40px 20px 20px;

	background-color: black;
	color: white;
	text-align: left;
}

.caption > h3 {
	font-size: 3em;
	margin: 0 0 10px 0;
}

.caption p {
	font-size: 1.3em;
}


.store-selector-wrapper {
    position: absolute;
    top: 300px;
    left: 460px;
    width: 300px;
    height: 200px;
    
    color: #fff;
}
.store-selector-drop-box {
    width: 200px;
}

.store-selector-banner-wrapper {
    position: absolute;
    top: 60px;
    left: 180px;
    width: 640px;
    height: 400px;
    
    overflow: hidden;
}

