/* 
    Document   : stockists.css
    Created on : Nov 10, 2012, 6:47:25 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
*/

.content {
    margin-bottom: 70px;
}



.contact-address-wrapper {
    margin-left: 0px;
}

.contact-address-wrapper > li.stockist-name {
    border-bottom: dotted 1px #f00;
    margin-bottom: 10px;
}