/* 
    Document   : store-selector
    Created on : Nov 12, 2012, 3:56:32 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>

*/

body {
    background-color: #000;
}

.content {
    height: auto;
    text-align: center;
}


.store-selector-wrapper {
    position: relative;
    display: block;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    
    text-align: center;
    color: #fff;
}

.store-selector-wrapper > * {
    margin-bottom: 10px;
    text-align: left;
}



.store-option-wrap {
    display: inline-block;
    position: relative;
    
    
}

.store-option-wrap > a {
    display: inline-block;
    color: #C0C434;
    font-size: 0.9em;
    
    padding: 12px 30px;
    background-color: #111;
    border-radius: 0.5em;
}

.store-option-wrap > a:hover {
    text-decoration: none;
    background-color: #222;
}

.store-selector-drop-box {
    width: 200px;
    float: left;
}

.call-to-action {
    font-size: 1em;
    color: #fff;
    
    border-bottom: dotted 1px #fff;
}

.store-selector-banner-wrapper {
    position: relative;
    width: 960px;
    height: auto;
    margin: 100px auto;
    
    /*
    background-image: url('../images/landing/banner-01.jpg');
    background-size: cover;
    
    border-radius: 0.5em;
    */
}


.store-selector-banner-wrapper > div {
    /*
    position: relative;
    margin: 150px auto 20px auto;
    width:150px; 
    height:150px; 
    */
}



.store-selector-wrapper input.black-button-large-1 {
    margin-top: 20px;
    float: left;
}


.footer-row.last-child,  
.footer-row.first-child {
    border-top: solid 1px #111;
}
