<select id="shipping-province-field" name="shipping-province-id" onchange="Checkout.refreshShippingOptions('{{ Country.iso2 }}', this)" >
    <option value="x" >-- Choose a province --</option>
    {{#provinces}}
    <option value="{{ id }}" >{{ printableName }}</option>
    {{/provinces}}
</select>