{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Checkout {% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/checkout.css" rel="stylesheet" type="text/css" />

<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/libs/jquery.select-to-autocomplete.min.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/checkout.js"></script>


{% endblock head %}


{% block content %}



<ul class="secondary-nav">
    <a href="javascript:void(0);" onclick="productWidget.seekPane (1); return false;">
        <li class="first-child">Sign In<span class="connector"></span></li>
    </a>
    
    <a href="javascript:void(0);" onclick="productWidget.seekPane (2); return false;">
        <li class="active-crumb">Delivery<span class="connector"></span></li>
    </a>
    

    <a href="javascript:void(0);" onclick="productWidget.seekPane (3); return false;">
    <li>Payment<span class="connector"></span></li>
    </a>
        

        
    <a href="javascript:void(0);" onclick="productWidget.seekPane (4); return false;">
    <li class="last-child">Confirm<span class="connector last-child"></span></li>
    </a>

</ul>

<div id="bread-crumps">
<a href="{{ shop.landing }}">Home</a> - Checkout

</div> 
<div class="page-title">Order Checkout</div>


{#
<a id="cart-continue-button-1" class="black-button-large-1" href="{{ cart.continueHref }}" >continue shopping</a> 
<div class="clearfloat"></div>
<br />
#}



<ul class="list-items" id="checkout-wrapper">

    <li class="list-items-header" id="checkout-wrapper-header">

        <div class="list-items-wide-col checkout-step-header" >1. Delivery</div>



    </li>
    
    <li class="list-items-row">
        
        


        <div id="shipping-info-form-wrapper" class="fltlft">
            <div class="sub-section-header" >Shipping Address</div>
            <div class="edit-address">
            

                <div class="field-label fltlft">First Name</div>
                <div class="field-input fltlft"><input name="firstname" type="text" size="30" maxlength="100" /></div>
                
                <div class="field-label fltlft">Last Name</div>
                <div class="field-input fltlft"><input name="lastname" type="text" size="30" maxlength="100" /></div>
                
                <div class="field-label fltlft">Country</div>
                <div class="field-input fltlft">
                    <select name="country" >
                        {% for country in countries %}
                        <option value="{{ country.iso2 }}" {% if country.iso2 == shop.country_code %} selected {% endif %}>{{ country.printableName }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="field-label fltlft">Address</div>
                <div class="field-input fltlft"><input name="address-1" type="text" size="30" maxlength="100" /></div>
                
                <div class="field-label fltlft">&nbsp;</div>
                <div class="field-input fltlft"><input name="address-2" type="text" size="30" maxlength="100" /></div>
                
                <div class="field-label fltlft">City</div>
                <div class="field-input fltlft"><input name="city" type="text" size="30" maxlength="100" /></div>
                
                <div class="field-label fltlft">State</div>
                <div class="field-input fltlft"><input name="state" type="text" size="30" maxlength="100" /></div>
                
                <div class="field-label fltlft">Postal Code</div>
                <div class="field-input fltlft"><input name="postal-code" type="text" size="10" maxlength="15" /></div>
                
                
            </div>
            <div class="address-summary"></div>
            
        </div>
        
        
        <div id="shipping-options-wrapper" class="fltlft">
                <div class="sub-section-header" >Delivery Options</div>
                <div id="default-shipping-options-message" class="billing-address-cue">Please choose a country and state/province to see available delivery options here.</div>
        </div>
        
        <div id="delivery-section-eye-candy" class="fltlft"></div>

        

        
        
        <div id="address-book-wrapper" class="fltrt">
            <div class="sub-section-header" >{#<span class="icon-book-2">&nbsp;</span>#}My Address Book</div>
            <div id="address-book-note">If you have any previously saved addresses you can select one of them here to use it &downarrow;</div>
            <ul id="address-book-entries">
                <a href="#"><li class="icon-radio-unchecked">#12, Fashola Str. , Lagos, Nigeria</li></a>
                <a href="#"><li class="icon-radio-checked">#9, Ogunlana Drive, Lagos, Nigeria</li></a>
                <a href="#"><li class="icon-radio-unchecked">10034, Peter Parker Str. , NY, USA</li></a>
            </ul>
        </div>
        
        
        <div style="width: 0px; height: 350px;" ></div>

    </li>
    

    

    <!-- BILLING INFORMATION -->
    
    <li class="list-items-header" id="checkout-wrapper-header">
        <div class="list-items-wide-col">2. Payment</div>
    </li>
    
    <li class="list-items-row">
        
        
        
        <div id="billing-payment-method" class="fltlft">
            <div class="sub-section-header" >Payment Options</div>
            
            <ul id="payment-options-list" class="list-style-stripped">
                <li><input type="radio" id="payment-type-1" name="payment-type" value="1" onClick="updateBillingInfoFrame(false);" /><label for="payment-type-1">PayPal</label></li>
                <li><input type="radio" id="payment-type-2" name="payment-type" value="2" onClick="updateBillingInfoFrame(false);" /><label for="payment-type-2">Interswitch</label></li>
                <li><input type="radio" id="payment-type-3" name="payment-type" value="3" onClick="updateBillingInfoFrame(true);" /><label for="payment-type-3">Credit Card</label></li>
            </ul>
        </div>
        
        
        <div id="billing-info-form-wrapper" class="fltlft">
            <div class="sub-section-header" >Billing Address</div>
            
            <div id="default-billing-info-message" class="billing-address-cue">Please choose a payment option on your left.</div>
            
            <div id="billing-address-not-required" class="billing-address-cue">A billing address will not be required for the selected payment option.</div>
            
            
            <div class="edit-address" id="credit-card-billing-address">

                <div class="field-label fltlft">First Name</div>
                <div class="field-input fltlft"><input name="firstname" type="text" size="30" maxlength="100" /></div>
                
                <div class="field-label fltlft">Last Name</div>
                <div class="field-input fltlft"><input name="lastname" type="text" size="30" maxlength="100" /></div>
                
                <div class="field-label fltlft">Country</div>
                <div class="field-input fltlft">
                    <select name="country" >
                        <option value="NG">Nigeria</option>
                    </select>
                </div>
                
                <div class="field-label fltlft">Address</div>
                <div class="field-input fltlft"><input name="address-1" type="text" size="30" maxlength="100" /></div>
                
                <div class="field-label fltlft">&nbsp;</div>
                <div class="field-input fltlft"><input name="address-2" type="text" size="30" maxlength="100" /></div>
                
                <div class="field-label fltlft">City</div>
                <div class="field-input fltlft"><input name="city" type="text" size="30" maxlength="100" /></div>
                
                <div class="field-label fltlft">State</div>
                <div class="field-input fltlft"><input name="state" type="text" size="30" maxlength="100" /></div>
                
                <div class="field-label fltlft">Postal Code</div>
                <div class="field-input fltlft"><input name="postal-code" type="text" size="10" maxlength="15" /></div>
                
            </div>
            <div class="address-summary"></div>
            
            
            
        </div>
        
                
        <div id="billing-section-eye-candy" class="fltlft"></div>
                

        
        
        
        <div style="width: 0px; height: 350px;" ></div>
    </li>
        
        

    
    {#
    
    <li class="list-items-header" id="checkout-wrapper-header">
        <div class="list-items-wide-col">3. Review and Confirm</div>


    </li>
    
    <li class="list-items-row">
        
    </li>
    #}
    
    

      
    

</ul>

<div class="checkout-notice fltrt">On the next page you will be able review and confirm your order.</div>
<div class="clearfloat"></div>
<input type="submit" name="submit-{{ authToken }}" id="cart-apply-coupon-code-button" class="black-button-large-1 fltrt" value="continue to checkout" />
 






{% block sidebar %}{# remove sidebar #}{% endblock sidebar %}



{% endblock content %}

