{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.email.html.twig' %}


{% block content %}

Hello {{ email.customer.firstname }},
<br />
Please click the following link to complete your user account registration:
<br><br>
<a href="{{ email.confirm.href }}" style="color: #000000; text-decoration: none; border-bottom: 1px dashed #555;">{{ email.confirm.href }}</a>
<br><br>

- OR -

<br><br>

Enter this short code on the confirmation screen: 
<h2 style="font-weight: normal;">{{ email.confirm.numCode }}</h2>

<br><br>




<div style="border-top: 1px solid #ddd;">
    For help with any of our online services, please email us at: 
    <a href="mail:{{store.contact.ContactEmail}}" style="color:#555!important;">{{store.contact.ContactEmail}}</a>
</div>


{% endblock content %}