{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | My Account{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/my-account.css" rel="stylesheet" type="text/css" />

{% endblock head %}


{% block content %}


<div class="wide-content-wrapper">
<div class="inner-content-wrapper">


        <div class="page-title">My Account</div>

        <div class="sub-section-header">
            Personal Details
        </div>


        <form name="update-form" method="post" action="{{ store.landing }}update-myaccount">
        <input type="hidden" name="token-{{ update.token }}" value="{{ update.token }}"  />

        <div id="personals-details-wrapper">


            <div class="field-label fltlft">
                First Name:
            </div>

            <div class="field-input fltlft">
                <input type="text" name="firstname-{{ update.token }}" value="{{ customer.firstname }}" size="30" maxlength="150" />
                {{ FailedItems.firstname|raw }}
            </div>


            <div class="field-label fltlft">
                Last Name:
            </div>

            <div class="field-input fltlft">
                <input type="text" name="lastname-{{ update.token }}" value="{{ customer.lastname }}" size="30" maxlength="150" />
                {{ FailedItems.lastname|raw }}
            </div>


            <div class="field-label fltlft">
                Email Address:
            </div>

            <div class="field-input fltlft">
                <input type="text" name="email-{{ update.token }}" value="{{ customer.email }}" size="30" maxlength="150" />
                {{ FailedItems.email|raw }}
            </div>


            <div class="field-label fltlft">
                Current Password:
            </div>

            <div class="field-input fltlft">
                <input type="password" name="current-password-{{ update.token }}" value="" size="30" maxlength="150" />
                {{ FailedItems.current_password|raw }}
            </div>


            <div class="field-label fltlft">
                &nbsp;
            </div>

            <div class="field-input fltlft">
                Only enter a new password if you wish to change the current one.
            </div>


            <div class="field-label fltlft">
                New Password:
            </div>

            <div class="field-input fltlft">
                <input type="password" name="new-password-{{ update.token }}" value="{{ update.autofill.new_password }}" size="30" maxlength="150" />
                {{ FailedItems.new_password|raw }}
            </div>



            <div class="field-label fltlft">
                Confirm Password:
            </div>

            <div class="field-input fltlft">
                <input type="password" name="confirm-new-password-{{ update.token }}" value="" size="30" maxlength="150" />
                {{ FailedItems.confirm_new_password|raw }}
            </div>

            <br style="clear: both" />

        </div>




        <input type="submit" name="account-edit-button-{{ update.token }}" id="account-edit-button" class="black-button-large-1" value="Update"  onclick=""/>
        <a id="account-edit-button" class="black-button-large-1" href="{{ store.landing }}myaccount" >Cancel</a> 
        </form>


<br style="clear: both" />
</div></div>

{% endblock content %}

