<div class="shop-header">
    
    <ul id="shopper-dashboard">
        <a href="{{ store.landing }}cart/" id="shopping-bag-anchor">
        <li id="shopper-dashboard-bag">
            <div class="dashboard-section-icon">&nbsp;</div>
            <span class="dashboard-section-label">Shopping Bag</span>
            <span class="dashboard-section-text" id="shopping-bag-status">{{ cart.totalQuantity }} item{% if cart.totalQuantity > 1 %}s{% endif %}: {{ store.currency.symbol|raw }}{{ cart.totalAmount|number_format(2, '.', ',') }}  &nbsp;&nbsp;Checkout</span>
        </li>
        </a>
            

        
        <li>
            <div class="dashboard-section-icon">&nbsp;</div>
            <span class="dashboard-section-label"><a href="{{ store.landing }}myaccount">My Account</a></span>
            <span class="dashboard-section-text">
            {% if customer.loggedIn %}
            Welcome, {{ customer.firstname }} 
            <a href="{{ store.landing }}logout">Sign Out</a>
            {% else %}
            <a href="{{ store.landing }}login">Sign In</a>
            {% endif %}
            </span>
        </li>
     
  
        <a href="{{ store.landing }}wishlist/?k=0">
            <li class="last-child">
            <div class="dashboard-section-icon">&nbsp;</div>
            <span class="dashboard-section-label">Wishlist</span>
            <span id="wishlist-item-count" class="dashboard-section-text">{{ customer.wishlistItemCount }} item{% if customer.wishlistItemCount > 1 %}s{% endif %}</span>
        </li>
        </a>
        
    </ul>
&nbsp;
</div>
