{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Look Book{% endblock title %}

{% block head %}
{{ parent() }}



<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/lookbook.js"></script>

<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/lookbook.css" rel="stylesheet" type="text/css" />


    
{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
<div class="inner-content-wrapper">
    
    <div class="page-title">Lookbook</div>

    <div id="lookbook-outer-wrapper">
        <div id="lookbook-wrapper">
                    <ul class="slide-strip" >
                    {% for Slide in Lookbook %}

                    <li class="slide" >
                        <img src="{{ assets_path }}images/lookbook/{{ Slide }}" />
                    </li>
                    {% endfor %}
                </ul>    
        </div>

    </div>




    <div id="lookbook-thumbs-outer-wrapper">
        <a href="javascript:void(0);" onclick="Lookbook.prevSlide();">
            <span class="lookbook-nav-button prev fltlft" style="background: url('{{ assets_path }}images/nav-left-button.png');">&nbsp;</span>
        </a>
        <div id="lookbook-thumbs-wrapper">
                    <ul class="slide-strip" >
                    {% for Slide in Lookbook %}

                    <li class="slide" >
                    <a href="javascript:void(0);">

                    <div class="slide-content-wrapper" style="background: url('{{ assets_path }}images/lookbook/{{ Slide }}') no-repeat center center; background-size: cover; " >
                    &nbsp;
                    </div>

                    </a> 
                    </li>
                    {% endfor %}
                </ul>    
        </div>
        <a href="javascript:void(0);" onclick="Lookbook.nextSlide();">
            <span class="lookbook-nav-button next fltlft" style="background: url('{{ assets_path }}images/nav-right-button.png');">&nbsp;</span>
        </a>
    </div>
        

<br style="clear: both" />
</div></div>

{% endblock content %}

