{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.email.html.twig' %}


{% block content %}






            <div class="order-details-inner-wrapper" style="width: auto; height: auto; padding: 0px 0px; overflow: hidden; ">
                <table width="750" border="0" cellspacing="0px" cellpadding="0px" class="table-1" style="overflow: hidden; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;">
              <tr>
                  <td style="background: #000; color: #fff; font-family:Arial, Helvetica, sans-serif; padding: 0px 0px; height: 40px; width: 350px; display: inline-block; overflow: hidden; text-indent: 15px;"><h2 style="line-height: 10px;">{{Order.store.title}}</h2></td>
                    <td style="background: #000; color: #fff; font-family:Arial, Helvetica, sans-serif; padding: 0px 0px;height: 40px; width: 50px; display: inline-block; overflow: hidden;">&nbsp;</td>
                    <td align="right" style="background: #000; color: #fff; font-family:Arial, Helvetica, sans-serif; padding: 0px 0px; height: 40px; width: 350px; display: inline-block; overflow: hidden;">
                        <div class=" field-group">

                        <h3 class="order-num fltrt" style="display: inline-block; color: #aa0; min-width: 50px; padding: 5px 10px 5px 0px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin-right: 15px; line-height: 5px;">
                        <span class="order-status-indicator user-status {{Order.status}}"></span>&nbsp;&nbsp;Order #{{Order.order_num}}
                        </h3>

                        </div>
                    </td>
              </tr>
            </table>


            <p></p>

            <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-2" >
              <tr>
                    <td style="background: none; color: #000; font-family:'Times New Roman', Times, serif; padding: 0px 10px; width: 240px; vertical-align: top; border-right:solid 1px #ccc; ">

                    <strong>Customer</strong>
                    <p style="font-size: 95%;">
                    <span class="icon-user-5"></span> {{Order.customer.name}}<br />
                    <span class="icon-mobile-3"></span> {{Order.customer.phone}}<br />
                    <span class="icon-mail"></span> {{Order.customer.email}}<br />
                    </p>
                    </td>
                    <td  style="background: none; color: #000; font-family:'Times New Roman', Times, serif; padding: 0px 10px; width: 240px; vertical-align: top; border-right:solid 1px #ccc; ">

                    <strong>Shipping Address</strong>
                    <p style="font-size: 95%;">
                            {{Order.recipient.name}},<br />
                            {{Order.shipping_address.street}}<br />
                            {{Order.shipping_address.suburb}} {{Order.shipping_address.city}}<br />
                            {{Order.shipping_address.province}}{{Order.shipping_address.country}}<br />

                    </p>
                    </td>
                    <td class="last-child" style="background: none; color: #000; font-family:'Times New Roman', Times, serif; padding: 0px 10px; width: 240px; vertical-align: top; ">

                    <strong>Payment</strong>

                    <p style="font-size: 95%;">
                    {#
                    Type: {{Order.Transaction.PaymentGateway}}<br />
                    Tranx ID: {{Order.Transaction.TranxID}}<br />
                    #}
                    Amount: {{Order.total_paid}}<br />
                    Status: {{Order.payment_status}}<br />
                    </p>
                    </td>
              </tr>
            </table>

            <div class="quick-info-bar" style="width: 100%; height: 35px; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; margin-bottom: 20px;">
                    <span class="icon-basket" style="float: right; margin-right: 20px; margin-top: 10px;">
                    <img src="{{base_url}}/ui/images/ui/notification-icons/basket-50x50.png" style="height: 15px; width: 15px; margin-right: 10px;" />
                    {{Order.quantity}} item{% if Order.quantity > 1 %}s{% endif %}
                    </span>

                    &nbsp;&nbsp;
                    <span class="icon-calendar-2" style="float: right; margin-right: 20px; margin-top: 10px;">
                    <img src="{{base_url}}/ui/images/ui/notification-icons/calendar-2-50x50.png" style="height: 15px; width: 15px; margin-right: 10px;" />
                    ordered at {{Order.order_date}}
                    </span>

                    &nbsp;&nbsp;
                    <span class="icon-flight" style="float: right; margin-right: 20px; margin-top: 10px;"><img src="{{base_url}}/ui/images/ui/notification-icons/flight-50x50.png" style="height: 15px; width: 15px; margin-right: 10px;" />
                    {{Order.shipping.description}}
                    </span>
            </div>

            <p>
                    <span class="payment-status fltrt {{Order.payment_status}}" style="display: block; float: right; text-transform: uppercase; font-size: 170%; font-weight: bold; font-family: arial; opacity:.3; -moz-opacity:.3; filter:Alpha(opacity=30); ">
                    {{Order.payment_status}}
                    </span>
                    <br style="clear: both" />
            </p>

            <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-3" style="width: 100%;" >
              <tr>
                    <th scope="col" class="th-item" style="	background: none; color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 95%; vertical-align: bottom; padding: 10px; padding-bottom: 6px; border-bottom:solid 1px #ccc; text-align: left; width: 360px; font-weight: bold;">Item</th>
                    <th scope="col" class="th-price" style="	background: none; color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 95%; vertical-align: bottom; padding: 10px; padding-bottom: 6px; border-bottom:solid 1px #ccc; text-align: left; width: 80px;">Price</th>
                    <th scope="col" class="th-quantity" style="	background: none; color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 95%; vertical-align: bottom; padding: 10px; padding-bottom: 6px; border-bottom:solid 1px #ccc; text-align: center; width: 60px;">Quantity</th>
                    <th scope="col" class="th-total" style="	background: none; color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 95%; vertical-align: bottom; padding: 10px; padding-bottom: 6px; border-bottom:solid 1px #ccc; text-align: right; width: 160px;">Total</th>
              </tr>

              {% for Item in Order.items %}
              <tr>
                    <td align="left" class="td-item" style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top; ">
                    {{Item.item_name}} - {{Item.item_description}}
                    </td>
                    <td align="left" style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top; ">
                    {{Order.currency.symbol|raw}}{{Item.original_price}}
                    </td>
                    <td align="center" style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top; ">
                    {{Item.quantity}}
                    </td>
                    <td align="right" style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top; ">
                    {{Order.currency.symbol|raw}}{{Item.original_subtotal}} {{Order.currency.code}}
                    </td>
              </tr>
              {% endfor %}
            </table>

            <br />

            <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-4" style="width: 100%;">

              {% for Sale in Order.discounts %}
              <tr>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Sale.description}}:
                    </td>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    LESS {{Order.currency.symbol|raw}}{{Sale.pretty_amount}} {{Order.currency.code}}
                    </td>
              </tr>
              {% endfor %}


              {% for Tax in Order.taxes %}
              <tr>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Tax.description}}:
                    </td>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Order.currency.symbol|raw}}{{Tax.pretty_amount}} {{Order.currency.code}}
                    </td>
              </tr>
              {% endfor %}

              <tr>
                    <td class="label" style="width: 545px; background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    Subtotal:
                    </td>
                    <td class="value" style="width: 170px; background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Order.currency.symbol|raw}}{{Order.total}} {{Order.currency.code}}
                    </td>
              </tr>

              <tr>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    Shipping ({{Order.shipping.description}}):
                    </td>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Order.currency.symbol|raw}}{{Order.shipping.amount_before_tax}} {{Order.currency.code}}
                    </td>
              </tr>

              {% for Tax in Order.shipping.taxes %}
              <tr>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Tax.description}}:
                    </td>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Order.currency.symbol|raw}}{{Tax.pretty_amount}} {{Order.currency.code}}
                    </td>
              </tr>
              {% endfor %}



              <tr class="grand-total">
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 95%; vertical-align: top;  text-align: right; border-top:solid 1px #ccc; font-weight: bold;">
                    Total:
                    </td>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 95%; vertical-align: top;  text-align: right; border-top:solid 1px #ccc; font-weight: bold;">
                    {{Order.currency.symbol|raw}}{{Order.grand_total}} {{Order.currency.code}}
                    </td>
              </tr>
            </table>

            <p>&nbsp;</p>

                <h3>Payment Receipts</h3>

                <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-3" >
                  <tr>
                    <th scope="col" class="th-gateway">Payment Processor</th>
                    <th scope="col" class="th-paid">Amount</th>
                    <th scope="col" class="th-ref">Ref</th>
                    <th scope="col" class="th-quantity">Date</th>
                    <th scope="col" class="th-status">Status</th>
                  </tr>

                  {% for r in Order.receipts %}
                  <tr>
                    <td align="left" class="td-item">{{r.payment_processor}}</td>
                    <td align="right">{{{Order.currency.symbol}}}{{r.amount}} {{Order.currency.code}}</td>
                    <td align="center">{{r.transaction_ref}}</td>
                    <td align="left">{{r.date}}</td>
                    <td align="center">{{r.status}}</td>
                  </tr>
                  {% endfor %}
                </table>
                
                
            <p>&nbsp;</p>
            </div>










<div style="border-top: 1px solid #ddd;">
    {% if payment_instructions|length > 0 %}
    <div >Payment Instructions</div>
    {% for i in payment_instructions %}
    <br>
    <div>
    {{ i.html|raw }}

    <br /><br>
    </div>
    {% endfor %}
    {% endif %}


    <br><br>

    For help with any of our online services, please email us at: <a href="mail:{{Order.store.contact.email}}" style="color:#555;">{{Order.store.contact.email}}</a>.
</div>



{% endblock content %}