{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Search Results{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->

{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

        <!-- CATEGORY HEADER -->
        <div id="category-header">

            <div id="bread-crumps">
            <a href="{{ store.landing }}">Home</a> - Search Results

            </div> 

        </div>



        <ul class="item-grid">




        {% for product in products %}



        <a href="{{ product.href }}">
        <li>
        <img class="large-thumb-l frame-classic-1" src="{{ product.image.thumb }}" />


        <div class="product-thumb-label">
        {{ product.title }}<br />
        <span  class="{% if product.isOnSale == true %}old-price{% endif %}">
        {{ store.currency.symbol|raw }} {{ product.base_price|number_format(2, '.', ',') }}
        </span>

        {% if product.isOnSale %}
        <span class="sale-price" >{{ store.currency.symbol|raw }}{{ product.salePrice|number_format(2, '.', ',') }}</span>
        {% endif %}
        </div>

        </li>
        </a>


        {% endfor %}

        </ul>



<br style="clear: both" />
</div></div>

{% endblock content %}

