{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | My Account{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/my-account.css" rel="stylesheet" type="text/css" />

{% endblock head %}


{% block content %}


<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

        <div class="page-title">My Account</div>

        <div class="sub-section-header">
            Personal Details
        </div>


        <div id="personals-details-wrapper">

            <div class="field-label fltlft">
                First Name:
            </div>

            <div class="field-input fltlft">
                {{ customer.firstname }}
            </div>


            <div class="field-label fltlft">
                Last Name:
            </div>

            <div class="field-input fltlft">
                {{ customer.lastname }}
            </div>


            <div class="field-label fltlft">
                Email Address:
            </div>

            <div class="field-input fltlft">
                {{ customer.email }}
            </div>


            <div class="field-label fltlft">
                Password:
            </div>

            <div class="field-input fltlft">
                ******
            </div>

            <br style="clear: both" />

        </div>



        <a id="account-edit-button" class="black-button-large-1" href="{{ store.landing }}update-myaccount" >Edit Details</a> 


        <p>&nbsp;</p>


        <div class="sub-section-header">
            Recent Order History
        </div>
        <br />

        <div>

        {% if Orders %}

        <table id="order-history-table" cellspacing="0px" cellpadding="10px" border="0">
            <thead>
                <tr>
                    <td>Order #</td>
                    <td>Status</td>
                    <td>Tranx Status</td>
                    <td>Tranx Ref</td>
                    <td>Date Ordered</td>
                    <td>Order Total</td>
                    <td></td>
                </tr>

            </thead>

            <tbody>
            {% for Order in Orders %}
                <tr>
                    <td><a href="{{ store.landing }}order-details/?id={{ Order.id }}" title="Click to view order details.">#{{ Order.orderNum }} ({{ Order.prettyQuantity }} at {{ Order.Store.title }})</a></td>

                    <td>{{ Order.status }}</td>
                    <td>{{ Order.Transaction.PaymentStatus }}</td>
                    <td>{{ Order.Transaction.id }}</td>
                    <td>{{ Order.orderDate }}</td>
                    <td>{{ Order.Currency.symbol|raw }} {{ Order.total }}</td>
                    <td><a href="{{ store.landing }}order-details/?id={{ Order.id }}" title="Click to view order details."><span class="icon-out-2">&nbsp;</span></a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        {% else %}
            You have not placed any orders yet.
        {% endif %}

        </div>


<br style="clear: both" />
</div></div>

{% endblock content %}

