<div class="shop-side-bar-wrapper">
    <ul class="shop-side-bar">
        {# <a href="{{ shop.landing }}"><li>Home</li></a> #}
        
        {% for cat in categories %}
        <a href="{{ cat.href }}"><li>{{ cat.title }}</li></a>
        {% endfor %}
    
    </ul>

</div>

