{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Thank You{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/thank-you.css" rel="stylesheet" type="text/css" />

<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/confirm.js"></script>

{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

<div class="page-title">Thank You...</div>


<div id="register-wrapper" >


        <table id="register-form-table" cols="3" cellspacing="10" >

            <thead>
                <tr>
                    <th colspan="3" class="register-sub-header">
                        {% if tranx_successful %}
                        Success
                        {% else %}
                        Error
                        {% endif %}
                    </th>
                </tr>

            </thead>
            
            <tbody>     
                <tr>
                    <td class="register-field-label" colspan="2">
                        {% if tranx_successful %}
                        Your order was successful!
                        
                        {% else %}
                        Your payment could not processed.
                        {% endif %}

                        <br /><br>
                        
                        <div class="payment-response-wrap"> 
                        {{ payment_response.html|raw }}
                        </div>
                        <br /><br />

                        <a class="black-button-large-1"  href="{{ store.landing }}myaccount">view order history</a>
                        <a class="black-button-large-1"  href="{{ store.landing }}">continue shopping</a>
                        
                        
                    </td>
                    <td class="register-field-error"></td>
                </tr>
                
                <tr>
                    <td class="register-field-label" colspan="2"><br><br><br></td>
                    <td class="register-field-error"></td>
                </tr>
            </tbody>

        </table>
        
</div>



<br style="clear: both" />
</div></div>
{% endblock content %}

