{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Stockists{% endblock title %}

{% block head %}
{{ parent() }}



<!-- NON GLOBAL JS -->
{# <script type="text/javascript" src="{{ assets_path }}jscript/shop-landing.js"></script> #}

<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/stockists.css" rel="stylesheet" type="text/css" />


    
{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

        <div class="page-title">Stockists</div>



        {% for Stockist in store.Stockists %}


        <ul class="contact-address-wrapper">
            {% if Stockist.Name %}<li class="stockist-name">{{ Stockist.Name }}</li>{% endif %}

            {% if Stockist.StreetAddress %}<li class="street-address">{{ Stockist.StreetAddress }}</li>{% endif %}
            {% if Stockist.Suburb %}<li class="suburb">{{ Stockist.Suburb }}</li>{% endif %}
            {% if Stockist.Postcode %}<li class="postcode">{{ Stockist.Postcode }}</li>{% endif %}
            
            {% if Stockist.City or Stockist.Province %}
            <li class="city">{% if Stockist.City %}{{ Stockist.City }}, {% endif %}{{ Stockist.Province }}</li>
            {% endif %}

            {% if Stockist.Country %}<li class="country">{{ Stockist.Country }}</li>{% endif %}
            {% if Stockist.url %}<li class="url"><a href="http://{{ Stockist.url }}">{{ Stockist.url }}</a></li>{% endif %}

            <li>&nbsp;</li>
            <li>&nbsp;</li>
        </ul>

        {% endfor %}

        
<br style="clear: both" />

</div></div>

{% endblock content %}

