{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Accessories for living.{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/category-display.css" rel="stylesheet" type="text/css" />

{% endblock head %}


{%  block cart %}{% endblock cart %}

{%  block pageheader %}{% endblock pageheader %}
    
{%  block sidebar %}{% endblock sidebar %}


{% block content %}

<center>
<h2>Store Closed</h2>

</center>

{% endblock content %}

