{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- googleon: all -->


<!-- META -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" Content="{{ meta.description }}">
<meta name="keywords" content="{{ meta.keywords }}">
<meta name="robots" content="ALL">
<meta name="revisit-after" content="7 days">
<meta name="classification" content="Commercial">
<meta name="distribution" content="Global">
<meta name="copyright" content="{{ now|date("Y") }} {{ meta.copyright }}">
<meta name="author" content="Website by Fancy Paper Planes">
<meta name="language" content="EN">

<link rel="shortcut icon" href="{{ base_url }}favicon.ico" />
<link rel="icon" href="{{ base_url }}favicon.ico" type="image/x-icon" />

<base href="{{ base_url }}" />



<!-- STYLESHEETS -->
<link href="{{ assets_path }}css/base.css" rel="stylesheet" type="text/css" />
<link href="{{ assets_path }}css/fonts/icomoon/style.css" rel="stylesheet" type="text/css" />
<link href="{{ assets_path }}css/hashgrid.css" rel="stylesheet" type="text/css" />
<link href="{{ assets_path }}css/jquery-ui.custom.css" rel="stylesheet" type="text/css" />
<link href="{{ assets_path }}css/storefront-global.css" rel="stylesheet" type="text/css" />


<!-- JS FILES -->
<script type="text/javascript" src="{{ assets_path }}jscript/libs/modernizr.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/libs/jquery.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/libs/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/libs/toolbox.js"></script> 
<script type="text/javascript" src="{{ assets_path }}jscript/hashgrid.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/storefront-global.js"></script> 


{% block head %}

<title>{{ title }}</title>

{% endblock head %}


</head>

<body>

<div class="container">




<div class="content">
{% block content %}
   

Please select a store... <br />


<ul>
{% for store in stores %}

    <a href="{{ store.landing }}">
        <li>{{ store.title }}</li>
    </a>

{% endfor %}
</ul>

{% endblock content %}
<!-- END: CONTENT -->
</div>



<br class="clearfloat" />


<div class="shop-footer">
{% block footer %}
&nbsp;

{% endblock footer %}
<!-- END: FOOTER -->
</div>    



<!-- END: CONTAINER -->
</div>



</body>
</html>
