@charset "utf-8";
/* CSS Document */




/*

CATEGORY HEADER

*/

#category-header {
    height: 205px;
    width: 780px;
    border: none;
    
    
    margin: 0px 0px 15px 0px;
    padding: 0px 0px;
}




#category-banner-image {
    height: 195px;
    width: 780px;
    border: none;
    
    margin: 0px 0px;
    padding: 0px 0px;
}


#category-banner-image:before {
    content: '';
    display: block;
    
    height: 195px;
    width: 20px;
    
    overflow: hidden;
    
    background: rgba(100, 30, 50, .6);
    
    position: absolute;
    top: 0px;
    left: 0px;
     
}






/*

MAIN LAYOUT

*/




.pagination {
	width:730px;
	height:40px;
	
	margin:0px 0px;
	padding:0px 15px 0px 12px;
	
	/*border:dashed 1px #aaa;*/
	float:left;
}

.item-count {
	width:350px;
	height:20px;
	
	margin:15px 0px 0px 0px;
	
	float:left;
	text-align:left;
	color:#999;
	
	font-size:75%;
	
}

.page-numbers {
	width:360px;
	height:20px;
	
	margin:15px 0px 0px 0px;
	
	float:right;
	text-align:right;
	color:#999;
	
	font-size:75%;
}


.page-numbers a, 
.page-numbers a:link, 
.page-numbers a:visited, 
.page-numbers a:active {
	margin:0px 5px;
}


.page-numbers a:hover, 
.page-numbers a:focus {
	border-bottom:dashed 1px #000;
	
}


.item-grid {
	list-style:none;
	
	width:780px;
	height:500px;
	
	margin:0px 0px;
	padding:0px 2px!important;

/*
	border:solid 1px #aaa;
	border-left:none;

*/
}

.item-grid li {
	list-style:none;
	margin:0px 11px 10px 0px;
	padding:0px 0px;
		
	float:left;	
	
}

.item-grid a:link {
	
	
}




.product-thumb-label .old-price {
    text-decoration: line-through;
}


.product-thumb-label .new-price, 
.product-thumb-label .sale-price {
    margin-left: 5px;
    color: #f00;
}