/* 
    Document   : cart-display
    Created on : Nov 10, 2012, 6:47:25 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
*/

.content {
    width: 1040px;
}


.page-title {
    border-bottom: solid 1px #330;  
    padding: 0px 0px 5px 0px;
    
    margin-left: 0px;
}



#checkout-wrapper {
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 0px 0px;

    border-bottom: solid 1px #330;  
}

#checkout-wrapper > li {
    border-bottom: solid 1px #ccc; 
    min-height: 100px;

    
    margin: 0px 0px 20px 0px;
    
}

#checkout-wrapper > li.list-items-header {
    border: none;
    background: #000;
    margin-bottom: 1px;
    
    font-weight: bold;
    text-indent: 20px;
}

#checkout-wrapper > li.list-items-header, 
#checkout-wrapper > li.list-items-header > div {
    color: #777;
}


#checkout-wrapper > li.last-child {
   border-bottom: none;  
    min-height: 50px;
}


#checkout-wrapper li [class^="list-items-"], 
#checkout-wrapper li [class*=" list-items-"] {
    float: left;
}

#checkout-wrapper-header [class^="list-items-"], 
#checkout-wrapper-header [class*=" list-items-"]{
    
    color: #fff;
}



#cart-errors {
    margin: 10px 0px;
}

#cart-errors li {
    border: none;
    border-top: dotted 1px #f00;
    
    color: #f00;
    font-size: 70%;
    
    min-height: 20px;
    
    padding: 5px 0px 5px 0px;
    margin: 0px 0px;
    
}

#cart-errors li.last-child {

    min-height: 0px;
    border: none;
    border-bottom: dotted 1px #f00; 
    
}



#cart-status-message li {
    border: none;
    border-top: dotted 1px #660;
    
    color: #660;
    font-size: 70%;
    
    min-height: 20px;
    
    padding: 5px 10px 5px 10px; 
}


#cart-status-message li.last-child {

    min-height: 0px;
    border: none;
    border-bottom: dotted 1px #660;
    
}


/*

#cart-checkout-button {
    float: right;
    margin: 0px 0px 0px 10px;
}

*/

#cart-update-button {
    float: left;
    margin: 0px 10px 0px 10px;
}


#cart-continue-button-1, 
#cart-continue-button-2 {
    float: left;
    margin: 0px 10px 0px 0px;
}





/*

CART SUMMARY

*/



#cart-summary {
    width: 280px;
    float: right;

    margin-bottom: 20px;
}

#cart-summary li {
    border: none;
    background: #eee;
   
    margin: 1px;
    padding-left: 10px;
}

#cart-summary li.list-items-header {
    border: none;
    background: #322;
    
    margin: 1px;
    color: #fff;
    
    font-size: 150%;
}


#cart-summary li.last-child {
    border: none;
    background: #f5f5f5;
    margin: 1px;
    
    font-size: 140%;
    color: #f00;
    
}






.stock-low {
    color: #f00;
}






.sub-section-header {
    margin-top: 10px;

    display: block;
    width: 100%;
    height: 30px;
    
    color: #fff;
    text-indent: 20px;
    font-size: 18px;
    border-bottom: dotted 1px #aaa;
}

.sub-section-header:before {
   position: relative;
   left: -5px;
   top: 1px;
   font-size: 20px; 
}







#shipping-info-form-wrapper {
    height: 350px;
    width: 418px;
    
    margin-right: 1px;
    
    padding: 0px 0px;
    background: #222;
}






#delivery-section-eye-candy {
    height: 350px;
    width: 340px;

    padding: 0px 0px;
    background: url('../images/ui/emma-3.3.jpg') repeat;
}





/*

SHIPPING OPTIONS 

*/

#shipping-options-wrapper {   
    height: 350px;
    width: 280px;    
    margin-right: 1px;

    padding: 0px 0px;
    background: #222;
}






/*

ADDRESS BOOK


*/


#address-book-wrapper { 
    display: none;

    height: 350px;
    width: 280px;
    
    margin: 0px 0px;
    
    background-color: #222;
    
    /*
    border-radius:15px;	
    -moz-border-radius:15px;	
    -webkit-border-radius:15px;
    */
    
    
}




#address-book-wrapper > .sub-section-header > span.icon-book-2 {
    position: relative;
    top: 2px;
}
 
#address-book-note {
    margin: 0px 0px;
    padding: 10px;
    border-bottom: dashed 1px #666;
    font-size: 70%;
    color: #999;
    
    background: #222;
}


#address-book-entries {

    margin: 0px 0px;
    padding: 10px;
    
    /*
    border-bottom: dashed 1px #666;
    background: #333;
    */
}

#address-book-entries > a > li {
    display: inline-block;
    width: auto;
    list-style: none;
    margin: 0px 5px 10px 15px;
    font-size: 80%;
    color: #aaa;
    border-bottom: dashed 1px transparent;
    
}

#address-book-entries > a > li:before {
    position: relative;
    left: -5px;
}

#address-book-entries > a > li:hover {
    border-bottom: dashed 1px #aaa;
}




/*

CHECKOUT SECTIONS

*/


.checkout-step-header:before {
    position: relative;
    left: -5px;
    
    font-size: 120%;
}






/*

PAYMENT DETAILS

*/




#billing-info-form-wrapper {
    height: 350px;
    width: 418px;
    
    margin-right: 1px;
    
    padding: 0px 0px;
    background: #222;
}






#billing-section-eye-candy {
    height: 350px;
    width: 340px; 

    padding: 0px 0px;
    background: url('../images/ui/emma-3.3.jpg') repeat;
    background-position: 0px -150px;
}


#billing-payment-method {
    height: 350px;
    width: 280px; 
    margin-right: 1px;

    padding: 0px 0px;
    background: #222;
    color: #fff;
}


#billing-payment-method .sub-section-header {
    width: 100%;
    color: #fff;
    text-indent: 15px;  
}


#payment-options-list li {
    text-indent: 20px;
}




#credit-card-billing-address {
    display: none;
}


#billing-address-not-required {
    display: none;
    
}

.billing-address-cue {
    height: 280px;
    width: auto;
    
    margin: 20px 20px 10px 20px;
    z-index: 4;
    
    color: #aaa;
    font-size: 75%;
    text-align: left;
    
}






/*

ADDRESS EDITOR FORM

*/

.edit-address {
    height: 280px;
    width: 360px;
    
    margin: 20px 10px 10px 30px;
    z-index: 4;
}

.address-summary {
    display: none;
}



.edit-address > .field-label {
    width: 110px;
    min-height: 30px;
    
    font-size: 80%;
    margin: 1px 1px;
    padding: 0px 5px;
    
    color: #888;
}


.edit-address > .field-input {
    width: 230px;
    min-height: 30px;
    margin: 1px 1px;
    
}


.edit-address > .field-input > input {
    background: #555;
    border: none;
    color: #ccc;
    
    height: 15px;
}


.edit-address > .field-input > select {
    background: #555;
    border: none;
    color: #ccc;
    
    height: 20px;
    width: 150px;
}

.checkout-notice {
    display: block;
    font-size: 70%;
    color: #555;
    padding-bottom: 10px;
}


.list-items-header {
    margin-bottom: 0px;
    color: #777;
}




/*

AUTOCOMPLETE CSS




.ui-autocomplete {
    padding: 0;
    list-style: none;
    background-color: #fff;
    width: 218px;
    border: 1px solid #B0BECA;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ui-autocomplete .ui-menu-item a {
    border-top: 1px solid #B0BECA;
    display: block;
    padding: 4px 6px;
    color: #353D44;
    cursor: pointer;
}
.ui-autocomplete .ui-menu-item:first-child a {
    border-top: none;
}
.ui-autocomplete .ui-menu-item a.ui-state-hover {
    background-color: #D5E5F4;
    color: #161A1C;
}


*/