/* 
    Document   : login
    Created on : Nov 12, 2012, 3:56:32 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>

*/


#login-wrapper {
    display: block;
    min-width: 200px;
    min-height: 350px;
    
    padding: 0px 0px;
}

#login-wrapper > li {
    display: block;
    min-width: 410px;
    margin: 0px 0px;
    
    border-right: dotted 1px #fff;
    float: left;
}

#login-wrapper li.last-child {
    border-right: none;
}

#login-form-table {
    
}


#login-form-table td {
    text-align: left;
}


#login-form-table th {
    text-align: left;
    padding-bottom: 0px;
    
    font-weight: normal;
}


.login-field-label {
    font-size: 90%;
}


.login-sub-header {
    font-size: 120%;
}


.login-text-normal {
    font-size: 90%;
}

#new-customer-box {
    display: block;
    width: 380px;
    
    margin: 0px 10px 0px 40px;
    padding: 0px 0px;
}

#new-customer-box > li {
    margin: 10px 0px 20px 0px;
    padding: 0px 0px;
    
    text-align: left;
}



.error-text {
    font-size: 70%;
    color: #f00;
     
}