@charset "utf-8";
/* CSS Document */





#product-images {
	width:345px;
	overflow:auto;
	float:left;
	margin:0px 0px;
	
	
}


#main-product-photo-wrapper {
	width:320px;
	height:500px;
	padding:0px 0px;
	overflow:visible;
	
	/*border:solid 1px #f00;*/
	
	
}

#main-product-photo {
	width:320px;
	height:480px;
	margin:0px 0px;
	
	clear:both;
	
/*	
	border-radius:2px;	
	-moz-border-radius:2px;	
	-webkit-border-radius:2px;
	
*/	
}


#photo-zoom-icon {
	content:'\f4';
	display:block;

	position:absolute!important;
	top:10px!important;
	
	font-family:'EntypoRegular'!important;	
	font-size:500%!important;
	line-height:30%!important;
	color:#fff!important;
	border:none!important;
	background:#555;

	padding:0px 0px 0px 0px!important;
	margin:0px 0px 0px 10px!important;

	height:40px!important;
	width:35px!important;
	
	opacity:.2; 
	-moz-opacity:.2; 
	filter:Alpha(opacity=20);
	
	overflow:visible!important;
	z-index:40;
	
}


#photo-zoom-hint {
    text-align: left;
    font-size: 65%;
    
    font-weight: bold;
    color: #000;
    
    margin: 3px 0px;
}

#easy_zoom{
	width:507px;
	height:486px;
	background:#000;
	color:#333;
	position:absolute;
	top:0px;
	left:346px;
	overflow:hidden;
	z-index:1000;
	
	-moz-box-shadow: 0px 0px 5px rgba(100, 60, 60, .15);
	-webkit-box-shadow: 0px 0px 5px rgba(100, 60, 60, .15);
	box-shadow: 0px 0px 5px rgba(100, 60, 60, .15);

	padding:0px 0px;
	margin:0px 0px;
	border:solid 6px #fff;
	
	/* vertical and horizontal alignment used for preloader text */
	line-height:400px;
	text-align:center;
	}




#alt-product-images {
	list-style:none;
	margin:10px 0px;
	padding:0px 18px;

	width:297px;
	height:420px;
	float:left;
}


/*
#alt-product-images li {
	list-style:none;
	width:90px;
	height:135px;
	
	margin: 4px 4px;
	padding:0px 0px 0px 0px;
	float:left;
	
		
}

*/





/*

PRODUCT INFO

*/


#product-info-wrapper {
	width:513px;
	height:496px;
	margin:0px 0px 0px 0px;
	padding:0px 0px;
	background:#fff;
	
	
	border:solid 1px rgba(50, 50, 50, .3);
	box-shadow: 0px 1px 5px rgba(150, 10, 10, .15);
	
	
	overflow:auto;
	float:right;
	
	
}


#product-info {
	list-style:none;
	margin:0px 0px;
	padding:0px 0px;
	
	width:513px;
	height:300px;
	
}


#product-info li {
	list-style:none;
	
	margin:5px 0px 10px 0px;
	padding:0px 0px 0px 20px;
	
	text-align:left;

}


li#bread-crumps {
	font-size:70%;
	margin-top:15px;	
}

li#bread-crumps a:hover, 
li#bread-crumps a:focus {
	border-bottom:dashed 1px #444;
	
}


li#product-name {
	
	font-size:110%;
	font-weight: normal;
	
}


li#product-base-price {
	
	font-size:110%;
	font-weight: normal;
        
        margin-bottom: 20px;
	
}

li#product-base-price .old-price {
    text-decoration: line-through;
}


li#product-base-price .new-price, 
li#product-base-price .sale-price {
    margin-left: 5px;
    color: #f00;
}




/*

PRODUCT DESCRIPTION TABS

*/



.tab-group {
	display:block;
	position:relative;
	
	width:475px;
	height:160px;

	list-style:none;
	margin:0px 0px!important;
	padding:0px 0px!important;
	clear:both;
}


.tab-wrapper {
	position:absolute;
	top:0px;
	left:0px;
	
	list-style:none;
	margin:0px 0px!important;
	padding:0px 0px!important;
	
	width:475px;
	height:160px;
	border:solid 1px #ccc;
	background:#fff;
	
	overflow:visible;
	clear:both;
	z-index:190;
}

li#tab-1 {
	z-index:200;
}

.tab-wrapper p {
	border-top:dotted 1px #777;
	margin:10px 15px;
	padding:10px;
	
	font-size:75%;
}


.tab-header {
	display:block;
	width:80px;
	max-width:200px;
	
	height:15px;	
	border:solid 1px #ccc;
	border-bottom:none;
	background:url(../images/bgs/washi.png);
	z-index:190;
	
	padding:3px 5px 3px 10px;
	
	position:absolute;
	top:-22px;
	left:0px;
	
	font-size:70%;
	
}


li#tab-1 span.tab-header {
	position:absolute;
	left:-1px;

}


li#tab-2 span.tab-header {
	position:absolute;
	left:95px!important;
}


li#tab-3 span.tab-header {
	position:absolute;
	left:191px;
}




.tab-state-front {
	z-index:200;
}


.tab-state-front .tab-header {
	background:#fff;
}




/*

PRODUCT SIZES

*/


#product-sizes {

	margin:10px 0px!important;
}


#size-guide-anchor {
    font-size: 75%;
    font-weight: bold;
    
    word-break: keep-all;
    text-wrap: none;
    
    display: inline-block;
    min-width: 150px;
}



/*

PRODUCT COLORS

*/


#product-colors {

	margin:10px 0px!important;
        min-height: 50px;
	
}



.out-of-stock {
    color: #f00;
    font-size: 70%;
    font-weight: bold;
}


#add-to-wishlist-button {
  
}


#add-to-wishlist-button:before {
    position: relative;
    top: 2px;
    left: -5px;
}