/* 
    Document   : shop-landing
    Created on : Nov 12, 2012, 3:56:32 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>

*/


#layout-tile-grid-wrapper {
    width: 875px;
    min-height: 400px;
    
    padding-top: 10px!important;
    padding-left: 10px!important;
    
    list-style: none;
    
    
}


.layout-tile {
    position: relative;
    display: block;
    list-style: none;
    margin: 0px 5px 5px 0px;
    float: left;
    
    border:solid 1px rgba(0, 0, 0, .3);
    background: rgba(0, 0, 0, .2);

    /* 
    
    border:solid 6px rgba(100, 100, 100, .3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5) inset;
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, .5) inset;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, .5) inset;
 
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
 */
}


.tile-content-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    overflow: hidden;
    
}

.layout-tile ul.slide-strip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    
    list-style: none;
    z-index: 10;
    
}


.layout-tile ul.slide-strip li.slide {
    display: block;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    
    float: left;
    
    background-color: rgba(0, 0, 100, .3);
    
    overflow: hidden;
}


.slide-content-wrapper {
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
}