@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('fonts/gothic-webfont.eot');
    src: url('fonts/gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothic-webfont.woff') format('woff'),
         url('fonts/gothic-webfont.ttf') format('truetype'),
         url('fonts/gothic-webfont.svg#CenturyGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'GeosansLight';
    src: url('fonts/GeosansLight.eot');
    src: url('fonts/GeosansLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/GeosansLight.woff') format('woff'),
         url('fonts/GeosansLight.ttf') format('truetype'),
         url('fonts/GeosansLight.svg#GeosansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}






/*

@font-face {
    font-family: 'Hello Kitty';
    src: url('fonts/entypo-icon-font/entypo-webfont.eot');
    src: local('?'), url('fonts/entypo-icon-font/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo-icon-font/entypo-webfont.woff') format('woff'),
         url('fonts/Hello-Kitty-Angel.ttf') format('truetype'),
         url('fonts/entypo-icon-font/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*/




/*

MAIN LAYOUT

*/

body {
	background-image:url(../images/bgs/paper-bg-blue-01.jpg);
}



.main-logo-wrapper {
    display: block;
    position:absolute; 
    left:430px; 
    top:-40px; 
    width:180px; 
    height:180px;
    background: rgba(255, 204, 153, .8); 
    
    border: dashed 1px #fff;
    
    border-radius: 90px;	
    -moz-border-radius: 90px;	
    -webkit-border-radius: 90px;
    
    -moz-box-shadow: 0px 2px 4px rgba(10, 10, 10, .2);
    -webkit-box-shadow: 0px 2px 4px rgba(10, 10, 10, .2);
    box-shadow: 0px 2px 4px rgba(10, 10, 10, .2);
}


.main-logo {
    display: block;
    position:absolute; 
    left:0px; 
    top:45px; 
    width:180px; 
    height:100px; 
    background:url(../images/aimas_logo.png); 
    z-index:0; 
}




#bread-crumps {
	font-size:70%;
	margin-bottom:10px;
        
        text-align: left;
}

#bread-crumps a:hover, 
#bread-crumps a:focus {
	border-bottom:dashed 1px #444;
	
}







.secondary-nav {
    position: relative;
    
    display: block;
    list-style: none;
    
    margin: 10px 0px 40px 0px;
    padding: 10px 25px;
    
    height: 30px;
    width: auto;
    
    border: none;
    
    background: #fff;
    background: rgba(255, 255, 255, .4);

    border-radius: 10px;	
    -moz-border-radius: 10px;	
    -webkit-border-radius: 10px;
    
    z-index: 400;
    
}


.secondary-nav li {
    float: left;
    
    font-size: 65%;
    color: #444;
    
    margin: 0px 25px 0px 0px;
    
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.secondary-nav li > span.connector {
    display: block;

    position: relative;
    top: 8px;
    left: 0%;
        
    border-bottom: dotted 1px #aaa;
    width: 100%;
    padding-left: 26px;
    
    float: right;
}


.secondary-nav li.first-child > span.connector {
    width: 50%;
    padding-left: 0px;
    
}


.secondary-nav li.last-child > span.connector {
    left: -50%;
        
    width: 50%;
}


.secondary-nav li:hover {
    color: #777;
}


.secondary-nav li.active-crumb {
    color: #000;
}






.secondary-nav li:after {
	content:' ';
	
	display:block;
	
        position: relative;
        top: 4px;
        left: 0px;
        
        margin: 0px auto;
        	
		
	width:10px;
	height:10px;
	
	border: none;

        background: #aaa;
	
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}


.secondary-nav li.active-crumb:after {
        
        background: #000;
}





.white-circular-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    
    border-radius:15px;	
    -moz-border-radius:15px;	
    -webkit-border-radius:15px;
    
    background-color: #fff;
    color: #000;
    
    margin-right: 10px;
}


.white-circular-icon:before {
    position: relative;
    left: 5px;
    top: 2px;
    
    font-size: 20px;
}



/*

ANCHOR STYLES

*/


a.deco-dashed:hover, 
a.deco-dashed:focus {
    border-bottom: dashed 1px #000;
}



.shop-side-bar-wrapper {
	width:165px;
	height:500px;
	
	/*border:dotted 1px #999;*/
	
	float:left;	
	
}


.shop-side-bar {
	width:165px;
	height:500px;
        
        list-style: none;
        margin: 0px 0px;
        padding: 0px 0px;
        
	
	/*border:dotted 1px #999;*/
}


.shop-side-bar li {
	width:165px;
	min-height: 20px;
        
        list-style: none;
        margin: 0px 0px;
        padding: 5px 0px;
        
        float: left;
        
        text-align: left;
	
	/*border:dotted 1px #999;*/
	
}


.shop-side-bar a {
    
        /* font-family: 'Chunkfive'; */
}


.shop-header {
	width:1040px;
	height:200px;
	
	float:left;	
	
}



.shop-footer {
	padding: 10px 0;
	background: none;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */

	width:1040px;
	height:140px;
	
/*	border:dotted 1px #f00;*/
	
}



.page-title {
    font-size: 180%;
    font-weight: bold;
    display: block;
    width: auto;
    min-height: 30px;
    
    margin: 0px 0px 10px 10px;
    text-align: left;
    
}


.page-title-2 {
    font-size: 180%;
    font-weight: bold;
    display: block;
    width: auto;
    min-height: 30px;
    
    margin: 0px 10px 40px 50px;
    text-align: left;
    
}






/*


PRODUCT THUMB CLASSES

*/



.product-thumb-label {
	display:block;
	
	font-size:75%;
	font-weight:bold;
	color:#000;
	
	margin:10px 0px 0px 0px;
	text-align: center;
	
}



/*

PHOTO GRIDS

*/


.photo-grid {
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px!important;
    
    min-height: 50px;
}

.photo-grid li {
    list-style: none;
    margin: 0px 5px 5px 0px;
    padding: 0px 0px!important;
    
    float: left;
}







/*

CLASS TO STRIP LIST STYLE

*/


ul.list-style-stripped {
  list-style: none;
}


ul.list-style-stripped li {
    list-style: none;
    margin: 0px 10px;
    padding: 10px 0px;
    
}








/*


LIST ITEMS

*/


.list-items {
    list-style: none;    
    margin: 0px 0px;
    padding: 0px 0px;
}



ul.list-items>li, 
ul.list-items>form>li{
    list-style: none;
    margin: 0px 10px;
    
    text-align: left;
    min-height: 10px;
    
}

.list-items li:last-child {
    border-bottom: none;
}

.list-items  li [class^="list-items-"], 
.list-items li [class*=" list-items-"] {
    min-height: 10px;
    min-width: 20px;
    
    margin: 0px 10px 0px 0px;
    font-size: 75%;
}


.list-items-header {
    margin-bottom: 10px;
    padding: 10px 0px;
    color: #777;
}


.list-items-header, 
.list-items-header [class^="list-items-"], 
.list-items-header [class*=" list-items-"] {
    min-height: 20px!important;
    
    font-weight: bold;
}



.list-items-header [class^="list-items-"].center, 
.list-items-header [class*=" list-items-"].center, 
.list-items li [class^="list-items-"].center, 
.list-items li [class*=" list-items-"].center{
    text-align: center;
}


.list-items-header [class^="list-items-"].right, 
.list-items-header [class*=" list-items-"].right, 
.list-items li [class^="list-items-"].right, 
.list-items li [class*=" list-items-"].right{
    text-align: right;
}


.list-items-xx-narrow-col {
    width: 20px;
}

.list-items-x-narrow-col {
    width: 80px;
}


.list-items-narrow-col {
    width: 120px;
}


.list-items-wide-col {
    width: 150px;
}

.list-items-x-wide-col {
    width: 250px;
}

.list-items-xx-wide-col {
    width: 350px;
}




/*


THUMB SIZES


*/



.tiny-thumb-1 {
    display: block;
    height: 20px;
    width: auto;
    
    margin: 0px 5px 5px 0px!important;
}


.large-thumb-l {
	height:255px;
	width:170px;
}

.mini-thumb-1 {
	
	width:90px;
	height:135px;
	
}


.x-mini-thumb-1 {
	
	width:60px;
	height:90px;
	
}





/*


FRAMES (for thumbs, pictures, boxes)


*/


.frame-polaroid-1 {
    background: #fff;
    border:solid 1px #fff;

    box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    
    padding: 5px 5px 30px 5px;
    
}


.frame-classic-1 {
    background: #fff;
    border:solid 1px #fff;

    box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    
    padding: 5px 5px 5px 5px;
    
}


.frame-classic-outlined-1 {
    background: #fff;
    border:solid 1px #eee;

    box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    
    padding: 5px 5px 5px 5px;
    
}


.frame-classic-outlined-2 {
    background: #fff;
    border:solid 1px #eee;

    box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    
    padding: 6px 6px 6px 6px;
    
}





/*

LABELS

*/


.label-red-1 {
    background: #f00;
    color: #fff;
    
    font-size: 90%;
    
    padding: 1px 5px;
}


.label-black-1 {
    background: #000;
    color: #fff;
    
    font-size: 90%;
    
    padding: 1px 5px;
}





/*


BUTTONS


*/



.black-button-large-1 {
    display: inline-block;
    height: 20px;
    min-height: 20px;
    min-width: 60px;
    
    padding: 4px 20px;
    margin: 5px 0px;
    
    color: #fff!important;
    text-align: center;
    text-transform: capitalize;
    background: #000;
    cursor: pointer;
    
    border: none;
    
}



.black-button-large-1.deactivated {

    cursor: not-allowed;
    
}



.transparent-button-large-1 {
    display: inline-block;
    height: 18px;
    min-width: 98px;
    
    padding: 4px 20px;
    margin: 5px 0px;
    
    color: #000!important;
    text-align: center;
    background: none;
    
    border: dotted 1px #999;
    
}


input.black-button-large-1 {
    
    min-height: 30px;
    
}


.black-button-mini {
    display: inline-block;
    min-height: 10px;
    
    padding: 2px 15px;
    margin: 5px 0px;
    
    color: #fff!important;
    text-align: center;
    background: #000;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;

    
    font-size: 80%;
    text-transform: uppercase;
    
}




.red-button-mini {
    display: inline-block;
    min-height: 10px;
    
    padding: 2px 15px;
    margin: 5px 0px;
    
    color: #fff!important;
    text-align: center;
    background: #e00;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;

    
    font-size: 80%;
    text-transform: uppercase;
    
}




.grey-button-mini {
    display: inline-block;
    min-height: 10px;
    
    padding: 2px 15px;
    margin: 5px 0px;
    
    color: #fff!important;
    text-align: center;
    background: #777;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;

    
    font-size: 80%;
    text-transform: uppercase;
    
}




.delete-button-1 {
    display: inline-block;
    width: 30px;
    
    font-size: 140%;
    color: #444!important;
    font-style: normal;
    
    position: relative;
    top: 0px;
    left: 0px;
    
    float: none;
    
    z-index: 22;  
}


.delete-button-1:before {
    cursor: pointer;
    
    position: relative;
    top: 2px;
    left: -5px;
    
    color: #333;
    
   
}

/*

SELECT CONTROLS

*/

select.select-control-1 {
    width: 120px;
    height: auto;
    
    padding: 3px 2px;
    
    font-size: 100%;
}


select.select-control-wide {
    width: 240px;
    height: auto;
    
    padding: 3px 2px;
    
    font-size: 100%;
}


select.select-control-x-wide {
    width: 300px;
    height: auto;
    
    padding: 3px 2px;
    
    font-size: 100%;
}



/*

TEXT BOXES

*/


input[type='text'], 
input[type='password'] {
    background: #fff;
    border: solid 1px #ccc;
    box-shadow: 0px 0px 2px rgba(10, 10, 10, .20) inset;
    
    color: #000;

    padding: 3px 4px;
    
    border-radius:0px;	
    -moz-border-radius:0px;	
    -webkit-border-radius:0px;    
    
}

label > small, 
a > small {
    font-size: 75%;
    color: #777;
    
    position: relative;
    top: -3px;
}


/*

ICON SIZES

*/



.large-icon:before {
    font-size: 120%;
}

.small-icon:before {
    font-size: 120%;
}

.tiny-icon:before {
    font-size: 70%;
}







/*

SHOPPER DASHBOARD

*/


#shopper-dashboard {
    position: absolute;
    right: 40px;
    top: 20px;
    
    right: -100px;
    
    list-style: none;
    margin: 0px;
    padding: 0px;
    
    height: 50px;
    min-width: 530px;
    
}

#shopper-dashboard li {
    list-style: none;
    margin: 0px 0px!important;
    padding: 0px 0px!important;
    
    height: 50px;
    min-width: 145px;
    
    float: right;
    
    text-align: left;
    
    border-left: dotted 1px #ccc;
}


#shopper-dashboard li.last-child {
    border-left: none;
}




.dashboard-section-label {
    display: block;
    font-size: 70%;
    text-transform: uppercase;
}

.dashboard-section-text {
    display: block;
    font-size: 75%;
    margin-top: 10px;
    white-space: nowrap;    
}




.dashboard-section-icon {
    display: inline-block;
    height: 50px;
    width: 40px;
    
    float: left;
    
    margin-right: 10px;
    margin-bottom: 20px;
}


#shopper-dashboard-bag {
    width: 220px!important;
   
}






/*

CART MESSENGER

*/


#cart-messenger {
    display: none; 
    min-height:110px; 
    width:300px; 
    position:absolute; 
    top:80px; 
    right:-20px; 
    border:solid 1px #000; 
    background-color:#FFFFFF; 
    vertical-align:middle; 
    text-align:center; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:11px; 
    color:#000; 
    
    border-radius:16px;	
    -moz-border-radius:16px;	
    -webkit-border-radius:16px;

    box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);
    z-index: 3000;
}


#cart-messenger:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-bottom-color: #000;
	
	position:absolute;
	top:-35px;
	right: 50px;
	
}

#cart-messenger-content {
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    min-height:110px; 
    width:300px; 
    vertical-align:middle; 
    text-align:center; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:11px; 
    color:#000; 
}

#cart-messenger-content li {
    position: relative;
    list-style: none;
    margin: 0px 20px;
    padding: 20px 10px;
    
    width:240px; 
    border-bottom: dashed 1px #ccc; 
}

#cart-messenger-content-header {
    text-align: left;
    font-size: 110%;
    
    font-weight: bold;
}

#cart-messenger-content li:last-child {
    border-bottom: none; 
}

.remove-item-button {
    
    /*
    display: inline-block;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 0;
    height: 15px;
    width: 15px;
    
    font-size: 120%;
    line-height: 12px;
    
    border-radius: 50%;	
    -moz-border-radius: 50%;	
    -webkit-border-radius: 50%;
    */
    
    display: inline-block;
    float: right;
}

#cart-messenger-error-text {
    color: #f00;
}



.cart-messenger-thumb {
    position: relative;
    display: inline-block;
    float:left; 
    margin:0px 10px 0px 0px; 
}


.cart-messenger-item:before {

	position:absolute;
	left:55px;
	top:10px;
	content:attr(quantity);
	color:#fff;
	font-size:100%;
	text-align:center;
	line-height:75%;
	
	background: #046;
        background: rgba(0, 100, 140, .5);
	
	height:8px;
	min-width:8px;
	float:left;
	
	margin:0px 0px 0px 0px;
	padding:5px;
        
        z-index: 50;
	
	border: solid 2px #fff;
        border-radius: 50%;	
        -moz-border-radius: 50%;	
        -webkit-border-radius: 50%;
        box-shadow: 0px 1px 4px rgba(150, 10, 10, .20);

}

.cart-messenger-item {
    text-align: left!important;
    min-height: 90px;
}


/*

AJAX HTML ERROR RESPONSE


*/


#ajax-error-wrapper {
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    min-height:110px; 
    width:300px; 
    vertical-align:middle; 
    text-align:center; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:11px; 
    color:#000; 
}

#ajax-error-wrapper li {
    
    list-style: none;
    margin: 0px 20px;
    padding: 20px 10px;
    
    width:240px; 
    border-bottom: dashed 1px #ccc; 
    
}

#ajax-error-wrapper li:last-child {
    border-bottom: none; 
}








/*


ALERT BOX


*/

.alert-box {
        display:none; 
        position:fixed; 
        top:140px; 
        left:490px; 
        width:300px; 
        min-height: 90px;
        height:auto; 
        background-color: #fff; 
        color:#000; 
        z-index:10001;
        
	background: #FFF;
	border:solid 1px #777;
	padding:10px 10px 5px 10px;

	box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
	text-align:left;
	font-size:80%;
        

}



.alert-box h2 {
	border-bottom:dashed 1px #aaa;
	padding:5px 5px;

	text-align:left;
	font-size:100%;
	font-weight:normal;
	
	letter-spacing:2px;
}


.alert-box small {
	display:block;
	padding:0px 0px;
	
	width:100%;

	text-align:right;
	font-size:75%;
	font-weight:normal;
        
        margin-top: 20px;
	
	color:#777;
	
}


#fullscreen-bg2 {
    display:none; 
    position:fixed; 
    top:0px; 
    left:0px; 
    height:100%; 
    width:100%; 
    background-color:rgba(255, 255, 255, .3); 
    z-index:10000;
}






/* 

MESSAGE BUBBLE


*/

.message-bubble {
	display:none;
	
	position:absolute;
	top:100px;
	left:200px;
	
	height:120px;
	width:240px;
	
	background:rgba(0, 0, 0, .8);
	border:solid 2px rgba(50, 50, 50, 1);
	
	border-radius:16px;	
	-moz-border-radius:16px;	
	-webkit-border-radius:16px;
	
	box-shadow: 2px 2px 3px rgba(0,0,0,.7);
	
	z-index:3000;
	
}

.message-bubble p {
	width:auto;
	height:auto;
	
	margin:10px auto 10px auto;
	font-family:Verdana, Geneva, sans-serif;
	font-size:75%;
	color:#aaa;
	letter-spacing:normal;
	
	text-align:left;
	
	
}

.message-bubble p b, 
.message-bubble p strong {
	border-bottom:dotted 2px #444;
	text-transform:capitalize;
}


.message-bubble p small {
	color:#770;
	display:block;
	margin-top:15px;
}

/* bubbles appearing on the right (with arrow pointing left) */

.message-bubble-on-right span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:16px 20px;
	border-right-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	top:20px;
	left:-44px;
	
}

.message-bubble-on-right span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:12px 17px;
	border-right-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	top:-13px;
	left:-12px;
	
}



/* bubbles appearing to the left (with arrow pointing right) */

.message-bubble-on-left span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:16px 20px;
	border-left-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	top:20px;
	right:-44px;
	
}

.message-bubble-on-left span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:12px 17px;
	border-left-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	top:-13px;
	right:-12px;
	
}



/* bubbles appearing on top (with arrow pointing down) */

.message-bubble-above span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:20px 16px;
	border-top-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	bottom:-42px;
	left:25px;
	
}

.message-bubble-above span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-top-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	bottom:-13px;
	right:-12px;
	
}


/* bubbles appearing below (with arrow pointing up) */

.message-bubble-below span.bubble-arrow { /*arrow shade */
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:20px 16px;
	border-bottom-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	top:-42px;
	left:25px;
	
}

.message-bubble-below span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-bottom-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	top:-13px;
	right:-12px;
	
}










@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.2; }
}

.blink {
  -webkit-animation-name: blink;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: .5s; 
}



@-webkit-keyframes blink-2 {  
  from { 
	opacity: 0.5;
  	-webkit-animation-timing-function: ease-in;
	 }
  50% { 	
  	opacity: 0.9;
  	-webkit-animation-timing-function: ease-in;
	 }

  to { 	
  	opacity: 0.5;
  	-webkit-animation-timing-function: ease-out;
	 }

}

.blink-2 {
  -webkit-animation-name: blink-2;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s; 
}