/* 
    Document   : wishlist-display
    Created on : Nov 10, 2012, 6:47:25 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
*/

.content {
    /* width: 1040px; */
}


.page-title {
    border-bottom: solid 1px #330;  
    padding: 0px 0px 5px 0px;
    
    margin-left: 0px;
}



#main-wishlist-items-list {
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 0px 0px;

    border-bottom: solid 1px #330;  
}

#main-wishlist-items-list li {
    border-bottom: dotted 1px #ccc; 
    min-height: 140px;
    
    padding: 10px 0px;
    
    margin: 0px 0px 0px 0px;
    
}

#main-wishlist-items-list li.list-items-header {
    border-bottom: solid 1px #000;
    background: none; /*#322;*/
    
    font-weight: bold;
}
 
#main-wishlist-items-list li.list-items-header div {
    color: #000;
    text-transform: uppercase;
}

.wishlist-item-thumb {
    margin-right: 10px;
}


#main-wishlist-items-list li.last-child {
   border-bottom: none;  
    min-height: 50px;
}


#main-wishlist-items-list li [class^="list-items-"], 
#main-wishlist-items-list li [class*=" list-items-"] {
    float: left;
}

#main-wishlist-items-list-header [class^="list-items-"], 
#main-wishlist-items-list-header [class*=" list-items-"]{
    
    color: #fff;
}



#wishlist-errors {
    margin: 10px 0px;
}

#wishlist-errors li {
    border: none;
    border-top: dotted 1px #f00;
    
    color: #f00;
    font-size: 70%;
    
    min-height: 20px;
    
    padding: 5px 0px 5px 0px;
    margin: 0px 0px;
    
}

#wishlist-errors li.last-child {

    min-height: 0px;
    border: none;
    border-bottom: dotted 1px #f00; 
    
}



#wishlist-status-message li {
    border: none;
    border-top: dotted 1px #660;
    
    color: #660;
    font-size: 70%;
    
    min-height: 20px;
    
    padding: 5px 10px 5px 10px; 
}


#wishlist-status-message li.last-child {

    min-height: 0px;
    border: none;
    border-bottom: dotted 1px #660;
    
}


/*

#wishlist-checkout-button {
    float: right;
    margin: 0px 0px 0px 10px;
}

*/

#wishlist-update-button {
    float: left;
    margin: 0px 10px 0px 10px;
}


#wishlist-continue-button-1, 
#wishlist-continue-button-2 {
    float: left;
    margin: 0px 10px 0px 0px;
}





/*

WISHLIST SUMMARY

*/



#wishlist-summary {
    width: 280px;
    float: right;

    margin-bottom: 20px;
}

#wishlist-summary li {
    border: none;
    background: #eee;
   
    margin: 1px;
    padding-left: 10px;
}

#wishlist-summary li.list-items-header {
    border: none;
    background: #322;
    
    margin: 1px;
    color: #fff;
    
    font-size: 150%;
}


.wishlist-sub-total {
    border: none;
    background: none; /*#f5f5f5*/;
    margin: 0px;
    
    padding: 7px 4px 7px 10px;
    text-align: right;
    
    font-size: 100%!important;
    color: #f00;
    
}






/*

COUPON CODE FORM

*/


#coupon-code-form-wrapper {
    width: 280px;
    float: right;
    
    margin-bottom: 20px;
}

#coupon-code-form-wrapper li {
    border: none;
    background: #eee;
   
    margin: 1px;
    padding-left: 10px;
}

#coupon-code-form-wrapper li.list-items-header {
    border: none;
    background: #322;
    
    margin: 1px;
    color: #fff;
    
    font-size: 150%;
}


#coupon-code-form-wrapper li.last-child {
    border: none;
    background: #f5f5f5;
    margin: 1px;
    
    font-size: 140%;
    color: #f00;
    
}



.stock-low {
    color: #f00;
}