<ul id="cart-messenger-content">
        {% if cart.ajaxError is not empty %}
        <li id="cart-messenger-error-text">
            {{ cart.ajaxError }}
        </li>
        {% endif %}
        
        {# {% if cart.newCartItem is not empty %} #}
        <li id="cart-messenger-content-header">
            Shopping Bag
        {# {{ message }} #}
        </li>

        {% for item in cart.items  %}
        <li class="cart-messenger-item" id="cart-messenger-item-{{ item.id }}" quantity="{{ item.quantity }}">
            <a class="remove-item-button grey-button-mini" href="javascript:void(0);" onclick="removeFromCart({{ item.id }})">remove</a>
            <img class="cart-messenger-thumb x-mini-thumb-1" src="{{ item.image.thumb }}" quantity="{{ item.quantity }}">
            <strong>{{ item.title }}</strong><br/>
            <br/>
            
            {% for attribute in item.attributes %}
            <strong>{{ attribute.label }}:</strong> {{ attribute.value }} <br/>
            {% endfor %}
            
            
            {{ item.quantity }} x {% autoescape false %}{{ store.currency.symbol }} {{ item.price }}{% endautoescape %}
            
            
        </li>
        {% endfor %}
        
        <script type="text/javascript">
            $('#shopping-bag-status').html("{{ cart.totalQuantity }} item{% if cart.totalQuantity > 1 %}s{% endif %}: {{ store.currency.symbol|raw }}{{ cart.totalAmount|number_format(2, '.', ',') }}  &nbsp;&nbsp;Checkout");
        </script>
        {# {% endif %} #}
        

        
        {% if cart.totalQuantity > 0 %}
        
        <li>
        You have {{ cart.totalQuantity }} item{% if cart.totalQuantity > 1 %}s{% endif %} in your shopping bag.
        </li>
        
        <li>
            <strong>Order Total:</strong> {{ store.currency.symbol|raw }} {{ cart.totalAmount|number_format(2, '.', ',') }}
            
        </li>
        
        <li>
        <a href="javascript:void(0);" class="grey-button-mini" onclick="$('#cart-messenger').hide(); return false;" >continue shopping</a>
         &nbsp; 
        <a href="{{ store.landing }}checkout" class="black-button-mini">checkout</a>
        
        </li>
        {% else %}
        <li>
        There are no items in your shopping bag.<br /><br />
        <a href="javascript:void(0);" class="grey-button-mini" onclick="$('#cart-messenger').hide(); return false;" >continue shopping</a>
        </li>
        {% endif %}
</ul>