{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | {{ category.title|raw }}{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->

{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
    <div class="inner-content-wrapper">

    <!-- CATEGORY HEADER -->
    <div id="category-header">
        
        
        <div id="bread-crumps">
        <a href="{{ store.landing }}">Home</a> - <a href="{{ category.href }}">{{ category.title|raw }}</a>

        </div> 
        <div id="category-banner-image" style="background-image: url({{ category.banner.src.large }});" class="{% if category.banner.id == 0 %}no-banner{% endif %}"/>

    </div>

    <div class="pagination">

    {% include 'pagenav.category.html.twig' %}

    </div>


    <ul class="item-grid">




    {% for product in category.products %}



    <a href="{{ product.href }}">
    <li>
                
    <div class="thumb large-thumb-l" style="background-image: url({{ product.primary_image.src.thumb }});">&nbsp</div>


    <div class="product-thumb-label">
    {{ product.title }}<br />
    <span  class="{% if product.is_on_sale == true %}old-price{% else %}normal-price{% endif %}">
    {{ store.currency.symbol|raw }} {{ product.base_price|number_format(2, '.', ',') }}
    </span>

    {% if product.is_on_sale %}
    <span class="sale-price" >{{ store.currency.symbol|raw }}{{ product.sale_price|number_format(2, '.', ',') }}</span>
    {% endif %}
    </div>

    </li>
    </a>


    {% endfor %}

    </ul>



    <div class="pagination">

    {% include 'pagenav.category.html.twig' %}

    </div>
    

<br style="clear: both" />
</div></div>

{% endblock content %}

