{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Your Shopping Bag {% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/confirm.order.css" rel="stylesheet" type="text/css" />

{% endblock head %}


{% block content %}
<div id="bread-crumps">
<a href="{{ shop.landing }}">Home</a> - Shopping Bag

</div> 
<div class="page-title">Your Shopping Bag</div>



<a id="cart-continue-button-1" class="black-button-large-1" href="{{ cart.continueHref }}" >continue shopping</a> 
<div class="clearfloat"></div>
<br />


{% if cart.status != '' %}
<ul id="cart-status-message" class="list-items">

    <li>{{ cart.status }}</li>
    <li class="last-child"></li>

</ul>
{% endif %}


{% if cart.error %}
<ul id="cart-errors" class="list-items">

    {% for error in cart.errorMessages %}
    <li>{{ error }}</li>
    {% endfor %}
    
    <li class="last-child"></li>

</ul>
{% endif %}

<ul class="list-items" id="main-cart-items-list">

<li class="list-items-header" id="main-cart-items-list-header">
    
    <div class="list-items-xx-narrow-col"></div>
    
    <div class="list-items-wide-col">Item Description</div>
    

    
    
    <div class="list-items-x-narrow-col center fltrt">Remove</div>
 
    <div class="list-items-x-narrow-col fltrt">Total</div>
 
    <div class="list-items-x-narrow-col fltrt">Quantity</div>
  
    <div class="list-items-narrow-col fltrt">Price</div>
    
    
    <div class="list-items-wide-col center fltrt">Status</div>
    
   
   
   
   
    

</li>

<form id="cart-items-form" name="cart_items_form" method="POST" action="{{ store.landing }}cart" >       
{% for item in cart.items %}


<li class="list-items-row">
    
    <div class="list-items-xx-narrow-col"></div>
    <a href="{{ item.href }}">
    <div class="list-items-x-narrow-col"><img class="x-mini-thumb-1" src="{{ item.image.thumb }}" /></div>
    
    <div class="list-items-wide-col">
    <strong>{{ item.title }}</strong> <br /><br />
    <strong>Size</strong> <br />{{ item.size }} <br />
    <strong>Color</strong> <br />{{ item.color }} <br />
    </div>
    </a>
    

    
    
    <div class="list-items-x-narrow-col center fltrt"><a class="icon-close delete-button-1" href="{{ store.landing }}cart?remove={{ item.id }}">&nbsp;</a></div>
   
    <div class="list-items-x-narrow-col fltrt">{{ store.currency.symbol|raw }} {{ item.subtotal|number_format(2, '.', ',') }}</div>
   
    <div class="list-items-x-narrow-col fltrt"> x <input type="text" name="update_qty[{{ item.id }}]" value="{{ item.quantity }}" size="2" maxlength="3" /> </div>
   
    <div class="list-items-narrow-col fltrt">{{ store.currency.symbol|raw }} {{ item.price|number_format(2, '.', ',') }}</div>
    
    
    
    <div class="list-items-wide-col center fltrt">
    {% if item.stock < 1 %}
    <span class="stock-low">Out of stock</span>
    {% elseif item.stock < 5 %}
    <span class="stock-low">Less than 5 left</span>
    {% else %}
    In Stock
    {% endif %}
    </div>
    
   
    
   
    
</li>


{% endfor %}



<li class="list-items-row last-child">

    {% if cart.error %}
    <ul id="cart-errors" class="list-items">

        {% for error in cart.errorMessages %}
        <li>{% if loop.length > 1 %}{{ loop.index }}. {% endif %}{{ error }}</li>
        {% endfor %}

        <li class="last-child"></li>

    </ul>
    {% endif %}
        <br />
        <input type="submit" id="cart-update-button" class="black-button-large-1" value="update quantity" />
        <br /><br />
</li>



</ul>


</form>




<a id="cart-continue-button-2" class="black-button-large-1" href="{{ cart.continueHref }}" >continue shopping</a> 


<!-- COUPON DISCOUNT -->

<ul class="list-items" id="coupon-code-form-wrapper">
    <form id="cart-items-form" name="cart_items_form" method="POST" action="{{ store.landing }}cart" >
    <input type="hidden" name="token-{{ authToken }}" value="{{ authToken }}" />

    <li class="list-items-header">
        <div class="list-items-wide-col">Coupon</div>
    </li>
    <li>
        <div class="list-items-x-wide-col">
            Enter your coupon code here if you have one:<br />
            <input type="text" name="coupon-code-{{ authToken }}" id="coupon-code-field" value="" size="30" maxlength="20" />
        </div>
    </li>
    <li class="last-child">
        <div class="list-items-x-wide-col">
            <input type="submit" name="submit-{{ authToken }}" id="cart-apply-coupon-code-button" class="black-button-large-1" value="apply code" />
        </div>
    </li>
    </form>
</ul>


<div class="clearfloat"></div>



<ul class="list-items" id="cart-summary">
    <li class="list-items-header">
        <div class="list-items-wide-col">Order Summary</div>
    </li>
    <li>
        <div class="list-items-x-wide-col"><strong>Item Subtotal</strong></div>
        <div class="list-items-xx-narrow-col">{{ store.currency.symbol|raw }}{{ cart.totalAmount|number_format(2, '.', ',') }}</div>
    </li>
    <li>
        <div class="list-items-x-wide-col"><strong>Standard Delivery</strong></div>
        <div class="list-items-xx-narrow-col">{{ store.currency.symbol|raw }}{{ 0|number_format(2, '.', ',') }}</div>
    </li>
    <li class="last-child">
        <div class="list-items-wide-col"><strong>Order Total</strong></div>
        <div class="list-items-x-narrow-col">{{ store.currency.symbol|raw }}{{ cart.totalAmount|number_format(2, '.', ',') }}</div>
    </li>
    <li class="last-child">
        <div class="list-items-wide-col">
            <a id="cart-checkout-button" class="black-button-large-1" href="{{ store.landing }}checkout" >checkout</a>
        </div>
    </li>

</ul>






{% block sidebar %}{# remove sidebar #}{% endblock sidebar %}



{% endblock content %}

