{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Confirm Code Resent{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/register.css" rel="stylesheet" type="text/css" />

<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/confirm.js"></script>


{% endblock head %}


{% block content %}
<div class="page-title">Confirm</div>


<div id="register-wrapper" >


        <table id="register-form-table" cols="3" cellspacing="10" >
        
            <thead>
                <tr>
                    <th colspan="3" class="register-sub-header">
                        Verification Code Resent
                    </th>
                </tr>

            </thead>
            
            <tbody>
                
                <tr>
                    <form name="confirm-form" method="post" action="{{ store.landing }}confirm">
                    <input type="hidden" name="confirm-digest-{{ email.confirm.confirmToken }}" value="{{ email.confirm.digest }}"  />
     
                    <td class="register-field-label" colspan="2">
                        Hello {{ email.firstname }}! Your verification code has been resent!
                        <br /><br />
                        Please copy it (it's the bold six digit number) and paste it here then click the 'confirm' button:
                        <br /><br />
                        <input type="text" name="confirm-code-{{ email.confirm.confirmToken }}" id="confirm-form-code" value="" size="30" maxlength="8" />
                        <br />
                        <input type="submit" class="black-button-large-1" name="submit-{{ email.confirm.confirmToken }}" id="register-form-submit" value="confirm" />
                        <br /><br />
                        - OR -
                        <br /><br />
                        Follow the link in the message (click or copy and paste it in your browser).
                        <br /><br />
                        {# This is to make sure important information regarding your transactions are sent to the right email address. #}
                    </td>
                    <td class="register-field-error"></td>
                    </form>
                </tr>
                
       
         
            </tbody>
        </table>
        
</div>

{% endblock content %}

