{# ajax + html error template #}


<ul id="ajax-error-wrapper">
    <li>
    <span class="icon-cart tiny-icon">&nbsp;</span>
    <br />
    There's been an error!
    </li>

        {% if cart.errorMessages is not empty %}
        <li>
            {% for i, e in cart.errorMessages %}
                {{ i+1 }}. {{ e }}<br />
            {% endfor %}
        </li> 
        {% endif %}
        
        
    
</ul>