











<br class="clearfloat" />


<div class="shop-footer">

    <div class="footer-row first-child social">
        
        
        <div class="newsletter fltlft">
            <form action="http://aimas.us3.list-manage1.com/subscribe/post?u=330cf1e1d47bbb3d0012a5355&amp;id=2c3cf7fca1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <label for="mce-EMAIL">Newsletter Sign Up</label>
                <input type="email" value="" name="EMAIL" class="fancy-grey-box email" id="mce-EMAIL" placeholder="Enter your email..." required>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button black-button-mini">
            </form>
        </div>

        <div class="social-bar">

            <ul class="networks">

                <li><a href="https://www.facebook.com/aimasng" target="_blank" title="Find us on Facebook" class="social-icon fb">b</a></li>
                <li><a href="http://www.twitter.com/aimasng" target="_blank" title="Follow on Twitter" class="social-icon twitter">a</a></li>
                <li><a href="http://instagram.com/aimasng" target="_blank" title="Follow on Instagram" class="social-icon ig">x</a></li>

            </ul>
        </div>
    </div>
    
    <div class="footer-row other-links">
        <p class="footer-links fltlft">
            
            {% for p in pages %}
                <a href="{{ p.url }}">{{ p.title }}</a>
            {% endfor %}
                
            {#
            <a href="{{ store.landing }}page/contact">Contact</a>
            &nbsp;|&nbsp;
            <a href="{{ store.landing }}page/about">About Us</a>
            &nbsp;|&nbsp;
            <a href="{{ store.landing }}page/returns">Delivery & Returns</a>
            &nbsp;|&nbsp;
            <a href="{{ store.landing }}page/terms">Terms & Conditions</a>
            &nbsp;|&nbsp;
            <a href="{{ store.landing }}page/stockists">Stockists</a>
            #}
        </p>
        
        <p class="payment-options fltrt">
            
            {% for type in store.PaymentTypes %}
            <span class="logo-wrapper"><img src="ui/images/ui/payment-portals/{{ type.Logo }}" title="{{ type.Title }}"/></span>&nbsp;
            {% endfor %}
            
        </p>
    </div>
    
    <div class="footer-row last-child credits">
        <p class="copyright fltlft">&copy; Copyright {{ now|date("Y") }} {{ store.title }}</p>
        <p class="designer fltrt">Website by <a href="http://www.fpplabs.com" title="Fancy Paper Planes" target="_blank">Fancy Paper Planes</a></p>
    </div>
    
    </div>
    
    
</div>
