{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Forgot Password{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/login.css" rel="stylesheet" type="text/css" />


{% endblock head %}


{% block content %}


<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

        <div class="page-title">Password Forgotten</div>

        <p class="instructions">                        
            If you've forgotten your password, enter your email address below and we'll send you an email message
            containing your new password.
        </p>

        <br />
        
        <form name="login_form" method="post" action="{{ store.landing }}forgot-password">
        <input type="hidden" name="token-{{ token }}" value="{{ token }}"  />

        <table id="login-form-table" cols="1" rows="4" cellspacing="0" >

            <tbody>

                {% if response is not empty %}
                <tr>
                    <td></td>
                    <td class="login-field-label error-text">{{ response }}</td>
                </tr>                
                {% endif %}

                <tr>
                    <td class="login-field-label">Email Address: </td>
                    <td><input type="text" name="username-email-{{ form_token }}-1" id="login-form-email" value="" size="30" maxlength="150" /></td>
                </tr>
      

                <tr>
                    <td></td>
                    <td>
                        <a href="{{store.landing}}login" class="black-button-large-1" >Back</a>
                        <input type="submit" class="black-button-large-1" name="submit-submit-{{ form_token }}" id="login-form-submit" value="continue" />
                    </td>
                </tr>                 
            </tbody>
        </table>
        </form>




<br style="clear: both" />
</div></div>

{% endblock content %}

