<div class="shop-header">
    
    
<!-- SHOPPER DASHBOARD -->

<div id="header-row-1" class="header-row" >
    
    <a href="{{ store.landing }}">
    <div class="main-logo fltlft"></div>
    </a>

    <!--
    <img id="dotted-line-1" src="{{ assets_path }}images/dotted-line.svg" />
    <img id="dotted-line-2" src="{{ assets_path }}images/dotted-line.svg" />
    -->

    <ul id="shopper-dashboard" class="fltrt">
        <a href="{{ store.landing }}cart" id="shopping-bag-anchor">
        <li id="shopper-dashboard-bag">
            <div class="dashboard-section-label">Shopping Bag</div>
            <div class="dashboard-section-text" id="shopping-bag-status">{{ cart.totalQuantity }} item{% if cart.totalQuantity > 1 or cart.totalQuantity < 1  %}s{% endif %}: {{ store.currency.symbol|raw }}{{ cart.totalAmount|number_format(2, '.', ',') }}  &nbsp;&nbsp;Checkout</div>
        </li>
        </a>
        
        
        <li id="shopping-bag-icon-wrapper" class="dashboard-section-icon">
        <img id="shopping-bag-icon" src="{{ assets_path }}images/shopping-bag-icon.png" />
        </li>
        


        
        <li id="shopper-dashboard-account">
            <div class="dashboard-section-label">
                <a href="{{ store.landing }}myaccount">My Account</a></div>
            <div class="dashboard-section-text">
            {% if customer.loggedIn %}
            Welcome, {{ customer.firstname }} 
            <a href="{{ store.landing }}logout">Sign Out</a>
            {% else %}
            <a href="{{ store.landing }}login">Sign In</a>
            {% endif %}
            </div>
        </li>
        
        {#
        <li class="dashboard-section-icon">
        <img id="my-account-icon" src="{{ assets_path }}images/locked-50x50.png" />   
        </li>
        #}

        
        <a href="{{ store.landing }}wishlist?k=0">
        <li class="last-child" id="shopper-dashboard-wishlist">
            <span class="dashboard-section-label">Wishlist</span>
            <span id="wishlist-item-count" class="dashboard-section-text">{{ customer.wishlistItemCount }} item{% if customer.wishlistItemCount > 1 or customer.wishlistItemCount < 1 %}s{% endif %}</span>
        </li>
        </a>
        
        {#
        <li class="dashboard-section-icon"> 
        <img id="wishlist-icon" src="{{ assets_path }}images/heart-50x50.png" />        
        </li>
        #}

    </ul>
    
    
<br style="clear: both" />
</div> 
    
    
<!-- SHOP LOGO   
<div id="logo-outer-wrap" class="header-row" > 
    

        
    <div class="search-box-wrapper fltrt">
        <form name="product-search-form" id="product-search-form" method="post" target="_self" action="{{ store.landing }}search" >

        <table border="0" cellspacing="5" cellpadding="0" summary="This table is for the search box">
                <tbody><tr>
                        <td><input type="text" name="term" id="product-search-term" class="fancy-grey-box" value="Search..." size="30" /></td>
                        <td><input type="image"src="{{ assets_path }}images/search-button.gif" alt="Search button" /></td>
                </tr>
        </tbody></table>
        </form>

    </div>


</div>

 --> 
    
<!-- MAIN NAV + SEARCH -->

<div class="header-row" id="header-links-row" > 
    
        <div class="header-links fltlft">
            
            
            {% for c in categories if not c.is_root %}  

                <div class="menu-item-wrap">
                    <a 
                       href="{{ c.href }}"  
                       id="menu-item-{{ c.keyword }}" 
                       data-submenu="#submenu-{{ c.keyword }}" 
                       class="
                              menu-item 
                              {% if category and category.keyword == c.keyword %}active{% endif %} 
                              ">{{ c.title|raw }}</a>
                
                    <ul class="submenu level0" id="submenu-{{ c.keyword }}">

                        {% for sc in c.children %}
                            <li>
                                <a 
                                   href="{{ sc.href }}" 
                                   class="{% if category and category.keyword == sc.keyword %}active{% endif %}
                                          ">{{ sc.title|raw }}</a>
                                
                                {% if sc.children|length > 0 %}
                                <ul class="submenu level1" id="submenu-{{ sc.keyword }}">

                                    {% for ssc in sc.children %}
                                        <li>
                                            <a href="{{ ssc.href }}" class="{% if category and category.keyword == ssc.keyword %}active{% endif %}">{{ ssc.title|raw }}</a>
                                        </li>
                                    {% endfor %}

                                </ul>
                                {% endif %}
                            </li>
                        {% endfor %}

                    </ul>
                </div>
                        
            {% endfor %}
            
            {#
            <a href="{{ store.landing }}">Home</a>
            <a href="{{ store.landing }}">Shop</a>
            <a href="{{ store.landing }}page/lookbook">Lookbook</a>
            <a href="{{ store.landing }}page/inspiration">Inspiration</a>
            <a href="http://theaimasblog.wordpress.com/" target="_blank">Blog</a>
            <a href="http://{{ domain }}/s2/home_ts.php" target="_blank">The Stylist</a>
            #}
        </div>
    
    
            
    <div class="search-box-wrapper fltrt">
        <form name="product-search-form" id="product-search-form" method="post" target="_self" action="{{ store.landing }}search" >

        <table border="0" cellspacing="5" cellpadding="0" summary="This table is for the search box">
                <tbody><tr>
                        <td><input type="text" name="term" id="product-search-term" class="fancy-grey-box" value="Search..." size="30" /></td>
                        <td><input type="image"src="{{ assets_path }}images/search-button.gif" alt="Search button" /></td>
                </tr>
        </tbody></table>
        </form>

    </div>
    
</div>
    


    
<!-- TEXT BANNERS -->

<div class="header-row" id="header-text-banner-row" > 
    <div class="header-text-banner last-child fltlft" ><a href="#" >NEW? SIGN UP FOR YOUR 10% OFF CODE</a></div>
    <div class="header-text-banner fltlft" ><a href="#" >NEW PRINTS! ONLINE NOW!</a></div>
</div>

</div>
