{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Create Account{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/register.css" rel="stylesheet" type="text/css" />

<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/confirm.js"></script>

{% endblock head %}


{% block content %}
<div class="page-title">Error</div>


<div id="register-wrapper" >


        <table id="register-form-table" cols="3" cellspacing="10" >

            <thead>
                <tr>
                    <th colspan="3" class="register-sub-header">
                        Incorrect Verification Code
                    </th>
                </tr>

            </thead>
            
            <tbody>     
                <tr>
                    <form name="confirm-form" method="post" action="{{ store.landing }}confirm/verify">
                    <input type="hidden" name="digest-{{ customer.confirm.confirmToken }}" value="{{ customer.confirm.digest }}"  />
     
                    <td class="register-field-label" colspan="2">
                        The verification code you entered did not match your email address.
                        <br /><br />
                        It's the bold six digit number in your confirmation email. Please copy and paste it here then click the 'confirm' button:
                        <br /><br />
                        <input type="text" name="num_code-{{ customer.confirm.confirmToken }}" id="confirm-form-code" value="" size="30" maxlength="8" />
                        <br />
                        <input type="submit" class="black-button-large-1" name="submit-{{ customer.confirm.confirmToken }}" id="confirm-form-submit" value="confirm" />
                        <br /><br />
                        - OR -
                        <br /><br />
                        Follow the link in the message (click or copy and paste it in your browser).
                        <br /><br />
                        This is to make sure important information regarding your transactions are sent to the right email address.
                        
                    </td>
                    <td class="register-field-error"></td>
                    </form>
                </tr>
                
                <tr>
                    <td class="register-field-label" colspan="2"><br><br><br></td>
                    <td class="register-field-error"></td>
                </tr>
            </tbody>
            
        
            <thead>
                <tr>
                    <th colspan="3" class="register-sub-header">
                        Resend
                    </th>
                </tr>

            </thead>
            
            <tbody>
                
                <tr>
                    
                    <form id="resend-confirm-form" name="resend-confirm-form" method="post" action="{{ store.landing }}confirm/resend.json">
                    <input type="hidden" name="token-{{ customer.confirm.confirmToken }}" value="{{ customer.confirm.confirmToken }}"  />
                    <input type="hidden" name="confirm-{{ customer.confirm.resendToken }}" value="{{ customer.confirm.resendToken }}"  />
                    <input type="hidden" name="id-{{ customer.confirm.resendToken }}" value="{{ customer.id }}"  />
     
                    <td id="resend-confirm-box" class="register-field-label" colspan="2">
                    If you wish to have your verification code resent to your inbox click here:
                    <br /><br />
                     <input type="submit" class="black-button-large-1" name="submit-{{ customer.confirm.resendToken }}" id="resend-form-submit" value="resend" />
                    </td>
                    </form>
            
                    <td class="register-field-error"></td>
                </tr>
                
            </tbody>
                
            
        </table>
        
</div>

{% endblock content %}

