{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Sign In{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/login.css" rel="stylesheet" type="text/css" />



{% endblock head %}


{% block content %}


<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

        <div class="page-title">Sign in</div>
        {% if login.response is not empty %}
        <div class="response-text">{{ login.response }}</div>
        {% endif %}
        <ul id="login-wrapper" class="list-style-stripped">

            <li>
                <form name="login_form" method="post" action="{{ store.landing }}login">
                <input type="hidden" name="token-{{ login.token }}" value="{{ login.token }}"  />

                <table id="login-form-table" cols="2" rows="4" cellspacing="0" >

                    <thead>
                        <tr>
                            <th colspan="2" class="login-sub-header">
                                <div class="text">Returning Customer</div>
                                {{ new_password }}
                            </th>
                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            <td colspan="2" class="login-field-label">Welcome back !<br /><br /></td>
                        </tr>

                        {% for error in login.errors %}
                        <tr>
                            <td></td>
                            <td class="login-field-label error-text">{{ error }}</td>
                        </tr>                
                        {% endfor %}

                        <tr>
                            <td class="login-field-label">Email Address: </td>
                            <td><input type="text" name="username-{{ login.token }}" id="login-form-email" value="{{ login.user }}" size="30" maxlength="150" /></td>
                        </tr>
                        <tr>
                            <td class="login-field-label">Password: </td>
                            <td>
                                <input type="password" name="password-{{ login.token }}" id="login-form-password" value="" size="30" maxlength="50" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a href="{{ store.landing }}forgot-password"><small>&gt; Forgot your password?</small></a>
                            </td>
                        </tr>        

                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" class="black-button-large-1" name="login-{{ login.token }}" id="login-form-submit" value="login" />
                            </td>
                        </tr>                 
                    </tbody>
                </table>
                </form>

            </li>

            <li class="last-child">
                <ul class="list-style-stripped" id="new-customer-box">
                    <li class="login-sub-header">New Customer</li>
                    {# <li class="login-text-normal" id="hello-stranger"><b>Hello stranger !</b></li> #}
                    <li class="login-text-normal">
                    If you are new to aimas create an account to shop, save wishlists and track orders.

                    </li>
                    <li>
                        <a href="{{ store.landing }}register" class="black-button-large-1" >Create Account</a>
                    </li>

                </ul>


            </li>


        </ul>


<br style="clear: both" />
</div></div>

{% endblock content %}

