{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Order Details{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/order-details.css" rel="stylesheet" type="text/css" />

<style type="text/css" media="screen">




.order-details-inner-wrapper {
    
    background: #fff url('{{ assets_path }}images/paper-bg.jpg');
    
}

</style>
    
{% endblock head %}


{% block content %}


<div class="wide-content-wrapper">
<div class="inner-content-wrapper">


        <div id="bread-crumps">
        <a href="{{ store.landing }}">Home</a> - <a href="{{ store.landing }}myaccount">My Account</a> - Order Details (#{{Order.orderNum}})

        </div> 

        <div class="page-title">Order Details</div>

        {#
        <div class="sub-section-header">
            Personal Details
        </div>
        #}

        {% if Order.Error %}

                <div class="error">{{ Order.Error }}</div>

        {% else %}


                <div class="order-details-wrapper">
                <div class="order-details-inner-wrapper" >


                <table width="750" border="0" cellspacing="0px" cellpadding="0px" class="table-1" >
                  <tr>
                    <td><h1>{{store.title}}</h1></td>
                    <td>&nbsp;</td>
                    <td align="right"><h3 class="order-num">Order #{{Order.orderNum}}</h3></td>
                  </tr>
                </table>





                <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-2" >
                  <tr>

                    {#
                    <td >

                    <strong>Customer</strong>
                    <p>
                    <span class="icon-user-5"></span> {{Order.Customer.name}}<br />
                    <span class="icon-mobile-3"></span> {{Order.Customer.phone}}<br />
                    <span class="icon-mail"></span> {{Order.Customer.email}}
                    </p>
                    </td>
                    #}

                    <td >

                    <h4>Shipping Address</h4>

                    <p>
                    {{Order.ShippingAddress.ContactName}},<br />
                    {{Order.ShippingAddress.StreetAddress}}<br />
                    {{Order.ShippingAddress.Suburb}} {{Order.ShippingAddress.City}}<br />
                    {{Order.ShippingAddress.Province}}{{Order.ShippingAddress.Country}}

                    </p>
                    </td>
                    <td class="last-child">

                    <h4>Payment</h4>

                    <p>
                    Type: {{Order.Transaction.PaymentGateway}}<br />
                    Tranx ID: {{Order.Transaction.TranxID}}<br />
                    Amount: {{Order.Transaction.AmountPaid}}<br />
                    Status: {{Order.Transaction.PaymentStatus}}
                    </p>
                    </td>
                  </tr>
                </table>

                <div class="quick-info-bar">
                    <span class="icon-basket">&nbsp;{{Order.quantity}} item{% if Order.quantity > 1 %}s{% endif %}</span>
                    &nbsp;&nbsp;
                    <span class="icon-calendar-2">&nbsp;ordered at {{Order.orderDate}}</span>
                    &nbsp;&nbsp;
                    <span class="icon-flight">&nbsp;{{Order.Shipping.description}}</span>
                </div>

                <p>
                    <span class="payment-status fltrt {{Order.Transaction.PaymentStatusClass}}">{{Order.Transaction.PaymentStatus}}</span>
                    <br style="clear: both" />
                </p>

                <table border="0" cellspacing="0px" cellpadding="0px" class="table-3" >
                  <tr>
                    <th scope="col" class="th-item">Item</th>
                    <th scope="col" class="th-price">Price</th>
                    <th scope="col" class="th-quantity">Quantity</th>
                    <th scope="col" class="th-total">Total</th>
                  </tr>

                  {% for Item in Order.Items %}
                  <tr>
                    <td align="left" class="td-item">{{Item.itemName}} - {{Item.itemDescription}}</td>
                    <td align="left">{{Order.Currency.symbol|raw}}{{Item.originalPrice}}</td>
                    <td align="center">{{Item.quantity}}</td>
                    <td align="right">{{Order.Currency.symbol|raw}}{{Item.originalSubtotal}} {{Order.Currency.code}}</td>
                  </tr>
                  {% endfor %}
                </table>

                <br />

                <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-4" >

                  {% for Sale in Order.Discounts.Sales %}
                  <tr>
                    <td>{{Sale.description}}:</td>
                    <td>LESS {{Order.Currency.symbol|raw}}{{Sale.pretty_amount}} {{Order.Currency.code}}</td>
                  </tr>
                  {% endfor %}

                  {% for Coupon in Order.Discounts.Coupons %}
                  <tr>
                    <td>{{Coupon.description}}:</td>
                    <td>LESS {{Order.Currency.symbol|raw}}{{Coupon.pretty_amount}} {{Order.Currency.code}}</td>
                  </tr>
                  {% endfor %}


                  {% for Tax in Order.Taxes %}
                  <tr>
                    <td>{{Tax.description}}:</td>
                    <td>{{Order.Currency.symbol|raw}}{{Tax.pretty_amount}} {{Order.Currency.code}}</td>
                  </tr>
                  {% endfor %}

                  <tr>
                    <td class="label">Subtotal:</td>
                    <td class="value">{{Order.Currency.symbol|raw}}{{Order.total}} {{Order.Currency.code}}</td>
                  </tr>

                  <tr>
                    <td>Shipping ({{Order.Shipping.description}}):</td>
                    <td>{{Order.Currency.symbol|raw}}{{Order.Shipping.amountBeforeTax}} {{Order.Currency.code}}</td>
                  </tr>

                  {% for Tax in Order.Shipping.Taxes %}
                  <tr>
                    <td>{{Tax.description}}:</td>
                    <td>{{Order.Currency.symbol|raw}}{{Tax.pretty_amount}} {{Order.Currency.code}}</td>
                  </tr>
                  {% endfor %}



                  <tr class="grand-total">
                    <td>Total:</td>
                    <td>{{Order.Currency.symbol|raw}}{{Order.grandTotal}} {{Order.Currency.code}}</td>
                  </tr>
                </table>

                <p>&nbsp;</p>
                <p>&nbsp;</p>
                </div>
                </div>



                <ul class="order-dashboard">


                      <a class="circular-button" href="{{ store.landing }}myaccount/order-details.pdf?id={{ Order.id }}&f=0" target="_blank">
                      <li><span class="icon-printer"></span><br /><span class="button-label">Print</span></li>
                      </a>


                      <a class="circular-button" href="{{ store.landing }}myaccount/order-details.pdf?id={{ Order.id }}&f=1" target="_blank">
                      <li><span class="icon-download"></span><br /><span class="button-label">PDF</span></li>
                      </a>

                      </a>

                </ul>


        {% endif %}


<br style="clear: both" />
</div></div>

{% endblock content %}

