{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | {{ category.title|raw }} | {{ product.title }}{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/product-display.css" rel="stylesheet" type="text/css" />

<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/libs/easyzoom.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/product.display.js"></script>
{# <script type="text/javascript" src="{{ assets_path }}jscript/cart.js"></script> #}
<script type="text/javascript">



{# Dump product info in global variable as JSON (for local JS OPS) #}       
var product = {{ product|json_encode()|raw }};
                    
                    

</script>


{% endblock head %}

{% block socialsdktop %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=127661774106058";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block content %}


<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

 
<!-- PRODUCT IMAGES -->
<div id="product-images" class="fltlft">

<div id="main-product-photo-wrapper">
{# <div id="photo-zoom-icon">&ocirc;</div> #}


<a class="product-zoom" id="main-product-photo-zoom-anchor" href="{{ product.primary_image.src.zoom }}">
    <img id="main-product-photo" class="" src="{{ product.primary_image.src.large }}" />
</a>
</div>

    <div id="photo-zoom-hint">&UpArrow; Rollover main photo to zoom. &nbsp;&DownArrow; Click thumb to enlarge.</div>
    <ul id="alt-product-images" class="photo-grid">


    {% for image in product.images %}

    <li>
        <a href="{{ image.src.zoom }}" data_new_src="{{ image.src.large }}" onclick="enlargeProductPhoto(this); return false;" target="_blank"><img class="mini-thumb-1" src="{{ image.src.thumb }}" /></a>
    </li>

    {% endfor %}

    </ul>

</div>







<!-- PRODUCT INFO -->

<div id="product-info-wrapper" class="fltlft">



	
    <ul id="product-info">
    
    <li id="bread-crumps">
    <a href="{{ store.landing }}">Home</a> - <a href="{{ category.href }}">{{ category.title|raw }}</a> - {{ product.title }}
    
    </li>
    
    <li id="product-name">
    {{ product.title }}
    </li>
    
    <li id="product-base-price">
    <span class="{% if product.is_on_sale == true %}old-price{% endif %}">
    {{ store.currency.symbol|raw }}<span id="product-price-value">{{ product.base_price|number_format(2, '.', ',') }}</span>
    </span>
    
    {% if product.is_on_sale %}
    <span  class="sale-price">
    {{ store.currency.symbol|raw }}<span id="product-price-value">{{ product.sale_price|number_format(2, '.', ',') }}</span>
    </span>
    {% endif %}
    </li>
    
    
    <li id="product-details-wrapper">
    
                <div class="tab-header-group">
                    {# <a href="javascript:void(0);" onclick='return tabFocus("tab-1")'><span class="tab-header tab-state-front" id="tab-1-header">Styling Ideas</span></a> #}
                    <a href="javascript:void(0);" onclick='return tabFocus("tab-1")'><span class="tab-header tab-state-front" id="tab-1-header">Product Details</span></a>
                    <a href="javascript:void(0);" onclick='return tabFocus("tab-2")'><span class="tab-header" id="tab-2-header">Delivery Info</span></a>
                    
                    <br style="clear: both" />
                </div>
        
        
    		<ul class="tab-group">
                    
                {#
            	<li class="tab-wrapper tab-state-front" id="tab-1">
                    
                    <p class="tab-body">
                    {{ product.styling_ideas|raw }}
                    </p>
                </li>
                #}

            	<li class="tab-wrapper tab-state-front" id="tab-1">
                    
                    <div class="tab-body">
                    {{ product.description|raw }}
                    </div>
                </li>
            


            	<li class="tab-wrapper" id="tab-2">
                    
                    <div class="tab-body">
                    {{ product.delivery_info|raw }}
                            

                                <p>
                                    <ul >
                                        <li><b>STANDARD DELIVERY</b> 
                                            <br />Delivery within 3-5 working days -N800.
                                        </li>
                                        <br />

                                        <li><b>NEXT-DAY DELIVERY</b> 
                                            <br />Order must be placed by 3pm. A signature is required on delivery -N1200.
                                            </li>

                                            <br />

                                        <li><b>SAME-DAY DELIVERY
                                            <br /></b> Order must be placed by 12 noon. A signature is required on delivery -N1500
                                        </li>
                                        <br />
                                    </ul>
                                </p>
                                

                                <p>&nbsp;</p>

                                {#
                                <p>
                                    <h4>INTERNATIONAL DELIVERIES</h4>

                                    <p>
                                    <ul >
                                        <li><b>UK STANDARD DELIVERY</b> 
                                            <br />Delivery within 1 – 3 working days - £4
                                        </li>
                                        <br />

                                        <li><b>UK NEXT DAY DELIVERY</b> 
                                            <br />Order must be placed by 3pm - £6
                                        </li>

                                        <br />
                                        <li><b>OUTSIDE THE UK</b> 
                                            <br />Delivery within 3 – 8 days. Cost - £10
                                        </li>

                                        <br />

                                    </ul>
                                    </p>

                                </p>
                                #}

                                <p>

                                    All prices are per transaction regardless of the number of items purchased. 
                                    All delivery times are estimates depending on the service you require.
                                    These may vary depending on external factors and should be taken as approximate times only.
                                </p>

                                <p>
                                    
                                    For orders outside Lagos, please contact us.
                                </p>
                                
                                <p>&nbsp;</p>


                                <p>

                                    <b>DELIVERY TIME INFORMATION</b> 
                                    <br /><br />
                                    At Aimas, we try our best to dispatch your orders within 24 hours but during busy periods this may not be possible so orders will be sent the following day.
                                    We only accept orders for items that are shown as ‘IN STOCK” provided payment has been accepted and billing address verified, delivery address has been verified or a guaranteed payment on delivery.

                                </p>

                    </div>
                </li>


                </ul>
    
    <br style="clear: both" />
    </li>
    
    <form id="add-to-cart-form" name="add_to_cart_form" method="POST" action="{{ store.landing }}cart/add/">
        <input type="hidden" id="shop_landing" name="shop_landing" value="{{ store.landing }}" />
        <input type="hidden" name="qty" value="1" />
        <input type="hidden" name="product_id" value={{ product.id }} />
        <input type="hidden" name="option_id" value=0 />
        

    
    
{% for attribute in product.attributes  %}
    <li id="attribute-group-{{ attribute.id }}">
        
    {# <label for="product-size-select">{{ attribute.label_plural }}:</label> #}
    <select class="select-control-wide product-attribute-control" id="product-{{ attribute.label }}-select" name="{{ attribute.label }}_id" onchange="checkAvailability();">
        
        {% if attribute.values|length > 1  %}  
        <option value="0" selected="selected">Please choose a {{ attribute.label }}...</option>
        {% endif %}

        {% for value in attribute.values %}
            <option value="{{ value.id }}">{{ value.label }}: {{ value.value }}</option>
        {% endfor %}
        
    </select>
    
      {# <a href="javascript:void(0);" id="size-guide-anchor">View Size Guide</a> #}
   
    </li>
{% endfor %}
    


    <li id="customer-actions">
        <br />
        
        {% if product.out_of_stock %}
        <input type="image" id="add-to-cart-button" src="{{assets_path}}images/add-to-bag.png" style="display: none;"/>
        
        <img id="sold-out-button" src="{{assets_path}}images/sold-out.png" title="sold out"/>
        {% else %}
        
        
        <input type="image" id="add-to-cart-button" src="{{assets_path}}images/add-to-bag.png" title="Add to bag">
        
        <!--
        <input type="submit" class="black-button-large-1" id="add-to-cart-button" value="add to bag " />
        -->
        
        <span id="sold-out-button" class="out-of-stock" style="display: none;" >This option is out of stock. Please choose a different color or size.<br /></span>
        {% endif %}

        {# <img id="add-to-wishlist-button" src="{{assets_path}}images/add-to-wishlist.png" title="Add to wishlist" onclick="addToWishlist();" />#}
        <a class="transparent-button-large-1 fltrt" id="add-to-wishlist-button" href="javascript:void(0);" onclick="addToWishlist();">Add to Wishlist</a>
    </li>
        
</form>
                    
    
    <li id="social">
    <br />
    
    {# pinterest #}
    <a href="//pinterest.com/pin/create/button/?url={{Social.Pinterest.url|raw}}&media={{Social.Pinterest.media|raw}}&description={{Social.Pinterest.description|raw}}" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>

    &nbsp;&nbsp;&nbsp;
    
    {# twitter #}            
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="aimasng" data-related="aimasng" data-hashtags="aimas">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    
    {# facebook #}
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false"></div>

    


    </li>
    
    
    </ul>


</div>

    
<!-- PRODUCT GROUP (you may also like) -->
{% if product.ProductGroup %}

<div id="product-group-wrapper" class="fltrt">
    <div><img src="{{assets_path}}images/you-might-also-like.png"></div>
    <ul id="product-group-thumbs" class="photo-grid">
    {% for item in product.ProductGroup %}

    <li>
        <a href="{{ item.href }}" data_new_src="{{ item.image.large }}" title="{{ item.title }}" ><img class="x-mini-thumb-1" src="{{ item.image.thumb }}" /></a>
    </li>

    {% endfor %}
    </ul>
</div>

{% endif %}

<br style="clear: both" />

</div></div>

{% endblock content %}


{% block socialsdkbottom %}
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}