{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Create Account{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/register.css" rel="stylesheet" type="text/css" />



{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

        <div class="page-title">Create Account</div>


        <div id="register-wrapper" >

                <form name="register-form" method="post" action="{{ store.landing }}register">
                <input type="hidden" name="token-{{ register.token }}" value="{{ register.token }}"  />

                <table id="register-form-table" cols="3" cellspacing="0" >

                    <thead>
                        <tr>
                            <th colspan="3" class="register-sub-header">
                                Personal Details
                            </th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr>
                            <td class="register-field-label">First Name: </td>
                            <td><input type="text" name="firstname-{{ register.token }}" id="register-form-email" value="{{ register.autofill.firstname }}" size="30" maxlength="150" /></td>
                            <td class="register-field-error">{{ error.firstname }}</td>
                        </tr>
                        <tr>
                            <td class="register-field-label">Last Name: </td>
                            <td><input type="text" name="lastname-{{ register.token }}" id="register-form-email" value="{{ register.autofill.lastname }}" size="30" maxlength="150" /></td>
                            <td class="register-field-error">{{ error.lastname }}</td>
                        </tr>
                        <tr>
                            <td class="register-field-label">Email Address: </td>
                            <td><input type="text" name="email-{{ register.token }}" id="register-form-email" value="{{ register.autofill.email }}" size="30" maxlength="150" /></td>
                            <td class="register-field-error">{{ error.email }}</td>
                        </tr>

                        <tr>
                            <td class="register-field-label">Confirm Email Address: </td>
                            <td><input type="text" name="_email-{{ register.token }}" id="register-form-email" value="{{ register.autofill.email_confirm }}" size="30" maxlength="150" /></td>
                            <td class="register-field-error">{{ error._email }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="checkbox" id="newsletter-checkbox" name="newsletter-{{ register.token }}" {% if register.autofill.newsletter == 1 %}checked="checked"{% endif %} value=1 />
                                <br />
                                <label for="newsletter-checkbox"><small>
                                        By ticking this box you agree to be sent special offers, promotions and newsletters.
                                        If you do not want to recieve this offers please untick the box.

                                </small></label>
                            </td>
                            <td></td>
                        </tr>           
                    </tbody>

                    <thead>
                        <tr>
                            <th colspan="3" class="register-sub-header">
                                Password
                            </th>
                        </tr>

                    </thead>

                    <tbody>     
                        <tr>
                            <td class="register-field-label">Password: </td>
                            <td>
                                <input type="password" name="password-{{ register.token }}-1" id="register-form-password" value="" size="30" maxlength="50" />
                            </td>
                            <td class="register-field-error">{{ error.password|raw }}</td>
                        </tr> 

                        <tr>
                            <td class="register-field-label">Confirm Password: </td>
                            <td>
                                <input type="password" name="_password-{{ register.token }}" id="register-form-password" value="" size="30" maxlength="50" />
                            </td>
                            <td class="register-field-error">{{ error._password }}</td>
                        </tr> 


                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" class="black-button-large-1" name="register-{{ register.token }}" id="register-form-submit" value="create account" /><br />
                            </td>
                            <td></td>
                        </tr>                 
                    </tbody>
                </table>
                </form>

        </div>

<br style="clear: both" />
</div></div>

{% endblock content %}

