<div class="shop-side-bar-wrapper">
    <ul class="shop-side-bar">
        {#        

            
        <a href="{{ store.landing }}new-in"><li>New In <img class="sidebar-icon" src="{{ assets_path }}images/heart-50x50.png" style="{% if category and category.keyword == 'new-in' %}display: block;{% endif %}" /></li></a>
        <a href="{{ store.landing }}t-shirts"><li>T-Shirts <img class="sidebar-icon" src="{{ assets_path }}images/heart-50x50.png" style="{% if category and category.keyword == 't-shirts' %}display: block;{% endif %}" /></li></a>
        <a href="{{ store.landing }}tops"><li>Tops <img class="sidebar-icon" src="{{ assets_path }}images/heart-50x50.png" style="{% if category and category.keyword == 'tops' %}display: block;{% endif %}" /></li></a>
        
        <a href="{{ store.landing }}dresses"><li>Dresses <img class="sidebar-icon" src="{{ assets_path }}images/heart-50x50.png" style="{% if category and category.keyword == 'dresses' %}display: block;{% endif %}" /></li></a>
        
        <a href="{{ store.landing }}skirts-shorts"><li>Skirts & Shorts <img class="sidebar-icon" src="{{ assets_path }}images/heart-50x50.png" style="{% if category and category.keyword == 'skirts-shorts' %}display: block;{% endif %}" /></li></a>
        <a href="{{ store.landing }}leggings-pants"><li>Leggings & Pants <img class="sidebar-icon" src="{{ assets_path }}images/heart-50x50.png" style="{% if category and category.keyword == 'leggings-pants' %}display: block;{% endif %}" /></li></a>
        
        
        <a href="{{ store.landing }}girls"><li>Girls <img class="sidebar-icon" src="{{ assets_path }}images/heart-50x50.png" style="{% if category and category.keyword == 'girls' %}display: block;{% endif %}" /></li></a>
        <a href="{{ store.landing }}boys"><li>Boys <img class="sidebar-icon" src="{{ assets_path }}images/heart-50x50.png" style="{% if category and category.keyword == 'boys' %}display: block;{% endif %}" /></li></a>
        
        
        <a href="{{ store.landing }}accessories"><li>Accessories <img class="sidebar-icon" src="{{ assets_path }}images/heart-50x50.png" style="{% if category and category.keyword == 'accessories' %}display: block;{% endif %}" /></li></a>
        <a href="{{ store.landing }}leather-goods"><li>Leather Goods <img class="sidebar-icon" src="{{ assets_path }}images/heart-50x50.png" style="{% if category and category.keyword == 'leather-goods' %}display: block;{% endif %}" /></li></a>
        <a href="{{ store.landing }}lifestyle-home"><li>Lifestyle & Home<img class="sidebar-icon" src="{{ assets_path }}images/heart-50x50.png" style="{% if category and category.keyword == 'lifestyle-home' %}display: block;{% endif %}" /></li></a>
        <a href="{{ store.landing }}sale"><li>Sale <img class="sidebar-icon" src="{{ assets_path }}images/heart-50x50.png" style="{% if category and category.keyword == 'sale' %}display: block;{% endif %}" /></li></a>
        
         #}
        
        {% for cat in categories %}
            
        {% if not cat.is_root %}    
        <a href="{{ cat.href }}"><li>{{ cat.title }} <img class="sidebar-icon" src="{{ assets_path }}images/heart-50x50.png" style="{% if category and category.keyword == cat.keyword %}display: block;{% endif %}" /></li></a>
        {% endif %}
        
        {% endfor %}
        
        
    </ul>

</div>

