{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Accessories for living.{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/closed.css" rel="stylesheet" type="text/css" />

{% endblock head %}


{%  block cart %}{% endblock cart %}

{%  block pageheader %}{% endblock pageheader %}
    
{%  block sidebar %}{% endblock sidebar %}


{% block content %}

<div class="splash">
    <img src="{{ assets_path }}images/aimas-splash.jpg" alt="Aimas, coming soon..." />
</div>


{% endblock content %}


{%  block footer %}
    

<br class="clearfloat" />

<div class="shop-footer">
        <div class="footer-row last-child credits">
            <p class="copyright fltlft">&copy; Copyright 2015 Aimas Nigeria</p>
            <p class="designer fltrt">Website by <a href="http://www.fpplabs.com" title="Fancy Paper Planes" target="_blank">Fancy Paper Planes</a></p>
        </div>
</div>

    
    
{% endblock footer %}  

