{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Email Confirmed{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/register.css" rel="stylesheet" type="text/css" />

<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/confirm.js"></script>

{% endblock head %}


{% block content %}
<div class="page-title">Confirmed</div>


<div id="register-wrapper" >


        <table id="register-form-table" cols="3" cellspacing="10" >

            <thead>
                <tr>
                    <th colspan="3" class="register-sub-header">
                        Email Confirmed
                    </th>
                </tr>

            </thead>
            
            <tbody>     
                <tr>
                    <td class="register-field-label" colspan="2">
                        Your email address has been verified.
                        <br /><br />
                        
                        {% if checkout_in_progress %}
                        <a class="black-button-large-1"  href="{{ store.landing }}checkout">continue to checkout</a>
                        {% else %}
                        <a class="black-button-large-1"  href="{{ store.landing }}">continue shopping</a>
                        {% endif %}
                        
                    </td>
                    <td class="register-field-error"></td>
                </tr>
                
                <tr>
                    <td class="register-field-label" colspan="2"><br><br><br></td>
                    <td class="register-field-error"></td>
                </tr>
            </tbody>

        </table>
        
</div>

{% endblock content %}

