{#

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | {{ page.title }}{% endblock title %}

{% block head %}
{{ parent() }}



<!-- NON GLOBAL JS -->
{# <script type="text/javascript" src="{{ assets_path }}jscript/shop-landing.js"></script> #}

<!-- NON GLOBAL CSS -->
{# <link href="{{ assets_path }}css/shop-landing.css" rel="stylesheet" type="text/css" /> #}



{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

    <div id="category-header" style="height: 410px;">


        <div id="bread-crumps">
        <a href="{{ store.landing }}">Home</a> - {{ page.title }}

        </div>
        <div id="category-banner-image" style="background-image: url({{ assets_path }}images/about-us-banner.jpg);  height: 400px;" />

    </div>


    <p>&nbsp;</p>


    <br style="clear: both" />
    </div>



<p>&nbsp;</p>

{{ page.body|raw }}


</div></div>
{% endblock content %}
