{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Contact Us{% endblock title %}

{% block head %}
{{ parent() }}



<!-- NON GLOBAL JS -->
{# <script type="text/javascript" src="{{ assets_path }}jscript/shop-landing.js"></script> #}

<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/contact.css" rel="stylesheet" type="text/css" />


    
{% endblock head %}


{% block content %}



<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

        <div id="category-header">


            <div id="bread-crumps">
            <a href="{{ store.landing }}">Home</a> - Contact Us

            </div> 
            <img id="category-banner-image" src="{{ assets_path }}images/contact-us-banner.jpg" />

        </div>

        <p>&nbsp;</p>

        <br /><br />
        <p>
            <b>CUSTOMER ENQUIRIES</b>
            <br /><br />
            For Information, suggestions or queries do not hesitate to contact us:
        </p>
        <ul class="contact-address-wrapper">
            {#
            {% if store.Contact.ContactName %}
            <li>&nbsp;</li>
            <li>&nbsp;</li>

            <li><b>Contact Person</b><br /><br /></li>
            <li class="contact-name">{{ store.contact.name }}</li>
            {% endif %}
            #}
            
            <li>&nbsp;</li>
            <li>&nbsp;</li>

            <li><b>Email</b><br /><br /></li>
            <li class="email">{{ store.contact.email }}</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>

            <li><b>Phone</b><br /><br /></li>
            <li class="phone">{{ store.contact.phone }}</li>

            <li>&nbsp;</li>
            <li>&nbsp;</li>

            <li><b>Visit Us</b><br /><br /></li>
            <li class="street-address">{{ store.contact.street_address }}</li>
            <li class="suburb">{{ store.contact.suburb }}</li>
            <li class="postcode">{{ store.contact.postcode }}</li>
            <li class="city">{{ store.contact.city }}, {{ store.contact.province }}</li>
            <li class="country">{{ store.contact.country }}</li>
        </ul>


<br style="clear: both" />

<p>&nbsp;</p>    

</div></div>

{% endblock content %}

