{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Accessories for living{% endblock title %}

{% block head %}
{{ parent() }}



<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/libs/unslider-min.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/shop-landing.js"></script>

<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/shop-landing.css" rel="stylesheet" type="text/css" />
<link href="{{ assets_path }}css/unslider.css" rel="stylesheet" type="text/css" />


    
{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
   
    <div class="slide-content-wrapper" id="hero-1" data-path="{{ assets_path }}images/landing/">
    	<ul>

	<li><div class="wrap">
		<div class="img" style="background-image: url({{assets_path}}images/landing/regalia.jpg);" >&nbsp;</div>
		<div class="caption">
		<h3>REGALIA</h3>
		<p>2016</p>
		</div>
	</div></li>

	<li><div class="wrap">
		<div class="img" style="background-image: url({{assets_path}}images/landing/aimas-kids.jpg);" >&nbsp;</div>
		<div class="caption">
		<h3>KIDS</h3>
		<p>2016</p>
		</div>
	</div></li>

	<li><div class="wrap">
		<div class="img" style="background-image: url({{assets_path}}images/landing/aimas-kids-2.jpg);" >&nbsp;</div>
		<div class="caption">
		<h3>KIDS</h3>
		<p>2016</p>
		</div>
	</div></li>

	</ul>
    </div>
    

</div>
{% endblock content %}

