{#

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Inspiration{% endblock title %}

{% block head %}
{{ parent() }}



<!-- NON GLOBAL JS -->
{# <script type="text/javascript" src="{{ assets_path }}jscript/shop-landing.js"></script> #}

<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/inspiration.css" rel="stylesheet" type="text/css" />



{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
<div class="inner-content-wrapper">


    <div id="category-header">


        <div id="bread-crumps">
        <a href="{{ store.landing }}">Home</a> - Inspiration

        </div>
        <img id="category-banner-image" src="{{ assets_path }}images/inspiration-banner.jpg" />

    </div>

    <p>&nbsp;</p>
    <h3>The Beat</h3>
    <hr />

    <p>&nbsp;</p>

    <p class="main-intro">
        The African continent has a lot of its history and culture rooted in music, musical    instruments and dance. African music is more than just aesthetic expression. It permeates African life and has a function, a role to play in society; songs are used for religious ceremonies and rituals, to teach and give guidance, to tell stories, to mark the stages of life and death and to provide political guidance or express discontent. In African cultures, the beat of a drum can be used to relay a message in what many understand as drum languages, or talking drums. Different African cultures also use ordinary household items as instruments, which have developed into a wide variety of percussion instruments that we know today.
    </p>


    <p>&nbsp;</p>
    <h4>The Udu</h4>
    <p>
        The udu drum originated from the Igbo people of Nigeria. Unlike other percussion instruments, the udu drum was invented and developed by the women of the Igbo people from clay pots. In fact, Udu means pot in Igbo. These clay pots are used to carry and store water from the river to their homes. Although the udu looks like an exotic instrument, the udu is a big part of the Igbo's way of life, and you would find a lot of these littered in their homes.
    </p>


    <p>&nbsp;</p>
    <h4>The Kalimba</h4>
    <p>
        The Kalimba known as a thumb piano in the West, is a type of plucked idiophone common in the Eastern Central and South West Africa. The kalimba is made from a box or calabash, covered with a flat wooden top and a number of wooden or metal keys. Often the metal keys were made from old spoon handles; bicycle spokes or spring wire that were cut and hammered to the desired shape. The keys are plucked with the thumbs, or with combinations of thumbs and fingers.
    </p>


    <p>&nbsp;</p>
    <h4>The Sekere</h4>
    <p>
        The Sekere is an African instrument made from gourd and is covered with seeds or shells. They all differ in shape because of the material used to make them, and because of that no two sekeres ever produce the same sound. This instrument is used in folklore music particularly by the Yoruba people of Nigeria.
    </p>

    <p>&nbsp;</p>
    <h4>The Djembe</h4>
    <p>
        The djembe drum is an African instrument that emerged in the Mali Empire during the 12th Century. The drums vary in size but all have a skin covering which, when beaten with the hands in various rhythms, produces a wide range of tones. Many djembe drums are made from a single carved piece of wood and covered with a toughened goatskin.
    </p>


    <p>&nbsp;</p>
    <h4>The Talking Drum</h4>
    <p>
        The talking drum is a West African instrument, which is shaped like an hourglass. Both ends of the drum have a head, which is beaten with a stick. Tightening the strings of the drum can change the tone to such an extent that some tribes use the differing tones as a means of communication. The Talking Drum originated in the ancient Ghana Empire and is also popular among the Yoruba’s of West Africa Nigeria.

    </p>

<br style="clear: both" />
</div></div>
{% endblock content %}
