{#

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Look Book{% endblock title %}

{% block head %}
{{ parent() }}



<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/photoswipe/photoswipe.min.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/photoswipe/photoswipe-ui-default.min.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/lookbook.js"></script>

<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/photoswipe.css" rel="stylesheet" type="text/css" />
<link href="{{ assets_path }}jscript/photoswipe/default-skin/default-skin.css" rel="stylesheet" type="text/css" >
<link href="{{ assets_path }}css/lookbook.css" rel="stylesheet" type="text/css" />


{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

    <div class="page-title">Lookbook</div>







    <div class="gallery-wrap clearfix">
        <div class="bg" >&nbsp;</div>
        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

            <figure itemscope itemtype="http://schema.org/ImageObject">
                <a href="{{ assets_path }}images/lookbook/the-beat/002.jpg" itemprop="contentUrl" data-size="600x887">
                    <img src="{{ assets_path }}images/lookbook/the-beat/002.jpg" itemprop="thumbnail" alt="The Beat Collection" nopin = "nopin" />
                </a>
                <figcaption itemprop="caption description">The Beat Collection</figcaption>
            </figure>

            <figure itemscope itemtype="http://schema.org/ImageObject">
                <a href="{{ assets_path }}images/lookbook/the-beat/003.jpg" itemprop="contentUrl" data-size="600x887">
                    <img src="{{ assets_path }}images/lookbook/the-beat/003.jpg" itemprop="thumbnail" alt="The Beat Collection" nopin = "nopin" />
                </a>
                <figcaption itemprop="caption description">The Beat Collection</figcaption>
            </figure>

            <figure itemscope itemtype="http://schema.org/ImageObject">
                <a href="{{ assets_path }}images/lookbook/the-beat/004.jpg" itemprop="contentUrl" data-size="600x887">
                    <img src="{{ assets_path }}images/lookbook/the-beat/004.jpg" itemprop="thumbnail" alt="The Beat Collection" nopin = "nopin" />
                </a>
                <figcaption itemprop="caption description">The Beat Collection</figcaption>
            </figure>

            <figure itemscope itemtype="http://schema.org/ImageObject">
                <a href="{{ assets_path }}images/lookbook/the-beat/005.jpg" itemprop="contentUrl" data-size="600x887">
                    <img src="{{ assets_path }}images/lookbook/the-beat/005.jpg" itemprop="thumbnail" alt="The Beat Collection" nopin = "nopin" />
                </a>
                <figcaption itemprop="caption description">The Beat Collection</figcaption>
            </figure>

            <figure itemscope itemtype="http://schema.org/ImageObject">
                <a href="{{ assets_path }}images/lookbook/the-beat/006.jpg" itemprop="contentUrl" data-size="600x887">
                    <img src="{{ assets_path }}images/lookbook/the-beat/006.jpg" itemprop="thumbnail" alt="The Beat Collection" nopin = "nopin" />
                </a>
                <figcaption itemprop="caption description">The Beat Collection</figcaption>
            </figure>
        </div>

    </div>










<br style="clear: both" />
</div></div>

{% endblock content %}

{% block socialsdkbottom %}
{% include 'includes/photoswipe.html.twig' %}

<script type="text/javascript">



    $(document).ready(function () {

        var gallery = initPhotoSwipeFromDOM('.my-gallery');
        // gallery.options.shareEl = false;

    });


</script>
{% endblock %}
