{#

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Delivery & Returns{% endblock title %}

{% block head %}
{{ parent() }}



<!-- NON GLOBAL JS -->
{# <script type="text/javascript" src="{{ assets_path }}jscript/shop-landing.js"></script> #}

<!-- NON GLOBAL CSS -->
{# <link href="{{ assets_path }}css/shop-landing.css" rel="stylesheet" type="text/css" /> #}



{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
<div class="inner-content-wrapper">


    <div class="page-title">Delivery and Returns</div>

    <br />
    <p>
        <ul style="margin-left: 40px;">
            <li><b>STANDARD DELIVERY</b>
                <br />Delivery within 3-5 working days -N800.
            </li>
            <br />

            <li><b>NEXT-DAY DELIVERY</b>
                <br />Order must be placed by 3pm. A signature is required on delivery -N1200.
                </li>

                <br />

            <li><b>SAME-DAY DELIVERY
                <br /></b> Order must be placed by 12 noon. A signature is required on delivery -N1500
            </li>
            <br />
        </ul>
    </p>

    <p>&nbsp;</p>

    {#
    <p>
        <h4>INTERNATIONAL DELIVERIES</h4>

        <p>
        <ul style="margin-left: 40px;">
            <li><b>UK STANDARD DELIVERY</b>
                <br />Delivery within 1 – 3 working days - £4
            </li>
            <br />

            <li><b>UK NEXT DAY DELIVERY</b>
                <br />Order must be placed by 3pm - £6
            </li>

            <br />
            <li><b>OUTSIDE THE UK</b>
                <br />Delivery within 3 – 8 days. Cost - £10
            </li>

            <br />

        </ul>
        </p>

    </p>
    #}

    <p>

        All prices are per transaction regardless of the number of items purchased.
        All delivery times are estimates depending on the service you require.
        These may vary depending on external factors and should be taken as approximate times only.
    </p>

    <p>

        For orders outside Lagos, please contact us.
    </p>

    <p>&nbsp;</p>


    <p>

        <b>DELIVERY TIME INFORMATION</b>
        <br /><br />
        At Aimas, we try our best to dispatch your orders within 24 hours but during busy periods this may not be possible so orders will be sent the following day.
        We only accept orders for items that are shown as ‘IN STOCK” provided payment has been accepted and billing address verified, delivery address has been verified or a guaranteed payment on delivery.

    </p>

    <p>&nbsp;</p>


    <p>
        <b>RETURNS FOR REFUND</b>
        <br /><br />
        In the unlikely event that you are not entirely satisfied with your purchase, you can simply return the items to us within 7 days of the date of dispatch in it’s original, saleable condition, with all labels and tags attached.
        <br />
        Items must be unworn, unwashed, undamaged, unused, with all original tags and labels attached.
        <br />
        When trying on items of clothing, please ensure that you are not wearing perfume or deodorant which may leave a scent or marks on the item. We will  be unable to to accept the return of any item where there is evidence that these instructions have not been followed or the item is soiled.
        <br />
        We reserve the right to refuse a refund on any items that are not fully fit for a re-sale. This does not affect your statutory rights.
    </p>


    <p>&nbsp;</p>


    <p>
    <b>RETURNS FOR EXCHANGE</b>
        <br /><br />
        Should you want to exchange an item, please check that the stock of your required item is available prior to sending items back. To ensure that the item is available, contact us at returns@aimas.com.ng. If the stock is low we will then reserve the item for you. If any item required for an exchange is not available we will issue a refund in its place.
    </p>


    <p>&nbsp;</p>

    <p>
    <b>FAULTY ITEMS</b>
        <br /><br />
        If the item you receive is faulty, please contact our customer service via phone {{ store.contact.phone }} or email us at {{ store.contact.email }}. Please have your order number ready. We will also need your name and address, details of the product and the reason for the return, and whether you require a refund or a replacement. We will then advise on how to proceed with the return.
    </p>


    <p>&nbsp;</p>

    <p>
    <b>DISCOUNT CODES / VOUCHERS</b>
        <br /><br />
        If a discount was applied to your original order, the amount refunded will be adjusted to allow the revised order value and appropriate discount level.
    </p>


    <p>&nbsp;</p>

    <p>
    This returns policy does not affect your statutory rights.

    </p>

<br style="clear: both" />
</div></div>
{% endblock content %}
