<div class="app-tile {% !app.alerts.read && app.alerts.count > 0 %}new-alert active-state{% endif %} href="{{app.href}}">
    <div class="bg">&nbsp;</div>
    <div class="inner-wrap">
        <div class="image-wrap">
            <span class="icon-user-3 icon large">&nbsp;</span>
        </div>
        <div class="dashboard-wrapper">
            <div class="label">{{ app.tile.label }}</div>
            <div class="count">{{ app.tile.count }}</div>
        </div>
    </div>
</div>
