{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}




{% if transaction.success %}

<div class="bank-transfer.info">
    <br>
    For Cash Deposits, Bank Transfers, or Cheques, payment can be made at any branch of:

    <br><br>

    Bank Name: {{ bank_details.bank }}<br />
    Account Name: {{ bank_details.account_name }}<br />
    Account Number: {{ bank_details.account_num }}<br />

    <br /><br>

    {{ bank_details.instructions }}

    <br><br>
</div>

{% else %}

<div class="bank-transfer.error">
    <br>
    There was an error while processing your payment.

    <br><br>
</div>

{% endif %}

