@charset "utf-8";
/* CSS Document */




#list-table {
    top:300px;
}




.mediumListIconTextItem > .tile-icon-large {
    margin-left: 10px;
}


.mediumListIconTextItem {
    background-color:#111; 
}



#admin-profile-dialog-box {
    display:none; 
    position:fixed; 
    top:80px; 
    left:370px; 
    width:500px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}


#admin-profile-dialog-box > .button-1 {
    font-size: 90%;
}



.dialog-box-section-label {
    width: 250px;
    border-bottom: dotted 1px #660;
    
    font-size: 80%;
    text-align: left;
    text-transform: uppercase;
    color: #555;
    
    text-indent: 6px;
    padding-bottom: 3px;
    margin-bottom: 6px;
    
}


#admin-profile-status-wrapper {
    margin-left: 15px;
}
/* bring message bubble forward */

.message-bubble {
    z-index:10002;
}





#text-field-admin-profile-name, 
#text-field-admin-profile-description {
    width: 95%;
}


#password-meter-1 {
    display: none;
    float: right;
    margin-top: 4px;
}