@charset "utf-8";
/* CSS Document */






#hor-line-1 {
	display:block;
	
	position:absolute;
	top:220px;
	left:50px;
	
	margin:0px 0px;
	padding:0px 0px;
	
	width:885px;
	height:0px; 
	border:none;
	border-top:dashed 1px #555;
	
}



/*

CUSTOMER INFO

*/



#profile-info-outer-wrapper {
	list-style:none;
	margin:0px 0px;
	padding:0px 0px;
	
	position:absolute;
	top:330px;
	left:50px;
	
	width:600px; 
	height:400px;
	
	border:none;
	
}


#profile-info-outer-wrapper li {
	float:left;

	list-style:none;	
}

#profile-info-name {
	list-style:none;
	margin:0px 0px;
	padding:40px 0px;
	
	text-align:left; 
	height:20px; 
	width:150px; 
	
	border:none;
	/*
	border-right:solid 1px #444;
	border-bottom:solid 1px #444;
	*/
	
	color:#444;
	
}


#profile-contact-info {
	width:240px;
	height:50px; 
	border:none;
	border:solid 1px #444;	
	text-align:left;
	font-size:80%;
	color:#555;
	
	padding:30px 20px 50px 20px;
	
	border:solid 5px #222; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
}


