/* 
    Document   : app-prefences
    Created on : Oct 27, 2012, 2:27:29 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
    Description:
        
*/



.content {
    min-height: 1400px;
}

#app-prefs-form-outer-wrapper {
	position:absolute;
	top:320px;
	left:350px;
	
	height:auto;
	width:580px;
	
	margin-top:0px!important;
        margin-bottom: 100px!important;
	padding-top:0px!important;
	
	overflow:hidden;
	background-color:rgba(30, 30, 30, 0.5);

	border:solid 1px transparent;
	border-top:none;
	border-bottom:none;
	box-shadow: 1px -1px 5px rgba(0,0,0,0.7) inset;
        
    
        border-radius:10px;	
        -moz-border-radius:10px;	
        -webkit-border-radius:10px;
	
	z-index:9;

}


#app-prefs-form-wrapper {
    list-style: none;
    min-height: 500px;
    width:500px;
    
    margin: 0px auto;
    margin-bottom: 100px;
    padding: 20px 0px;
    
	    
}



#app-prefs-form-wrapper > li {
    border-bottom:dotted 1px #046;
    min-height: 100px;
    max-height: 500px;
    display: block;
    
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

#app-prefs-form-wrapper li > .section-header {
    
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 10px 0px;
    
    width: 500px;
    
    float: none;
    text-align: left;
    
    text-transform: capitalize;
    font-size: 120%;
    
    color: #444;
    border-bottom: dotted 1px #660;
        
    
}


/*
#app-prefs-form-wrapper li > .section-header:before {
	content:'';
	
	display:block;
	
        position: relative;
        top: 48px;
        left: 0px;
        
        margin-left: 25px;
        	
		
	width:0px;
	height:0px;
	
	border-width: 7px 7px;
        border-style: solid;
        border-color: transparent;
        border-top-color:  #660;
        
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}

*/


.section-header:before {
    margin-right: 10px;
    
    position: relative;
    top: 1px;
}



#store-description-wrapper {
    min-height: 200px;
    min-width: 200px;
    
    display: block;
    float: left;
    
/*    border: dotted 1px #444;*/
}




#app-prefs-form-wrapper input[type=text], 
#app-prefs-form-wrapper textArea {
    padding: 2px 10px;
    width: 280px;
/*    
    border: none;
    background: #000;
    color: #444;
    
   border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    box-shadow: none;*/


}


#store-settings-wrapper {
    min-height: 150px;
    min-width: 150px;
    
    display: block;
    float: left;
    
/*    border: dotted 1px #444;*/
}

#app-prefs-form-wrapper select {
    
}

.select-status {
    background: transparent;
    width: 150px;
}

#app-prefs-form-wrapper select option {
    background: none;
}






#theme-chooser-wrap {
    margin: 0px auto!important;
    padding: 20px 20px;
    
    width: 450px;
    height: auto;
    
    border:solid 4px rgba(50, 50, 50, .6);
    
    position:relative;
    top:0px;
    left:0px;
    
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;

}






#hor-line-1 {
	display:block;
	
	position:absolute;
	top:220px;
	left:50px;
	
	margin:0px 0px;
	padding:0px 0px;
	
	width:885px;
	height:0px; 
	border:none;
	border-top:dashed 1px #555;
	
}






/* bring message bubble forward */

.message-bubble {
    z-index:10005;
}

.payment-type-anchor:before {
    margin-right: 10px;
    
    position: relative;
    top: 1px;
}


.tiny-yellow-text {
    font-size: 75%;
	
}













