@charset "utf-8";
/* CSS Document */


/*

:horizontal – The horizontal pseudo-class applies to any scrollbar pieces that have a horizontal orientation.

:vertical – The vertical pseudo-class applies to any scrollbar pieces that have a vertical orientation.

:decrement – The decrement pseudo-class applies to buttons and track pieces. It indicates whether or not the button or track piece will decrement the view's position when used (e.g., up on a vertical scrollbar, left on a horizontal scrollbar).

:increment – The increment pseudo-class applies to buttons and track pieces. It indicates whether or not a button or track piece will increment the view's position when used (e.g., down on a vertical scrollbar, right on a horizontal scrollbar).

:start – The start pseudo-class applies to buttons and track pieces. It indicates whether the object is placed before the thumb.

:end – The end pseudo-class applies to buttons and track pieces. It indicates whether the object is placed after the thumb.

:double-button – The double-button pseudo-class applies to buttons and track pieces. It is used to detect whether a button is part of a pair of buttons that are together at the same end of a scrollbar. For track pieces it indicates whether the track piece abuts a pair of buttons.

:single-button – The single-button pseudo-class applies to buttons and track pieces. It is used to detect whether a button is by itself at the end of a scrollbar. For track pieces it indicates whether the track piece abuts a singleton button.

:no-button – Applies to track pieces and indicates whether or not the track piece runs to the edge of the scrollbar, i.e., there is no button at that end of the track.

:corner-present – Applies to all scrollbar pieces and indicates whether or not a scrollbar corner is present.

:window-inactive – Applies to all scrollbar pieces and indicates whether or not the window containing the scrollbar is currently active. (In recent nightlies, this pseudo-class now applies to ::selection as well. We plan to extend it to work with any content and to propose it as a new standard pseudo-class.)

*/

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    border-radius: 0px;
	background-color:#000;
}
 
::-webkit-scrollbar-thumb {
	background-color:#444;
    border-radius: 4px;
	
}

::-webkit-scrollbar-thumb:hover {
	background-color:#555;
    border-radius: 4px;
}


::-webkit-scrollbar-button       { 
	background-color:#111;
    border-radius: 0px;
 }
 
::-webkit-scrollbar-arrow {
	background-color:#222;
	color:#fff;
	 
 }
 
::-webkit-scrollbar-thumb:window-inactive {
	background: transparent;
}


::-webkit-scrollbar-track-piece  { /* 4 */
	background-color:#000;
	border-left:solid 1px #222;

 }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }

body {
	font: 90%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #eee;
	text-align:center; 

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;

	margin: 0;
	padding: 0;
	color: #777;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .main_nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link, a:visited {
	
	text-decoration:none; 
	color:#777; 
	font-family:Arial, Helvetica, sans-serif; 

}



a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this fixed width container surrounds all other elements ~~ */
.container {
	position:relative;
	
	width: 980px;
	background: none; 
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */


}

.wrapper {
	width: 980px;
	background: none;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}


/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.content {
	width: 980px;
	height:500px;
	padding: 10px 0;
	
	float: left;
	
}

.content, .footer, .header, .sidebar1 {
	position:relative;
	
}


.sidebar1 {
	float: left;
	width: 180px;
	background: none;
	padding-bottom: 10px;
}


.footer {
	padding: 10px 0;
	background: none;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}



/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.main_nav {
	list-style: none; /* this removes the list marker */
	/* border-top: 1px solid #666; this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
	text-align:left;
}
ul.main_nav li {
	/* border-bottom: 1px solid #666; this creates the button separation */
}
ul.main_nav a, ul.main_nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 3px 5px 3px 10px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	width: 160px;  /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */
	text-decoration: none;
	background: none;
}
ul.main_nav a:hover, ul.main_nav a:active, ul.main_nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background: none;
	color: #999;
}





/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the overflow:hidden on the .container is removed */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after {
  clear: both;
}

.no-border {
    border: none!important;
}

.hard-line-break {
    display: block;
    height: 0px;
    width: auto;
    
    margin: 0 0;
    padding: 0 0;
}



.list-justify {
    text-align: justify;
    /*
    min-width: 600px;
    */
}

.list-justify:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.list-justify li {
    display: inline-block;
}