/* Metro Tiles
-------------------------------------------------- */

.bg-color-blue {
   background-color: #0072BC !important;
}
.bg-color-blueDark {
   background-color: #662D91 !important;
}
.bg-color-green {
   background-color: #01a31c !important;
}
.bg-color-greenDark {
   background-color: #008641 !important;
}
.bg-color-red {
   background-color: #bc1c48 !important;
}
.bg-color-yellow {
   background-color: #ffc40d !important;
}
.bg-color-orange {
   background-color: #CD4900 !important;
}
.bg-color-pink {
   background-color: #c3325f !important;
}
.bg-color-purple {
   background-color: #603cba !important;
}
.bg-color-darken {
   background-color: #1c1c1c !important;
}






.metro {
   overflow: hidden;
}


.metro .carousel-control {
   top: 20%;
}



.metro .metro-sections {
   height: auto;
   position: relative;
   overflow: hidden;
   width: 10000px;
}

   .metro-sections h2 {
      margin-left: 5px;
      font-family: "OpenSansRegular",Arial,Helvetica,sans-serif;
      font-weight: 100;
      text-transform: lowercase;
   }

.metro .metro-sections .metro-section {
   position: relative;
   float: left;
   /*width: 810px !important;*/
   width: auto;
   height: auto;
   margin-right: 75px;
}


/* fixed widths for tile sections
   units are measured per square tile width, i.e.: tile-span-1 = 160px = 1 square tile width (including margin)
 */
.metro .metro-sections .metro-section.tile-span-1 { width: 160px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-2 { width: 320px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-3 { width: 480px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-4 { width: 640px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-5 { width: 640px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-6 { width: 800px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-7 { width: 960px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-8 { width: 1120px; margin-left: 0;}


/*default tile definition */
.metro .tile {
   position: relative;
   display: block;
   float: left;
   margin: 5px;
   padding: 0;
   /*padding-bottom: 1px;*/
   width: 150px;
   height: 150px;
   color: #aaa;
   cursor: pointer;
   overflow: hidden;
   text-decoration: none;
   background-color: rgba(40, 40, 40, .6); /*#333;  #2C83EF; */
   
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
	
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;   
    
}

.metro .tile:hover,  .metro .active-state {
 /*      outline: 3px #225a68 solid;*/
 color: #fff;
 background-color: #0ac; 
}



.scroll {
   -webkit-transition:left 0.6s ease;  /* here the animation is set on 6 milliseconds */
      -moz-transition:left 0.6s ease;  
        -o-transition:left 0.6s ease;
           transition:left 0.6s ease;
}

/* Metro Tiles Templates
-------------------------------------------------- */
.metro .tile.square.text {
   width: 110px;
   height: 110px;
   padding: 20px;
}
.metro .tile.square.image {
   width: 150px;
   height: 150px;
   padding: 0;
}
   .metro .tile.square.image img {
      max-width: 150px;
      max-height: 150px;
   }

.metro .tile.squarepeek {
   width: 150px;
   height: 300px;
}
   .metro .tile.squarepeek .text-inner {
      width: 110px;
      height: 110px;
      padding: 20px;
   }

.metro .tile.wide.text {
   width: 270px;
   height: 110px;
   padding: 20px;
}
.metro .tile.wide.image {
   width: 310px;
   height: 150px;
}
   .metro .tile.wide.image.collection img {
      max-width: 158px;
      max-height: 150px;
      float: left;
   }

/* template for full image */
.metro .tile.wide.imagetext.wideimage {
   width: 310px;
   height: 150px;
   padding: 0;
}
/* template with normal 80x80 image */
.metro .tile.wide.imagetext {
   width: 270px;
   height: 110px;
   padding: 20px;
}
   .metro .tile.wide.imagetext .textover-wrapper {
      position: absolute;
      bottom: 0;
      width: 270px;
      height: 48px;
      padding: 2px 20px;
      background-color: inherit;
   }

.metro .tile.widepeek {
   width: 310px;
   height: 300px;
}





/* Default Tile
-------------------------------------------------- */

.metro .tile.app .image-wrapper {
   display: block;
   width: 150px;
   height: 80px;
   margin-top: 20px;
   padding: 8px 0;
   text-align: center;
   vertical-align: middle;
}
   .metro .tile.app .image-wrapper img {
      max-width: 80px;
      max-height: 80px;
      margin: 0 auto;
   }
   .metro .tile .app-label {
      position: absolute;
      left: 20px;
      bottom: 10px;
      font-size: 11px;
   }
   .metro .tile .app-count {
      position: absolute;
      right: 20px;
      bottom: 10px;
      font-size: 14px;
      font-weight: bold;
   }

.metro .tile.wide.app {
   width: 310px;
   height: 150px;
}
   .metro .tile.wide.app .image-wrapper {
      width: 310px;
   }


.image-wrapper span.icon {
   font-size: 80px; 
   height: 80px; 
   line-height: 80px; 
   width: 80px;
}

/*
-------------------------------------------------- */

.metro .tile.square.text .text-big {
   font-size: 76px;
   line-height: 76px;
   text-align: left;
   overflow: hidden;
}
.metro .tile.square.text.tilesquareblock .text {
   font-size: 14px;
   font-weight: bold;
   text-align: left;
   overflow: hidden;
}

/* normal header in 1 line of wrapped text*/
.metro .tile .text-header {
   font-family: "OpenSansLightRegular",Tahoma,Arial,Helvetica,sans-serif;
   font-size: 24px; /*34px;*/
   line-height: 36px;
   max-height: 36px;
   text-align: left;
   overflow: hidden;
}
/* One string of large text wrapped over a maximum of three lines.*/
.metro .tile .text-header3 {
   font-family: "OpenSansLightRegular",Tahoma,Arial,Helvetica,sans-serif;
   font-size: 24px; /*34px;*/
   line-height: 36px;
   text-align: left;
   max-height: 110px;
   overflow: hidden;
}

/* 1 line of regular text (not wrapped) */
.metro .tile .text {
   font-size: 15px;
   line-height: 18px;
   height: 18px;
   font-weight: normal;
   text-align: left;
   overflow: hidden;
}

/* regular text wrapped over a maximum of 2 lines */
.metro .tile .text2 {
   font-size: 15px;
   font-weight: normal;
   line-height: 20px;
   max-height: 44px;
   overflow: hidden;
   text-align: left;
}

/* regular text wrapped over a maximum of 3 lines */
.metro .tile .text3 {
   font-size: 15px;
   line-height: 18px;
   font-weight: normal;
   text-align: left;
   max-height: 56px;
   overflow: hidden;
}

/* regular text wrapped over a maximum of 4 lines */
.metro .tile .text4 {
   font-size: 15px;
   line-height: 18px;
   font-weight: normal;
   text-align: left;
   max-height: 72px;
   overflow: hidden;
}

/* regular text wrapped over a maximum of 5 lines */
.metro .tile .text5 {
   font-size: 15px;
   line-height: 18px;
   font-weight: normal;
   text-align: left;
   max-height: 92px;
   overflow: hidden;
}

/* Image Only Tiles
-------------------------------------------------- */
.metro .tile.square.image img {
   max-width: 150px;
   max-height: 150px;
}



/* Wide Text Only Tiles
-------------------------------------------------- */

.metro .tile .column {
   display: block;
   float: left;
   width: 130px;
}

.metro .tile .column2-label  {
   display: block;
   float: left;
   width: 90px;
}
.metro .tile .column2-text {
   display: block;
   float: left;
   width: 160px;
}

.metro .tile .column3-label  {
   display: block;
   float: left;
   width: 50px;
}
.metro .tile .column3-text {
   display: block;
   float: left;
   width: 200px;
}


/* Wide Image Only Tiles
-------------------------------------------------- */
.metro .tile.wide.image .mini-tiles {
   display: inline-block;
   float: left;
   width: 152px;
   height: 150px;
}
.metro .tile.wide.image .mini-tiles img {
   display: inline-block;
   float: left;
   max-width: 75px;
   max-height: 75px;
   border-left: 1px solid #2A2A2A;
}

/* Wide Image & Text Tiles
-------------------------------------------------- */
.metro .tile.wide.imagetext .column-text,
.metro .tile.wide.text .column-text {
   display: block;
   float: left;
   width: 180px;
   padding-left: 10px;
}
.metro .tile.wide.text .column-text-big {
   display: block;
   float: left;
   width: 80px;
}

.metro .tile.wide.imagetext .image-wrapper {
   display: block;
   float: left;
   width: 80px;
   height: 80px;
}
   .metro .tile.wide.imagetext .image-wrapper img {
      max-width: 80px;
      max-height: 80px;
   }



/* ListView
-------------------------------------------------- */
.listview-container.grid-layout {
   border: solid 2px rgba(0, 0, 0, 0.13);
   height: 240px;
   overflow: auto;
   padding: 2px;
   background-color: #FFF;
}


.mediumListIconTextItem {
   display: inline-block;
   position: relative;
   vertical-align: top;;
   width: 282px;
   height: 70px;
   padding: 5px;
   margin-bottom: 7px;
   margin-right: 24px;
   border: solid 3px transparent;
   overflow: hidden;
   background-color: transparent;
   cursor: pointer;
}
   .mediumListIconTextItem:hover {
      border: solid 3px #b3b3b3;
      background-color: #b3b3b3;
   }

   .mediumListIconTextItem img.mediumListIconTextItem-Image {
      display: inline-block;
      vertical-align: top;;
      width: 60px;
      height: 60px;
      margin: 5px;
      
   }
   .mediumListIconTextItem .mediumListIconTextItem-Image[class^="icon-"],
   .mediumListIconTextItem .mediumListIconTextItem-Image[class*=" icon-"] {
      display: inline-block;
      width: 60px;
      height: 60px;
      font-size: 60px;
      line-height: 60px;
      margin: 5px;
   }
   .mediumListIconTextItem .mediumListIconTextItem-Detail {
      display: inline-block;
      vertical-align: top;
      margin: 0px;
      width: 160px;
   }
   
   .mediumListIconTextItem .mediumListIconTextItem-Detail h4 {
       font-size: 80%;
   }


.mediumListIconTextItem.selected {
   background-color: #4617b4;
}
   .mediumListIconTextItem.selected:after {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 16px;
      height: 16px;
      font-family: 'IcoMoon';
      content: "\e03c";
      color: #FFF;
      font-size: 16px;
   }

   .mediumListIconTextItem.selected:hover {
      border: solid 3px #b3b3b3;
      background-color: #4617b4;
   }
   .mediumListIconTextItem.selected .mediumListIconTextItem-Detail,
   .mediumListIconTextItem.selected .mediumListIconTextItem-Detail h4,
   .mediumListIconTextItem.selected .mediumListIconTextItem-Detail h6 {
         color: #FFF;
      }


   
      
      
      
      
      
      
      
      

/*
Progress control. */
.progress {
   height: auto;
   background-image: none;
}
   .progress.progress-indeterminate {
      background-color: transparent;
   }

.progress.progress-indeterminate .bar {
         display: block;
         position: static;
         width: 188px;
         height: 11px;
         margin: 4px auto;
         background: transparent url("../images/progress-indeterminate-light.gif") no-repeat 0 0;
      }
      .win-ui-dark.progress.progress-indeterminate .bar {
         width: 191px;
         height: 7px;
         margin: 9px auto;
         background: transparent url("../images/progress-indeterminate-dark.gif") no-repeat 0 0;
      }

      .progress.progress-indeterminate .win-ring.small {
         display: inline-block;
         width: 23px;
         height: 27px;
         margin: 4px 10px 5px;
         background: transparent url("../images/progress-indeterminate-ring-light-small.gif") no-repeat 0 0;
      }
      .win-ui-dark.progress.progress-indeterminate .win-ring.small {
         width: 24px;
         height: 23px;
         margin: 8px 10px 5px;
         background: transparent url("../images/progress-indeterminate-ring-dark-small.gif") no-repeat 0 0;
      }




      
      
      
      
/* 

My own additions (Gboyega) 



*/

.tile-icon-large {
    font-size: 300%;
}

.tile-icon-medium {
    font-size: 240%;
}

.tile-icon-small {
    font-size: 120%;
}


.metro .tile-add-button {
   position: relative;
   display: block;
   float: left;
   margin: 5px;
   padding: 0;
   /*padding-bottom: 1px;*/
   width: 150px;
   height: 150px;
   color: #aaa;
   cursor: pointer;
   overflow: hidden;
   text-decoration: none;
   background: none;
   
   border: dashed 1px #444;
   color: #333;

   
    border-radius:17px;	
    -moz-border-radius:17px;	
    -webkit-border-radius:17px;   

    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;   
    
}


.metro .tile-add-button:hover {
       border: dashed 1px #777;
       color: #444;
}

.metro .tile-add-button.squarepeek {
   width: 150px;
   height: 300px;
}
   .metro .tile-add-button.squarepeek .text-inner {
      width: 110px;
      height: 110px;
      padding: 20px;
   }
 
   
   .metro .tile-add-button.squarepeek .tile-icon-large {
       display: inline;
       text-align: center;
   }
   
   
   
/* normal header in 1 line of wrapped text*/
.metro .tile-add-button .text-header {
   font-family: "OpenSansLightRegular",Tahoma,Arial,Helvetica,sans-serif;
   font-size: 24px; /*34px;*/
   line-height: 36px;
   max-height: 36px;
   text-align: left;
   overflow: hidden;
}


/* One string of large text wrapped over a maximum of three lines.*/
.metro .tile-add-button .text-header3 {
   font-family: "OpenSansLightRegular",Tahoma,Arial,Helvetica,sans-serif;
   font-size: 24px; /*34px;*/
   line-height: 36px;
   text-align: center;
   max-height: 110px;
   overflow: hidden;
}




.listview-container.grid-layout {
   border: none;
   width: 900px;
   height: auto;
   overflow: auto;
   padding: 20px 2px;
   background-color: transparent;
   text-align: left;
}

.grid-layout > .mediumListIconTextItem {
    float: left;
}



.mediumListIconTextItem {
   width: 252px;
   border: solid 3px transparent;
   background-color: transparent;
   text-align: left;
   color: #555;
   
   border-radius:5px;	
   -moz-border-radius:5px;	
   -webkit-border-radius:5px;

}

   .mediumListIconTextItem:hover {
      border: solid 3px #222;
      background-color: #222;
   }
   
.mediumListIconTextItem.selected {
   background-color: #046;
}

   .mediumListIconTextItem.selected:after {
      color: #FFF;
   }

   .mediumListIconTextItem.selected:hover {
      border: solid 3px #157;
      background-color: #046;
   }
   .mediumListIconTextItem.selected .mediumListIconTextItem-Detail,
   .mediumListIconTextItem.selected .mediumListIconTextItem-Detail h4,
   .mediumListIconTextItem.selected .mediumListIconTextItem-Detail h6,
   .mediumListIconTextItem.selected .mediumListIconTextItem-Detail h4 > a {
         color: #FFF;
      }
      
      
      
/* template for full image */
.metro .tile.wide.round-corners {
   border-radius:5px;	
   -moz-border-radius:5px;	
   -webkit-border-radius:5px;
   
}



.metro .tile.wide.round-corners .textover-wrapper {
    background: none;
}


.metro .tile.wide.round-corners img {
    margin: 0px auto;
}

.metro .tile.wide.round-corners .image-wrapper-2 {
    width: 100%;
    height: 80px;
    overflow: hidden;
    
   border-radius:5px 5px 0px 0px;	
   -moz-border-radius:5px 5px 0px 0px;	
   -webkit-border-radius:5px 5px 0px 0px;
    
}


/* template for full image */
.metro .tile.wide.imagetext.wideimage {
   width: 280px;
   height: 140px;
   padding: 0;
   margin-right: 8px;
}


.numbered:before {

	position:absolute;
	left:0px;
	top:0px;
	content:attr(item_number);
	color:#fff;
	font-size:120%;
	text-align:center;
	line-height:75%;
	
	background: #046;
        background: rgba(0, 100, 140, .5);
	
	height:15px;
	min-width:15px;
	float:left;
	
	margin:0px 0px 0px 0px;
	padding:5px;
	
	border: none;
        border-color: transparent;
        border-radius:5px 0px 0px 0px;	
        -moz-border-radius:5px 0px 0px 0px;	
        -webkit-border-radius:5px 0px 0px 0px;

}



.new-alert:before {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    
    position: absolute;
    top: 10px;
    right: 10px;
    
    background-color: transparent;
    background-image: url('../images/icons/alert-icon.png');
    background-size: contain;
    
    
}


