/* 
    Document   : configurations.edit
    Created on : Oct 27, 2012, 2:27:29 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
    Description:
        
*/



.section-header:before {
    margin-right: 10px;
    
    position: relative;
    top: 1px;
}

.config-edit-icon {
    display: none;
}

#configuration-list-outer-wrapper {
	position:absolute;
	top:141px;
	left:350px;
	
	height:auto;
	width:588px;
	
	margin-top:0px!important;
	padding-top:0px!important;
	
	overflow:hidden;
	background-color:rgba(30, 30, 30, 0.5);

	border:solid 1px transparent;
	border-top:none;
	border-bottom:none;
	box-shadow: 1px -1px 5px rgba(0,0,0,0.7) inset;
	
	z-index:9;

}


#configuration-list-wrapper {
    list-style: none;
    min-height: 500px;
    width:500px;
    
    margin: 0px auto;
    margin-bottom: 600px;
    padding: 20px 0px;
    
	    
}



#configuration-list-wrapper li {
    border-bottom:dotted 1px #046;
    min-height: 40px;
    display: block;
    
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#configuration-list-wrapper li .section-header {
    
    margin: 10px 0px 20px 0px;
    padding: 0px 0px;
    
    width: 500px;
    
    float: none;
    text-align: left;
    
    text-transform: capitalize;
    font-size: 120%;
    
    color: #444;
/*    border: dotted 1px #444;*/
        
    
}






#configuration-list-wrapper input[type=text], 
#configuration-list-wrapper textArea {
    padding: 2px 10px;
    width: 280px;



}



.currency-anchor:before {
    margin-right: 10px;
    
    position: relative;
    top: 1px;
}




.config-description {
    width: 490px;
    height: 70px;
    
    padding: 3px 5px 5px 5px;
    
    border-top: dotted 1px #660;
}


.config-description select, 
.select-status {
    background: none;
    width: 150px;
    
}



.config-description .text-input-label {
    color: #660;
}


.config-description:before {
	content:'';
	
	display:block;
	
        position: relative;
        top: -18px;
        left: 0px;
        
        margin-left: 25px;
        	
		
	width:0px;
	height:0px;
	
	border-width: 7px 7px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color:  #660;
        
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}


.nvp-wrapper {
    display: none;
}