/* 
    Document   : tag.edit
    Created on : Oct 27, 2012, 2:27:29 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
    Description:
        
*/

#currency-list-outer-wrapper {
	position:absolute;
	top:141px;
	left:350px;
	
	height:auto;
	width:588px;
	
	margin-top:0px!important;
	padding-top:0px!important;
	
	overflow:hidden;
	background-color:rgba(30, 30, 30, 0.5);

	border:solid 1px transparent;
	border-top:none;
	border-bottom:none;
	box-shadow: 1px -1px 5px rgba(0,0,0,0.7) inset;
	
	z-index:9;

}


#currency-list-wrapper {
    list-style: none;
    min-height: 500px;
    width:500px;
    
    margin: 0px auto;
    margin-bottom: 600px;
    padding: 20px 0px;
    
	    
}



#currency-list-wrapper li {
    border-bottom:dotted 1px #046;
    min-height: 40px;
    max-height: 500px;
    display: block;
    
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#currency-list-wrapper li .section-header {
    
    margin: 10px 0px 20px 0px;
    padding: 0px 0px;
    
    width: 500px;
    
    float: none;
    text-align: left;
    
    text-transform: capitalize;
    font-size: 120%;
    
    color: #444;
/*    border: dotted 1px #444;*/
        
    
}





#image-picker-wrapper {
    height: 180px;
    width: 490px;
    
    display: block;
    float: none;
    
    margin: 0px 0px;
/*    border: solid 1px #f00;*/
    
}



.image-picker-add-button {
        display: block;
        height: 150px;
        width: 480px;
        
        margin: 0px 0px;
        
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
	box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
	border:solid 4px rgba(70, 70, 70, .6);
        

        background-size: contain; 
        background-repeat: none; 
        background-position: center center;
        
        
	
}

.image-picker-add-button:before {
	content:'';
	display:block;
	width:480px;
	height:150px;
	border:none;
	
	background-image:url('../images/icons/add-g-30x30.png');
	background-position:center center;
	background-repeat:no-repeat;
	
	opacity:.4; 
	-moz-opacity:.4; 
	filter:Alpha(opacity=40); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.image-picker-add-button-a {	
}

.image-picker-add-button-a:hover .image-picker-add-button:before {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}

#image-picker-label {
    text-align: left;
    font-size: 90%;
}


#currency-list-wrapper input[type=text], 
#currency-list-wrapper textArea {
    padding: 2px 10px;
    width: 280px;



}



.currency-anchor:before {
    margin-right: 10px;
    
    position: relative;
    top: 1px;
}

.currency-anchor.icon-checkbox-partial {
    
}


.currency-anchor.icon-checkbox-unchecked {
    
}



.price-import-wrapper {
    width: 490px;
    height: 70px;
    
    padding: 3px 5px 10px 5px;
    
    border-top: dotted 1px #660;
}


.price-import-wrapper select, 
.select-status {
    background: none;
    width: 150px;
    
}



.price-import-wrapper .text-input-label {
    color: #660;
}


.price-import-wrapper:before {
	content:'';
	
	display:block;
	
        position: relative;
        top: -18px;
        left: 0px;
        
        margin-left: 25px;
        	
		
	width:0px;
	height:0px;
	
	border-width: 7px 7px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color:  #660;
        
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}


small.currency-equiv {
    display: block;
    margin:0px 0px 0px 5px;
    color:#660;

    font-size: 70%;
    text-align: left;
	
}


