@charset "utf-8";
/* CSS Document */




#password-meter-1 {
	display:none;
	
	position:absolute;
	top:198px;
	left:440px;
}




#new-customer-form-wrapper {
	display:none; 

	position:fixed;
	top:170px;
	left:335px;;

	background: #111 url(../images/black_denim.png) repeat; 

	width:580px; 
	text-align:right; 
	border:dashed 1px #333; 
	border:solid 5px #222; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	padding:10px; 

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
	
	z-index:10000;
	
	}
	

#new-customer-form-label {
	width:140px;
	height:50px;
	text-align:left; 
	color:#555; 
	font-size:110%; 
	font-weight:normal;
	border-right:solid 1px #333;
	
	padding:90px 10px 100px 20px;
	 
	float:left;
	 
}


#new-customer-form {
	position:relative; 
	top:8px; 
	text-align:left!important; 
	float:left;
	 
	padding:20px 10px;

	}
	
#new-customer-form  input[type='text'], 
#new-customer-form  input[type='password'] {
	padding:4px 2px;
	margin:5px 5px 0px 0px;
	
	color:#555;
	
	width:155px;
	}


#new-customer-form  input[type='button'], 
#new-customer-form  input[type='submit'] {
	
	background-color:rgba(50, 50, 50, .4);
	border:none;
	
	color:#555;

	padding:4px 20px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	cursor:pointer;
	
}

#new-customer-form  input[type='button']:hover, 
#new-customer-form  input[type='submit']:hover, 
#new-customer-form  input[type='button']:focus, 
#new-customer-form  input[type='submit']:focus {
	
	
}



