@charset "utf-8";
/* CSS Document */

#search-tool-wrapper {
	position:absolute;
	left:200px;
	top:170px;
	
	height:120px;
	width:590px;
	
	font-size:120%; 
	
}



#customer-browse-wrapper {
	
	width:120px;
	height:50px;
	float:left;
	
	padding:30px 20px 10px 0px;;	
	text-align:right;
	color:#333;
	
	border-right:solid 1px #333;	
}

#customer-browse-wrapper a:link, 
#customer-browse-wrapper a:visited {
	position:relative;
	top:5px;
	color:#555;

	padding:4px 10px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
}

#customer-browse-wrapper a:hover, 
#customer-browse-wrapper a:focus {
	
	background-color:rgba(50, 50, 50, .4);
	
}

#customer-search-form-wrapper {
	
	width:360px;
	height:50px;
	float:left;	
	text-align:left;
	
	padding:27px 0px 10px 20px;
	
}

#customer-search-form-wrapper input[type='text'] {
	padding:4px 2px;
	margin:5px 0px 0px 0px;
	width:250px;
	
	float:left;

	
}



#customer-search-form-wrapper input[type='button'], 
#customer-search-form-wrapper input[type='submit'] {
	background:none;
	border:1px solid #444;
	color:#888;
	
	border-radius:10px;	
	-moz-border-radius:10px;	
	-webkit-border-radius:10px;
	
	box-shadow: none;
	
	padding:4px 20px;
	margin:0px 0px 0px 30px;


	font-size:70%;
	
}

#customer-search-term:before {
	content:'\\';
	
	font-family:Sosa!important;	
	font-weight: normal;
	font-style: normal;
	
	display:block;
	height:40px;
	width:40px;
	position:relative;
	left:50px;
		
	font-size:150%!important;
	line-height:100%!important;
	color:#333!important;
	border:none!important;

}



#customer-search-results {
	display:none;
	
	list-style:none;
	margin:0px 0px;
	padding:0px 0px;
	
	position:absolute;
	left:150px;
	top:70px;
	
	height:auto;
	max-height:200px;
	width:284px;
	
	overflow:auto;
	overflow-x: hidden;

	border: 1px solid #333; 
	background: #111 url(../images/black_denim.png)  repeat; 
	color: #777; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	z-index:1000;
}


#customer-search-results li {
	font-size:80%;
	padding:5px 10px;
	
}

#customer-search-results a:last-child {
	border-bottom:none;
}

#customer-search-results a { 
	color: #777;
	display:block;
	border-bottom:dashed 1px rgba(50, 50, 50, .5);
 }
 
 
#customer-search-results a:hover { 
	color: #888;
	background:rgba(150, 150, 150, .05);
}




#new-customer-link-wrapper {
	position:absolute;
	top:300px;
	left:235px;
	width:510px; 
	height:20px; 
	color:#333; 
	font-size:75%; 
	text-align:center; 
	padding-top:4px; 
	
	}

#new-customer-link-wrapper a:link, 
#new-customer-link-wrapper a:active, 
#new-customer-link-wrapper a:visited, 
#new-customer-link-wrapper a:focus {
	
	color:#555; 
	font-size:110%; 
	
	padding:4px 6px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
}

#new-customer-link-wrapper a:hover {
	
	background-color:rgba(50, 50, 50, .4);
	
}


#new-customer-form-wrapper {
	display:none; 

	position:absolute;
	top:300px;
	left:200px;

	background: #111 url(../images/black_denim.png)  repeat; 

	width:565px; 
	text-align:right; 
	border:dashed 1px #333; 
	border:solid 5px #222; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	padding:10px; 

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
	
	z-index:1000;
	
	}
	

#new-customer-form-label {
	width:140px;
	height:50px;
	text-align:left; 
	color:#555; 
	font-size:110%; 
	font-weight:normal;
	border-right:solid 1px #333;
	
	padding:90px 10px 100px 20px;
	 
	float:left;
	 
}


#new-customer-form {
	position:relative; 
	top:8px; 
	text-align:left!important; 
	float:left;
	 
	padding:20px 10px;

	}
	
#new-customer-form  input[type='text'], 
#new-customer-form  input[type='password'] {
	padding:4px 2px;
	margin:5px 5px 0px 0px;
	
	color:#555;
	
	width:155px;
	}


#new-customer-form  input[type='button'], 
#new-customer-form  input[type='submit'] {
	
	background-color:rgba(50, 50, 50, .4);
	border:none;
	
	color:#555;

	padding:4px 20px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	cursor:pointer;
	
}

#new-customer-form  input[type='button']:hover, 
#new-customer-form  input[type='submit']:hover, 
#new-customer-form  input[type='button']:focus, 
#new-customer-form  input[type='submit']:focus {
	
	
}


