@charset "utf-8";
/* CSS Document */


#password-meter-1 {
	display:none;
	
	position:absolute;
	top:198px;
	left:440px;
}

#customer-browse-wrapper {
	
	width:120px;
	height:50px;
	float:left;
	
	padding:30px 20px 10px 0px;;	
	text-align:right;
	color:#333;
	
	border-right:solid 1px #333;	
}

#customer-browse-wrapper a:link, 
#customer-browse-wrapper a:visited {
	position:relative;
	top:5px;
	color:#555;

	padding:4px 10px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
}

#customer-browse-wrapper a:hover, 
#customer-browse-wrapper a:focus {
	
	background-color:rgba(50, 50, 50, .4);
	
}


#new-customer-link-wrapper {
	position:absolute;
	top:300px;
	left:235px;
	width:510px; 
	height:20px; 
	color:#333; 
	font-size:75%; 
	text-align:center; 
	padding-top:4px; 
	
	}

#new-customer-link-wrapper a:link, 
#new-customer-link-wrapper a:active, 
#new-customer-link-wrapper a:visited, 
#new-customer-link-wrapper a:focus {
	
	color:#555; 
	font-size:110%; 
	
	padding:4px 6px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
}

#new-customer-link-wrapper a:hover {
	
	background-color:rgba(50, 50, 50, .4);
	
}


#new-customer-form-wrapper {
	display:none; 

	position:absolute;
	top:300px;
	left:200px;

	background: #111 url(../images/black_denim.png) repeat; 

	width:565px; 
	text-align:right; 
	border:dashed 1px #333; 
	border:solid 5px #222; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	padding:10px; 

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
	
	z-index:1000;
	
	}
	

#new-customer-form-label {
	width:140px;
	height:50px;
	text-align:left; 
	color:#555; 
	font-size:110%; 
	font-weight:normal;
	border-right:solid 1px #333;
	
	padding:90px 10px 100px 20px;
	 
	float:left;
	 
}


#new-customer-form {
	position:relative; 
	top:8px; 
	text-align:left!important; 
	float:left;
	 
	padding:20px 10px;

	}
	
#new-customer-form  input[type='text'], 
#new-customer-form  input[type='password'] {
	padding:4px 2px;
	margin:5px 5px 0px 0px;
	
	color:#555;
	
	width:155px;
	}


#new-customer-form  input[type='button'], 
#new-customer-form  input[type='submit'] {
	
	background-color:rgba(50, 50, 50, .4);
	border:none;
	
	color:#555;

	padding:4px 20px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	cursor:pointer;
	
}

#new-customer-form  input[type='button']:hover, 
#new-customer-form  input[type='submit']:hover, 
#new-customer-form  input[type='button']:focus, 
#new-customer-form  input[type='submit']:focus {
	
	
}


