@charset "utf-8";
/* CSS Document */


#profile-name-in-header a.button-1 {
    font-weight: normal;
    font-size: 30%!important;
    
    position: relative;
    top: -6px;
}

#customer-contact-bar {
    display: block;
    height: 25px;
    width: 500px;
    
    text-align: left;
    
    
    position:absolute;
    top:195px;
    left:90px;
}

#customer-contact-bar span {
    color: #444;
    font-size: 90%;
}


#profile-taskbar {
    display: block;
    height: 35px;
    width: 400px;
    
    text-align: left;
    
    
    position:absolute;
    top:165px;
    left:390px;
    
    outline: solid 1px #f00;
}


#hor-line-1 {
	display:block;
	
	position:absolute;
	top:220px;
	left:50px;
	
	margin:0px 0px;
	padding:0px 0px;
	
	width:885px;
	height:0px; 
	border:none;
	border-top:dashed 1px #555;
	
}




.order-tile {
    height: 70px;
    
    margin: 0px 0px 10px 0px;
    padding: 10px;
}









/*


CUSTOMER ACCOUNT DIALOG


*/

#password-tool-wrapper {
    display: none;
}

#customer-profile-dialog-box {
    display:none; 
    position:fixed; 
    top:80px; 
    left:370px; 
    width:500px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}


#customer-profile-dialog-box > .button-1 {
    font-size: 90%;
}



.dialog-box-section-label {
    width: 250px;
    border-bottom: dotted 1px #660;
    
    font-size: 80%;
    text-align: left;
    text-transform: uppercase;
    color: #555;
    
    text-indent: 6px;
    padding-bottom: 3px;
    margin-bottom: 6px;
    
}


#customer-profile-status-wrapper {
    margin-left: 15px;
}
/* bring message bubble forward */

.message-bubble {
    z-index:10002;
}





#text-field-customer-profile-name, 
#text-field-customer-profile-description {
    width: 95%;
}


#customer-password-meter-1 {
    display: none;
    float: right;
    margin-top: 4px;
}


#customer-profile-dialog-box > .blue-button {
    font-size: 100%;
}
