@charset "utf-8";
/* CSS Document */






/*


INDEX

*/

#hor-line-1 {
	
	position:absolute;
	top:220px;
	left:50px;
	
	margin:0px 0px;
	padding:0px 0px;
	
	width:885px;
	height:0px; 
	border:none;
	border-top:dashed 1px #555;
	
}







#list-index {
	position:absolute;
	top:170px;
	left:40px;
	
	list-style:none;
	margin:0px 0px 0px 10px;
	padding:0px 0px;
	
	width:600px; 
	color:#555; 
	font-size:75%; 
	border-bottom:solid 1px #555;
	border-bottom:none;
	
        z-index: 100;
	}
	
#list-index li {
	list-style:none;
	
	height:20px;
	width:20px;
	
	margin:0px 0px;
	border-right:solid 1px #555;
	border-right:none!important;
	float:left; 
	}
	
#list-index a:last-child li {
	border-right:none!important;
	
}


#list-index a:link, 
#list-index a:active, 
#list-index a:visited {
	display:block;
	float:left; 

	color:#555; 
	text-decoration:none!important; 
	
	height:17px;
	width:20px;
	
	padding-top:3px;
	
	border:solid 1px transparent;

	border-radius:10px;	
	-moz-border-radius:10px;	
	-webkit-border-radius:10px;
	
	}

#list-index a:hover, 
#list-index a:focus {
	color:#0ac; 
	background-color:rgba(0, 0, 0, .9);
	text-decoration:none!important; 
	}


/*

LIST TABLE

*/


#list-table {
	position:absolute;
	top: 230px;
	left:50px;
	
	list-style:none;
	
	margin:0px 0px;
	padding:0px 0px;
	
	width:885px;
	height:400px;
	 
	border-left:solid 1px #400;
	border-right:solid 1px #400;
	
	border: none;
	
}

li.list-table-cell, 
li.list-table-header {
	list-style:none;
	margin:0px 0px;
	padding:0px 0px;
	
	height:100px;
	
	border-bottom:dotted 1px #046;
	text-align:left;
	
}


li.list-table-header {

	height:50px;
	
}



.list-pagination {
	float:left;
	display:block;
	
	height:25px;
	width:auto;
	
	margin:10px 0px 0px 10px;
	
	text-align:left;
	color:#555;
		
}



.list-page-nav {
	float:right;
	display:block;
	
	list-style:none;
	height:25px;
	width:auto;
	
	margin:15px 0px 0px 0px;
	
	padding:0px 0px;
	background:rgba(50, 50, 50, 0);
		
	
}


.list-page-nav li {
	
	float:right;
	display:block;
	
	list-style:none;
	margin:0px 0px;
	padding:0px 0px 0px 0px;
		
	width:90px;
	height:20px;
	
	text-align:center;
	
	
}


.list-page-nav li:first-child {
	/*border-left:solid 1px #444;*/
	
	
}


.list-page-nav li a:link, 
.list-page-nav li a:active,
.list-page-nav li a:visited {
	
	color:#444;
	
	
}



li.list-table-cell {
	padding:20px 20px;
	color:#555;
}


.list-cell-title {
	display:block;
	text-align:left;
	padding:0px 0px 0px 0px;
	margin:0px 0px;
		
	text-align:left;	
	color:#555;
	
}


.list-cell-title a:link, 
.list-cell-title a:active,
.list-cell-title a:visited {
	
	padding:0px 0px;
	margin:0px 0px!important;
	color:#555;
		
}


.list-cell-title a:hover, 
.list-cell-title a:focus {
	
	border-bottom:dashed 1px #777;
		
}


#search-tool-wrapper {
	left:650px;
	top:130px;
	
}


#quick-search-results {
	left:10px;
	top:70px;
	
}
