@charset "utf-8";
/* CSS Document */

#fullscreen_bg {
	display:none;
	background:#000;

	background:url(../images/black_denim.png);
	background:rgba(0, 0, 0, 0.6);	
	
	height:100%;
	width:100%;
	
	position:fixed;
	top:0px;
	left:0px;
	z-index:10010;
}



#photo_editor_controls {
	display: block;
	list-style:none;
        text-align: center;
	margin:0px 0px;
	padding:10px 0px;
	position:absolute;
	left:0px;
	top:440px;
	background:rgba(0, 0, 0, .8);
	
	height:25px;
	width:100%;
	border-top: dotted 1px #046;
	z-index:1032;
}


#photo_editor_controls button {
	
}


#upload_in_progress {
	display:none;
	width:200px;
	height:100px;
	
	position:absolute;
	left:185px;
	top:140px;
	
	text-align:center;
	line-height:100px;
	font-size:100%;
	font-weight:bold;

	border:solid 4px #000;
	border-radius:10px;	
	-moz-border-radius:10px;	
	-webkit-border-radius:10px;
	
	background:rgba(20, 20, 20, 0.5);
	color:#999;
	
	z-index:1035;

}

#outer-outer-canvas-wrapper {
        display: none;
	position:fixed; 
	top:60px; 
	left:340px; 
	height:500px; 
	width:650px;
        z-index: 10031;
        
        
	border:solid 10px rgba(100, 100, 100, .3);
	background:rgba(0, 0, 0, .8);
	border:solid 2px rgba(50, 50, 50, 1);
	
	border-radius:16px;	
	-moz-border-radius:16px;	
	-webkit-border-radius:16px;

	box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -moz-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);


}

#outer_canvas_wrapper {
	display:block;
	position:absolute; 
	top:20px; 
	left: 25px; 
	height:400px; 
	width:600px; 
	border:solid 2px #333;
	box-shadow: 2px 2px 2px rgba(0,0,0,.9) inset;
	background:rgba(0, 0, 0, 1);

	border-radius:6px;	
	-moz-border-radius:6px;	
	-webkit-border-radius:6px;
	/*background:rgba(0, 0, 0, .4);*/
	z-index: 1031;
}




#canvas_wrapper {
	position:relative; 
	margin: auto auto; 
	height:200px; 
	width:300px; 
	
}

#canvas {
	display:block;
	position:absolute; 
	top:0px;
	left:0px;
	
	width:300px;
	height:200px;
	
	background-color:none;

		
}

#canvas_image {
	display:block;
	position:absolute; 
	top:0px;
	left:0px;
	
	
}

