/* 
    Document   : layout.dialog
    Created on : Feb 8, 2013, 8:49:24 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
    Description:
        Purpose of the stylesheet follows.
*/

.layout-dialog-box {
    position:fixed; 
    top:40px; 
    left:150px; 
    
    width: 1000px;
    min-height: 300px;
    
    height: auto;
    z-index:10001;
}



#layout-slide-dialog-box {
    z-index: 10003;
}


.layout-dialog-box #new-tile-wrapper {
    width: 985px;
    height: 80px;
}


.new-layout-tile-button {
    display: block;
    margin-left: 15px;
}


#sort-order-tool-wrapper {
    display: none;
    padding: 6px!important;
    width: 350px;
}

#save-sort-order-button {
    font-size: 100%;
}

.layout-dialog-box #layout-tile-grid-wrapper {
    width: 985px;
    height: 400px;
    
    padding-top: 10px!important;
    padding-left: 10px!important;
    
    list-style: none;
    
    overflow-x: hidden;
    overflow-y: scroll;
    
}


.layout-tile {
    position: relative;
    display: block;
    list-style: none;
    margin: 0px 5px 5px 0px;
    float: left;
    
    border:solid 1px rgba(0, 0, 0, .3);
    background: rgba(0, 0, 0, .2);

    /* 
    
    border:solid 6px rgba(100, 100, 100, .3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5) inset;
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, .5) inset;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, .5) inset;
 
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
 */
}


.tile-content-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    overflow: hidden;
    
}

.layout-tile ul.slide-strip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    
    list-style: none;
    
}

.layout-tile ul.slide-strip > li.slide {
    display: block;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    float: left;
    
    background-color: rgba(0, 0, 100, .3);
    
    overflow: hidden;
}


.layout-tile-placeholder {
    border: dashed 1px rgba(100, 100, 100, .3);
    background: transparent;
}

.layout-tile-tool-box {
    display: none;
    position: absolute;
    top: 7px;
    right: 10px;

    width: 16px;
    background-color: rgba(0, 0, 0, .6);

    border-radius: 6px;	
    -moz-border-radius: 6px;	
    -webkit-border-radius: 6px;

    padding: 6px;
    z-index: 6;
}

.layout-tile-tool-box span {
    display: inline-block;
    font-size: 140%;
    margin-top: 7px;
    color: #aa0;  
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.layout-tile-tool-box span:hover {
    color: #ee0;
}


.drag-handle {
   cursor: move;
}

.layout-tile-tool-box span.tile-delete-button {
    cursor: pointer;
}


.layout-tile-dashboard-wrapper {

   position: absolute;
   top: 7px;
   left: 10px;
   display: none;
   float: left;
   text-align: left;
   margin: 0px;
   padding: 0px;
   width: 180px;
   height: 45px;
   overflow: hidden;
   background-color: rgba(0, 0, 0, .3);
   z-index: 4;

    border-radius: 6px;	
    -moz-border-radius: 6px;	
    -webkit-border-radius: 6px;
}



.layout-tile-dashboard {
    display: block;
    width: 95%;
    height: 30px;
    position: absolute;
    bottom: 4px;
    left: 0px;
    
    padding: 0px 4px!important;
    text-align: center;
}



.layout-tile-dashboard li {
    list-style: none;
    float: left;
    text-align: center;
    margin: 0px 5px 0px 4px;
    font-size: 70%;
    color: #fff;
}



#layout-tile-dialog-box #tile-dims-wrapper {
    width: 300px;
    color: #555;
    
    padding: 20px!important;
}

#layout-tile-dialog-box #tile-dims-wrapper select {
    min-width: 100px;
}






/*

SLIDE DIALOG BOX

*/




.grp-dialog-box {
    display: none; 
    position:fixed; 
    top:40px; 
    left:490px; 
    width:380px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}


.grp-dialog-box > .button-1 {
    font-size: 90%;
}

.grp-dialog-box > .blue-button {
    font-size: 100%;
}


.grp-dialog-box > p > #select-target-id {
    min-width: 200px;
}

.grp-dialog-box .text-input-label {
    margin-left: 3px;
    font-size: 95%;
    color:#777; 
    letter-spacing: 1px;
}


.grp-dialog-box .yellow-hint-text {
    text-align: left;
    font-size: 80%;
    color:#660; 
    margin-top: 3px;
}


.grp-dialog-box .field-label {
    font-size: 90%;
    color:#660; 
    margin-top: 5px;
}




.grp-dialog-box ul.tabs {
    display: block;
    width: 90%;
    height: 20px;
    overflow-y: hidden;
    
    padding-left: 10px;
    
    list-style: none;
}


.grp-dialog-box ul.tabs > a > li {
    display: block;
    list-style: none;
    text-align: center;
    
    float: left;
    color: #444;

    min-width: 50px;
    background-color: rgba(0, 0, 0, .5);

    border-radius: 6px 6px 0px 0px;	
    -moz-border-radius: 6px 6px 0px 0px;	
    -webkit-border-radius: 6px 6px 0px 0px;

    height: 20px;
    padding: 3px 7px;
    margin-right: 5px;
    z-index: 6;
}

.grp-dialog-box ul.tabs > a > li.tab-selected {
    color: #990;
    background: rgba(0, 0, 0, .2);
    
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}


#slide-image-picker-wrapper {
}



#slide-html-input-wrapper {
}

#slide-html-input-wrapper > #field-slide-text {
    height: 100px;
    width: 350px;
    text-align: left;
    font-size: 90%;
}




.slide-image-picker-add-button {
        display: block;
        height: 100px;
        width: 350px;
        
        margin: 0px 0px;
        
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
	box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
	border:solid 4px rgba(70, 70, 70, .6);
        

        background-size: contain; 
        background-repeat: none; 
        background-position: center center;
        
        
	
}



.slide-image-picker-add-button > span.icon-aperture {
	display:block;
        height: 40px;
        width: 50px;
        font-size: 300%;
        margin: 10px auto;
        
        text-align: left;

	
	opacity:.4; 
	-moz-opacity:.4; 
	filter:Alpha(opacity=40); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.slide-image-picker-add-button-a {	
    
}

.slide-image-picker-add-button-a:hover .slide-image-picker-add-button > span.icon-aperture {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}

