@charset "utf-8";
/* CSS Document */


.mediumListIconTextItem > .tile-icon-large {
    margin-left: 10px;
}




#notification-profile-dialog-box {
    display:none; 
    position:fixed; 
    top:140px; 
    left:490px; 
    width:350px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}


#notification-profile-dialog-box > .button-1 {
    font-size: 90%;
}



#notification-profile-type-label {
    width: 320px;
    border-bottom: dotted 1px #660;
    
    font-size: 80%;
    text-align: left;
    text-transform: uppercase;
    color: #555;
    
    text-indent: 6px;
    padding-bottom: 3px;
    margin-bottom: 6px;
    
}
/* bring message bubble forward */

.message-bubble {
    z-index:10002;
}





#notification-profile-dialog-box {
    display: none; 
    position:fixed; 
    top:35px; 
    left:250px; 
    width:700px; 
    height:550px; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}


#dialog-box-left-col, 
#dialog-box-right-col {

    width:320px; 
    height:380px; 
    margin-bottom: 10px;
}

#dialog-box-left-col {
    margin-left: 10px;
}

#dialog-box-right-col {
    margin-left: 20px;
    height:360px; 
    border:solid 4px rgba(50, 50, 50, .6);
    
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
}



#dialog-recipient-list {
    list-style: none;
    width: 90%;
    min-height: 100px;
    max-height: 150px;
    
    margin: 10px auto;
    padding: 0px;
    
    overflow-y: auto;
}

#dialog-recipient-list > li {
    list-style: none;
    border-bottom: dotted 1px #046;
    
    padding: 3px 3px;
    color: #555;
}


#dialog-recipient-list > li.header {
    font-size: 150%;
    font-weight: bold;
    text-align: left;
    color: #444;
    
    margin: 0px 0px 10px 0px;
    
    border-bottom: dotted 1px transparent;

}


#dialog-recipient-list > label {
    margin-left: 20px;
}



.dialog-wide-input {
    width: 95%;
}

.dialog-narrow-input {
    width: 47%;
}




input::-webkit-input-placeholder, 
textArea::-webkit-input-placeholder {
	color:#333;
	color:rgba(150, 150, 150, .4);
}

input::-webkit-input-placeholder, 
textArea::-webkit-input-placeholder {
	color:#333;
	color:rgba(150, 150, 150, .4);
}

input::-webkit-input-placeholder, 
textArea::-webkit-input-placeholder {
	color:#333;
	color:rgba(150, 150, 150, .4);
}
