@charset "utf-8";
/* CSS Document */


.content {
    min-height: 800px;
}

#main-tile-grid, 
#quick-search-tile-grid {
    width: 600px;
    height: auto;   
    margin-top: 5px;
    padding: 0px 0px;
    
    float: left;
}

#quick-search-tile-grid {
    display: none;
}


#main-tile-grid .tile-grid-header, 
#quick-search-tile-grid .tile-grid-header {
    position: relative;
    display: block;
    width: 620px;
    height: 20px;
    overflow: hidden;
    
    float: left;
    
    background: rgba(0, 0, 0, .3);
    border: none;
    
    border-radius: 10px;	
    -moz-border-radius: 10px;	
    -webkit-border-radius: 10px;
    
    margin: 5px 0px 10px 0px;
    padding: 10px;
    
    
    color: #246;
}


#main-tile-grid .tile-grid-header h3, 
#quick-search-tile-grid .tile-grid-header h3 {
    background: rgba(0, 0, 0, .6);
    border: none;
    width: auto;
    display: inline-block;
    
    border-radius: 6px;	
    -moz-border-radius: 6px;	
    -webkit-border-radius: 6px;
}


#quick-search-tile-grid > .tiles-wrapper > .no-results {
    display: block;
    width: 350px;
    padding: 8px 8px;
    margin: 15px auto;
    
    border-radius:7px;	
    -moz-border-radius:7px;	
    -webkit-border-radius:7px;
    
    background: rgba(0, 0, 0, .2);
    color: #660;
    font-size: 90%;
    
    text-align: center;
    
    cursor: pointer;
}

#quick-search-tile-grid > .tiles-wrapper > .no-results:hover {
    background: rgba(0, 0, 0, .5);
}




.tiles-wrapper {
    display: block;
    
    width: 620px;
    height: auto;
    
    margin-top: 10px;
}

.order-tile {
   position: relative;
    display: block;
    margin: 5px 0px;
    width: 620px;
    height: 100px;
    overflow: hidden;
    
    float: left;
    
    background: rgba(0, 0, 0, .3);
    border: none;
    
    border-radius: 10px;	
    -moz-border-radius: 10px;	
    -webkit-border-radius: 10px;
    
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

.order-tile.pending {
    border: solid 1px  rgba(0,50,120,.7); /* #0072BC; */
    
    box-shadow: 2px 2px 3px rgba(0,0,0,.7);
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.7);
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.7);
}


.order-tile.processed, 
.order-tile.closed {
    
}

.order-tile.fulfilled {
    
}


.order-tile.cancelled {
    
}


.order-tile .payment-status {
   position: absolute;
   top: 40px;
   right: 30px;
   display: block;
   
    text-transform: uppercase;
    font-size: 170%;
    font-weight: bold;
    
    font-family: arial;

    opacity:.3; 
    -moz-opacity:.3; 
    filter:Alpha(opacity=30); 
}

.order-tile .payment-status.paid {
    color: #064;
}


.order-tile .payment-status.cash-on-delivery {
    color: #660;
}


.order-tile .payment-status.pending {
    color: #660;
}

.order-tile .payment-status.cancelled {
    color: #800;
}


.order-tile .payment-status.failed {
    color: #800;
}







.order-tile .order-number {
    display: block;
    width: auto;
    height: 15px;
    padding: 5px 15px;

    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 80%;
    color: #555;
    
    
    background: rgba(0, 0, 0, .3);
    border: none;
    
    border-radius: 6px;	
    -moz-border-radius: 6px;	
    -webkit-border-radius: 6px;
}


.order-tile .order-number .user-status:before {
        height: 6px;
        width: 6px;
        
        position: relative;
        left: -5px;
        top: 4px;
        
        float: left;
}


.order-tile .customer-name {
    padding: 0px;
    display: inline-block;
}






.order-tile-dashboard-wrapper {

   position: absolute;
   bottom: -50px;
   right: 0px;
   display: block;
   text-align: left;
   margin: 0px;
   padding: 0px;
   width: 100%;
   height: 50px;
   background-color: rgba(0, 0, 0, .3);
   z-index: 4;
   
   
    border-radius: 0px 0px 6px 6px;	
    -moz-border-radius: 0px 0px 6px 6px;	
    -webkit-border-radius: 0px 0px 6px 6px;
   
    
}



.order-tile-dashboard {
    display: block;
    width: 75%;
    height: 50px;
    float: right;
    
    overflow: hidden;
    
    padding: 6px 4px 6px 4px!important;
    margin: 0px 0px 0px 10px;
    text-align: center;
}



.order-tile-dashboard li {
    list-style: none;
    float: right;
    text-align: center;
    margin: 0px 10px 0px 4px;
    font-size: 70%;
    color: #fff;
}


.order-status-control-wrapper {

   position: absolute;
   top: 5px;
   left: 20px;
   display: block;
   text-align: left;
   margin: 0px;
   padding: 0px;
   width: 200px;
   height: 27px;
   z-index: 4;
   
}


.order-status-indicator.pending:before {
	background: #800;
        color: #800;
}


.order-status-indicator.shipped:before {
	background: #a80;
        color: #a80;
}


.order-status-indicator.delivered:before {
	background: #080;
        color: #080;
}



.order-status-indicator.cancelled:before {
	background: #333;
        color: #333;
}


/*

.order-tile-dashboard > .circular-button span.button-label {
    position: relative;
    top: -15px;
    left:0px;
    line-height:50%;
}

*/













.order-tile-dashboard > .circular-button span.button-label {
    position: relative;
    top: -1px;
    left:0px;
    font-size: 120%;
    line-height:130%;
    text-align: left;
    margin-right: 10px;
}

.order-tile-dashboard > .circular-button span[class*="icon-"]:before {
    display: inline-block;
    height: 15px;
    width: 15px;
    color: #000;
    text-align: center;
    background: #fff;
    padding: 5px;
    margin: 5px 6px 5px 0px;
    border-radius:15px;	
    -moz-border-radius:15px;	
    -webkit-border-radius:15px;
}




.order-tile.selected .icon-checkmark:before {
    background: #f00!important;
    color: #fff!important;
}






















.list-table-header {
    width: 100%;
    float: left;
}

#side-bar-wrapper {
    width: 200px;
    min-height: 300px;
    height: auto;
    margin-right: 30px;
    margin-top: 10px;
    
    float: right;
}

#side-bar {
    list-style: none;

    width: 200px;
    min-height: 300px;
    height: auto;
    
    text-align: left;
    border-left: dotted 1px #660;
   
    border:solid 6px rgba(80, 80, 80, .2);
    padding:10px 10px 5px 10px;

    border-radius:15px;	
    -moz-border-radius:15px;	
    -webkit-border-radius:15px;

    box-shadow: 2px 2px 3px rgba(0,0,0,.7) inset;
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.7) inset;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.7) inset;
    
    z-index: 200;
}


#side-bar > li, 
#side-bar > a > li {
    list-style: none;
    display: block;
    padding: 0px 0px;
    width: 100%;
    float: left;

}


#side-bar > a > li.sb-section-header {
    font-size: 75%;
    border-bottom: dotted 1px #660;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#side-bar > li.sb-section-body-wrapper {

    margin-bottom: 5px;
    padding-bottom: 25px;
    border-bottom: dotted 1px #660;
}

.sb-section-body {
    list-style: none;
    padding: 0px 0px!important;
}


.sb-section-body > li {
    display: block;
    width: 100%;
    min-height: 15px;
    list-style: none;
    padding: 0px 0px;
    margin: 2px 0px;
    text-indent: 5px;
    font-size: 75%;
    text-align: left;
    
    float: left;

    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
}


.sb-section-body > li > .main-anchor {
    width: 75%;
    margin: 0px 0px;
}


.sb-section-body > li > a > span[class*="icon-"] {
    display: none;
    color: #555;
    margin: 0px 0px;
    padding: 0px 0px;
}
.sb-section-body > li:hover > a > span[class*="icon-"] {
    display: block;
}

.sb-section-body > li > a:hover > span[class*="icon-"] {
    color: #888;
}


.sb-section-body > li > a:hover {
    color: #aaa;
}

.sb-section-body > li.current > a {
    font-weight: bold;
    color: #aa0;
}



.sb-section-body > li.user-status:before {
        height: 6px;
        width: 6px;
        
        position: relative;
        left: -1px;
        top: 3px;
        
        float: left;
}


li#task-bar {
        display: none;
	list-style:none;
	margin:0px 0px;
	padding:0px 0px;
	
	height:50px;
        width: 100%;
	
	border-bottom:dotted 1px #046;
	text-align:left;
        
        float: left;
	
}



li#task-bar > .circular-button > span.button-label {
    position: relative;
    top: -3px;
    left:0px;
    font-size: 80%;
    line-height:130%;
    text-align: left;
    margin-right: 10px;
}

li#task-bar > .circular-button > span[class*="icon-"]:before {
    display: inline-block;
    height: 15px;
    width: 15px;
    color: #000;
    text-align: center;
    font-size: 90%;
    background: #fff;
    padding: 5px;
    margin: 5px 6px 5px 0px;
    border-radius:15px;	
    -moz-border-radius:15px;	
    -webkit-border-radius:15px;
}



li#task-bar > .circular-button:hover > span[class*="icon-"]:before {
    color: #046;
    background: #000;
}



li#task-bar > .circular-button > span.active.icon-checkmark:before {
    background: #f00;
    color: #fff;
}


li#task-bar > .circular-button > span.button-label {
    
}


li#task-bar > .order-status-control-wrapper  {
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 200px;
    height: 27px;
}



li.list-table-header {
    
}







/*

BB/MAC-SETTINGS/FB-APP TYPE CONTEXT MENU

*/


.context-menu-wrapper {
    list-style: none;
    position: absolute;
    top: 290px;
    right: 30px;
    z-index: 10000;
    
    display: none;
    width: 250px;
    min-height: 100px;
    
    background:rgba(0, 0, 0, .9);
    border:solid 2px rgba(50, 50, 50, 1);

    border-radius:16px;	
    -moz-border-radius:16px;	
    -webkit-border-radius:16px;

    padding:10px 10px 5px 10px!important;

    box-shadow: 2px 2px 3px rgba(0,0,0,.7);
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.7);
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.7);

}


.context-menu-wrapper span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-bottom-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	top:-36px;
	right:40px;
	
}

.context-menu-wrapper li {
    list-style: none;
    height: 70px;
    width: 70px;
    
    margin: 0px 10px 10px 0px;
    
    float: left;
    background: none;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
}



.context-menu-wrapper li > span:before {
    font-size: 200%;
    color: #660;
    
     
    
    text-shadow: 2px 2px 3px rgba(0,0,0,.7);
    -moz-text-shadow: 2px 2px 3px rgba(0,0,0,.7);
    -webkit-text-shadow: 2px 2px 3px rgba(0,0,0,.7);
}



.context-menu-wrapper li > .button-label {
    font-size: 70%;
    color:#fff;
}


.context-menu-wrapper > li.divider {
    height: 1px;
    width: 95%;
    
    padding: 0px 0px;
    margin: 0px 0px;
    border-top: dotted 1px #046;
}




/*


ORDER: COMPOSE EMAIL



*/






#order-email-dialog-box {
    display: none; 
    position:fixed; 
    top:40px; 
    left:390px; 
    width:480px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}


#order-email-dialog-box > .button-1 {
    font-size: 90%;
}

#order-email-dialog-box > .blue-button {
    font-size: 100%;
}


#order-email-dialog-box > p > #select-target-id {
    min-width: 200px;
}

#order-email-dialog-box .text-input-label {
    margin-left: 3px;
    font-size: 95%;
    color:#777; 
    letter-spacing: 1px;
}


#order-email-dialog-box .yellow-hint-text {
    text-align: left;
    font-size: 80%;
    color:#660; 
    margin-top: 3px;
}


#order-email-dialog-box .pdf-filename {
    margin: 6px 0px 6px 6px;
    padding: 5px;
    color: #770;
    background: rgba(0, 0, 0, .3);
    
    border-radius:6px;	
    -moz-border-radius:6px;	
    -webkit-border-radius:6px;
}



#order-email-dialog-box input[type="text"] {
    width: 370px!important;
    padding: 3px;
}


#order-email-dialog-box textarea {
    width: 440px;
}






/*


ORDER: EXPANDED VIEW



*/


.order-expanded-view-box {
    position:fixed; 
    top:40px; 
    left:240px; 
    
    width: 820px;
    height: 85%;
    overflow: hidden;
    
    z-index:10001;
}


.order-expanded-view-box .order-status-control-wrapper  {
    position: relative;
}


.order-details-wrapper {
    position:absolute; 
    top:0px; 
    left:40px; 
    
    width: auto;
    height: 120%;
    
    padding: 0px 0px 20px 0px;
    margin: 0px 0px;
    
    overflow-y: auto;
    overflow-x: hidden;
    
    
}


.order-details-inner-wrapper {
    
    width: auto;
    height: auto;
    
    padding: 0px 0px;
    overflow: hidden;
    
    background: #fff url('../images/paper-bg.jpg');
    box-shadow: 2px 2px 3px rgba(0,0,0,.7);
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.7);
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.7);
    
}




.order-details-inner-wrapper .payment-status {
   display: block;
   
    text-transform: uppercase;
    font-size: 170%;
    font-weight: bold;
    
    font-family: arial;

    opacity:.3; 
    -moz-opacity:.3; 
    filter:Alpha(opacity=30); 
}

.order-details-inner-wrapper .payment-status.paid {
    color: #064;
}


.order-details-inner-wrapper .payment-status.cash-on-delivery {
    color: #660;
}


.order-details-inner-wrapper .payment-status.pending {
    color: #660;
}

.order-details-inner-wrapper .payment-status.cancelled {
    color: #800;
}


.order-details-inner-wrapper .payment-status.failed {
    color: #800;
}





.table-1 td {
	background: #000;
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	padding: 10px 10px 0px 10px;
}

.table-1 td .order-num {
        display: inline-block;
	color: #aa0;
        min-width: 50px;
        padding: 5px 10px 5px 0px;
        border-radius:5px;	
        -moz-border-radius:5px;	
        -webkit-border-radius:5px;
        
        margin-right: 15px;
        
}


.quick-info-bar {
    width: 100%;
    height: 35px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
}

.quick-info-bar > span {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}




.table-2 td {
	background: none;
	color: #000;
	font-family:"Times New Roman", Times, serif;
	padding: 0px 10px;
	width: 240px;
	vertical-align: top;
	border-right:solid 1px #ccc; 
}

.table-2 td p {
	font-size: 95%;
}

.table-2 td:last-child, 
.table-2 td.last-child {
	border-right: none;
}


.table-3 th {
	background: none;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 95%;
	vertical-align: bottom;
	padding: 10px;
	padding-bottom: 6px;
	border-bottom:solid 1px #ccc; 
}



.table-3 td {
	background: none;
	color: #000;
	padding: 6px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	vertical-align: top; 
}


.table-3 .th-item {
	text-align: left;
	width: 360px;
}


.table-3 .th-price {
	text-align: left;
	width: 80px;
}


.table-3 .th-quantity {
	text-align: center;
	width: 60px;
}


.table-3 .th-total {
	text-align: right;
	width: 160px;
}



.table-3 .td-item {
	font-weight: bold;
}




.table-4 td {
	background: none;
	color: #000;
	padding: 6px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	vertical-align: top; 
	text-align: right;
}


.table-4 td.label {
	width: 545px;
}

.table-4 td.value {
	width: 170px;
}

.table-4 tr.grand-total > td {
	border-top:solid 1px #ccc; 
	font-weight: bold;
	font-size: 95%;
}










.order-dashboard-wrapper {

   position: absolute;
   bottom: 0px;
   right: 0px;
   display: block;
   text-align: left;
   margin: 0px;
   padding: 0px;
   width: 100%;
   height: 50px;
   background-color: rgba(0, 0, 0, .7);
   z-index: 4;

    
}



.order-dashboard {
    display: block;
    width: 35%;
    height: 50px;
    float: right;
    
    overflow: hidden;
    
    padding: 6px 4px 6px 4px!important;
    margin: 0px 0px;
    text-align: center;
}



.order-dashboard li {
    list-style: none;
    float: left;
    text-align: center;
    margin: 0px 10px 0px 4px;
    font-size: 100%;
    color: #fff;
}


.order-dashboard li > span[class*="icon-"]:before {
    display: inline-block;
    height: 15px;
    width: 15px;
    color: #000;
    text-align: center;
    background: #fff;
    padding: 5px;
    margin: 5px 6px 5px 0px;
    border-radius:15px;	
    -moz-border-radius:15px;	
    -webkit-border-radius:15px;
}

.order-dashboard li > span.button-label {
    position: relative;
    top: -1px;
    left:0px;
    font-size: 120%;
    line-height:130%;
    text-align: left;
    margin-right: 10px;
}





