@charset "utf-8";
/* CSS Document */




#new-item-pane {
        display: none;
	position:fixed; 
	top:80px;
	left:25%;
	
	height:550px;
	width:688px;
	
	margin-top:0px!important;
	padding-top:0px!important;
	
	overflow:hidden;
	background-color:rgba(30, 30, 30, 0.5);

	border:solid 1px transparent;
	border-top:none;
	border-bottom:none;
	box-shadow: 1px -1px 5px rgba(0,0,0,0.7) inset;
	
	z-index: 10002;
        
        
        
	background-image: url(../images/black_denim.png);
	border:solid 10px rgba(100, 100, 100, .3);

	box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -moz-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
        
}


.scrollable-list-container {
    position: relative;
    display: block;
    height: 205px;
    width: 620px;
    overflow-x: hidden;
    overflow-y: auto;
    
    border-bottom: solid 2px #000;
    border-left: solid 2px #000;
}



#new-item-pane > .cancel-button > .icon-close {
    position: absolute;
    top: 4px;
    right: 10px;
    
    height: 15px;
    width: 15px;
    
    font-size: 120%;
    color: #444;
    
    display: block;
    z-index: 405;
}

#new-item-pane > a.cancel-button:hover > .icon-close {
    color: #777;
}



#product-dialog-title {
    position: relative;
    
    display: block;
    text-align: center;
    
    margin: 0px auto;
    padding: 5px 0px;
    
    height: 30px;
    width: 100%;
    
    font-size: 110%;
    font-weight: bold;
    
    color: #777;
    background: #111;
    
    border-radius:10px 10px 0px 0px;	
    -moz-border-radius:10px 10px 0px 0px;	
    -webkit-border-radius:10px 10px 0px 0px;
    
    z-index: 400;
}


#product-dialog-title  .item-name {
    position: relative;
    display: inline-block;
    max-width: 80%;
   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#bread-crumbs {
    position: absolute;
    top: 55px;
    left: 0px;
    
    display: block;
    list-style: none;
    
    margin: 0px 0px;
    padding: 0px 0px;
    
    height: 20px;
    min-width: 600px;
    width: 100%;
    
    border-bottom: solid 1px #333;
    
    z-index: 400;
    
}


#bread-crumbs li {
    display: inline-block;
    position: relative;
    top: -2px;
    
    font-size: 70%;
    color: #444;
    
    margin: 0px 25px;
    
    
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


#bread-crumbs li:hover {
    color: #777;
}


#bread-crumbs li.active-crumb {
    color: #770;
}


section#bread-crumbs li.active-crumb:after {
	content:'';
	
	display:block;
	
        position: relative;
        top: -6px;
        left: 0px;
        
        margin: 0px auto;
        	
		
	width:0px;
	height:0px;
	
	border-width: 7px 7px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color:  #035;
        
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}





#bread-crumbs li:after {
	content:' ';
	
	display:block;
	
        position: relative;
        top: 0px;
        left: 0px;
        
        margin: 0px auto;
        	
		
	width:10px;
	height:10px;
	
	border: none;

        background: #333;
	
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}


#bread-crumbs li.active-crumb:after {
        
        background: #046;
}



#next-prev-handles {
	height:50px;
	width:100%;
	
	position:absolute;
	top:78px;
	left:0px;
	z-index:11;
}


.next-prev-button-1 {
    display: block;
    height: 30px;
    width: 30px;
    
    font-size: 190%;
    color: #333;
    margin: 10px;
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}




.next-prev-button-1:hover {

    color: #555;
}





/*
*	DESCRIPTIONS PANE (AND IN IT'S FRAMES)
*
*
*
*/

#delete-product-anchor-wrapper {
	position:absolute;
	left:90px;
	top:400px;
	
	padding:20px 0px;
        
        border-top: dotted 1px #046;
	border-bottom: dotted 1px #046;
	
	height:20px;
	width:230px;
	
        z-index: 200;

}



ul#frame-headers {
	height:50px;
	width:100%;
	
	position:absolute;
	top:78px;
	left:0px;
        
	list-style:none;
	padding-left:0px!important;
        padding-bottom: 6px;
        text-align: left;
        
        border-bottom: dotted 1px #046;
        
        
	background:none;
	z-index:10;
}



ul#frame-headers > li {
	width:100%;
	height:40px;
	display:none;
	
	font-size:120%;
	text-align:left;
	color:#888;
	
	margin-top:17px;
	
	/*border:solid 1px #fff;*/
}



ul#frame-headers > li > .active-frame-header {
	display:block;
	margin-left:50px;
}

ul#frame-headers > li > .next-frame-header {
	display:block;
        text-align: right;
	margin-right:50px;
	color: #222;
        color: rgba(100, 100, 100, .3);
}


ul#frame-headers > li:first-child {
	display:block;
}







ul#frame-header > li:before {
	position:absolute;
	left:20px;
	top:14px;
	content:attr(label);
	color:#fff;
	font-size:120%;
	text-align:center;
	line-height:75%;
	
	background:none;
	
	height:15px;
	width:15px;
	float:left;
	
	margin:0px 0px 0px 0px;
	padding:5px;
	
	border:solid 4px rgba(255, 255, 255, .2);
	
	border-radius:17px;	
	-moz-border-radius:17px;	
	-webkit-border-radius:17px;
}








/*
*	SUBPANES + SUBPANE STRIP
*
*
*
*/


#sub-pane-strip {
	width:4000px;
	height:500px;
	
	position:absolute;
	top:135px;
	left:0px;
	
	
}


.sub-pane {
	position:relative;
	width:688px;
	height:500px;
	background-image: url(../images/black_denim.png);
        	
	float:left;
        
        margin: 0px 10px;
        display: block;
	
	
}








.glass-pane {
    display: none;
    position:absolute;
    top: 0px;
    
    width:688px;
    height:525px;
    background-image: url(../images/transparent_pixel.gif);

    margin: 0px 0px;
    
    z-index: 410;
}



.glass-pane > div.inner-wrap {
	display:block;
	
	position:relative;
	left: 0px;
	
	width:600px;
	height:300px;
        
	margin:5px auto;
        margin-top: 115px;
        
        
	background:rgba(0, 0, 0, .8);
	border:solid 2px rgba(50, 50, 50, 1);
	
	border-radius:16px;	
	-moz-border-radius:16px;	
	-webkit-border-radius:16px;
	
	box-shadow: 2px 2px 3px rgba(0,0,0,.7);

        /*
	border:solid 5px rgba(50, 50, 50, .7);
	
        background-image: url(../images/black_denim.png);
        */
        
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	box-shadow: 1px 1px 2px rgba(0,0,0,.6);
}




.glass-pane > div.clear-button {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    background: transparent;
    
    z-index: 1;
}


.glass-pane > div.inner-wrap > a.cancel-button > .icon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    
    height: 15px;
    width: 150px;
    
    font-size: 75%;
    font-weight: bold;
    line-height: 8px;
    text-align: right;
    color: #770;
    
    display: block;
    z-index: 405;
}

.glass-pane > div.inner-wrap > a.cancel-button > .icon-close:before {
    position: relative;
    float: right;
    margin-left: 5px;
    
    font-size: 150%;
    color: #444;
}

.glass-pane > div.inner-wrap > a.cancel-button:hover > .icon-close:before {
    color: #777;
}










/*
*	FRAME 1: PRODUCT NAME AND DESCRIPTION
*
*
*
*/


#frame_1 {
	padding:0px 0px 0px 0px;
	margin:0px auto;
}


#page_info_setup {
    
    position: relative;
    display:block;
    width: 100%;
    height:450px;

    top:10px;

    margin:0px auto;
    padding:0px 0px 0px 0px;

    float:left;
    /* border-right:dashed 1px #330; */
	
	
}


#page_info_form_wrapper {
    position: relative;
    display: block;
    width: 100%;
    
    border-bottom:solid 1px #222;
    padding-bottom:20px;
}


#page_info_setup input.text-box, #page_info_setup textarea.text-box {
	border:solid 4px rgba(50, 50, 50, .4);
	width:300px;
	
	margin:5px 0px;
	
	background:none;
	color:#999;
	
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	box-shadow: 1px 1px 2px rgba(0,0,0,.6) inset;
}


#page_info_setup input[type="text"].text-box:focus, #page_info_setup textarea.text-box:focus {
	background:#fff;
	border:solid 4px rgba(40, 40, 40, 1);
	color:#555;
}

#page_info_setup .uni-label {
    margin: 7px 0px;
}


#page_info_setup .field-row {
    position: relative;
    display: block;
    
    min-height: 50px;
    width: 96%;
    
    margin: 0 auto;
    text-align: left;
    
}



#page_info_setup .field-wrap {
    position: relative;
    display: block;
    float: left;
    
    min-height: 50px;
    width: 50%;
}



#item_name {
	font-size:100%;
	
}

#page_info_setup textarea.text-box {
	font-size:70%;
	
}


#item-name-status, #item-description-status {
	display:block;
	
	width:350px;
	height:15px;
	text-align:right;
	
	color:#555;
	
}




input[type=text].page-handle-field {
    width: 200px!important;
    max-width: 200px!important;
}




::-webkit-input-placeholder {
	color:#777;
}

:-moz-input-placeholder {
	color:#777;
}

:-ms-input-placeholder {
	color:#777;
}





.section-header-1 {
	text-align:left;
	color:#444;
	font-size:90%;
	
	margin:5px auto;
	
	font-weight: bold;
	
}






#page-settings-wrapper {
	
	display:none;
	width:185px;
	height:480px;
	
	position:relative;
	top:0px;
        right: 0px;

	margin:0px auto;
        margin-left: 10px;
	padding:0px 0px 0px 0px;
	
	float:left;
	border:none;
        
        
	box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
        -moz-box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
        -webkit-box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
        
        /*
	border-radius:10px;	
	-moz-border-radius:10px;	
	-webkit-border-radius:10px;
        */
	
	
}



#rtf-editor-wrapper {
    display: block;
    position: relative;
    border:solid 4px rgba(50, 50, 50, .4);
    width:650px;
    height: 280px;

    margin:5px 0px;
    margin-left: 15px;

    background:none;
    color:#222;

    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;

    box-shadow: 1px 1px 2px rgba(0,0,0,.6) inset;
}


#rtf-editor-wrapper > div.inner-wrap {
    display: block;
    position: relative;
    width:100%;
    height: 280px;
    background-image: url(../images/paper-bg.jpg);
    
    text-align: left;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    box-shadow: 1px 1px 2px rgba(0,0,0,.6) inset;
}


#rtf-editor-wrapper #toolbar {
    padding: 5px;
    border-bottom: dotted 1px #999;
}

#rtf-editor-wrapper #toolbar > select {
    max-width: 120px;
    min-width: 120px;
    
}


#rtf-editor-wrapper #toolbar .editor-save-button {
    display: none;
    
    border: solid 1px #aaa;
    background: #057;
    color: #fff!important;
    font-family: 'CenturyGothicRegular', verdana, arial; 


    cursor: pointer;
    text-shadow: 1px 1px #555;
    font-size: 0.7em;
    
    padding: 2px 10px;
    margin: 0 0;
    margin-right: 10px;
    
    float: right;

    border-radius:3px;	
    -moz-border-radius:3px;	
    -webkit-border-radius:3px;
}


#rtf-editor-wrapper .ql-container {
    height: 80%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#rtf-editor-wrapper .rtf-editor-status-bar {
    display: block;
    position: relative;
    
    height: 20px;
    max-height: 20px;
    
}


#rtf-editor-wrapper .rtf-editor-status-bar > span.text {
    font-size: 0.7em;
    color: #777;
    
    margin: 0 4px;
}


#rtf-editor-wrapper .rtf-editor-status-bar span.dot {
    display: none;
    height: 8px;
    width: 8px;
    
    float: right;
    
    padding: 0 0;
    margin: 2px 2px;
    margin-right: 8px;
    
    background: #777;
    
    border-radius:50%;	
    -moz-border-radius:50%;	
    -webkit-border-radius:50%;
}








#code-editor-wrapper {
    display: none;
    
    position: absolute;
    top: 74px;
    left: 19px;
    
    border: none;
    width:650px;
    height: 280px;

    margin:5px 0px;

    background:none;
    color:#222;

    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    

    box-shadow: none;
    z-index: 40;
}


#code-editor-wrapper > div.inner-wrap {
    display: block;
    position: relative;
    width:99.6%;
    height: 228px;
    margin: 0 auto;
    
    top: 32px;
    
    background-image: url(../images/paper-bg.jpg);
    
    text-align: left;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    box-shadow: none;
}

















/*
 *
 * FRAME 3: APP LIST
 *
 *
 */





#frame_3 {
    
    
    
}



#frame_3 ul {
    list-style: none;
    margin: 20px auto;
    padding: 0px 0px;
    
    width: 620px;
    height: auto;

}


#frame_3 ul li.table-row {
    position: relative;
    display: block;
    list-style: none;
    margin: 0px auto;
    padding: 0px 0px;
    
    text-align: left;
    
    border-bottom: dotted 1px #333; /*#046; */
    min-height: 50px;
}


#frame_3 ul li.table-header  {
    position: relative;
    list-style: none;
    margin: 0px auto;
    padding: 0px 0px;
    
    text-align: left;
    
    border-bottom: dotted 1px #046;
    min-height: 40px;
}



#frame_3 ul li.table-row {
    padding: 5px 0px;
}




#frame_3 ul li.table-row .uni-label {
    margin-bottom: 8px;
}

#frame_3 ul li.table-row .dimmer {
    position: absolute;
    top: 0px;
    display: none;
    width: 100%;
    height: 100%;
    
    padding: 0 0;
    margin: 0 0;
    
    background: transparent;
    background: rgba(0, 0, 0, .3);
    z-index: 3;
}

.app-title {
    font-weight: normal;
    font-style: italic;
    color: #fff;
}

#app-list-task-bar-wrapper {
   
   margin-bottom: 10px!important;
 
}




#app-list-task-bar {
        display: block;
	list-style:none;
	margin:0px 0px;
	padding:0px 0px 0px 10px;
	
	height:40px;
        width: 250px;
        background: #111;

	text-align:left;
        
        float: left;
	
        border-radius:7px;	
        -moz-border-radius:7px;	
        -webkit-border-radius:7px;
}

#app-list-task-bar > .circular-button {
    margin-top: 5px;
}

#app-list-task-bar > .circular-button > span.button-label {
    position: relative;
    top: 0px;
    left:0px;
    font-size: 80%;
    color: #777;
    line-height:130%;
    text-align: left;
    margin-right: 8px;
}

#app-list-task-bar > .circular-button > span[class*="icon-"]:before {
    display: inline-block;
    height: 10px;
    width: 10px;
    color: #111;
    text-align: center;
    font-size: 10px;
    line-height: 9px;
    background: #333;
    padding: 5px;
    margin: 5px 6px 5px 0px;
    border-radius:50%;	
    -moz-border-radius:50%;	
    -webkit-border-radius:50%;
}



#app-list-task-bar > .circular-button:hover > span[class*="icon-"]:before {
    color: #f00;
    background: #fff;
}


#app-list-task-bar > .circular-button:hover > span.button-label {
    
}



#app-list-task-bar > .circular-button.active > span.icon-checkmark:before {
    background: #f00;
    color: #fff;
}





#app-add-button {
    /*border:dashed 1px #555!important;*/
    color: #555;
    position: relative;
    display: block;

    float: right;
    
    width: 200px;
    height: 50px;
    
    line-height: 350%;
    
    border: dashed 1px #444;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
            
	
}

#app-add-button:before {
	display:block;
        float: left;
        
	width:40px;
	height:50px;
	border:none;
        
        
        font-size: 200%;
        
        position: relative;
        left: 10px;
        top: 0px;

	
	opacity:.2; 
	-moz-opacity:.2; 
	filter:Alpha(opacity=20); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}



#app-add-button:hover {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}




.app-tile .tiny_status {
    font-style: normal;
    
    position: relative;
    top: -2px;
    left: 0px;
    
    z-index: 20;
}





.select-app-button, 
.remove-app-button {
    float: right;
    z-index: 2;
    

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.select-app-button {
    z-index: 5;
}

.select-app-button:before, 
.remove-app-button:before {
    
    color: #111;
    background: #333;
    

}


.remove-app-button:before {
    font-size: 90%;
    line-height: 11px;
}


.select-app-button:hover:before,
.remove-app-button:hover:before {
    color: #f00;
    background: #fff;
    
}




#apps-checklist-container > .checklist-tile.selected .select-app-button:before {
    color: #fff;
    background: #f00;
}




#apps-checklist-container > .checklist-tile.selected.table-row .dimmer {
    display: block;
}






/* ---------------- APP PICKER WIDGET ----------------- */


#app-picker-widget-wrapper {
    display: none;
    
}



#app-picker-widget-wrapper > div.inner-wrap {
	display:block;
        margin-top: 220px;
}


#app-picker-widget-wrapper > div.inner-wrap > span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:20px 16px;
	border-bottom-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	top:-43px;
	right:60px;
	
}

#app-picker-widget-wrapper > div.inner-wrap > span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-bottom-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	bottom:-21px;
	right:-12px;
	
}






#app-picker-widget-thumbs {
	
	position:relative;
	list-style:none;
        width: 560px;
        height: 240px;
        
        margin: 0px auto;
        margin-top: 30px;
        
        border: none;
        padding: 0px;
        padding-top: 10px;
	
        z-index: 3;
}


div.app-picker-widget-thumb-button {
	position:relative;
	width:100px;
	height:100px;
        overflow: hidden;
	
	float:left;
	margin:0px 4px 10px 0px;
        padding: 2px 2px;
        
	border: solid 2px #770; /* rgba(50, 50, 50, 0); */
        border-color: transparent;
        
        /*
	cursor: url('../images/openhand.cur') 4 4, pointer;
	list-style:none;
	*/
        
	background-image:url('../images/transparent_pixel.gif');
	background-position:top center;
	background-size:cover;
	background-repeat:no-repeat;
	
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
}



div.app-picker-widget-thumb-button:hover {
	border: solid 2px #770;
}



div.app-picker-widget-thumb-button > div.inner-wrap {
	position:relative;
	width:98px;
	height:98px;
        overflow: hidden;
	
	margin:0 0;
        
	border: none;
        
        /*
	cursor: url('../images/openhand.cur') 4 4, pointer;
	list-style:none;
	*/
        
	background-image:url('../images/transparent_pixel.gif');
	background-position:top center;
	background-size:cover;
	background-repeat:no-repeat;
	
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
}






#app-picker-widget-wrapper .thumb-dashboard-wrapper {

   position: absolute;
   top: 0px;
   left: 0px;
   display: none;
   text-align: left;
   margin: 0px;
   padding: 0px;
   width: 100px;
   height: 100px;
   overflow: hidden;
   background-color: transparent;
   background-color: rgba(0, 0, 0, .2);
   z-index: 4;
}


div.app-picker-widget-thumb-button:hover > div.inner-wrap > div.thumb-dashboard-wrapper {
   display: block!important;
}



#app-picker-widget-wrapper .thumb-dashboard-wrapper > .header {
   margin-top: 3px;
   margin-left: 10px;
   text-align: left;
   font-size: 80%;
   color: #fff;
   
   width: 75%;
}



#app-picker-widget-wrapper .thumb-dashboard-wrapper > .text1 {
   margin-left: 10px;
   text-align: left;
   font-size: 70%;
   color: #ccc;
}

#app-picker-widget-wrapper .thumb-dashboard-wrapper > .text1.reference-code {
    color: #dd0;
}




#app-picker-widget-wrapper .thumb-dashboard {
    display: block;
    width: 80%;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 12px;
    
    padding: 0px 4px!important;
    text-align: left;
    z-index: 10;
}

#app-picker-widget-wrapper .thumb-dashboard-wrapper > div.clear-button {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    background: transparent;
    
    z-index: 5;
}


#app-picker-widget-wrapper .thumb-dashboard li {
    list-style: none;
    float: right;
    text-align: center;
    margin: 0px 5px 0px 4px;
    font-size: 70%;
    color: #fff;
}

#app-picker-widget-wrapper .circular-button > li > span:before {
    background: #046;
    background: rgba(0, 100, 140, .5);
    color: #fff;
}

#app-picker-widget-wrapper .circular-button:hover > li > span:before {
    background: rgba(0, 100, 140, .8);
}



