@charset "utf-8";
/* CSS Document */


.mediumListIconTextItem > .tile-icon-large {
    margin-left: 10px;
}




#page-options-panel {
    top:160px;
}

#list-table {
	top:260px;
}


#payment-type-dialog-box {
    display: none; 
    position:fixed; 
    top:140px; 
    left:490px; 
    width:350px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}


#payment-type-dialog-box > .button-1 {
    font-size: 90%;
}



#payment-type-type-label {
    width: 320px;
    border-bottom: dotted 1px #660;
    
    font-size: 80%;
    text-align: left;
    text-transform: uppercase;
    color: #555;
    
    text-indent: 6px;
    padding-bottom: 3px;
    margin-bottom: 6px;
    
}
/* bring message bubble forward */

.message-bubble {
    z-index:10002;
}





#remove-country-wrapper {
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: dotted 1px #046;
}

#dialog-user-list {
    padding-bottom: 20px;
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    border-bottom: dotted 1px #660;
    
    overflow-y: auto;
}

#dialog-province-list > label {
    margin-left: 20px;
}


#text-field-payment-type-name, 
#text-field-payment-type-description {
    width: 90%;
}


.payment-type-base-currency {  
    background: #000;
    background: rgba(0, 0, 0, .5);
    
    padding: 1px 5px;
    margin-left: 6px;
    margin-bottom: 4px;
    
    color: #660;
    
    border-radius:3px;	
    -moz-border-radius:3px;	
    -webkit-border-radius:3px;
}