@charset "utf-8";
/* CSS Document */






.order-expanded-view-box {
    margin: 0px auto;
    
    width: 820px;
    height: 500px;
    overflow: hidden;
    
    z-index:10001;
}

.order-details-wrapper {
    position:absolute; 
    top:0px; 
    left:40px; 
    
    width: auto;
    height: auto;
    
    padding: 0px 0px;
    margin: 0px auto;
    
    overflow-y: auto;
    overflow-x: hidden;
    
    background: #fff;
    
    
}




.table-1 td {
	background: #000;
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	padding: 10px 10px 0px 10px;
        text-align: left!important;
}

.table-1 td p {
        text-align: left;
}

.table-1 td .order-num {
	color: #aa0;
        width: 70%;
        background: #111;
        padding: 5px;
        border-radius:5px;	
        -moz-border-radius:5px;	
        -webkit-border-radius:5px;
        
}


.quick-info-bar {
    width: 100%;
    height: 35px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
}

.quick-info-bar > span {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}




.table-2 td {
	background: none;
	color: #000;
	font-family:"Times New Roman", Times, serif;
	padding: 0px 10px;
	width: 240px;
	vertical-align: top;
	border-right:solid 1px #ccc; 
}

.table-2 td p {
	font-size: 95%;
}

.table-2 td:last-child, 
.table-2 td.last-child {
	border-right: none;
}


.table-3 th {
	background: none;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 95%;
	vertical-align: bottom;
	padding: 10px;
	padding-bottom: 6px;
	border-bottom:solid 1px #ccc; 
}



.table-3 td {
	background: none;
	color: #000;
	padding: 6px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	vertical-align: top; 
}


.table-3 .th-item {
	text-align: left;
	width: 360px;
}


.table-3 .th-price {
	text-align: left;
	width: 80px;
}


.table-3 .th-quantity {
	text-align: center;
	width: 60px;
}


.table-3 .th-total {
	text-align: right;
	width: 160px;
}



.table-3 .td-item {
	font-weight: bold;
}




.table-4 td {
	background: none;
	color: #000;
	padding: 6px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	vertical-align: top; 
	text-align: right;
}


.table-4 td.label {
	width: 545px;
}

.table-4 td.value {
	width: 170px;
}

.table-4 tr.grand-total > td {
	border-top:solid 1px #ccc; 
	font-weight: bold;
	font-size: 95%;
}







