@charset "utf-8";
/* CSS Document */



#main-tile-grid, 
#quick-search-tile-grid {
    width: 640px;
    height: auto;   
    margin-top: 5px;
    
    float: left;
}


.list-table-header {
    width: 100%;
    float: left;
}

#catalog-side-bar-wrapper {
    width: 200px;
    min-height: 300px;
    height: auto;
    margin-right: 30px;
    margin-top: 10px;
    
    float: right;
}

#catalog-side-bar {
    list-style: none;

    width: 200px;
    min-height: 300px;
    height: auto;
    
    text-align: left;
    border-left: dotted 1px #660;
   
    border:solid 6px rgba(80, 80, 80, .2);
    padding:10px 10px 5px 10px;

    border-radius:15px;	
    -moz-border-radius:15px;	
    -webkit-border-radius:15px;

    box-shadow: 2px 2px 3px rgba(0,0,0,.7) inset;
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.7) inset;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.7) inset;
    
    z-index: 200;
}


#catalog-side-bar > li, 
#catalog-side-bar > a > li {
    list-style: none;
    display: block;
    padding: 0px 0px;
    width: 100%;
    float: left;

}


#catalog-side-bar > a > li.sb-section-header {
    position: relative;
    display: block;
    font-size: 75%;
    border-bottom: dotted 1px #660;
    padding-bottom: 5px;
    margin-bottom: 10px;
}



#catalog-side-bar > li.sb-section-body-wrapper {

    margin-bottom: 5px;
    padding-bottom: 25px;
    border-bottom: dotted 1px #660;
}

.sb-section-body {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0px 0px!important;

    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
}


.category-section-wrap {
    border: dashed 1px transparent;
}


.sb-section-body > li {
    position: relative;
    display: block;
    width: 100%;
    min-height: 15px;
    list-style: none;
    padding: 0px 0px;
    margin: 2px 0px;
    text-indent: 5px;
    font-size: 75%;
    text-align: left;
    
    float: left;

    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
}


.sb-section-body > li > .main-anchor {
    width: 82%;
    margin: 0px 0px;
}

.sb-section-body > li > .dashboard {
    position: relative;
    display: inline-block;
    float: right;
    margin: 0px 0px;
    padding: 0px 0px;
    
    width: auto;
}

.sb-section-body > li > .dashboard a {
    position: relative;
    display: inline-block;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 12px;
}

.sb-section-body > li > .dashboard a > span[class*="icon-"]:before {
    position: relative;
    display: inline-block;
    top: 0px;
    left: -12px;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 12px;
}

.sb-section-body > li > .dashboard a > span[class*="icon-"] {
    position: relative;
    display: inline-block;
    color: #555;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 12px;
    
    opacity:0; 
    -moz-opacity:0; 
    filter:Alpha(opacity=0); 
}
.sb-section-body > li:hover > .dashboard a > span[class*="icon-"] {
    
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
}

.sb-section-body > li > .dashboard a:hover > span[class*="icon-"] {
    color: #888;
}

.sb-section-body > li > a {
    
}
.sb-section-body > li > a:hover {
    color: #aaa;
}

.sb-section-body > li.current > a {
    font-weight: bold;
    color: #aa0;
}

.category-tile-drag-over-state {
    background: #440;
}

.sb-section-body > li.user-status:before {
        height: 6px;
        width: 6px;
        
        position: relative;
        left: -1px;
        top: 3px;
        
        float: left;
}


.sb-section-body .notice {
    position: relative;
    display: block;
    width: 100%;
    margin: 2px 4px;
    padding: 0px 0px;
    text-indent: 0px;
    font-size: 11px!important;
    text-align: left;
    
    
}


li#task-bar {
        display: none;
	list-style:none;
	margin:0px 0px;
	padding:0px 0px;
	
	height:50px;
        width: 100%;
	
	border-bottom:dotted 1px #046;
	text-align:left;
        
        float: left;
	
}



li#task-bar > .circular-button > span.button-label {
    position: relative;
    top: -3px;
    left:0px;
    font-size: 80%;
    line-height:130%;
    text-align: left;
    margin-right: 10px;
}

li#task-bar > .circular-button > span[class*="icon-"]:before {
    display: inline-block;
    height: 15px;
    width: 15px;
    color: #000;
    text-align: center;
    font-size: 90%;
    background: #fff;
    padding: 5px;
    margin: 5px 6px 5px 0px;
    border-radius:50%;	
    -moz-border-radius:50%;	
    -webkit-border-radius:50%;
}



li#task-bar > .circular-button:hover > span[class*="icon-"]:before {
    color: #046;
    background: #000;
}



li#task-bar > .circular-button > span.active.icon-checkmark:before {
    background: #f00;
    color: #fff;
}


li#task-bar > .circular-button > span.button-label {
    
}




li.list-table-header {
    
}


.tiles-wrapper {
    
   /*
   position: absolute;
   top: 70px;
   left: 0px;
   */

   width: 640px;
   height: auto;
}

.product-tile-wrapper {
   position: relative;
   display: block;
   float: left;
   margin: 5px;
   padding: 0;
   /*padding-bottom: 1px;*/
   width: 150px;
   height: 150px;
   color: #aaa;
   overflow: hidden;
   text-decoration: none;
   background-color: #333;
   outline: solid 2px transparent;
   
   
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
}



.product-tile-wrapper.drag-state {
    box-shadow: 1px 2px 6px rgba(0,0,0,.4);
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0,.4);
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0,.4);
}

.product-tile-wrapper:hover .product-tile-dashboard-wrapper:after, 
.product-tile-wrapper.drag-state  .product-tile-dashboard-wrapper:after {
        display: block;
        content: "\e1ee";
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
        
        
        font-size: 120%;
        position: absolute;
        top: 3px;
        right: 6px;
}


.product-tile-wrapper.selected .product-tile-dashboard-wrapper, 
.product-tile-wrapper:hover .product-tile-dashboard-wrapper {

   top: 0px;
   background-color: rgba(0, 0, 0, .7);
}




.product-tile-wrapper.drag-state:before, 
.product-tile-wrapper.drag-state .show-product-stats-button,
.product-tile-wrapper.drag-state .product-tile-dashboard {
    display: none;
}



.product-tile-add-button {
   position: relative;
   display: block;
   float: left;
   margin: 5px;
   padding: 0;
   padding-top: 40px;
   width: 146px;
   height: 106px;
   overflow: hidden;
   text-decoration: none;
   background-color: transparent;
   border: dashed 1px #555;
   
   
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.product-tile-add-button > div {
   color: #555;
   
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.product-tile-add-button:hover {
   color: #777;
   border: dashed 1px #777;
}

.product-tile-add-button:hover > div {
   color: #777;
}

#quick-search-tile-grid {
    display: none;
}

#quick-search-tile-grid > .tiles-wrapper > .no-results {
    display: block;
    width: 350px;
    padding: 8px 8px;
    margin: 5px auto;
    
    border-radius:7px;	
    -moz-border-radius:7px;	
    -webkit-border-radius:7px;
    
    background: rgba(0, 0, 0, .2);
    color: #660;
    font-size: 90%;
    
    cursor: pointer;
}

#quick-search-tile-grid > .tiles-wrapper > .no-results:hover {
    background: rgba(0, 0, 0, .5);
}




.product-thumb-wrapper {
   position: absolute;
   top: 0px;
   left: 0px;
   display: block;
   float: left;
   margin: 0px;
   padding: 0px;
   width: 150px;
   height: 150px;
   overflow: hidden;
   background-color: transparent;
   z-index: 1;
}


.product-tile-dashboard-wrapper {

   position: absolute;
   top: 100px;
   left: 0px;
   display: block;
   float: left;
   text-align: left;
   margin: 0px;
   padding: 0px;
   width: 150px;
   height: 150px;
   overflow: hidden;
   background-color: transparent;
   background-color: rgba(0, 0, 0, .3);
   z-index: 4;
   
   

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}



.product-tile-dashboard-wrapper > .header {
   margin-top: 3px;
   margin-left: 10px;
   text-align: left;
   font-size: 80%;
   color: #fff;
   
   width: 75%;
   height: 45px;
   max-height: 45px;
}



.product-tile-dashboard-wrapper > .text1 {
   margin-left: 10px;
   text-align: left;
   font-size: 70%;
   color: #ccc;
}

.product-tile-dashboard-wrapper > .text1.reference-code {
    display: none;
    color: #dd0;
}



.numbered:before {
    z-index: 3;
    border-radius:0px;	
    -moz-border-radius:0px;	
    -webkit-border-radius:0px;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
    opacity:1; 
    -moz-opacity:1; 
    filter:Alpha(opacity=100); 
}




.numbered:hover:before {
    opacity:0; 
    -moz-opacity:0; 
    filter:Alpha(opacity=0); 
}





.low-stock {
    /* outline: solid 2px rgba(100, 100, 0, .5); */
}

    .low-stock:before {
        background: #046;
        background: rgba(150, 150, 0, .6);
    }
    
    
.out-of-stock {
    /* outline: solid 2px rgba(200, 0, 0, .5); */
}

    .out-of-stock:before {
        background: #f00;
        background: rgba(200, 0, 0, .6);
    }


.product-tile-wrapper .featured-icon {
    position: absolute;
    display: none;
    
    top: 5px;
    right: 17px;
    
    height: 0px;
    width: 0px;
    
    font-size: .8em;
    color: #aa0;
    
    z-index: 3;
    border-radius:0px;	
    -moz-border-radius:0px;	
    -webkit-border-radius:0px;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
    opacity:1; 
    -moz-opacity:1; 
    filter:Alpha(opacity=100); 
}
    


.product-tile-wrapper.featured .featured-icon { 
    display: block;
}
    


.product-tile-wrapper.featured:hover .featured-icon { 
    display: none;
}

    
.product-tile-dashboard {
    display: block;
    width: 95%;
    min-height: 30px;
    height: auto;
    position: absolute;
    bottom: 10px;
    left: 0px;
    
    
    padding: 0px 4px!important;
    text-align: left;
}




.product-tile-dashboard li {
    position: relative;
    display: block;
    
    list-style: none;
    float: left;
    text-align: center;
    margin: 0px 5px 0px 4px;
    font-size: 70%;
    color: #fff;
    
}


.product-tile-dashboard li > span {
    display: block;
}

.product-tile-dashboard li > span.button-label {
    height: 5px;
    line-height: 5px;
}


.show-product-stats-button {
    
}

.show-product-stats-button:hover > .info-charms {
    background: rgba(0, 0, 0, .2);
}

.info-charms {
    width: 90%;
    height: 20px;
    
    text-align: left;
    
    margin: 15px 5px 5px 5px;
    padding: 0px 0px 3px 5px!important;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
}


.info-charms > li {
    list-style: none;
    float: left;
    text-align: left;
    
    margin: 0px 5px!important;
    padding: 0px 0px!important;
    font-size: 70%;
    color: #fff;
}

.info-charms > li:before {
    position: relative;
    bottom: -3px;
    font-size: 140%;
    margin: 0px 3px 0px 0px;
}



.product-tile-wrapper.selected.numbered:before,
.product-tile-wrapper.selected .info-charms, 
.product-tile-wrapper.selected .circular-button > li {
    display: none; 
}

.product-tile-wrapper.selected #product-tile-select-button > li {
    display: block; 
    float: right;
    margin-right: 15px;
}


.product-tile-wrapper.selected .icon-checkmark:before {
    background: #f00;
    color: #fff;
}






/*

BB/MAC-SETTINGS/FB-APP TYPE CONTEXT MENU

*/

#task-bar-menu-button {
    display: block;
    position: relative;
}


#task-bar-menu-button > .count {
    display: inline-block;
    position: relative;
    
    min-width: 16px;
    height: auto;
    
    padding: 2px 0;
    margin: 0 0;
    
    text-align: center;
    font-size: 0.8em;
    
    
    border-radius:2px;	
    -moz-border-radius:2px;	
    -webkit-border-radius:2px;
    
    color: #fff;
    background: #f00;
}

#task-bar-menu-button > span[class*="icon-"] {
    display: inline-block;
    position: relative;
    
    margin-right: 6px;
    padding: 0 0;
    width: 0px;
    height: 20px;
}


#task-bar-menu-button > span[class*="icon-"]:before {
    display: none;
}


.context-menu-wrapper {
    list-style: none;
    position: absolute;
    top: 290px;
    right: 30px;
    z-index: 10000;
    
    display: none;
    width: 250px;
    min-height: 100px;
    
    background:  url(../images/black_denim.png); /* rgba(0, 0, 0, .9); */
    border:solid 2px rgba(50, 50, 50, 1);

    border-radius:16px;	
    -moz-border-radius:16px;	
    -webkit-border-radius:16px;

    padding:10px 10px 10px 10px!important;

    box-shadow: 2px 2px 3px rgba(0,0,0,.7);
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.7);
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.7);

}


.context-menu-wrapper span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-bottom-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	top:-36px;
	right:40px;
	
}

.context-menu-wrapper li {
    position: relative;
    display: block;
    
    list-style: none;
    height: auto;
    width: 98%;
    
    margin: 0px auto;
    padding: 6px 0px;
    
    text-align: left;
    
    float: none;
    background: none;
    
    border-radius:4px;	
    -moz-border-radius:4px;	
    -webkit-border-radius:4px;
}


.context-menu-wrapper li > span.button-icon:before {
    font-size: 1em;
    
    margin-right: 10px;
    padding-left: 15px;
    width: 30px;
    
    float: right;
    
    color: #777;
    border-left: dashed 1px #777;
    
    /*
    text-shadow: 2px 2px 3px rgba(0,0,0,.7);
    -moz-text-shadow: 2px 2px 3px rgba(0,0,0,.7);
    -webkit-text-shadow: 2px 2px 3px rgba(0,0,0,.7);
    */
}



.context-menu-wrapper li > span.button-label {
    margin-left: 10px;
    font-size: 1em;
    color:#777;
}




.context-menu-wrapper a:hover li {
    
    background: #046;
    
}


.context-menu-wrapper a:hover li > span.button-label, 
.context-menu-wrapper a:hover li > span.button-icon:before {
    color: #fff;
}


.context-menu-wrapper > li.divider {
    height: 1px;
    width: 95%;
    
    padding: 0px 0px;
    margin: 10px 0px;
    border-top: dotted 1px #046;
}









.grp-dialog-box {
    display: none; 
    position:fixed; 
    top:40px; 
    left:490px; 
    width:380px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}


.grp-dialog-box > .button-1 {
    font-size: 90%;
}

.grp-dialog-box > .blue-button {
    font-size: 100%;
}


.grp-dialog-box > p > #select-target-id {
    min-width: 200px;
}

.grp-dialog-box .text-input-label {
    margin-left: 3px;
    font-size: 95%;
    color:#777; 
    letter-spacing: 1px;
}


.grp-dialog-box .yellow-hint-text {
    text-align: left;
    font-size: 80%;
    color:#660; 
    margin-top: 3px;
}


.message-bubble {
    z-index: 10003;
}




.coupon-code-field {
    font-size: 180%;
    border: solid 4px #222;
    color: #333!important; 
    font-family: 'CenturyGothicRegular', verdana, arial; 
    text-align: center;


    border-radius:10px!important;	
    -moz-border-radius:10px!important;	
    -webkit-border-radius:10px!important;
}


#coupon-store-id {
    position: relative;
    top: 8px;
}




select.discount-type {
    min-width: 40px!important;
}




.grp-dialog-box .field-group > div {
    margin: 0px 2px!important;
}

.grp-dialog-box .field-group > div > input {
    position: relative;
    top: -2px;
    margin: 2px 0px!important;
}

select.date-field {
    min-width: 40px!important;
    margin: 0px 0px!important;
}

input.discount-amount {
    width: 80px!important;
}


input.date-picker-checkbox {
    position: relative;
    top: 3px;
    margin-left: 5px;
}


label.date-picker-checkbox-label {
    color: #660;
    font-size: 90%;
    cursor: pointer;
    
}

span.large-label {
    position: relative;
    top: 5px;
    font-size: 120%;
    color: #333;
    font-weight: bold;
}



span.x-large-label {
    font-size: 180%;
    color: #333;
    font-weight: bold;
}




#text-field-coupon-code.invalid {
    border-color: #f00!important;
}



.sale-title-field {
    padding: 3px 1px;
}






/*
*
* CATEGORY DIALOG
*
*/


input.category-title-field {
}

.category-description {
    padding: 3px;
    min-width: 300px;
}

#banner-image-picker-wrapper {

    
}



.banner-image-picker-add-button {
        display: block;
        height: 100px;
        width: 350px;
        
        margin: 0px 0px;
        
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
	box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
	border:solid 4px rgba(70, 70, 70, .6);
        

        background-size: contain; 
        background-repeat: none; 
        background-position: center center;
        
        
	
}



.banner-image-picker-add-button > span[class*=icon-] {
	display:block;
        height: 40px;
        width: 50px;
        font-size: 300%;
        margin: 10px auto;
        
        text-align: left;

	
	opacity:.4; 
	-moz-opacity:.4; 
	filter:Alpha(opacity=40); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.banner-image-picker-add-button-a {	
    
}

.banner-image-picker-add-button-a:hover .banner-image-picker-add-button > span.icon-aperture {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}






/* RECYCLE BIN */

#main-recycle-bin-wrapper {
        display: none;
	position:absolute;
	right:60px;
	top:0px;
        
	border:solid 5px #222;
        border-top: none;
	background-image: url(../images/black_denim.png);
	
	height:140px;
	width:300px;
	
	border-radius:0px 0px 15px 15px;	
	-moz-border-radius:0px 0px 15px 15px;	
	-webkit-border-radius:0px 0px 15px 15px;
        
	box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -moz-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        
        z-index: 1500;
}



#main-recycle-bin {
	position:absolute;
	left:20px;
	top:20px;
	
	padding:0px;
	border:dashed 1px transparent;
	
	height:110px;
	width:110px;
	
	border-radius:55px;	
	-moz-border-radius:55px;	
	-webkit-border-radius:55px;

	background-image:url(../images/icons/trash-b-140x140.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:95% 95%;
	
	opacity:.4; 
	-moz-opacity:.4; 
	filter:Alpha(opacity=40); 

}


#main-recycle-bin:before {
	content:'';
	display:block;
	height:50px;
	width:100px;
	position:relative;
	
	top:-20px;
	left:80px;
	
	background-image:url(../images/dashed-arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:80% 80%;

	opacity:.9; 
	-moz-opacity:.9; 
	filter:Alpha(opacity=90); 

}


#main-recycle-bin:after {
	content:"To delete a something, drag it here.";
	display:block;
	height:100px;
	width:140px;
	
	position:relative;
	
	top:-40px;
	left:115px;
		
	background:none;
	font-size:75%;
	color:#aaa;
	text-align:left;


}


.recycle-bin-hover-state {
	
	border:dashed 1px #666!important;

	
}


