@charset "utf-8";
/* CSS Document */




#new-item-pane {
        display: none;
	position:fixed; 
	top:80px;
	left:25%;
	
	height:520px;
	width:688px;
	
	margin-top:0px!important;
	padding-top:0px!important;
	
	overflow:hidden;
	background-color:rgba(30, 30, 30, 0.5);

	border:solid 1px transparent;
	border-top:none;
	border-bottom:none;
	box-shadow: 1px -1px 5px rgba(0,0,0,0.7) inset;
	
	z-index: 10002;
        
        
        
	background-image: url(../images/black_denim.png);
	border:solid 10px rgba(100, 100, 100, .3);

	box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -moz-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
        
}


.scrollable-list-container {
    display: block;
    height: 205px;
    width: 620px;
    overflow-x: hidden;
    overflow-y: auto;
    
    border-bottom: solid 2px #000;
    border-left: solid 2px #000;
}



#new-item-pane > .cancel-button > .icon-close {
    position: absolute;
    top: 4px;
    right: 10px;
    
    height: 15px;
    width: 15px;
    
    font-size: 120%;
    color: #444;
    
    display: block;
    z-index: 405;
}

#new-item-pane > a.cancel-button:hover > .icon-close {
    color: #777;
}


#product-dialog-title {
    position: relative;
    
    display: block;
    text-align: center;
    
    margin: 0px auto;
    padding: 5px 0px;
    
    height: 30px;
    width: 100%;
    
    font-size: 110%;
    font-weight: bold;
    
    color: #777;
    background: #111;
    
    border-radius:10px 10px 0px 0px;	
    -moz-border-radius:10px 10px 0px 0px;	
    -webkit-border-radius:10px 10px 0px 0px;
    
    z-index: 400;
}


#product-dialog-title  .item-name {
    position: relative;
    display: inline-block;
    max-width: 80%;
   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#new-item-pane .uni-label > span.left {
    max-width: 50px;
}


#bread-crumbs {
    position: absolute;
    top: 55px;
    left: 0px;
    
    display: block;
    list-style: none;
    
    margin: 0px 0px;
    padding: 0px 0px;
    
    height: 20px;
    min-width: 600px;
    width: 100%;
    
    border-bottom: solid 1px #333;
    
    z-index: 400;
    
}


#bread-crumbs li {
    display: inline-block;
    position: relative;
    top: -2px;
    
    font-size: 70%;
    color: #444;
    
    margin: 0px 25px;
    
    
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


#bread-crumbs li:hover {
    color: #777;
}


#bread-crumbs li.active-crumb {
    color: #770;
}


section#bread-crumbs li.active-crumb:after {
	content:'';
	
	display:block;
	
        position: relative;
        top: -6px;
        left: 0px;
        
        margin: 0px auto;
        	
		
	width:0px;
	height:0px;
	
	border-width: 7px 7px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color:  #035;
        
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}





#bread-crumbs li:after {
	content:' ';
	
	display:block;
	
        position: relative;
        top: 0px;
        left: 0px;
        
        margin: 0px auto;
        	
		
	width:10px;
	height:10px;
	
	border: none;

        background: #333;
	
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}


#bread-crumbs li.active-crumb:after {
        
        background: #046;
}



#next-prev-handles {
	height:50px;
	width:100%;
	
	position:absolute;
	top:78px;
	left:0px;
	z-index:11;
}


.next-prev-button-1 {
    display: block;
    height: 30px;
    width: 30px;
    
    font-size: 190%;
    color: #333;
    margin: 10px;
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}




.next-prev-button-1:hover {

    color: #555;
}





/*
*	DESCRIPTIONS PANE (AND IN IT'S FRAMES)
*
*
*
*/

#delete-product-anchor-wrapper {
	position:absolute;
	left:90px;
	top:400px;
	
	padding:20px 0px;
        
        border-top: dotted 1px #046;
	border-bottom: dotted 1px #046;
	
	height:20px;
	width:230px;
	
        z-index: 200;

}



ul#frame-headers {
	height:50px;
	width:100%;
	
	position:absolute;
	top:78px;
	left:0px;
        
	list-style:none;
	padding-left:0px!important;
        padding-bottom: 6px;
        text-align: left;
        
        border-bottom: dotted 1px #046;
        
        
	background:none;
	z-index:10;
}



ul#frame-headers > li {
	width:100%;
	height:40px;
	display:none;
	
	font-size:120%;
	text-align:left;
	color:#888;
	
	margin-top:17px;
	
	/*border:solid 1px #fff;*/
}



ul#frame-headers > li > .active-frame-header {
	display:block;
	margin-left:50px;
}

ul#frame-headers > li > .next-frame-header {
	display:block;
        text-align: right;
	margin-right:50px;
	color: #222;
        color: rgba(100, 100, 100, .3);
}


ul#frame-headers > li:first-child {
	display:block;
}







ul#frame-header > li:before {
	position:absolute;
	left:20px;
	top:14px;
	content:attr(label);
	color:#fff;
	font-size:120%;
	text-align:center;
	line-height:75%;
	
	background:none;
	
	height:15px;
	width:15px;
	float:left;
	
	margin:0px 0px 0px 0px;
	padding:5px;
	
	border:solid 4px rgba(255, 255, 255, .2);
	
	border-radius:17px;	
	-moz-border-radius:17px;	
	-webkit-border-radius:17px;
}







/* RECYCLE BIN */

#recycle-bin-wrapper {
        display: none;
	position:absolute;
	right:60px;
	top:0px;
        
	border:solid 5px #222;
        border-top: none;
	background-image: url(../images/black_denim.png);
	
	height:140px;
	width:300px;
	
	border-radius:0px 0px 15px 15px;	
	-moz-border-radius:0px 0px 15px 15px;	
	-webkit-border-radius:0px 0px 15px 15px;
        
	box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -moz-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        
        z-index: 500;
}



#recycle-bin {
	position:absolute;
	left:20px;
	top:20px;
	
	padding:0px;
	border:dashed 1px transparent;
	
	height:110px;
	width:110px;
	
	border-radius:55px;	
	-moz-border-radius:55px;	
	-webkit-border-radius:55px;

	background-image:url(../images/icons/trash-b-140x140.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:95% 95%;
	
	opacity:.4; 
	-moz-opacity:.4; 
	filter:Alpha(opacity=40); 

}


#recycle-bin:before {
	content:'';
	display:block;
	height:50px;
	width:100px;
	position:relative;
	
	top:-20px;
	left:80px;
	
	background-image:url(../images/dashed-arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:80% 80%;

	opacity:.9; 
	-moz-opacity:.9; 
	filter:Alpha(opacity=90); 

}


#recycle-bin:after {
	content:"To delete a PHOTO, COLOR or SIZE, drag it's button unto the circle on the left.";
	display:block;
	height:100px;
	width:140px;
	
	position:relative;
	
	top:-40px;
	left:115px;
		
	background:none;
	font-size:75%;
	color:#aaa;
	text-align:left;


}


.recycle-bin-hover-state {
	
	border:dashed 1px #666!important;

	
}





/*
*	SUBPANES + SUBPANE STRIP
*
*
*
*/


#sub-pane-strip {
	width:4000px;
	height:500px;
	
	position:absolute;
	top:135px;
	left:0px;
	
	
}


.sub-pane {
	position:relative;
	width:688px;
	height:500px;
	background-image: url(../images/black_denim.png);
        	
	float:left;
        
        margin: 0px 10px;
        display: block;
	
	
}








.glass-pane {
    display: none;
    position:absolute;
    top: 0px;
    
    width:688px;
    height:525px;
    background-image: url(../images/transparent_pixel.gif);

    margin: 0px 0px;
    
    z-index: 410;
}



.glass-pane > div.inner-wrap {
	display:block;
	
	position:relative;
	left: 0px;
	
	width:600px;
	height:300px;
        
	margin:5px auto;
        margin-top: 115px;
        
        
	background:rgba(0, 0, 0, .8);
	border:solid 2px rgba(50, 50, 50, 1);
	
	border-radius:16px;	
	-moz-border-radius:16px;	
	-webkit-border-radius:16px;
	
	box-shadow: 2px 2px 3px rgba(0,0,0,.7);

        /*
	border:solid 5px rgba(50, 50, 50, .7);
	
        background-image: url(../images/black_denim.png);
        */
        
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	box-shadow: 1px 1px 2px rgba(0,0,0,.6);
}




.glass-pane > div.clear-button {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    background: transparent;
    
    z-index: 1;
}


.glass-pane > div.inner-wrap > a.cancel-button > .icon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    
    height: 15px;
    width: 150px;
    
    font-size: 75%;
    font-weight: bold;
    line-height: 8px;
    text-align: right;
    color: #770;
    
    display: block;
    z-index: 405;
}

.glass-pane > div.inner-wrap > a.cancel-button > .icon-close:before {
    position: relative;
    float: right;
    margin-left: 5px;
    
    font-size: 150%;
    color: #444;
}

.glass-pane > div.inner-wrap > a.cancel-button:hover > .icon-close:before {
    color: #777;
}










/*
*	FRAME 1: PRODUCT NAME AND DESCRIPTION
*
*
*
*/


#frame_1 {
	padding:0px 0px 0px 0px;
	margin:0px auto;
}


#product_info_setup {
	
	display:block;
	width:380px;
	height:450px;
	
	position:relative;
	top:10px;

	margin:0px auto;
	padding:0px 0px 0px 0px;
	
	float:left;
	/* border-right:dashed 1px #330; */
	
	
}


#product_info_form_wrapper {
	border-bottom:solid 1px #222;
	padding-bottom:20px;
}


#product_info_setup input[type="text"], #product_info_setup textarea {
        position: relative;
	display:block;
	border:solid 4px rgba(50, 50, 50, .4);
	width:350px;
	
	margin:5px auto;
	
	background:none;
	color:#999;
	
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	box-shadow: 1px 1px 2px rgba(0,0,0,.6) inset;
}


#product_info_setup input[type="text"]:focus, #product_info_setup textarea:focus {
	background:#fff;
	border:solid 4px rgba(40, 40, 40, 1);
	color:#555;
}




#item_name {
	font-size:100%;
	
}

#product_info_setup textarea {
	font-size:70%;
	
}


#item-name-status, #item-description-status {
	display:block;
	
	width:350px;
	height:15px;
	text-align:right;
	
	color:#555;
	
}





#product_info_setup #rtf-editor-wrapper {
    display: block;
    position: relative;
    border:solid 4px rgba(50, 50, 50, .4);
    width:350px;
    height: 260px;

    margin:5px auto;

    background:none;
    color:#222;

    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;

    box-shadow: 1px 1px 2px rgba(0,0,0,.6) inset;
}


#product_info_setup #rtf-editor-wrapper > div.inner-wrap {
    display: block;
    position: relative;
    width:100%;
    height: 100%;
    background-image: url(../images/paper-bg.jpg);
    
    text-align: left;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    box-shadow: 1px 1px 2px rgba(0,0,0,.6) inset;
}


#product_info_setup #rtf-editor-wrapper #toolbar {
    padding: 5px;
    border-bottom: dotted 1px #999;
}


#product_info_setup #rtf-editor-wrapper #toolbar .editor-save-button {
    display: none;
    
    border: solid 1px #aaa;
    background: #057;
    color: #fff!important;
    font-family: 'CenturyGothicRegular', verdana, arial; 


    cursor: pointer;
    text-shadow: 1px 1px #555;
    font-size: 0.7em;
    
    padding: 2px 10px;
    margin: 0 0;
    margin-right: 2px;

    float: right;
    
    border-radius:3px;	
    -moz-border-radius:3px;	
    -webkit-border-radius:3px;
}




#rtf-editor-wrapper .ql-container {
    height: 80%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#rtf-editor-wrapper .rtf-editor-status-bar {
    display: block;
    position: relative;
    
    height: 20px;
    max-height: 20px;
    
}


#rtf-editor-wrapper .rtf-editor-status-bar > span.text {
    font-size: 0.7em;
    color: #777;
    
    margin: 0 4px;
}


#rtf-editor-wrapper .rtf-editor-status-bar span.dot {
    display: none;
    height: 8px;
    width: 8px;
    
    float: right;
    
    padding: 0 0;
    margin: 2px 2px;
    margin-right: 8px;
    
    background: #777;
    
    border-radius:50%;	
    -moz-border-radius:50%;	
    -webkit-border-radius:50%;
}





::-webkit-input-placeholder {
	color:#777;
}

:-moz-input-placeholder {
	color:#777;
}

:-ms-input-placeholder {
	color:#777;
}




#base-image-preview-wrapper {
	
	display:block;
	width:285px;
	height:480px;
	
	position:relative;
	top:0px;
        right: 0px;

	margin:0px auto;
        margin-left: 10px;
	padding:0px 0px 0px 0px;
	
	float:left;
	border:none;
        
        
	box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
        -moz-box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
        -webkit-box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
        
        /*
	border-radius:10px;	
	-moz-border-radius:10px;	
	-webkit-border-radius:10px;
        */
	
	
}




#base-image-preview {
	display:block;
	
	position:relative;
	left: 0px;
	
	width:250px;
	height:250px;

	border:solid 4px rgba(50, 50, 50, .7);
	margin:5px auto;
	
	background:url(../images/transparent_pixel.gif) no-repeat;
	background-size: contain;
        background-position: center center;

        
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	box-shadow: 1px 1px 2px rgba(0,0,0,.6) inset;
}


#base-image-drop-label {	
	width:210px;
	height:150px;
	
	display:block;
	border:none;
	
	margin:10px auto;
	position:relative;
	top:20px;
	
	color:#555;
	font-size:90%;
	text-align:center;
}


#base-image-drop-label:after {
	content:'';
	
	display:block;
	
	margin:10px auto;
		
	width:120px;
	height:120px;
	border:none;
	
	background-image:url('../images/icons/drop-b-100x100.png');
	background-position:center center;
	background-size:contain;
	background-repeat:no-repeat;
	
	opacity:.3; 
	-moz-opacity:.3; 
	filter:Alpha(opacity=30); 
	
}



.base-image-preview-drag-over {
	border:solid 4px rgba(100, 100, 100, .7)!important;
}

#base-image-preview-status {
	display: none;
	text-align:right;
	color:#555;
        
        float: right;
        position: relative;
        top: -20px;
        left: -20px;
	
	width:250px;
	height:20px;

	z-index:200;	
	
}


#base-image-uploader.droppable-uploader-area {
	display: block;
	position: absolute;
        top: 0px;
	left: 0px;
	
	width:250px;
	height:250px;
        
        background: none;
	z-index:15;
}

#base-image-uploader.droppable-uploader-area .dropper-dropzone {
    height: 250px;
    border: none;

}

#base-image-preview .quick-remove-button.circular-button {
    top: 5px;
    right: 25px;
}

#base-image-preview:hover .quick-remove-button.circular-button {

	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100);
        
}





/*
#base-image-uploader.droppable-uploader-area.dropper:hover .dropper-dropzone{
    
    background-image:url('../images/icons/drop-b-100x100.png');
    background-position:center center;
    background-size: 100px 100px;
    background-repeat:no-repeat;
    
    opacity:.3; 
    -moz-opacity:.3; 
    filter:Alpha(opacity=30); 
}
*/


#base-image-picker-outer-wrapper {
        position: relative;	
        display: block;
	width:270px;
	height:auto;
	
	margin:0px auto;
        margin-left: 10px;
}


#base-image-picker-wrapper {
        position: relative;
        display: block;
	list-style:none;
        
        float: left;
	
        min-width: 0px;
        width: auto;
	width:210px;
	height:55px;
        overflow: hidden;
	
	margin:10px 0px;
        margin-left: 15px;
	padding:4px 0px 0px 0px!important;
}


.section-header-1 {
	text-align:left;
	color:#444;
	font-size:90%;
	
	margin:5px auto;
	
	font-weight: bold;
	
}

#base-image-picker-wrapper li {
	width:40px;
	height:50px;
	
	float:left;
	margin:0px 7px 10px 0px;
	
}

#base-image-picker-wrapper li:last-child {
        margin-left: 5px;
}



.base-image-picker-thumb-button {
        position: relative;
        display: block;
        
        float: left;
	width:40px;
	height:50px;
        
	
	border:solid 2px #555;
	cursor: url('../images/openhand.cur') 4 4, pointer;
	list-style:none;
	
	background-image:url('../images/transparent_pixel.gif');
	background-position:top center;
	background-size:cover;
	background-repeat:no-repeat;
	
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
}

.base-image-picker-thumb-button:hover .circular-button {

	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100);
        
}





li.base-image-picker-add-button {
    margin-right: 0px!important;
    margin-top: 0px;
	/*border:dashed 1px #555!important;*/
}


.base-image-picker-add-button:before {
	content:'';
	display:block;
	width:40px;
	height:50px;
	border:dashed 1px #777;
	
	background-image:url('../images/icons/add-g-30x30.png');
	background-position:center center;
	background-size:contain;
	background-repeat:no-repeat;
	
	opacity:.4; 
	-moz-opacity:.4; 
	filter:Alpha(opacity=40); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.base-image-picker-add-button-a {
        position: relative;
        display: block;
        
        float: left;
	width:40px;
	height:50px;
	margin:14px 0px 10px 0px;
}

.base-image-picker-add-button-a:hover .base-image-picker-add-button:before {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}





.base-image-picker-index-button:before {
	content:'';
	display:block;
	width:40px;
	height:50px;
	border:solid 1px #777;
        
	border-radius:3px;	
	-moz-border-radius:3px;	
	-webkit-border-radius:3px;
	
	background-image:url('../images/icons/index-icon-2.png');
	background-position:center center;
	background-size:32px 32px;
	background-repeat:no-repeat;
	
	opacity:.4; 
	-moz-opacity:.4; 
	filter:Alpha(opacity=40); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.base-image-picker-index-button-a {	
}

.base-image-picker-index-button-a:hover .base-image-picker-index-button:before {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}








#product-photo-widget-wrapper {
    display: none;
    
}



#product-photo-widget-wrapper > div.inner-wrap {
	display:block;
}


#product-photo-widget-wrapper > div.inner-wrap > span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:20px 16px;
	border-top-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	bottom:-42px;
	right:210px;
	
}

#product-photo-widget-wrapper > div.inner-wrap > span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-top-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	bottom:-13px;
	right:-12px;
	
}





#photo-widget-uploader.droppable-uploader-area {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    
    color: #555;
    
    width:600px;
    height:300px;
    background: rgba(0, 0, 0, 0);
    background: transparent;
    
    z-index: 2;
}


#photo-widget-uploader.droppable-uploader-area .dropper-dropzone {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width:600px;
    height:300px;
    border: none;

}




#photo-widget-drop-label {
        position: absolute;
	display:none;
	width:100%;
	height:150px;
        
        top: 80px;
        left: 0px;
	
	border:none;
	
	
	color:#555;
	font-size:90%;
	text-align:center;
        
        background: none;
}

div#photo-widget-drop-label > div {
	font-size:600%;
}








#product-photo-widget-wrapper.active #photo-widget-uploader.droppable-uploader-area {
    z-index: 200;
    background: rgba(30, 30, 0, 0.5);
    
    border:solid 1px #660!important;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    text-align: center;
}


#product-photo-widget-wrapper.active div#photo-widget-drop-label {
    display: block;
}








#product-photo-widget-thumbs {
	
	position:relative;
	list-style:none;
        width: 560px;
        height: 240px;
        
        margin: 0px auto;
        margin-top: 30px;
        
        border: none;
        padding: 0px;
        padding-top: 10px;
	
        z-index: 3;
}


div.product-photo-widget-thumb-button {
	position:relative;
	width:100px;
	height:100px;
        overflow: hidden;
	
	float:left;
	margin:0px 4px 10px 0px;
        padding: 2px 2px;
        
	border: solid 2px #770; /* rgba(50, 50, 50, 0); */
        border-color: transparent;
        
        /*
	cursor: url('../images/openhand.cur') 4 4, pointer;
	list-style:none;
	*/
        
	background-image:url('../images/transparent_pixel.gif');
	background-position:top center;
	background-size:cover;
	background-repeat:no-repeat;
	
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
}



div.product-photo-widget-thumb-button:hover {
	border: solid 2px #770;
}



div.product-photo-widget-thumb-button > div.inner-wrap {
	position:relative;
	width:98px;
	height:98px;
        overflow: hidden;
	
	margin:0 0;
        
	border: none;
        
        /*
	cursor: url('../images/openhand.cur') 4 4, pointer;
	list-style:none;
	*/
        
	background-image:url('../images/transparent_pixel.gif');
	background-position:top center;
	background-size:cover;
	background-repeat:no-repeat;
	
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
}






#product-photo-widget-wrapper .thumb-dashboard-wrapper {

   position: absolute;
   top: 0px;
   left: 0px;
   display: none;
   text-align: left;
   margin: 0px;
   padding: 0px;
   width: 100px;
   height: 100px;
   overflow: hidden;
   background-color: transparent;
   background-color: rgba(0, 0, 0, .2);
   z-index: 4;
}


div.product-photo-widget-thumb-button:hover > div.inner-wrap > div.thumb-dashboard-wrapper {
   display: block!important;
}



#product-photo-widget-wrapper .thumb-dashboard-wrapper > .header {
   margin-top: 3px;
   margin-left: 10px;
   text-align: left;
   font-size: 80%;
   color: #fff;
   
   width: 75%;
}



#product-photo-widget-wrapper .thumb-dashboard-wrapper > .text1 {
   margin-left: 10px;
   text-align: left;
   font-size: 70%;
   color: #ccc;
}

#product-photo-widget-wrapper .thumb-dashboard-wrapper > .text1.reference-code {
    color: #dd0;
}




#product-photo-widget-wrapper .thumb-dashboard {
    display: block;
    width: 80%;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 12px;
    
    padding: 0px 4px!important;
    text-align: left;
    z-index: 10;
}

#product-photo-widget-wrapper .thumb-dashboard-wrapper > div.clear-button {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    background: transparent;
    
    z-index: 5;
}


#product-photo-widget-wrapper .thumb-dashboard li {
    list-style: none;
    float: right;
    text-align: center;
    margin: 0px 5px 0px 4px;
    font-size: 70%;
    color: #fff;
}

#product-photo-widget-wrapper .circular-button > li > span:before {
    background: #046;
    background: rgba(0, 100, 140, .5);
    color: #fff;
}

#product-photo-widget-wrapper .circular-button:hover > li > span:before {
    background: rgba(0, 100, 140, .8);
}



.product-photo-widget-thumb-add-button-a {
	position:relative;
        display: block;
	width:100px;
	height:100px;
	
	float:left;
}


.product-photo-widget-thumb-add-button-a:hover .product-photo-widget-thumb-button.add-button:before {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80);
        text-decoration: none; 
}


.product-photo-widget-thumb-button.add-button {
   padding: 0;
   padding-top: 20px;
   margin-top: 5px;
   width: 98px;
   height: 78px;
   text-decoration: none;
   background-color: transparent;
   border: dashed 1px #555;
   
    cursor: pointer;
   
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
   
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.product-photo-widget-thumb-button.add-button > div {
   color: #555;
   
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.product-photo-widget-thumb-button.add-button:hover {
   color: #777;
   border: dashed 1px #777;
}

.product-photo-widget-thumb-button.add-button:hover > div {
   color: #777;
}








/*
*	FRAME 2: CATEGORY TILES (WHEN CHOOSING PRODUCT CATEGORY)
*
*
*
*/

#frame_2 {
	padding:0px 0px 0px 0px;
	margin:0px 0px;
            
}



ul.picker-tiles {
	width:650px;
	height:463px;
	position:relative;
	top:0px;
	left:10px;
	overflow:scroll;
	overflow-x: hidden;
	
	padding:20px 0px 10px 30px;
	margin:0px auto;
     

}




ul.picker-tiles li {
        position: relative;
	list-style:none;
	
	width:100px;
	height:100px;
	margin:0 5px 5px 0;
	
	float:left;
	
	background:#333;

}


a.picker-tile-link:link,  
a.picker-tile-link:focus, 
a.picker-tile-link:hover, 
a.picker-tile-link:visited,
a.picker-tile-link:active {
	color:#fff;
	
		
}


a.picker-tile-link:hover h2.picker-tile-label {
	background-color:rgba(0, 0, 0, .3);
	color:#fff;
}

h2.picker-tile-label {
	width:80px;
	height:74px;
	margin:10px 10px;
	padding:3px 0px;
	
	color:#000;
	font-weight:bold;
	font-size:70%;
	text-align:center;
	
	border-radius:10px;	
	-moz-border-radius:10px;	
	-webkit-border-radius:10px;

	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
		
}

.picker-tile-select-state > li.picker-tile {
	background:#0ac!important;
}


.picker-tile-select-state.blue > li.picker-tile {
	background:#0ac!important;
}


.picker-tile-select-state.green > li.picker-tile {
	background:#0ca!important;
}


.picker-tile-select-state.red > li.picker-tile {
	background:#c55!important;
}


.picker-tile-select-state.yellow > li.picker-tile {
	background:#cc3!important;
}


.picker-tile-select-state.grey > li.picker-tile {
	background:#ccc!important;
}



.picker-tile-select-state h2.picker-tile-label {
	background-color:rgba(0, 0, 0, .3);
	color:#fff;
}

 


.picker-tile-select-state > li.picker-tile:before {
    display: inline-block; /* inline-block; */
    content: '\e03c';
    position: absolute;
    bottom: 5px;
    right: 5px;
    
    font-family: 'IcoMoon';
    font-style: normal;
    speak: none;
    
    height: 15px;
    width: 15px;
    color: #f00;
    text-align: center;
    font-size: 90%;
    background: #fff;
    padding: 5px;
    margin: 5px 6px 5px 0px;
    border-radius:50%;	
    -moz-border-radius:50%;	
    -webkit-border-radius:50%;
}






h2.picker-tile-label[icon="up"] {
	background-position:center;
	background-repeat:no-repeat;
}

h2.picker-tile-label[icon="tag"] {
	background-position:center;
	background-repeat:no-repeat;
}














/*
*	FRAME 4, 5, 6
*
*
*
*/




#frame-4 ul, 
#frame-5 ul, 
#frame-6 ul {
    list-style: none;
    margin: 20px auto;
    padding: 0px 0px;
    
    width: 620px;
    height: auto;

}


#frame-4 ul li.table-row,  
#frame-5 ul li.table-row, 
#frame-6 ul li.table-row {
    position: relative;
    display: block;
    list-style: none;
    margin: 0px auto;
    padding: 0px 0px;
    
    text-align: left;
    
    border-bottom: dotted 1px #333; /*#046; */
    min-height: 50px;
}


#frame-4 ul li.table-header,
#frame-5 ul li.table-header, 
#frame-6 ul li.table-header  {
    position: relative;
    list-style: none;
    margin: 0px auto;
    padding: 0px 0px;
    
    text-align: left;
    
    border-bottom: dotted 1px #046;
    min-height: 40px;
}








/*
*	FRAME 4: PRODUCT OPTIONS
*
*
*
*/



#frame-4 {
    
    
    
}


#frame-4 ul li.table-row {
    padding: 5px 0px;
}




#frame-4 ul li.table-row .uni-label {
    margin-bottom: 8px;
}

#frame-4 ul li.table-row .dimmer {
    position: absolute;
    top: 0px;
    display: none;
    width: 100%;
    height: 100%;
    
    padding: 0 0;
    margin: 0 0;
    
    background: transparent;
    background: rgba(0, 0, 0, .3);
    z-index: 3;
}

.product-option-title > .text {
    position: relative;
    display: inline-block;
    background: #222;
    color: #fff;
    padding: 2px 5px!important;
    
    vertical-align:top;
    
    height: 17px;
    min-width: 70%;
    width: auto;
    
    white-space: normal;
    font-size: 10px;
    
    border-radius: 5px;	
    -moz-border-radius: 5px;	
    -webkit-border-radius: 5px;
    
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

.product-option-title > .tile-num {
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    color: #333;
    
    vertical-align:top;
    
    font-size: 3em;
}

#product-option-task-bar-wrapper {
   
   margin-bottom: 10px!important;
 
}




#product-option-task-bar {
        display: block;
	list-style:none;
	margin:0px 0px;
	padding:0px 0px 0px 10px;
	
	height:40px;
        width: 250px;
        background: #111;

	text-align:left;
        
        float: left;
	
        border-radius:7px;	
        -moz-border-radius:7px;	
        -webkit-border-radius:7px;
}

#product-option-task-bar > .circular-button {
    margin-top: 5px;
}

#product-option-task-bar > .circular-button > span.button-label {
    position: relative;
    top: 0px;
    left:0px;
    font-size: 80%;
    color: #777;
    line-height:130%;
    text-align: left;
    margin-right: 8px;
}

#product-option-task-bar > .circular-button > span[class*="icon-"]:before {
    display: inline-block;
    height: 10px;
    width: 10px;
    color: #111;
    text-align: center;
    font-size: 10px;
    line-height: 9px;
    background: #333;
    padding: 5px;
    margin: 5px 6px 5px 0px;
    border-radius:50%;	
    -moz-border-radius:50%;	
    -webkit-border-radius:50%;
}



#product-option-task-bar > .circular-button:hover > span[class*="icon-"]:before {
    color: #f00;
    background: #fff;
}


#product-option-task-bar > .circular-button:hover > span.button-label {
    
}



#product-option-task-bar > .circular-button.active > span.icon-checkmark:before {
    background: #f00;
    color: #fff;
}





#product-option-add-button {
    /*border:dashed 1px #555!important;*/
    color: #555;
    position: relative;
    display: block;

    float: right;
    
    width: 200px;
    height: 50px;
    
    line-height: 350%;
    
    border: dashed 1px #444;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
            
	
}

#product-option-add-button:before {
	display:block;
        float: left;
        
	width:40px;
	height:50px;
	border:none;
        
        
        font-size: 200%;
        
        position: relative;
        left: 10px;
        top: 0px;

	
	opacity:.2; 
	-moz-opacity:.2; 
	filter:Alpha(opacity=20); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}



#product-option-add-button:hover {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}




.product-option-tile .tiny_status {
    font-style: normal;
    
    position: relative;
    top: -2px;
    left: 0px;
    
    z-index: 20;
}





.select-product-option-button, 
.edit-product-option-button, 
.delete-product-option-button {
    float: right;
    z-index: 2;
    

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.select-product-option-button {
    z-index: 5;
}

.select-product-option-button:before, 
.edit-product-option-button:before, 
.delete-product-option-button:before {
    
    color: #111;
    background: #333;
    

}


.delete-product-option-button:before {
    font-size: 90%;
    line-height: 11px;
}


.select-product-option-button:hover:before,
.edit-product-option-button:hover:before, 
.delete-product-option-button:hover:before {
    color: #f00;
    background: #fff;
    
}



.product-option-field {
    border: none!important;
    background: #222!important;
    box-shadow: none!important;
    
    margin-top: 10px;
    padding-left: 5px;
    
}



.product-option-field:focus {
    background: #fff!important;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;

}



.product-option-tile .tiny-status {
    display: inline-block;
}



#product-options-checklist-container > .checklist-tile.selected .select-product-option-button:before {
    color: #fff;
    background: #f00;
}




#product-options-checklist-container > .checklist-tile.selected.table-row .dimmer {
    display: block;
}






#product-variant-widget-wrapper {
}


#product-variant-widget-wrapper > div.inner-wrap {
    margin-top: 60px; 
    height: 400px;
}


#product-variant-widget-wrapper.plural > div.inner-wrap {
    height: 300px;
}





.variant-details-wrapper {
	display:block;
	width:300px;
	height:300px;
        
	position:relative;
        
        margin-top: 30px;
        margin-left: 20px;
        text-align: left;
        
	float:left;
	border:none;
        
	padding:0px 0px 0px 0px;
        z-index: 2;
}


.variant-details-wrapper > section {
	display:block;
	width:100%;
	min-height:30px;
        height: auto;
        text-align: left;
        
        margin: 0 0;
        padding: 0 0;
        margin-bottom: 5px;
        
	position:relative;
}


#product-variant-widget-wrapper > .inner-wrap .header {
    color: #770;
    font-size: 12px;
    text-align: left;
    
    padding: 0 0;
    margin: 0 0;
    
}

.variant-details-wrapper > section > .inner-wrap {
	display:block;
	width:100%;
	min-height:40px;
        height: auto;
        
        margin: 2px 0 0 0;
        padding: 8px 0 0 0;
        border-top: dotted #333 1px;
        
        
	position:relative;
}


.variant-details-wrapper > section.sku, 
.variant-details-wrapper > section.sku > .inner-wrap {
}


#product-variant-widget-wrapper .uni-label, 
#product-variant-widget-wrapper select {
    margin-bottom: 8px;
}


#product-variant-widget-wrapper input.helper-field {
    display: none;
    margin-bottom: 8px;
    min-width: 150px;
}

#variant-photo-preview-wrapper {
	
	display:block;
	width:235px;
	height:300px;
	
	position:relative;
        right: 0px;

	margin:30px 0px 0px 45px;
	padding:0px 0px 0px 0px;
	
	float:left;
	border:none;
        z-index: 2;
        
        
	box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
        -moz-box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
        -webkit-box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
        
        /*
	border-radius:10px;	
	-moz-border-radius:10px;	
	-webkit-border-radius:10px;
        */
	
}



#variant-photo-preview {
	display:block;
	
	position:relative;
	left: 0px;
	
	width:200px;
	height:250px;

	border:solid 4px rgba(50, 50, 50, .7);
	margin:5px 0 0 0;
	
	background:url(../images/transparent_pixel.gif) no-repeat;
	background-size: contain;
        background-position: center center;

        
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	box-shadow: 1px 1px 2px rgba(0,0,0,.6) inset;
}





#product-variant-widget-wrapper.plural #variant-photo-preview-wrapper {
	height:235px;
    
}


#product-variant-widget-wrapper.plural #variant-photo-preview {
    
	height:200px;
}






#variant-photo-preview .quick-remove-button.circular-button {
    top: 5px;
    right: 25px;
}

#variant-photo-preview:hover .quick-remove-button.circular-button {

	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100);
        
}

#variant-photo-drop-label {	
	width:180px;
	height:150px;
	
	display:block;
	border:none;
	
	margin:10px auto;
	position:relative;
	top:20px;
	
	color:#555;
	font-size:90%;
	text-align:center;
}

div#variant-photo-drop-label > div {
	font-size:400%;
}



#variant-photo-preview.active {
	border:solid 4px rgba(100, 100, 100, .7)!important;
}


#variant-photo-preview.active > div#variant-photo-drop-label {
   color: #555;
   
}







#variant-photo-preview-status {
	display: none;
	text-align:right;
	color:#555;
        
        float: right;
        position: relative;
        top: -20px;
        left: -20px;
	
	width:250px;
	height:20px;

	z-index:200;	
	
}


#variant-photo-uploader.droppable-uploader-area {
	display: block;
	position: absolute;
        top: 0px;
	left: 0px;
	
	width:250px;
	height:250px;
        
        background: none;
	z-index:15;
}

#variant-photo-uploader.droppable-uploader-area .dropper-dropzone {
    height: 250px;
    border: none;

}


#product-variant-widget-wrapper.plural #variant-photo-uploader.droppable-uploader-area, 
#product-variant-widget-wrapper.plural #variant-photo-uploader.droppable-uploader-area .dropper-dropzone
{
    
	height:200px;
}











#product-pricing-wrapper {
    
    
}



#select-pricing-mode {
    width: 150px;
    margin-left: 10px;
}


.store-currency-symbol {
    display: inline-block;
    
    height: 15px;
    width: 20px;
    
    text-align: center;
    
    background: #2a2a2a;
    
    border-radius: 4px;	
    -moz-border-radius: 4px;		
    -webkit-border-radius: 4px;	 
}



.save-button-row {
    border-bottom: none!important;
    text-align: left!important;
}

.save-button-row .button-2 {
    
    margin: 40px 30px 0px 0px!important;
    
}


/*
*	MISCELLANEOUS
*
*
*/





small.text-input-label {
    margin-left: 20px;
}




/*


#dialog_container {
	display:block;
	
	height:500px;
	width:588px;
	
	float:left;
	
	z-index:20;
	
}



#dialog {
	display:none;
	
	height:400px;
	width:450px;
	
	position:relative;
	margin:0 auto;	
	
}

*/








/*
*	FRAME 5: PRODUCT GROUP
*
*
*
*/



#frame-5 {

    
}






#frame-5 .search-field-wrapper {
	position: relative;
        left: -15px;
        
        width: 450px;
	height:50px;	
	text-align:left;
	
	padding:15px 0px 20px 0px;
        margin: 0px auto;
        
	
}

#frame-5 .search-field-wrapper input[type='text'] {
	padding:4px 2px 4px 26px;
	margin:5px 0px 0px 0px;
	width:230px;
	
	position:relative;
	left:-40px;
	color:#333!important;
	
	float:left;

}


#frame-5 .search-field-wrapper input[type='text']::-webkit-input-placeholder {
	color:rgba(150, 150, 150, .4);
}

#frame-5 .search-field-wrapper input[type='text']:-moz-input-placeholder {
	color:rgba(150, 150, 150, .4);
}

#frame-5 .search-field-wrapper input[type='text']:-ms-input-placeholder {
	color:rgba(150, 150, 150, .4);
	color:#555;
}


#frame-5 .search-field-wrapper .search-icon-inset {
	cursor:default!important;
}


#frame-5 .search-field-wrapper a.search-button {
	margin:0px 0px 0px 5px!important;
	
}





#frame-5 .product-group-menu-wrapper {
	position: relative;
        left: -15px;
        
        width: 450px;
	height:auto;	
	text-align:left;
	
	padding:0px 0px 0px 0px;
        margin: 0px auto;
        
	
}

#frame-5 ul.product-group-menu {
	display: none;
	
	list-style:none;
	margin:0px 10px 0px 0px;
	padding:0px 0px;
        

	height:auto;
	max-height:200px;
	width:284px;
	
	overflow:auto;
	overflow-x: hidden;

	border: 1px solid #333; 
	background: #111 url(../images/black_denim.png)  repeat; 
	color: #777; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	z-index:1000;
}


#frame-5 .product-group-menu li {
	font-size:80%;
	padding:5px 10px;
	
}

#frame-5 .product-group-menu li .item-thumb {
}

#frame-5 .product-group-menu li .reference-code {
    display: inline;
    color: #660;
    margin-left: 10px;
    font-size: 90%;
}


#frame-5 .product-group-menu a:last-child {
	border-bottom:none;
}

#frame-5 .product-group-menu a { 
	color: #777;
	display:block;
	border-bottom:dashed 1px rgba(50, 50, 50, .5);
 }
 
 
#frame-5 .product-group-menu a:hover { 
	color: #888;
	background:rgba(150, 150, 150, .05);
}




#frame-5 .group-member-items-wrapper {
	display: block;
	
	list-style:none;
	margin:0px auto;
	padding:0px 0px;
        
        float: none;
        clear: both;

        
	height:300px;
	width:650px;
	
	overflow:hidden;
}



#frame-5 .group-member-items {

	overflow:auto;
	overflow-x: hidden;
	height:250px;
        padding: 10px 10px;
        width: 430px;
}


.product-group-member-tile {
    width: 430px;
}

#frame-5 .group-member-items .item-name {
    display: inline;
}

#frame-5 .group-member-items .reference-code {
    display: inline;
    color: #660;
    margin-left: 10px;
    font-size: 90%;
}
