@charset "utf-8";
/* CSS Document */





#new-country-link-wrapper {
	display:none;
	
	position:absolute;
	top:300px;
	left:235px;
	width:510px; 
	height:20px; 
	color:#333; 
	font-size:75%; 
	text-align:center; 
	padding-top:4px; 
	
	}

#new-country-link-wrapper a:link, 
#new-country-link-wrapper a:active, 
#new-country-link-wrapper a:visited, 
#new-country-link-wrapper a:focus {
	
	color:#555; 
	font-size:110%; 
	
	padding:4px 6px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
}

#new-country-link-wrapper a:hover {
	
	background-color:rgba(50, 50, 50, .4);
	
}


#new-country-form-wrapper {
	display:none; 

	position:absolute;
	top:300px;
	left:200px;

	background: #111 url(../images/black_denim.png) repeat; 

	width:565px; 
	text-align:right; 
	border:dashed 1px #333; 
	border:solid 5px #222; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	padding:10px; 

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
	
	z-index:1000;
	
	}
	

#new-country-form-label {
	width:140px;
	height:50px;
	text-align:left; 
	color:#555; 
	font-size:110%; 
	font-weight:normal;
	border-right:solid 1px #333;
	
	padding:90px 10px 100px 20px;
	 
	float:left;
	 
}


#new-country-form {
	position:relative; 
	top:8px; 
	text-align:left!important; 
	float:left;
	 
	padding:20px 10px;

	}
	
#new-country-form  input[type='text'], 
#new-country-form  input[type='password'] {
	padding:4px 2px;
	margin:5px 5px 0px 0px;
	
	color:#555;
	
	width:155px;
	}


#new-country-form  input[type='button'], 
#new-country-form  input[type='submit'] {
	
	background-color:rgba(50, 50, 50, .4);
	border:none;
	
	color:#555;

	padding:4px 20px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	cursor:pointer;
	
}

#new-country-form  input[type='button']:hover, 
#new-country-form  input[type='submit']:hover, 
#new-country-form  input[type='button']:focus, 
#new-country-form  input[type='submit']:focus {
	
	
}





#hor-line-1 {
	display:block;
	
	position:absolute;
	top:220px;
	left:50px;
	
	margin:0px 0px;
	padding:0px 0px;
	
	width:885px;
	height:0px; 
	border:none;
	border-top:dashed 1px #555;
	
}



/*

COUNTRY INFO

*/


#country-name-in-header {
	display:block;
	
	position:absolute;
	top:155px;
	left:60px;
	
	height:60px;
        min-width: 300px;
	width:auto;
	
	border:none;
	color:#444;
	
	font-weight:normal;
	font-size:200%;
        text-align: left;
	
}



#country-info-outer-wrapper {
	list-style:none;
	margin:0px 0px;
	padding:0px 0px;
	
	position:absolute;
	top:240px;
	left:50px;
	
	width:600px; 
	min-height:400px;
	
	border:none;
	
}


#country-info-outer-wrapper li {
	float:left;

	list-style:none;	
}

#country-info-name {
	list-style:none;
	margin:0px 0px;
	padding:40px 0px;
	
	text-align:left; 
	height:20px; 
	width:150px; 
	
	border:none;
	/*
	border-right:solid 1px #444;
	border-bottom:solid 1px #444;
	*/
	
	color:#444;
	
}


#country-info {
	width:240px;
	min-height:50px; 
	border:none;
	border:solid 1px #444;	
	text-align:left;
	font-size:80%;
	color:#555;
	
	padding:30px 20px 50px 20px;
	
	border:solid 5px #222; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
}


#country-info > .button-1 {
    font-size: 90%;
}



/*

PROVINCES 

*/



#province-list {
    list-style: none;
    margin: 0px auto;
    padding: 20px 20px;
    
    width: 500px;
    height: auto;
    
    border-left: solid 1px transparent;
    
    position:absolute;
    top:290px;
    left:400px;
    
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;

}



#province-list > li {
    list-style: none;
    margin: 0px auto;
    padding: 0px 0px;
}



#province-list > .header {
    font-size: 150%;
    font-weight: bold;
    text-align: left;
    color: #444;
    
    margin: 0px 0px;
    
    border: none;
    
    position: absolute;
    top: -50px;
    left: 10px;
    
    width: 300px;
}



#province-add-button-wrapper {
   
   padding: 0px 0px;
   margin: 0px 0px!important;
 
}



#province-add-button {
    /*border:dashed 1px #555!important;*/
    color: #555;
    display: block;

    width: 500px;
    height: 50px;
    
    line-height: 350%;
    padding: 0px 0px;
    
    border: dashed 1px #444;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
            
	
}

#province-add-button:before {
	display:block;
        float: left;
        
	width:40px;
	height:50px;
	border:none;
        
        
        font-size: 200%;
        
        position: relative;
        left: 10px;
        top: 0px;

	
	opacity:.2; 
	-moz-opacity:.2; 
	filter:Alpha(opacity=20); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}



#province-add-button:hover {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}



.province-tile {
    list-style: none;
    display: block;
    height: 20px;
    width: 470px;

    border-bottom:dotted 1px #046;
    text-align:left;
    
    padding: 15px 10px 15px 10px!important;
    
    color: #444;
    font-style: normal;
    font-size: 90%;
    
}

.province-tile > .button-1 {
    display: none;
}

.province-tile .tiny_status {
    font-style: normal;
    
    position: relative;
    top: -2px;
    left: 0px;
    
    z-index: 20;
}

.delete-province-button:before {
    cursor: pointer;
    
    position: relative;
    top: 2px;
    left: -5px;
    
    color: #333;
    
   
}


.delete-province-button {
    display: inline-block;
    width: 30px;
    
    font-size: 110%;
    color: #444!important;
    font-style: normal;
    
    position: relative;
    top: 5px;
    left: 0px;
    
    opacity: .4; 
    -moz-opacity: .4; 
    filter:Alpha(opacity=40);
    
    float: right;
    
    z-index: 22;
}


.delete-province-button:hover {
    opacity: 1; 
    -moz-opacity: 1; 
    filter:Alpha(opacity=100);     
}


.province-field {
    border: none!important;
    background: #222!important;
    box-shadow: none!important;
    
    margin-top: 10px;
    padding-left: 5px;
    
}



.province-field:focus {
    background: #fff!important;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;

}



.province-tile .tiny-status {
    display: inline-block;
}


.province-tile.last-child {
    border-bottom: none;
}



#edit-province-dialog-box {
    display:none; 
    position:fixed; 
    top:140px; 
    left:490px; 
    width:350px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}

#edit-province-dialog-box > .button-1 {
    font-size: 90%;
}
/* bring message bubble forward */

.message-bubble {
    z-index:10002;
}