@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('gothic-webfont.eot');
    src: url('gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothic-webfont.woff') format('woff'),
         url('gothic-webfont.ttf') format('truetype'),
         url('gothic-webfont.svg#CenturyGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'GeosansLight';
    src: url('GeosansLight.eot');
    src: url('GeosansLight.eot?#iefix') format('embedded-opentype'),
         url('GeosansLight.woff') format('woff'),
         url('GeosansLight.ttf') format('truetype'),
         url('GeosansLight.svg#GeosansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}








/*
button::-moz-focus-inner, 
input::-moz-focus-inner {
	padding:0!important;
	border:0!important;
	margin:0px 0px!important;
}

*/


.search-button {
	display:block;
	
	font-size:400%!important;
	line-height:36%!important;
	color:#333!important;
	border:none!important;

	padding:0px 0px 0px 5px!important;
	margin:0px 0px 0px 10px!important;
	cursor:pointer!important;
	
	position:relative!important;
	top:3px!important;
	
	height:40px!important;
	width:35px!important;
	
	overflow:hidden!important;
	
	border-radius:20px!important;	
	-moz-border-radius:20px!important;	
	-webkit-border-radius:20px!important;
	
	float:left;

}


.search-button:hover {
	color:#444!important;
	background-color:rgba(50, 50, 50, .4)!important;
	
}




.search-icon-inset {
	display:block;
	
	font-size:130%!important;
	line-height:100%!important;
	color:#333!important;
	border:none!important;

	padding:0px 0px 0px 5px!important;
	margin:0px 0px 0px 10px!important;
	cursor:pointer!important;
	
	position:relative!important;
	top:10px!important;
	
	height:40px!important;
	width:35px!important;
	
	overflow:hidden!important;
	
	border-radius:20px!important;	
	-moz-border-radius:20px!important;	
	-webkit-border-radius:20px!important;
	
	float:left;
	z-index:40;

}


input.button-1, 
button.button-1, 
.button-1-no-href, 
a.button-1:link, 
a.button-1:active, 
a.button-1:visited {
	
	background-color:rgba(50, 50, 50, .4);
	color:#666!important;  
	font-size:70%; 
	cursor:pointer;
	
	padding:3px 20px;
        display: inline-block;
        white-space: nowrap;
	
	border:solid 1px transparent;
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	text-transform:uppercase;
	
}

.button-1-no-href {
	color:#000!important;  
	
}

input.button-1:hover, 
input.button-1:focus, 
button.button-1:hover, 
button.button-1:focus, 
a.button-1:hover, 
a.button-1:focus, 
a.button-1-active  {
	
	color:#0ac!important; 
	background-color:rgba(0, 0, 0, .9);
	
}




.button-2:link, 
.button-2:active, 
.button-2:visited {
	
	background-color:rgba(50, 50, 50, .4);
	color:#666!important;  
	font-size:70%; 
	
	padding:3px 20px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	text-transform:uppercase;
	
}

.button-2:hover, 
.button-2:focus, 
.button-2-active  {
	
	color:#0ac!important; 
	background-color:rgba(0, 0, 0, .9);
	
}





.button-3:link, 
.button-3:active, 
.button-3:visited, 
.button-3:focus {
	
	color:#555; 
	font-size:110%; 
	
	padding:4px 6px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
}

.button-3:hover {
	
	background-color:rgba(50, 50, 50, .4);
	
}




.button-4 {
    border: dashed 1px #444!important;
    background: transparent!important;
    
    border-radius:10px!important;	
    -moz-border-radius:10px!important;	
    -webkit-border-radius:10px!important;
}





    

.blue-button {
    border: solid 4px #222;
    background: #046;
    color: #fff!important;
    font-family: 'CenturyGothicRegular', verdana, arial; 


    cursor: pointer;
    text-shadow: 1px 1px #555;

    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
}

.blue-button > span[class*="icon-"] {
    margin-left: 10px;
    padding-left: 10px;
    border-left: dashed 1px #fff;
}


.blue-button:hover {
    background: #057;
}
    

    .blue-button.xx-large {

        font-size: 150%;
        font-weight: normal;
        height: auto;
        min-width: 200px;
        padding: 10px 20px;
        
    }
    
    
    .blue-button.x-large {

        font-size: 120%;
        font-weight: normal;
        height: auto;
        min-width: 120px;
        padding: 10px 20px;
        
    }
    
    
    .blue-button.large {

        font-size: 90%;
        font-weight: normal;
        height: auto;
        min-width: 100px;
        padding: 5px 20px;
        
    }
    
    


.on-off-button {
    display: block;
    width: 95%;

    min-width: 150px;
    min-height: 25px;
    
    padding: 10px 5px 0px 10px!important;
    background: rgba(0, 0, 0, .2);

    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
}





.on-off-button:before {
        content: '';
        display: inline-block;
        border: solid 1px transparent;
        font-size: 50%;
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
        text-align: center;
        

        
        height: 10px;
        width: 10px;
        padding: 0px 0px;
        margin-right: 6px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
        -moz-box-shadow: 0px 2px 4px rgba(10, 10, 10, .60);
        -webkit-box-shadow: 0px 2px 4px rgba(10, 10, 10, .60);
        box-shadow: 0px 2px 4px rgba(10, 10, 10, .60);
}



.on-off-button:hover {
    background: rgba(0, 0, 0, .4);
}


.on-off-button.online:before {

	background: #080;
        color: #080;
}


.on-off-button.offline:before {

	background: #800;
        color: #800;
}



.previous-button-1:before {
	content:'\eb';

	font-family:'EntypoRegular'!important;	
	font-weight: normal;
	font-style: normal;
	
	position:relative;
	left:-5px;
	top:7px;
	
	font-size:42px!important;
	line-height:20%!important;
	color:#333!important;
	
} 

.next-button-1:after {
	content:'\ee';

	font-family:'EntypoRegular'!important;	
	font-weight: normal;
	font-style: normal;
	
	position:relative;
	left:5px;
	top:7px;
	
	font-size:42px!important;
	line-height:20%!important;
	color:#333!important;
	
}





body {
	background-color:#000;
	background-image: url(../images/black_denim.png);
	font-family: 'CenturyGothicRegular', verdana, arial; 
	
}



#floral_bg {
	height:200px;
	width:600px;
	background: url(../images/floral_bg.png) top left no-repeat;
		
	position:fixed;
	bottom:0px;
	left:0px;

	opacity:.3; 
	-moz-opacity:.3; 
	filter:Alpha(opacity=30); 
	
	z-index:0;
	
}

.alert-box {
	background-image:url(../images/black_denim.png);
	border:solid 10px rgba(100, 100, 100, .3);
	padding:10px 10px 5px 10px;

	box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -moz-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
        
	text-align:left;
	font-size:80%;

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
}




.alert-box > .cancel-button > .icon-close {
    position: absolute;
    top: 4px;
    right: 10px;
    
    height: 15px;
    width: 15px;
    
    font-size: 150%;
    color: #444;
    
    display: block;
    z-index: 405;
}

.alert-box > a.cancel-button:hover > .icon-close {
    color: #777;
}





.alert-box h2 {
	border-bottom:dashed 1px rgba(100, 100, 0, .4);
	padding:5px 5px;

	text-align:left;
	font-size:100%;
	font-weight:normal;
	
	letter-spacing:2px;
}


.alert-box small {
	display:block;
	padding:0px 0px;
	
	width:100%;

	text-align:right;
	font-size:75%;
	font-weight:normal;
	
	color:#777;
	
}



.alert-box-section-header {

    width: 100%;
    border-bottom: dotted 1px #660;
    
    font-size: 80%;
    text-align: left;
    text-transform: uppercase;
    color: #555;
    
    text-indent: 6px;
    padding-bottom: 3px;
    margin-bottom: 6px;
    
}




.field-group {
    min-width: 150px;
    min-height: 25px;
    
    padding: 5px 5px!important;
    background: rgba(0, 0, 0, .2);

    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
    
    margin-bottom: 10px;
}



.mini-status {
	display:block; 
	
	height:30px;
	width:100px;
	margin:0px 0px;
	
	font-size:70%;
	color:inherit;
	text-align:center;
	
}






.picker-dialog-box {
    display: none; 
    position:fixed; 
    top:140px; 
    left:490px; 
    width:350px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}


.picker-dialog-box > .button-1 {
    font-size: 90%;
}

.picker-dialog-box > p > .blue-button {
    font-size: 100%;
}


.picker-dialog-box > p > #select-target-id {
    min-width: 200px;
}





#token {
	display:none;
	
}


.container {
	/* border:dashed 1px #09F; */
	
}




.header-wrapper {
    top:0px;
    left:0px; 
    width: 100%;
    height: 140px;
    background-color:#000;
    background-image:url('../images/black_denim.png');
    z-index: 500;
    
    overflow: visible;
}


.header-wrapper.fixed {
    position: fixed;
}


.header-wrapper.absolute {
    position: absolute;
}

.header-wrapper .header {
    position: relative;
    top: 0px;
    left: 0px;
    
    margin: 0px auto;
    
    height:140px;
    width:885px;

    border-bottom:solid 1px #444; 
    background:none;

    z-index:20;
    
}


.header-wrapper .side-bar {
	height:500px;
	width:300px;
	
	position:relative;
	top:0px;
	left:-290px;
        margin: 0px auto;
	
	background:none;
	z-index:10;
}




.side-bar {
	position:absolute;
	left:50px;
        top: 140px;
        
	background:none;
	z-index:10;
        
        height:500px;
	width:300px;

}




#footer {
	position:absolute;
	bottom:0px;
	left:50px;
	
	height:140px;
	width:885px;
	
	border-top:solid 1px #444; 
	background:none;
	
	z-index:20;
	
}

#page-title {
	color:#444;
	font-size:36px;
	font-family: 'CenturyGothicRegular', verdana, arial; 
	text-transform:capitalize;
        
        position: relative;
        left: -53px;
	
	text-align:left;
	padding-top:50px;
        
        cursor: pointer;
        
}


#page-title:before {
        content: '\e069';
        
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
        
        margin-right: 15px;
        
        position: relative;
        top: 2px;
        
}








#page-options-panel {
    position:absolute;
    top:225px;
    left:50px;
    text-align: right;

    height: 30px;
    width:875px;
    padding-right: 10px;
    
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: dotted 1px #660;
}



#page-options-panel:before {
	content:'';
	
	display:block;
	
        position: absolute;
        top: 61px;
        left: 20px;
        
        margin-left: 25px;
        	
		
	width:0px;
	height:0px;
	
	border-width: 7px 7px;
        border-style: solid;
        border-color: transparent;
        border-top-color:  #660;
        
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}







#page-description-panel {
    height: 25px;
    width: 450px;

    font-size: 75%;
    color: #660;
    text-align: left;
    
    position: absolute;
    left: 10px;
    top: 5px;
}





.icon_20x20 {
	height:20px;
	width:20px;
	
	background-color:none;
	
}




input[type="text"], input[type="password"], input[type="number"], textarea {
	border:solid 4px rgba(50, 50, 50, .4);	
	background:none;
	
	font-family: 'CenturyGothicRegular', verdana, arial; 
	color:#999;
	
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	box-shadow: 1px 1px 2px rgba(0,0,0,.6) inset;
	resize:none;	
}


input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, textarea:focus {
	background:#fff;
	border:solid 4px rgba(40, 40, 40, 1);
	color:#555;
}


label {
    color: #555;
    cursor: pointer;
}

label:hover {
    opacity: 0.8; 
    -moz-opacity: 0.8; 
    filter:Alpha(opacity=80); 
}

select {
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    padding: 3px;
    
    background: #222;
    color: #999;
    border: transparent!important;
    
    min-width: 150px;
}


select:focus {
    color: #444;
    background: #fff;
}

select > option {
    margin: 3px;
    
    color: #999;
    border: transparent;
    
}


input.illegal {
    border-color: #900!important;
}


.radio-button-label-1, 
.checkbox-label-1 {
    color: #555;
    font-size: 100%;
}


.radio-button-label-1 > input[type="radio"], 
.checkbox-label-1 > input[type="checkbox"] {
    margin-right: 10px;
}





input.text-field-2 {
    border: none!important;
    background: #222!important;
    box-shadow: none!important;
    
    margin: 5px 0px;
    padding-left: 5px;
}

input.text-field-2:focus {
    background: #fff!important;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;

}


select.select-control-1 {
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    padding: 3px;
    
    background: #222;
    color: #999;
    border: transparent!important;
}

select.select-control-1:focus {
    color: #444;
    background: #fff;
}

select.select-control-1 > option {
    margin: 3px;
    
    color: #999;
    border: transparent!important;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
}




input.mini-entry-field {
    border: none!important;
    background: #222!important;
    box-shadow: none!important;
    
    margin-top: 10px;
    padding-left: 5px;
    
}



input.mini-entry-field:focus {
    background: #fff!important;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;

}







/* message bubble */

.message-bubble {
	display:none;
	
	position:absolute;
	top:100px;
	left:200px;
	
	height:120px;
	width:240px;
	
	background:rgba(0, 0, 0, .8);
	border:solid 2px rgba(50, 50, 50, 1);
	
	border-radius:16px;	
	-moz-border-radius:16px;	
	-webkit-border-radius:16px;
	
	box-shadow: 2px 2px 3px rgba(0,0,0,.7);
	
	z-index:3000;
	
}

.message-bubble p {
	width:auto;
	height:auto;
	
	margin:10px auto 10px auto;
	font-family:Verdana, Geneva, sans-serif;
	font-size:75%;
	color:#aaa;
	letter-spacing:normal;
	
	text-align:left;
	
	
}

.message-bubble p b, 
.message-bubble p strong {
	border-bottom:dotted 2px #444;
	text-transform:capitalize;
}


.message-bubble p small {
	color:#770;
	display:block;
	margin-top:15px;
}

/* bubbles appearing on the right (with arrow pointing left) */

.message-bubble-on-right span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:16px 20px;
	border-right-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	top:20px;
	left:-44px;
	
}

.message-bubble-on-right span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:12px 17px;
	border-right-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	top:-13px;
	left:-12px;
	
}



/* bubbles appearing to the left (with arrow pointing right) */

.message-bubble-on-left span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:16px 20px;
	border-left-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	top:20px;
	right:-44px;
	
}

.message-bubble-on-left span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:12px 17px;
	border-left-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	top:-13px;
	right:-12px;
	
}



/* bubbles appearing on top (with arrow pointing down) */

.message-bubble-above span.bubble-arrow {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:20px 16px;
	border-top-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	bottom:-42px;
	left:25px;
	
}

.message-bubble-above span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-top-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	bottom:-13px;
	right:-12px;
	
}


/* bubbles appearing below (with arrow pointing up) */

.message-bubble-below span.bubble-arrow { /*arrow shade */
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:20px 16px;
	border-bottom-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	top:-42px;
	left:25px;
	
}

.message-bubble-below span.bubble-arrow:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:17px 12px;
	border-bottom-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	top:-13px;
	right:-12px;
	
}




/*

NOTIFICATIONS BAR


*/



#notifications-bar-wrapper {
	display: block;
	
	position:absolute;
	top:75px;
	right: 180px;
	
	list-style:none;
	color:#444;
	font-size:80%;
	
	height:20px;
	width:420px;
	padding:0px 20px;
	
	border:none;

	background: none; /* rgba(50, 50, 50, .4); */	

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
}



#notification-tiles-wrapper {
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
}


#notification-tiles-wrapper > li.admin-notification-tile {
    list-style: none;
    margin: 0px 0px 0px 6px;
    padding: 0px 0px;
    
    float: right;
    height: 24px;
    min-width: 20px;
    width: auto;
    
    overflow: hidden;
}

li.admin-notification-tile .inner-wrapper {
        display: inline-block;
	background: #fff;
        border: none;
        color: #000;
        font-family: arial;
        text-align: left;
        

        height: 24px;
        min-width: 20px;
        width: auto;
        
        padding: 0px 2px;

	border-radius:4px;	
	-moz-border-radius:4px;	
	-webkit-border-radius:4px;
}

li.admin-notification-tile a {
    
}


li.admin-notification-tile.displayed {
    opacity: 0.4; 
    -moz-opacity: 0.4; 
    filter:Alpha(opacity=40); 
}



li.admin-notification-tile.read {
    display: none;
}

.admin-notification-icon {
    height: 18px;
    width: 18px;
    
    margin: 2px 0px 1px 0px;
}

.admin-notification-count {
    display: inline-block;
    height: 18px;
    min-width: 18px;
    
    font-size: 140%;
    text-align: right;
    
    position: relative;
    top: -2px;
}




/*

PASSWORD STRENGTH METER

*/


.password-strength-meter {
    
    /*
	display:none;
	
	position:absolute;
	top:198px;
	left:440px;
    */
        
	
	height:5px;
	width:70px;
	
	list-style:none;
	margin:0px 0px;
	padding:0px 0px;
	
	background:none;	
}


.password-strength-meter li {
	height:5px;
	width:15px;
	
	list-style:none;
	margin:0px 2px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	
	border-radius:2px;	
	-moz-border-radius:2px;	
	-webkit-border-radius:2px;

	background:rgba(60, 60, 60, .7);	
}


.password-strength-meter:before {
        display: none;
	content:'Strength:';
	font-size:60%;
	color:#555;
	text-align:right;
	
	height:10px;
	width:70px;
	
	position:absolute;
	left:-35px;
	top:-4px;

}




.placeholder-color-1::-webkit-input-placeholder {
	color:rgba(150, 150, 150, .7);
}

.placeholder-color-1:-moz-input-placeholder {
	color:rgba(150, 150, 150, .7);
}

.placeholder-color-1:-ms-input-placeholder {
	color:#555;	
        color:rgba(150, 150, 150, .7);

}

.placeholder-color-1 {
    color:#555; 
    color:rgba(150, 150, 150, .7);

}



small.text-input-label {
    display: block;
    margin:0px 0px 2px 5px;
    color:#444;

    font-size: 80%;
    text-align: left;
	
}


.text-input-label-2 {
    display: block;
    margin: -10px 0px 0px 5px;
    color:#060;
    
    position: relative;
    top: 20px;
    
    width: 8px;

    font-size: 100%;
    text-align: left;
	
}


small.text-input-label-3 {
    
    display: block;
    margin:0px 0px 0px 5px;
    font-size: 80%;
    color: #555;
    text-align: left;
}


small.tiny-status {
    display: block;
    margin:0px 5px 0px 5px;
    color:#444;
    
    text-align: right;

    font-size: 70%;
	
}

small.tiny-status.error {
    color:#a00!important;
	
}

.tiny-yellow-text {
    color:#660!important;
    font-size: 95%;
	
}


.tiny-label {
    background: #047;
    color: #fff;
    padding: 2px 3px;
    border-radius:10%;	
    -moz-border-radius:10%;	
    -webkit-border-radius:10%;
    
    white-space: nowrap;
    
    font-size: 80%;
}




span.uni-label {
    position: relative;
    display: inline-block;
    background: none;
    color: #fff;
    padding: 0 0;
    
    height: 17px;
    width: auto;
    
    white-space: nowrap;
    font-size: 10px;
    
    border-radius: 5px;	
    -moz-border-radius: 5px;	
    -webkit-border-radius: 5px;
    
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

span.uni-label:before, 
span.uni-label:after {
  display: table;
  content: " ";
  clear: both;
}


span.uni-label > span, 
span.uni-label > input[type=text] {
    position: relative;
    display: inline-block;
    
    background: #333;
    padding: 1px 5px;
    border: none;
    
    height: 15px;
    width: auto;
    
    float: left;
    
    color: inherit;
    white-space: inherit;
    font-size: inherit;
    
    
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    
    border-radius: 5px;	
    -moz-border-radius: 5px;	
    -webkit-border-radius: 5px;
}



span.uni-label.large > span, 
span.uni-label.large > input[type=text] { 
    padding: 3px 5px!important;
    height: 16px;
    width: auto;
    
    font-size: 1.3em;
    
    border-radius: 3px;	
    -moz-border-radius: 3px;	
    -webkit-border-radius: 3px;
}

span.uni-label > span.status {
    display: none;
}

span.uni-label > span > span {
    position: relative;
    display: inline;
    padding: 0 0;
    margin: 0 0;
    width: auto;
    height: auto;
    white-space: nowrap;
}


span.uni-label > span.left, 
span.uni-label > input[type=text].left {
    padding-left: 5px;
    padding-right: 3px;
    
    border-radius:5px 0 0 5px;	
    -moz-border-radius:5px 0 0 5px;	
    -webkit-border-radius:5px 0 0 5px;
}

span.uni-label > span.left { 
    overflow: hidden;
    text-overflow: ellipsis;
}


span.uni-label > span.center, 
span.uni-label > input[type=text].center {
    padding-left: 3px;
    padding-right: 1px;
    
    border-radius: 0;	
    -moz-border-radius: 0;	
    -webkit-border-radius: 0;
}

span.uni-label > span.right, 
span.uni-label > input[type=text].right
{
    padding-left: 3px;
    padding-right: 5px;
    
    border-radius:0 5px 5px 0;	
    -moz-border-radius:0 5px 5px 0;	
    -webkit-border-radius:0 5px 5px 0;
}

span.uni-label > span.blue, 
span.uni-label > input[type=text].blue {
    background: #047;
    color: #fff;
}

span.uni-label > span.green, 
span.uni-label > input[type=text].green {
    background: #0D4023;
    color: #fff;
}

span.uni-label > span.yellow, 
span.uni-label > input[type=text].yellow {
    background: #660;
    color: #fff;
}

span.uni-label > span.red, 
span.uni-label > input[type=text].red {
    background: #4a2020;
    color: #fff;
}

span.uni-label > span.grey ,
span.uni-label > input[type=text].grey {
    background: #222;
    color: #999;
}

span.uni-label > span.currency, 
span.uni-label > input[type=text].currency {
    color: #060;
}

span.uni-label > span.price, 
span.uni-label > input[type=text].price {
    color: #770;
}


span.uni-label > input[type=text] {
    max-width: 50px;
}

span.uni-label > input[type=text]:focus {
    background: #fff;
    color: #222;
}


span.color-label.icon {
    position: relative;
    display: inline-block;
    
    width: auto;
    
    text-indent: 0;
    
    margin: 0 0;
    padding: 0 0;
    
    margin-left: 4px;
}


span.color-label.icon:before {
    margin: 0 0;
    padding: 0 0;
}

span.color-label.blue:before {
    background: none;
    color: #047;
}

span.color-label.yellow:before {
    background: none;
    color: #770;
}

span.color-label.green:before {
    background: none;
    color: #0D6023;
}

span.color-label.red:before {
    background: none;
    color: #822;
}

span.color-label.grey:before {
    background: none;
    color: #999;
}


@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.2; }
}

.blink {
  -webkit-animation-name: blink;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: .5s; 
}



@-webkit-keyframes blink-2 {  
  from { 
	opacity: 0.5;
  	-webkit-animation-timing-function: ease-in;
	 }
  50% { 	
  	opacity: 0.9;
  	-webkit-animation-timing-function: ease-in;
	 }

  to { 	
  	opacity: 0.5;
  	-webkit-animation-timing-function: ease-out;
	 }

}

.blink-2 {
  -webkit-animation-name: blink-2;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s; 
}






@-webkit-keyframes blink-fast {  
  from { opacity: 1.0; }
  to { opacity: 0.2; }
}

.blink-fast {
  -webkit-animation-name: blink-fast;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: .2s; 
}




/*
*
* MAIN + PAGE NAV (COMMON CSS)
*
*/



.nav-menu {
    
     display: none;
    
     position: absolute;

     background: #000 url('../images/black_denim.png');

    list-style: none;
    
    margin: 0px 0px;
    padding: 10px 10px;
    padding-bottom: -5px;
    
    min-height: 70px;
    max-height: 420px;
    width: 250px;
    
    border: solid 1px #444;
    
    border-radius:20px;	
    -moz-border-radius:20px;	
    -webkit-border-radius:20px;
    
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
        
}


.nav-menu li {
    list-style: none;
    
    margin: 0px 15px 0px 0px;
    padding: 15px 10px 10px 10px;  
    
    height: 40px;
    width: 210px;
    float: left;
    
    border-bottom: none;
    
    text-align: left;
    font-size: 150%;
    
    color: #444;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
}


.nav-menu > li.divider {
    height: 1px;
    width: 95%;
    
    margin: 0px 0px;
    padding: 0px 0px;  
    
    border-bottom: dotted 1px #444;
}

.nav-menu li:before {
    height: 80px;
    width: 80px;
    
    position: relative;
    top: 2px;
    
    padding: 5px;
    margin-right: 10px;
    font-size: 100%;
    
    border-radius:40px;	
    -moz-border-radius:40px;	
    -webkit-border-radius:40px;
    
    border: solid 2px #444;
    
}




.nav-menu li:hover {
    color: #888;
}







/*
 *
 * MAIN NAV
 * 
 *
 */
 
 
 #main-nav-wrapper {
     position: absolute;
     top: 0px;
     right: 50px;
     z-index: 5000;
     
     display: block;
     width: 420px;
     height: 140px;
     
     background: none;
     
 }
 
 
 #main-nav-button {
     display: block;
     height: 80px;
     width: 140px;
     
     position: absolute;
     top: 60px;
     right: 0px;
     
     padding-right: 35px;
     
     
     background: none;
     
     color: #444;
     font-size: 200%;
     text-align: right;
     
     border: solid 1px #f00;
     border: none;
 }
 
 
#main-nav-button.on, 
#page-title.on {
     color: #666!important;
 }
 
#main-nav-button:before {
        margin: 0px 0px;
        
        position: relative;
        top: 5px;
        left: 110px;
        
}


#main-nav {
    
     position: absolute;
     top: 110px;
     right: 0px;
     

    
    min-height: 140px;
    max-height: 420px;
    width: 750px;
    

    border-radius:20px 0px 20px 20px;	
    -moz-border-radius:20px 0px 20px 20px;	
    -webkit-border-radius:20px 0px 20px 20px;

    
}

.header-wrapper.fixed #main-nav-wrapper {
    right: 195px;
}






#main-nav li.icon-locked:before {
    padding: 5px 1px 5px 9px;
}






/*
*
* PAGE NAV (CONTEXTUAL MENU)
*
*/


#page-nav {
    
     position: absolute;
     top: 110px;
     left: 0px;
     

    
    min-height: 70px;
    max-height: 420px;
    width: 250px;

    border-radius:0px 20px 20px 20px;	
    -moz-border-radius:0px 20px 20px 20px;	
    -webkit-border-radius:0px 20px 20px 20px;

    
}





/*
 *
 * CSS FOR TABLE TYPE LAYOUTS
 *
 *
 */
 
 
 [class^="col-"], [class*=" col-"] {
     float: left;
     display: block;
     height: 30px;
     
     text-align: left;
     font-size: 70%;
     
/*     border: dotted 1px #660;*/
     
     padding: 3px 4px 0px 5px;
 }
 
 .col-wide {
     width: 270px;
         
 }
 
 
 .col-wide {
     width: 130px;
         
 }
 
 .col-narrow {
     width: 90px;
 }
 
 
 .table-header {
    padding-top: 5px!important;     
 }
 
 .table-header .col-wide, 
.table-header .col-narrow {
     color: #660;
 }

 .table-header [class^="col-"], 
 .table-header [class*=" col-"] {
     font-weight: bold;
 }
 
 .dotted-yellow-line {
    width: 490px;
    height: 70px;
    
    padding: 3px 5px 10px 5px;
    
    border-top: dotted 1px #660;
}


.dotted-yellow-line:before {
	content:'';
	
	display:block;
	
        position: relative;
        top: -18px;
        left: 0px;
        
        margin-left: 25px;
        	
		
	width:0px;
	height:0px;
	
	border-width: 7px 7px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color:  #660;
        
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}



 .dotted-blue-hor-line {
    width: 100%;
    height: 0px;
    
    padding: 0px 0px;
    margin: 3px 0px;
    
    border-top: dotted 1px #046;
}


 .dotted-yellow-hor-line {
    width: 100%;
    height: 0px;
    
    padding: 0px 0px;
    margin: 3px 0px;
    
    border-top: dotted 1px #660;
}


 .dotted-grey-hor-line {
    width: 100%;
    height: 0px;
    
    padding: 0px 0px;
    margin: 3px 0px;
    
    border-top: dotted 1px #444;
}



.tiny-yellow-arrow-down:before {
	content:'';
	
	display:block;
	
        position: relative;
        top: 0px;
        left: 0px;
        
        margin-left: 25px;
        	
		
	width:0px;
	height:0px;
	
	border-width: 7px 7px;
        border-style: solid;
        border-color: transparent;
        border-top-color:  #660;
        
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}






/*


QUICK SEARCH TOOL

*/




#search-tool-wrapper {
	position:absolute;
	left:650px;
	top:130px;
	
	height:110px;
	width:340px;
	
	font-size:120%; 
        
        z-index: 100;
	
}




#quick-search-form-wrapper {
	
	width:340px;
	height:50px;
	float:left;	
	text-align:left;
	
	padding:27px 0px 10px 0px;
	
}

#quick-search-form-wrapper input[type='text'] {
	padding:4px 2px 4px 26px;
	margin:5px 0px 0px 0px;
	width:230px;
	
	position:relative;
	left:-40px;
	color:#333!important;
	
	float:left;

}


#quick-search-form-wrapper input[type='text']::-webkit-input-placeholder {
	color:rgba(150, 150, 150, .4);
}

#quick-search-form-wrapper input[type='text']:-moz-input-placeholder {
	color:rgba(150, 150, 150, .4);
}

#quick-search-form-wrapper input[type='text']:-ms-input-placeholder {
	color:rgba(150, 150, 150, .4);
	color:#555;
}


#quick-search-form-wrapper .search-icon-inset {
	cursor:default!important;
}


#quick-search-form-wrapper a.search-button {
	margin:0px 0px 0px 5px!important;
	
}





#quick-search-results {
	display:none;
	
	list-style:none;
	margin:0px 0px;
	padding:0px 0px;
	
	position:absolute;
	left:10px;
	top:70px;
	
	height:auto;
	max-height:200px;
	width:284px;
	
	overflow:auto;
	overflow-x: hidden;

	border: 1px solid #333; 
	background: #111 url(../images/black_denim.png)  repeat; 
	color: #777; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	z-index:1000;
}


#quick-search-results li {
	font-size:80%;
	padding:5px 10px;
	
}

#quick-search-results a:last-child {
	border-bottom:none;
}

#quick-search-results a { 
	color: #777;
	display:block;
	border-bottom:dashed 1px rgba(50, 50, 50, .5);
 }
 
 
#quick-search-results a:hover { 
	color: #888;
	background:rgba(150, 150, 150, .05);
}



#quick-search-results li small {
	font-size:70%;
	color:#444;
	margin-right:15px;
	margin-top:10px;	
	
}






.quick-search-result-detail:before {
	

	font-weight: normal;
	font-style: normal;
	
	position:relative;
	left:-2px;
	top:2px;
	
	font-size:130%!important;
	line-height:120%!important;
	color:#333!important;
}





/*


NATIONAL FLAGS 


*/



.national-flag-small {
    width: 30px; 
    height: 30px; 
    background-color: transparent;
    
    float: left;
    margin-right: 0px;
    
    position: relative;
    top: 4px;
    left: -7px;
    
}




.national-flag-x-small {
    width: 20px; 
    height: 20px; 
    background-color: transparent;
    
    float: left;
    margin-right: 6px;
    
    position: relative;
    top: 0px;
    left: 0px;
    
}






.national-flag-medium {
    width: 48px; 
    height: 48px; 
    background-color: transparent;
    
    float: left;
    margin-right: 10px;
    
    position: relative;
    top: 0px;
    left: 0px;
    
}






.user-status:before {
        content: '';
        display: inline-block;
        border: solid 1px transparent;
        font-size: 50%;
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
        text-align: center;
        

        
        height: 10px;
        width: 10px;
        padding: 0px 0px;

	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
        -moz-box-shadow: 0px 2px 4px rgba(10, 10, 10, .60);
        -webkit-box-shadow: 0px 2px 4px rgba(10, 10, 10, .60);
        box-shadow: 0px 2px 4px rgba(10, 10, 10, .60);
}




.user-dp {
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    -moz-box-shadow: 0px 2px 4px rgba(10, 10, 10, .60) inset;
    -webkit-box-shadow: 0px 2px 4px rgba(10, 10, 10, .60) inset;
    box-shadow: 0px 2px 4px rgba(10, 10, 10, .60) inset;

}


.user-dp.tiny {
    width: 25px;
    height: 25px;
}

.user-dp.mini {
    width: 50px;
    height: 50px;
}

.user-dp > img {
    width:100%;
}



/*

LOGIN STATUS

*/


.mediumListIconTextItem.user-status:before {
        position: relative;
        left: 5px;
        top: 5px;
        
        float: left;
}




#profile-name-in-header {
	display:block;
	
	position:absolute;
	top:155px;
	left:60px;
	
	height:60px;
	width: 500px;
        text-align: left;
	
	border: none;
	color:#444;
	
	font-weight:normal;
	font-size:200%;	
}



#profile-name-in-header.user-status:before {
        position: relative;
        left: -10px;
        top: 15px;
        
        float: left;
}


#quick-search-results .user-status:before {
        height: 6px;
        width: 6px;
        
        position: relative;
        left: -5px;
        top: 5px;
        
        float: left;
}


.user-status.online:before {

	background: #080;
        color: #080;
}


.user-status.offline:before {

	background: #800;
        color: #800;
}


.user-status.disabled:before {

	background: #333;
        color: #333;
}





/*

SIDE PANEL

*/




.side-panel {
	position:absolute;
	top:320px;
	left:50px;
        
	width:230px;
	min-height:50px; 
	border:none;
	border:solid 1px #444;	
	text-align:left;
	font-size:80%;
	color:#555;
	
	padding:20px 20px 50px 20px!important;
	
	border:solid 5px #222; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
}


.side-panel .button-1 {
    font-size: 90%;
}



.side-panel > li {
    list-style: none;
    padding: 2px 0px;
    margin-bottom: 5px;
    font-size: 85%;
}


.side-panel > .header {
	list-style:none;
	margin:0px 0px 20px 0px;
	padding:0px 0px 10px 0px;
	
	text-align:left; 
	height: auto; 
	width: 100%; 
	
	border:none;
	border-bottom:dotted 1px #046;
	/*
	border-right:solid 1px #444;
	*/
	
	color:#444;
        font-size: 120%;
	
}



.side-panel > li > .entry {
    padding: 2px 4px;
    background: #111;
    color: #444;
    font-style: italic;
    
    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
}







/*
*
* ADMIN ACCOUNT DIALOG
*
*/

.message-bubble {
    z-index: 10003;
}


#my-account-dialog-box {
    display: none; 
    position:fixed; 
    top:40px; 
    left:490px; 
    width:380px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}


#my-account-dialog-box .yellow-hint-text {
    text-align: left;
    font-size: 80%;
    color:#660; 
    margin-top: 3px;
}

#my-account-dialog-box > .blue-button {
    font-size: 100%;
}



#my-account-dialog-box input[type="text"] {
    padding: 3px;
    margin-bottom: 10px;
}


#my-account-dialog-box .text-input-label {
    margin-left: 3px;
    font-size: 95%;
}

#my-account-dialog-box .field-group {
    min-width: 360px;
    min-height: 25px;
    
    padding: 5px 5px!important;
    background: rgba(0, 0, 0, .2);

    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
    
    margin: 5px 6px;
}


#my-account-dialog-box #profile-info-wrapper.field-group > div {
    margin: 0px 10px 0px 15px!important;
}

#my-account-dialog-box #password-tool-wrapper {
    display: none;
}

#my-account-dialog-box .field-group > div > input {
    position: relative;
    top: -2px;
    margin: 2px 0px!important;
}


#display-picture-image-picker-wrapper {

    
}



.display-picture-image-picker-button {
        display: block;
        height: 100px;
        width: 100px;
        
        margin: 0px 0px;
        
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
	box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
	border:solid 4px rgba(70, 70, 70, .6);
        

        background-size: contain; 
        background-repeat: none; 
        background-position: center center;
        
        
	
}



.display-picture-image-picker-button > span.icon-aperture {
	display:block;
        height: 40px;
        width: 50px;
        font-size: 300%;
        margin: 10px auto;
        
        text-align: center;

	
	opacity:.6; 
	-moz-opacity:.6; 
	filter:Alpha(opacity=60); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.display-picture-image-picker-button-a {	
    
}

.display-picture-image-picker-button-a:hover .display-picture-image-picker-button > span.icon-aperture {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}







/*
*
* EDITABLE LIST
*
*
*/





ul.editable-list {
    list-style: none;
    margin: 0px auto!important;
    padding: 20px 20px;
    
    width: 450px;
    height: auto;
    
    border:solid 4px rgba(50, 50, 50, .6);
    
    position:relative;
    top:0px;
    left:0px;
    
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;

}



.editable-list > li {
    list-style: none;
    margin: 0px auto;
    padding: 0px 0px;
}



.editable-list > .header {
    font-size: 150%;
    font-weight: bold;
    text-align: left;
    color: #444;
    
    margin: 0px 0px;
    
    border: none;
    
    position: absolute;
    top: -50px;
    left: 10px;
    
    width: 300px;
}



.editable-list-add-button-wrapper {
   
   padding: 0px 0px;
   margin: 0px 0px!important;
 
}



.editable-list-add-button {
    /*border:dashed 1px #555!important;*/
    color: #555;
    display: block;

    width: 100%;
    height: 50px;
    
    line-height: 350%;
    padding: 0px 0px;
    text-align: center;
    
    border: dashed 1px #444;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;
            
	
}

.editable-list-add-button:before {
	display:block;
        float: left;
        
	width:40px;
	height:50px;
	border:none;
        
        
        font-size: 200%;
        
        position: relative;
        left: 10px;
        top: 0px;

	
	opacity:.2; 
	-moz-opacity:.2; 
	filter:Alpha(opacity=20); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}



.editable-list-add-button:hover {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}



.editable-list-tile {
    list-style: none;
    display: block;
    height: 20px;
    width: 95%;

    border-bottom:dotted 1px #046;
    text-align:left;
    
    padding: 15px 10px 15px 10px!important;
    
    color: #444;
    font-style: normal;
    font-size: 90%;
    
}

.editable-list-tile > .button-1 {
    display: none;
}


.editable-list-tile:hover > .button-1 {
    display: block;
}

.editable-list-tile .tiny_status {
    font-style: normal;
    
    position: relative;
    top: -2px;
    left: 0px;
    
    z-index: 20;
}

.editable-list-delete-button:before, 
.editable-list-edit-button:before {
    cursor: pointer;
    
    position: relative;
    top: 2px;
    left: -5px;
    
    color: #333;
    
   
}


.editable-list-delete-button, 
.editable-list-edit-button {
    display: inline-block;
    width: 30px;
    
    font-size: 110%;
    color: #444!important;
    font-style: normal;
    
    position: relative;
    top: 2px;
    left: 0px;

    
    float: right;
    
    z-index: 22;
    
}


.editable-list-delete-button:hover, 
.editable-list-edit-button:hover {
    /*
    opacity: 1; 
    -moz-opacity: 1; 
    filter:Alpha(opacity=100);     
    */
}


.editable-list-field {
    border: none!important;
    background: #222!important;
    box-shadow: none!important;
    
    margin-top: 10px;
    padding-left: 5px;
    
}



.editable-list-field:focus {
    background: #fff!important;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;

}



.editable-list-tile .tiny-status {
    display: inline-block;
}


.editable-list-tile.last-child {
    border-bottom: none;
}







.circular-button {

    color: #fff!important;
    font-size: 90%;
    line-height:130%;
    
    cursor: pointer;

}


.circular-button > li > span:before {
    display: block;
    height: 15px;
    width: 15px;
    color: #000;
    background: #fff;
    font-size: 130%;
    padding: 5px;
    margin: 5px auto;
    border-radius:15px;	
    -moz-border-radius:15px;	
    -webkit-border-radius:15px;
}

.circular-button:hover > li > span:before {
    
}



.circular-button-2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    
    font-size: 10px;
    line-height: 9px;
    color: #777;
    font-style: normal;
    
    position: relative;
    margin: 0px 2px;
}

.circular-button-2:before {
    cursor: pointer;
    
    position: absolute;
    height: 10px;
    width: 10px;
    
    color: #f00;
    text-align: center;
    
    background: #fff;
    padding: 5px;
    
    border-radius:50%;	
    -moz-border-radius:50%;	
    -webkit-border-radius:50%;
    
   
}












.quick-remove-button.circular-button {
    display: block;
    
    position: relative;
    top: -10px;
    height: 10px;
    width: 10px;
    float: right;
    
    
    opacity:0; 
    -moz-opacity:0; 
    filter:Alpha(opacity=0); 
    
    z-index: 300;
}

.quick-remove-button.circular-button > div {
    position: relative;
    display: block;
    height: 10px;
    width: 10px;
    list-style: none;
    float: right;
    text-align: center;
    margin: 0px 0px;
    font-size: 70%;
    color: #fff;
}

.quick-remove-button.circular-button > div:before {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    height: 10px;
    width: 10px;
    
    font-size: 100%;
    line-height: 12px;
    padding: 5px;
    margin: 5px auto;
    border-radius: 50%;	
    -moz-border-radius: 50%;	
    -webkit-border-radius: 50%;
    
    background: #046;
    background: rgba(0, 100, 140, .5);
    color: #fff;
}

.quick-remove-button.circular-button:hover > div:before {
    background: rgba(0, 100, 140, .8);
}


