@charset "utf-8";
/* CSS Document */


.chart-dialog-box {
    position: fixed;
    top: 120px;
    left: 250px;
    
    height: auto;
    width:685px;
    
    background-image:url(../images/black_denim.png);
    border:solid 10px rgba(100, 100, 100, .3);
    padding:10px 10px 5px 10px;

    box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);

    border-radius:15px;	
    -moz-border-radius:15px;	
    -webkit-border-radius:15px;
    
    z-index: 10006;
    
}


.chart-dialog-box > .cancel-button > .icon-close {
    position: absolute;
    top: 4px;
    right: 10px;
    
    height: 15px;
    width: 15px;
    
    font-size: 120%;
    color: #444;
    
    display: block;
}

.chart-dialog-box > a.cancel-button:hover > .icon-close {
    color: #777;
}


.outer-graph-container {
    height: 300px;
    width: 600px;
    
    margin: 0px auto;
    /* border: solid 1px #555; */
    
    overflow: hidden;
}


.graph-container {
    
    display: block;
    height: 290px;
    width: 580px;
    margin: 0px auto;
    
    
    /* 
    
    position: absolute;
    left: -2900px;
    top: 0px;
    border: solid 1px #550; 
    
    */
    
}



.chart-header-wrapper {
    width: 600px;
    height: 37px;
    margin: 0px auto;
    
    display: block;
    
}

    .chart-header-wrapper > .chart-title {
        display: block;
        float: left;
        font-size: 100%;
        padding: 0px 0px;
        text-indent: 0px;
        padding-top: 8px;
    }

    .chart-header-wrapper > .chart-filter-controls {
        list-style: none;
        padding-top: 6px;
    }
    
    .chart-header-wrapper > .chart-filter-controls > li {
        list-style: none;
        margin: 2px 0px 2px 15px;
        display: block;
        float: right;
    }
    
    
    .chart-header-wrapper > .chart-filter-controls > li:before {
        margin-right: 6px;
    }
    
    
