/* 
    Document   : store.edit
    Created on : Oct 27, 2012, 2:27:29 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
    Description:
        
*/



.content {
    min-height: 3000px;
}



#profile-name-in-header {
	display:inline-block;
	
	position:relative;
	top:155px;
	left:60px;
        
        float: left;
	
	height:60px;
	width: auto;
        text-align: left;
	
	border: none;
	color:#444;
	
	font-weight:normal;
	font-size:200%;	
}




#store-edit-form-outer-wrapper {
	position:absolute;
	top:320px;
	left:350px;
	
	height:auto;
	width:580px;
	
	margin-top:0px!important;
        margin-bottom: 100px!important;
	padding-top:0px!important;
	
	overflow:hidden;
	background-color:rgba(30, 30, 30, 0.5);

	border:solid 1px transparent;
	border-top:none;
	border-bottom:none;
	box-shadow: 1px -1px 5px rgba(0,0,0,0.7) inset;
        
    
        border-radius:10px;	
        -moz-border-radius:10px;	
        -webkit-border-radius:10px;
	
	z-index:9;

}


#store-edit-form-wrapper {
    position: relative;
    display: block;
    list-style: none;
    min-height: 500px;
    width:500px;
    
    margin: 0px auto;
    margin-bottom: 100px;
    padding: 20px 0px;
    
	    
}



#store-edit-form-wrapper > li {
    border-bottom:dotted 1px #046;
    min-height: 100px;
    height: auto;
    display: block;
    
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

#store-edit-form-wrapper li > .section-header {
    
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 10px 0px;
    
    width: 500px;
    
    float: none;
    text-align: left;
    
    text-transform: capitalize;
    font-size: 120%;
    
    color: #444;
    border-bottom: dotted 1px #660;
        
    
}

#store-description-wrapper {
    position: relative;
    display: block;
    
    width: 100%;
}

#store-description-wrapper .field-row {
    position: relative;
    display: block;
    
    min-height: 50px;
    width: 96%;
    
    margin: 0 auto;
    text-align: left;
    
}



#store-description-wrapper .field-wrap {
    position: relative;
    display: block;
    
    min-height: 50px;
    width: 100%;
}




input[type=text].store-handle-field {
    width: 150px!important;
    max-width: 150px!important;
}


/*
#store-edit-form-wrapper li > .section-header:before {
	content:'';
	
	display:block;
	
        position: relative;
        top: 48px;
        left: 0px;
        
        margin-left: 25px;
        	
		
	width:0px;
	height:0px;
	
	border-width: 7px 7px;
        border-style: solid;
        border-color: transparent;
        border-top-color:  #660;
        
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}

*/


.section-header:before {
    margin-right: 10px;
    
    position: relative;
    top: 1px;
}



#store-description-wrapper {
    min-height: 200px;
    min-width: 200px;
    
    display: block;
    float: left;
    
/*    border: dotted 1px #444;*/
}


#store-edit-form-wrapper input[type=text] {
    padding: 2px 10px;
    width: 96%;
}

#store-edit-form-wrapper textArea {
    padding: 2px 10px;
    width: 96%;
/*    
    border: none;
    background: #000;
    color: #444;
    
   border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    
    box-shadow: none;*/


}


#store-settings-wrapper {
    min-height: 150px;
    min-width: 150px;
    
    display: block;
    float: left;
    
/*    border: dotted 1px #444;*/
}



#store-theme-chooser-wrap {
    margin: 0px auto!important;
    padding: 20px 20px;
    
    width: 450px;
    height: auto;
    
    border:solid 4px rgba(50, 50, 50, .6);
    
    position:relative;
    top:0px;
    left:0px;
    
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
    
    border-radius:10px;	
    -moz-border-radius:10px;	
    -webkit-border-radius:10px;

}


#store-edit-form-wrapper select {
    
}

.select-status {
    background: transparent;
    width: 150px;
}

#store-edit-form-wrapper select option {
    background: none;
}



#store-contact-wrapper, 
#store-location-wrapper {
    min-height: 200px;
    width: 310px;
    
    display: block;
    float: none;
    
/*    border: dotted 1px #444;*/
}







/*



SHIPPING OPTIONS


*/







#hor-line-1 {
	display:block;
	
	position:absolute;
	top:220px;
	left:50px;
	
	margin:0px 0px;
	padding:0px 0px;
	
	width:885px;
	height:0px; 
	border:none;
	border-top:dashed 1px #555;
	
}






#edit-shipping-option-dialog-box {
    display:none; 
    position:fixed; 
    top:30px; 
    left:490px; 
    width:350px; 
    height: 570px; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}

#edit-shipping-option-dialog-box > .button-1 {
    font-size: 90%;
}




/* bring message bubble forward */

.message-bubble {
    z-index:10005;
}

.payment-type-anchor:before {
    margin-right: 10px;
    
    position: relative;
    top: 1px;
}


.tiny-yellow-text {
    font-size: 75%;
	
}





/*


DISPLAY PICTURE


*/


#side-bar {
    position: absolute;
    top: 330px;
    left: 50px;
    width: 230px;
    z-index: 600;
    
    list-style: none;
    padding-top: 5px!important;
    padding-left: 5px!important;
    border-bottom: dotted 1px #046;
}

#side-bar > li {
    list-style: none;
    text-align: left;
    display: block;
    width: 230px;
    margin-bottom: 10px;
}


#side-bar > li > .section-header {
    
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 10px 0px;
    
    width: 100%;
    
    float: none;
    text-align: left;
    
    text-transform: capitalize;
    font-size: 120%;
    
    color: #444;
    border-bottom: dotted 1px #046;
        
    
}


#label-color-button-wrapper {

    height: 150px;
    width: 200px;
    
    text-align: center;
    
    list-style: none;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px;

    border-radius:5px;	
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;

    box-shadow: 1px 0px 5px rgba(0,0,0,0.6) inset;
    border:solid 4px rgba(70, 70, 70, .6);
}


#label-color-button-wrapper > .uni-label {
    margin-top: 20px;
    margin-bottom: 20px;
}






#color-picker-widget-wrapper.glass-pane {
	display:none;
	
        position:absolute;
        top: 300px;
        left: 280px;
        z-index: 410;
	
	width:600px;
	height:300px;
        
	margin:0 0;
        
        
	background:rgba(0, 0, 0, .8);
	border:solid 2px rgba(50, 50, 50, 1);
	
	border-radius:16px;	
	-moz-border-radius:16px;	
	-webkit-border-radius:16px;
	
	box-shadow: 2px 2px 3px rgba(0,0,0,.7);

        /*
	border:solid 5px rgba(50, 50, 50, .7);
	
        background-image: url(../images/black_denim.png);
        */
        
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	
	box-shadow: 1px 1px 2px rgba(0,0,0,.6);
}





.glass-pane > a.cancel-button > .icon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    
    height: 15px;
    width: 150px;
    
    font-size: 75%;
    font-weight: bold;
    line-height: 8px;
    text-align: right;
    color: #770;
    
    display: block;
    z-index: 405;
}

.glass-pane > a.cancel-button > .icon-close:before {
    position: relative;
    float: right;
    margin-left: 5px;
    
    font-size: 150%;
    color: #444;
}

.glass-pane > a.cancel-button:hover > .icon-close:before {
    color: #777;
}




span.bubble-arrow.left {
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:16px 20px;
	border-right-color:rgba(0, 0, 0, .3);
	
	position:absolute;
	top:130px;
	left:-34px;
	
}

span.bubble-arrow.left:before {
	content:'';
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color:transparent;
	border-width:12px 17px;
	border-right-color:rgba(50, 50, 50, 1);
	
	position:absolute;
	top:-12px;
	left:-14px;
	
}










#store-dp {
    
    height: 250px;
    padding-bottom: 0px;
    
}


#image-picker-wrapper {
    height: 180px;
    width: 170px;
    
    display: block;
    float: none;
    
    margin: 0px 0px;
/*    border: solid 1px #f00;*/
    
}



.image-picker-add-button {
        display: block;
        height: 150px;
        width: 200px;
        
        margin: 0px 0px;
        
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
	box-shadow: 1px 0px 5px rgba(0,0,0,0.6) inset;
	border:solid 4px rgba(70, 70, 70, .6);
        

        background-size: contain; 
        background-repeat: none; 
        background-position: center center;
        
        
	
}

.image-picker-add-button:before {
	content:'';
	display:block;
	width:240px;
	height:180px;
	border:none;
	
	background-image:url('../images/icons/add-g-30x30.png');
	background-position:center center;
	background-repeat:no-repeat;
	
	opacity:.4; 
	-moz-opacity:.4; 
	filter:Alpha(opacity=40); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.image-picker-add-button-a {	
}

.image-picker-add-button-a:hover .image-picker-add-button:before {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}

#image-picker-label {
    text-align: left;
    font-size: 90%;
}
