/* 
    Document   : tag.edit
    Created on : Oct 27, 2012, 2:27:29 PM
    Author     : Gboyega Dada <gboyega@fancypaperplanes.com>
    Description:
        
*/

#tag-edit-form-outer-wrapper {
	position:absolute;
	top:141px;
	left:350px;
	
	height:auto;
	width:588px;
	
	margin-top:0px!important;
	padding-top:0px!important;
	
	overflow:hidden;
	background-color:rgba(30, 30, 30, 0.5);

	border:solid 1px transparent;
	border-top:none;
	border-bottom:none;
	box-shadow: 1px -1px 5px rgba(0,0,0,0.7) inset;
	
	z-index:9;

}


#tag-edit-form-wrapper {
    list-style: none;
    min-height: 500px;
    width:500px;
    
    margin: 0px auto;
    margin-bottom: 600px;
    padding: 20px 0px;
    
	    
}



#tag-edit-form-wrapper li {
    border-bottom:dotted 1px #046;
    min-height: 100px;
    max-height: 500px;
    display: block;
    
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

#tag-edit-form-wrapper li .section-header {
    
    margin: 10px 0px 20px 0px;
    padding: 0px 0px;
    
    width: 500px;
    
    float: none;
    text-align: left;
    
    text-transform: capitalize;
    font-size: 120%;
    
    color: #444;
/*    border: dotted 1px #444;*/
        
    
}


#tag-description-wrapper {
    min-height: 200px;
    min-width: 200px;
    
    display: block;
    float: left;
    
/*    border: dotted 1px #444;*/
}


#image-picker-wrapper {
    height: 180px;
    width: 490px;
    
    display: block;
    float: none;
    
    margin: 0px 0px;
/*    border: solid 1px #f00;*/
    
}



.image-picker-add-button {
        display: block;
        height: 150px;
        width: 480px;
        
        margin: 0px 0px;
        
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
        
	box-shadow: 1px 0px 5px rgba(0,0,0,0.5) inset;
	border:solid 4px rgba(70, 70, 70, .6);
        

        background-size: contain; 
        background-repeat: none; 
        background-position: center center;
        
        
	
}

.image-picker-add-button:before {
	content:'';
	display:block;
	width:480px;
	height:150px;
	border:none;
	
	background-image:url('../images/icons/add-g-30x30.png');
	background-position:center center;
	background-repeat:no-repeat;
	
	opacity:.4; 
	-moz-opacity:.4; 
	filter:Alpha(opacity=40); 

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.image-picker-add-button-a {	
}

.image-picker-add-button-a:hover .image-picker-add-button:before {	
	opacity:.8; 
	-moz-opacity:.8; 
	filter:Alpha(opacity=80); 
}

#image-picker-label {
    text-align: left;
    font-size: 90%;
}


#tag-edit-form-wrapper input[type=text], 
#tag-edit-form-wrapper textArea {
    padding: 2px 10px;
    width: 280px;



}









