@charset "utf-8";
/* CSS Document */







#hor-line-1 {
	display:block;
	
	position:absolute;
	top:220px;
	left:50px;
	
	margin:0px 0px;
	padding:0px 0px;
	
	width:885px;
	height:0px; 
	border:none;
	border-top:dashed 1px #555;
	
}



/*

TAX CLASS INFO

*/


#tax-class-name-in-header {
	display:block;
	
	position:absolute;
	top:155px;
	left:60px;
	
	height:60px;
        min-width: 300px;
	width:auto;
	
	border:none;
	color:#444;
	
	font-weight:normal;
	font-size:200%;
        text-align: left;
	
}



#tax-class-info-outer-wrapper {
	list-style:none;
	margin:0px 0px;
	padding:0px 0px;
	
	position:absolute;
	top:240px;
	left:50px;
	
	width:600px; 
	min-height:400px;
	
	border:none;
	
}


#tax-class-info-outer-wrapper li {
	float:left;

	list-style:none;	
}

#tax-class-info-name {
	list-style:none;
	margin:0px 0px;
	padding:40px 0px;
	
	text-align:left; 
	height:20px; 
	width:150px; 
	
	border:none;
	/*
	border-right:solid 1px #444;
	border-bottom:solid 1px #444;
	*/
	
	color:#444;
	
}


#tax-class-info {
	width:240px;
	min-height:50px; 
	border:none;
	border:solid 1px #444;	
	text-align:left;
	font-size:80%;
	color:#555;
	
	padding:30px 20px 50px 20px;
	
	border:solid 5px #222; 
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);

	border-radius:15px;	
	-moz-border-radius:15px;	
	-webkit-border-radius:15px;
}


#tax-class-info .button-1 {
    font-size: 90%;
}



/*

TAX ruleS 

*/



#tax-rule-list {

    position:absolute;
    top:290px;
    left:400px;
    

}





#tax-rule-list > .header {
    font-size: 150%;
    font-weight: bold;
    text-align: left;
    color: #444;
    
    margin: 0px 0px;
    
    border: none;
    
    position: absolute;
    top: -50px;
    left: 10px;
    
    width: 300px;
}






#edit-tax-rule-dialog-box {
    display:none; 
    position:fixed; 
    top:140px; 
    left:490px; 
    width:350px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}

#edit-tax-rule-dialog-box > .button-1 {
    font-size: 90%;
}




/* bring message bubble forward */

.message-bubble {
    z-index:10002;
}


