@charset "utf-8";
/* CSS Document */


.mediumListIconTextItem > .tile-icon-large {
    margin-left: 10px;
}




#tax-class-dialog-box {
    display:none; 
    position:fixed; 
    top:140px; 
    left:490px; 
    width:350px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}


#tax-class-dialog-box > .button-1 {
    font-size: 90%;
}



#tax-class-type-label {
    width: 320px;
    border-bottom: dotted 1px #660;
    
    font-size: 80%;
    text-align: left;
    text-transform: uppercase;
    color: #555;
    
    text-indent: 6px;
    padding-bottom: 3px;
    margin-bottom: 6px;
    
}
/* bring message bubble forward */

.message-bubble {
    z-index:10002;
}




#tax-class-options-panel {
    position:absolute;
    top:225px;
    left:50px;
    text-align: right;

    height: 30px;
    width:885px;
    
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: dotted 1px #660;
}



#tax-class-options-panel:before {
	content:'';
	
	display:block;
	
        position: absolute;
        top: 61px;
        left: 20px;
        
        margin-left: 25px;
        	
		
	width:0px;
	height:0px;
	
	border-width: 7px 7px;
        border-style: solid;
        border-color: transparent;
        border-top-color:  #660;
        
        
	opacity:1; 
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
        
        z-index: 20;
}







#tax-class-type-description {
    height: 25px;
    width: 450px;

    font-size: 75%;
    color: #660;
    text-align: left;
    
    position: absolute;
    left: 10px;
    top: 5px;
}


#add-to-tax-class-dialog-box {
    display: none; 
    position:fixed; 
    top:140px; 
    left:490px; 
    width:350px; 
    height:auto; 
    background-color:#111; 
    color:#bbb; 
    z-index:10001;
}

#remove-country-wrapper {
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: dotted 1px #046;
}

#dialog-province-list {
    padding-bottom: 20px;
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    border-bottom: dotted 1px #660;
    
    overflow-y: auto;
}

#dialog-province-list > label {
    margin-left: 20px;
}


#text-field-tax-class-name, 
#text-field-tax-class-description {
    width: 95%;
}