@charset "utf-8";
/* CSS Document */

/************** TILE GLOBAL SETTINGS ***/

.tile_group {
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px!important;
	text-indent:0;
}

.tile_group li {
	display:block;
	float:left;
	margin:0 10px 10px 0;
}


.tile_sq_1 {
	width:140px;
	height:140px;
	
	color:#fff;
	background:#666;
	
	
}

.tile_hor_1 {
	width:290px;
	height:140px;
	
	color:#fff;
	background:#666;
	
}


.sq_tile_title_1 {
	width:140px;
	height:15px;
	
	position:absolute;
	top:4px;
	left:10px;
	
	font-family: 'GeosansLight', verdana, arial; 
	font-size:24px;
	text-align:left;
	color:#ccc;
	
}

.hor_tile_title_1 {
	width:290px;
	height:15px;
	
	position:absolute;
	top:4px;
	left:10px;

	font-family: 'GeosansLight', verdana, arial; 
	
	font-size:24px;
	text-align:left;
	color:#fff;
	letter-spacing:1.5px;
	
	text-shadow:0 0 1px rgba(0,0,0,0.3);
	-moz-text-shadow:0 0 1px rgba(0,0,0,0.3);
	webkit-text-shadow:0 0 1px rgba(0,0,0,0.3);
	
	opacity:.8;
	-moz-opacity:.8;
	webkit-opacity:.8;
	
	
}