{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Accessories for living{% endblock title %}

{% block head %}
{{ parent() }}



<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/shop-landing.js"></script>

<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/shop-landing.css" rel="stylesheet" type="text/css" />


    
{% endblock head %}


{% block content %}

<ul id="layout-tile-grid-wrapper">
    {% for Tile in store.layout.Tiles %}
        
        <li class="layout-tile" id="layout-tile-{{ Tile.id|raw }}" style="width: {{ Tile.adjusted_pixel_width|raw }}px; height: {{ Tile.pixel_height|raw }}px;">

            <div class="tile-content-wrapper" style="width: {{ Tile.adjusted_pixel_width|raw }}px; height: {{ Tile.pixel_height|raw }}px;">
            <ul class="slide-strip" style="width: {{ Tile.slide_strip_pixel_width|raw }}px; height: {{ Tile.pixel_height|raw }}px;">
                {% for Slide in Tile.Slides %}
                
                <li class="slide" style="width: {{ Slide.adjusted_pixel_width|raw }}px; height: {{ Slide.pixel_height|raw }}px;" >
                <a href="{{ Slide.href|raw }}">
                    
                {% if Slide.is_image %}
                <div class="slide-content-wrapper" style="background: url('{{ Slide.image.large|raw }}') no-repeat center center; background-size: cover; width: {{ Slide.adjusted_pixel_width|raw }}px; height: {{ Slide.pixel_height|raw }}px;" >
                &nbsp;
                </div>
                {% endif %}
                
                {% if Slide.is_text %}
                <div class="slide-content-wrapper" style="width: {{ Slide.adjusted_pixel_width|raw }}px; height: {{ Slide.pixel_height|raw }}px;" >
                {{ Slide.text|raw }}
                </div>
                {% endif %}
                
                </a> 
                </li>
                {% endfor %}
            </ul>
            </div>
       </li>
       
    {% endfor %}

</ul>

{% endblock content %}

