{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | {{ page.title }}{% endblock title %}

{% block head %}
{{ parent() }}



<!-- NON GLOBAL JS -->
{# <script type="text/javascript" src="{{ assets_path }}jscript/shop-landing.js"></script> #}

<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/contact.css" rel="stylesheet" type="text/css" />


    
{% endblock head %}


{% block content %}



<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

        <div id="category-header">


            <div id="bread-crumps" style="border-bottom: solid 1px #000;">
            <a href="{{ store.landing }}">Home</a> - {{ page.title }}

            </div> 
            <img id="category-banner-image" src="{{ assets_path }}images/contact-us-banner.jpg" />

        </div>

        <p>&nbsp;</p>

        {{ page.body }}


<br style="clear: both" />

<p>&nbsp;</p>    

</div></div>

{% endblock content %}

