{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Sizing Chart{% endblock title %}

{% block head %}
{{ parent() }}



<!-- NON GLOBAL JS -->
{# <script type="text/javascript" src="{{ assets_path }}jscript/shop-landing.js"></script> #}

<!-- NON GLOBAL CSS -->
{# <link href="{{ assets_path }}css/shop-landing.css" rel="stylesheet" type="text/css" /> #}


    
{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

    <div class="page-title">Sizing Chart</div>

<br style="clear: both" />
</div></div>
{% endblock content %}

