
<div id="folder-perms-dialog-box" class="alert-box">
    <form name="folder-perms-form" id="folder-perms-form"  method="POST">
        
        <h2 class="bubble-title">Folder Permissions</h2>
        <div class="tiny-yellow-text response">{{message}}</div>
        <br/>
        <div class="dotted-yellow-hor-line tiny-yellow-arrow-down">&nbsp;</div>
        <div class="bubble-text">
                    <ul>
                    {{#result}}<li {{#error}}class="error"{{/error}}>chmod {{permissions}} {{name}}</li>{{/result}}
                    </ul>

  
        </div>

        <br />
        <div class="dotted-blue-hor-line">&nbsp;</div>
        
        <br /><br />
        
        <a class="button-1" id="folder-perms-button-cancel" href="javascript:void(0)" onClick="return false;" >cancel</a>
        &nbsp;&nbsp;
        <input type="button" class="button-1 ok-button" id="folder-perms-button-ok" value="continue" />
        <br /><br/>
    </form>
</div>



