{# empty Twig template #}

Enter this on the confirmation screen or click the following link to complete your user account registration:
<br /><br/>
{{ notification }}

<br /><br/>

{{ what_to_do|raw }}