{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.email.html.twig' %}


{% block content %}


            <br>

            {{ body|raw }}
            <br><br><br><br><br><br>

            <div style="border-top: 1px solid #ddd;">
                <br>
                Powered by Cataleya.
            </div>


{% endblock content %}