{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- googleon: all -->


<!-- META -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" Content="{{ meta.description }}">
<meta name="keywords" content="{{ meta.keywords }}">
<meta name="robots" content="ALL">
<meta name="revisit-after" content="7 days">
<meta name="classification" content="Commercial">
<meta name="distribution" content="Global">
<meta name="copyright" content="{{ now|date("Y") }} {{ store.title }}">
<meta name="author" content="Website by Fancy Paper Planes">
<meta name="language" content="{{ store.language }}">

<link rel="shortcut icon" href="{{ base_url }}favicon.ico" />
<link rel="icon" href="{{ base_url }}favicon.ico" type="image/x-icon" />

<base href="{{ base_url }}" />



<!-- STYLESHEETS -->
<link href="{{ assets_path }}css/base.css" rel="stylesheet" type="text/css" />
<link href="{{ assets_path }}css/fonts/icomoon/style.css" rel="stylesheet" type="text/css" />
<link href="{{ assets_path }}css/hashgrid.css" rel="stylesheet" type="text/css" />
<link href="{{ assets_path }}css/jquery-ui.custom.css" rel="stylesheet" type="text/css" />
<link href="{{ assets_path }}css/storefront-global.css" rel="stylesheet" type="text/css" />


<!-- JS FILES -->
<script type="text/javascript" src="{{ assets_path }}jscript/libs/modernizr.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/libs/jquery.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/libs/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/libs/toolbox.js"></script> 
<script type="text/javascript" src="{{ assets_path }}jscript/hashgrid.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/plugins.js"></script> 
<script type="text/javascript" src="{{ assets_path }}jscript/main.js"></script> 
<script type="text/javascript" src="{{ assets_path }}jscript/cart.js"></script>


{% block head %}

<title>{{ store.title }}{% block title %}{% endblock title %}</title>

{% endblock head %}


</head>

<body>
    
<!-- ENV VARS (for JS) -->
<input type="hidden" name="SHOP_LANDING" id="ENV_SHOP_LANDING" value="{{ store.landing }}" />
    
<div class="container">
    
<div class="main-logo-wrapper">
<div class="main-logo"></div>
</div>

{%  block cart %}
<!-- CART MESSENGER -->
<div id="cart-messenger">
{% include 'cart.ajax.html.twig' %}
        
</div>
{% endblock cart %}


{%  block pageheader %}
{% include 'header.html.twig' %}
{% endblock pageheader %}
    
{%  block sidebar %}
{% include 'sidebar.html.twig' %}
{% endblock sidebar %}



<div class="content">
{% block content %}
   

{% endblock content %}
<!-- END: CONTENT -->
</div>



<br class="clearfloat" />


<div class="shop-footer">
{% block footer %}
&nbsp;

{% endblock footer %}
<!-- END: FOOTER -->
</div>    



<!-- END: CONTAINER -->
</div>



</body>
</html>
