{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Your Shopping Bag {% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/cart-display.css" rel="stylesheet" type="text/css" />

{% endblock head %}


{% block content %}
<div id="bread-crumps">
<a href="{{ shop.landing }}">Home</a> - Shopping Bag

</div> 
<div class="page-title">Shopping Bag</div>


{#
<a id="cart-continue-button-1" class="black-button-large-1" href="{{ cart.continueHref }}" >continue shopping</a> 
<div class="clearfloat"></div>
<br />
#}

{% if cart.status != '' %}
<ul id="cart-status-message" class="list-items">

    <li>{{ cart.status }}</li>
    <li class="last-child"></li>

</ul>
{% endif %}


{% if cart.error %}
<ul id="cart-errors" class="list-items">

    {% for error in cart.errorMessages %}
    <li>{{ error }}</li>
    {% endfor %}
    
    <li class="last-child"></li>

</ul>
{% endif %}

<ul class="list-items" id="main-cart-items-list">

<li class="list-items-header" id="main-cart-items-list-header">
    <div class="list-items-wide-col">Item Description</div>
    

    
    
    <div class="list-items-x-narrow-col fltrt">Total</div>
 
    <div class="list-items-x-narrow-col center fltrt">Remove</div>
 
    <div class="list-items-x-narrow-col fltrt">Quantity</div>
  
    <div class="list-items-narrow-col fltrt">Price</div>
    
    
    <div class="list-items-wide-col center fltrt">Status</div>
    
   
   
   
   
    

</li>

<form id="cart-items-form" name="cart_items_form" method="POST" action="{{ store.landing }}cart/update/" >       
{% for item in cart.items %}


<li class="list-items-row">
    <a href="{{ item.href }}">
    <img class="mini-thumb-1 cart-item-thumb fltlft" src="{{ item.image.thumb }}" />
    
    <div class="list-items-wide-col">
    <strong>{{ item.title }}</strong> <br /><br />
    
    {% for attribute in item.attributes %}
    <strong>{{ attribute.label }}:</strong> {{ attribute.value }} <br/>
    {% endfor %}
    
    </div>
    </a>
    

    
    
  
    <div class="list-items-x-narrow-col fltrt">{{ store.currency.symbol|raw }} {{ item.subtotal|number_format(2, '.', ',') }}</div>
   
    <div class="list-items-x-narrow-col center fltrt"><a class="icon-close delete-button-1" href="{{ store.landing }}cart/remove/?id={{ item.id }}">&nbsp;</a></div>
 
    <div class="list-items-x-narrow-col fltrt"> x <input type="text" name="items[{{ item.id }}]" value="{{ item.quantity }}" size="2" maxlength="3" /> </div>
   
    <div class="list-items-narrow-col fltrt">{{ store.currency.symbol|raw }} {{ item.price|number_format(2, '.', ',') }}</div>
    
    
    
    <div class="list-items-wide-col center fltrt">
    {% if item.stock < 1 %}
    <span class="stock-low">Out of stock</span>
    {% elseif item.stock < 5 %}
    <span class="stock-low">Less than 5 left</span>
    {% else %}
    In Stock
    {% endif %}
    </div>
   
    
</li>


{% endfor %}




        <li class="list-items-row last-child" id="cart-summary">



                {# DISCOUNTS WRAPPER #}


                <br />
                <ul class="list-items fltrt" id="cart-summary-inner-wrapper">


                    {# SUB-TOTAL #}

                    <li class="cart-sub-total">
                        <span class="fltlft field-label"><strong>Sub-total:</strong> </span>
                        <span class="fltrt field-value">{{ store.currency.symbol|raw }}{{ cart.subTotal|number_format(2, '.', ',') }}</span>
                    </li>




                    {# COUPONS #}

                    {% if cart.Discounts.Coupons %}
                        {% for Coupon in cart.Discounts.Coupons %}
                        <li>
                            <span class="fltlft field-label"><strong>{{ Coupon.description }}:</strong></span> 
                            <span class="fltrt field-value">LESS {{ store.currency.symbol|raw }}{{ Coupon.amount|number_format(2, '.', ',') }}</span>
                        </li>
                        {% endfor %}
                    {% endif %}



                    {# SALES #}

                    {% if cart.Discounts.Sales %}
                        {% for Sale in cart.Discounts.Sales %}
                        <li>
                                <span class="fltlft field-label"><strong>{{ Sale.description }}:</strong></span>
                                <span class="fltrt field-value">LESS {{ store.currency.symbol|raw }}{{ Sale.amount|number_format(2, '.', ',') }}</span>
                        </li>
                        {% endfor %}
                    {% endif %}



                {# SPACING #}
                <li>&nbsp;</li>






                {# TAXES AND SHIPPING #}

                {# Product Taxes #}
                {% if cart.Taxes %}
                    {% for TaxRate in cart.Taxes %}
                    <li>
                        <span class="fltlft field-label"><strong>{{ TaxRate.description }}:</strong> </span>
                        <span class="fltrt field-value">{{ store.currency.symbol|raw }}{{ TaxRate.amount|number_format(2, '.', ',') }}</span>
                    </li>
                    {% endfor %}
                {% endif %}


                {# shipping cost (tax EXCLUDED) #}
                {% if cart.ShippingCharges %}
                    <li class="cart-shipping-charge">
                        <span class="fltlft field-label"><strong>Shipping ({{ FormCache.selected_shipping_option.name }}):</strong> </span>
                        <span class="fltrt field-value">{{ store.currency.symbol|raw }}{{ cart.ShippingCharges.amount|number_format(2, '.', ',') }}</span>
                    </li>
                {% endif %}                   


                {# Shipping Taxes #}
                {% if cart.ShippingCharges.Taxes %}
                    {% for TaxRate in cart.ShippingCharges.Taxes %}
                    <li class="cart-shipping-tax">
                            <span class="fltlft field-label"><strong>{{ TaxRate.description }}:</strong> </span>
                            <span class="fltrt field-value">{{ store.currency.symbol|raw }}{{ TaxRate.amount|number_format(2, '.', ',') }}</span>
                    </li>
                    {% endfor %}
                {% endif %}


                <li class="cart-grand-total">
                    <span class="fltlft field-label"><strong>Order Total:</strong> </span>
                    <span class="fltrt field-value">{{ store.currency.symbol|raw }}{{ cart.grandTotal|number_format(2, '.', ',') }}</span>
                </li>


                </ul>
                <br />
                <br style="clear: both"/>



                        
        </li>
        <li>
            
            {# CART ERRORS #}

            {% if cart.error %}
            <ul id="cart-errors" class="list-items">

                {% for error in cart.errorMessages %}
                <li>{% if loop.length > 1 %}{{ loop.index }}. {% endif %}{{ error|raw }}</li>
                {% endfor %}

                <li class="last-child"></li>

            </ul>
            {% endif %}
        </li>



</ul>



<a id="cart-continue-button-2" class="black-button-large-1" href="{{ cart.continueHref }}" >continue shopping</a> 


<input type="submit" id="cart-update-button" class="black-button-large-1" value="update quantity" />


<a id="cart-checkout-button" class="black-button-large-1 fltrt" href="{{ store.landing }}checkout" >checkout</a>



</form>


<!-- COUPON DISCOUNT

<ul class="list-items" id="coupon-code-form-wrapper">
    <form id="cart-items-form" name="cart_items_form" method="POST" action="{{ store.landing }}cart" >
    <input type="hidden" name="token-{{ authToken }}" value="{{ authToken }}" />

    <li class="list-items-header">
        <div class="list-items-wide-col">Coupon</div>
    </li>
    <li>
        <div class="list-items-x-wide-col">
            Enter your coupon code here if you have one:<br />
            <input type="text" name="coupon-code-{{ authToken }}" id="coupon-code-field" value="" size="30" maxlength="20" />
        </div>
    </li>
    <li class="last-child">
        <div class="list-items-x-wide-col">
            <input type="submit" name="submit-{{ authToken }}" id="cart-apply-coupon-code-button" class="black-button-large-1" value="apply code" />
        </div>
    </li>
    </form>
</ul>
 -->

<div class="clearfloat"></div>






{% endblock content %}

