{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Checkout {% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/checkout.css" rel="stylesheet" type="text/css" />
<link href="{{ assets_path }}css/order-review-items.css" rel="stylesheet" type="text/css" />

<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/libs/jquery.select-to-autocomplete.min.js"></script>
<script type="text/javascript" src="{{ assets_path }}jscript/checkout.js"></script>


{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">

        {#
        <ul class="secondary-nav">
            <a href="javascript:void(0);" onclick="productWidget.seekPane (1); return false;">
                <li class="first-child">Sign In<span class="connector"></span></li>
            </a>

            <a href="javascript:void(0);" onclick="productWidget.seekPane (2); return false;">
                <li class="active-crumb">Delivery<span class="connector"></span></li>
            </a>


            <a href="javascript:void(0);" onclick="productWidget.seekPane (3); return false;">
            <li>Payment<span class="connector"></span></li>
            </a>



            <a href="javascript:void(0);" onclick="productWidget.seekPane (4); return false;">
            <li class="last-child">Confirm<span class="connector last-child"></span></li>
            </a>

        </ul>

        #}

        <div id="bread-crumps">
        <a href="{{ store.landing }}">Home</a> - Checkout

        </div> 
        <div class="page-title">Order Checkout</div>


        {#
        <a id="cart-continue-button-1" class="black-button-large-1" href="{{ cart.continueHref }}" >continue shopping</a> 
        <div class="clearfloat"></div>
        <br />
        #}

        {# CHECKOUT ERRORS #}


        <ul id="checkout-notices" class="list-items">
            {% if CheckoutNotices %}
                {% for error in CheckoutNotices %}
                <li>{% if loop.length > 1 %}{{ loop.index }}. {% endif %}{{ error|raw }}</li>
                {% endfor %}
            {% endif %}
            
            {% if cart.error %}
                {% for error in cart.errorMessages %}
                <li>{% if loop.length > 1 %}{{ loop.index }}. {% endif %}{{ error|raw }}</li>
                {% endfor %}
            {% endif %}
                
            <li class="last-child"></li>

        </ul>

        <form id="checkout-form" name="checkout_form" method="POST" action="{{ store.landing }}checkout" >    
        <input name="do" type="hidden" value="checkout"/>

        <ul class="list-items" id="checkout-wrapper">

            <!-- SHIPPING INFORMATION -->


            <li class="list-items-header">

                <div class="list-items-wide-col" >1. Delivery</div>

            </li>


            <li class="list-items-row">


                <div id="shipping-info-form-wrapper" class="fltlft">
                    <div class="sub-section-header" >Shipping Address</div>
                    <div class="edit-address">


                        <div class="field-label fltlft">First Name</div>
                        <div class="field-input fltlft">
                            <input name="shipping_firstname-firstname-{{ checkout.token }}-1" type="text" size="20" maxlength="100" value="{{ FormCache.shipping_firstname.value }}" />
                            <span class="validator-message">{{ FailedItems.shipping_firstname }}</span>
                        </div>

                        <div class="field-label fltlft">Last Name</div>
                        <div class="field-input fltlft">
                            <input name="shipping_lastname-lastname-{{ checkout.token }}-1" type="text" size="20" maxlength="100" value="{{ FormCache.shipping_lastname }}" />
                            <span class="validator-message">{{ FailedItems.shipping_lastname }}</span>
                        </div>

                        <div class="field-label fltlft">Country</div>
                        <div class="field-input fltlft">
                            <select name="shipping_country-iso2-{{ checkout.token }}-1" id="shipping-country-field" >
                                <option value="x" >-- Choose a country --</option>
                                {% for country in countries %}
                                <option data_has_provinces={% if country.hasProvinces %}1{% else %}0{% endif %} value="{{ country.iso2 }}" {% if country.iso2 == FormCache.shipping_country.iso2 %} selected {% endif %}>{{ country.printableName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="field-label fltlft">Address</div>
                        <div class="field-input fltlft">
                            <input name="shipping_address_1-address-{{ checkout.token }}-1" type="text" size="20" maxlength="100" value="{{ FormCache.shipping_address_1 }}" />
                            <span class="validator-message">{{ FailedItems.shipping_address_1 }}</span>
                        </div>

                        <div class="field-label fltlft">&nbsp;</div>
                        <div class="field-input fltlft">
                            <input name="shipping_address_2-address-{{ checkout.token }}-0" type="text" size="20" maxlength="100"  value="{{ FormCache.shipping_address_2 }}" />
                            <span class="validator-message">{{ FailedItems.shipping_address_2 }}</span>
                        </div>

                        <div class="field-label fltlft">City</div>
                        <div class="field-input fltlft">
                            <input name="shipping_city-city-{{ checkout.token }}-1" type="text" size="20" maxlength="100" value="{{ FormCache.shipping_city }}" />
                            <span class="validator-message">{{ FailedItems.shipping_city }}</span>
                        </div>

                        <div class="field-label fltlft">State</div>
                        <div class="field-input fltlft">


                            {% if FormCache.shipping_country and FormCache.shipping_country.hasProvinces %}
                            <select id="shipping-province-field" name="shipping_province_id-int-{{ checkout.token }}-1" onchange="Checkout.refreshShippingOptions('{{ FormCache.shipping_country.iso2 }}', this)" >
                                <option value="x" >-- Choose a province --</option>
                                {% for province in FormCache.shipping_country.provinces %}
                                <option value="{{ province.id }}" {% if FormCache.shipping_province_id and province.id == FormCache.shipping_province_id %} selected {% endif %}>{{ province.printableName }}</option>
                                {% endfor %}
                            </select>
                            <span class="validator-message">{{ FailedItems.shipping_province_id }}</span>
                            {% else %}
                            <input id="shipping-province-field" name="shipping_province-name-{{ checkout.token }}-1" type="text" size="20" maxlength="100" value="{{ FormCache.shipping_province }}" />
                            <span class="validator-message">{{ FailedItems.shipping_province }}</span>
                            {% endif %}
                        </div>

                        <div class="field-label fltlft">Postal Code</div>
                        <div class="field-input fltlft">
                            <input name="shipping_postal_code-postalcode-{{ checkout.token }}-1" type="text" size="10" maxlength="15" value="{{ FormCache.shipping_postal_code }}" />
                            <span class="validator-message">{{ FailedItems.shipping_postal_code }}</span>
                        </div>


                    </div>
                    <div class="address-summary"></div>

                </div>


                <div id="shipping-options-wrapper" class="fltlft">
                        <div class="sub-section-header" >Delivery Options</div>
                        <span class="validator-message">{{ FailedItems.shipping_option }}</span>
                        <div id="shipping-options" class="billing-address-cue">
                            {% if FormCache.shipping_options %}
                                Please choose a delivery option...
                                <br /><br />

                                <ul id="shipping-options-list" >
                                    {% for Option in FormCache.shipping_options %}
                                    <li value="{{ Option.id }}" >
                                        <label for="shipping-option-{{ Option.id }}" >
                                            <input type="radio" onclick="Checkout.refreshShippingCharges (this);" name="shipping_option-int-{{ checkout.token }}-1" id="shipping-option-{{ Option.id }}" value="{{ Option.id }}"  {% if FormCache.shipping_option_id == Option.id %}checked{% endif %} />{{ Option.name }}
                                        </label>
                                    </li>
                                    {% endfor %}
                                </ul>

                            {% else %}

                                Please choose a country and state/province to see available delivery options here.

                            {% endif %}

                        </div>

                        {% if cart.ShippingCharges %}
                        <div id="mini-shipping-charges" class="fltlft">
                        Shipping cost: 
                             {{ store.currency.symbol|raw }}{{ cart.ShippingCharges.amount|number_format(2, '.', ',') }}
                        </div>
                        
                        <div id="mini-delivery-info" class="fltlft">
                            {{ cart.ShippingCharges.description }}
                        </div>
                        {% else %}
                            <div id="mini-shipping-charges" class="fltlft">
                            Shipping cost: Unavailable.
                            </div>

                            <div id="mini-delivery-info" class="fltlft" style="display: none;"></div>
                        {% endif %}


                </div>

                <div id="delivery-section-eye-candy" class="fltlft">
                    <div class="sub-section-header" >&nbsp;</div>
                </div>





                <div id="address-book-wrapper" class="fltrt">
                    <div class="sub-section-header" >{#<span class="icon-book-2">&nbsp;</span>#}My Address Book</div>
                    <div id="address-book-note">If you have any previously saved addresses you can select one of them here to use it &downarrow;</div>
                    <ul id="address-book-entries">
                        <a href="#"><li class="icon-radio-unchecked">#12, Fashola Str. , Lagos, Nigeria</li></a>
                        <a href="#"><li class="icon-radio-checked">#9, Ogunlana Drive, Lagos, Nigeria</li></a>
                        <a href="#"><li class="icon-radio-unchecked">10034, Peter Parker Str. , NY, USA</li></a>
                    </ul>
                </div>


                <br style="clear: both" />

            </li>




            <!-- BILLING INFORMATION -->

            <li class="list-items-header checkout-wrapper-header">
                <div class="list-items-wide-col">2. Payment</div>
            </li>

            <li class="list-items-row">



                <div id="billing-payment-method" class="fltlft">
                    <div class="sub-section-header" >Payment Options</div>
                    <span class="validator-message">{{ FailedItems.payment_type }}</span>
                    <ul id="payment-options-list" class="list-style-stripped">
                        {% for PaymentType in store.PaymentTypes %}
                            <li><input type="radio" id="payment-type-{{ PaymentType.id }}" name="payment_type-int-{{ checkout.token }}-1" value="{{ PaymentType.id }}" onClick="Checkout.updateBillingInfoFrame({% if PaymentType.RequiresBillingAddress %}true{% else %}false{% endif %});" {% if FormCache.payment_type and FormCache.payment_type.id == PaymentType.id %}checked{% endif %}/><label for="payment-type-{{ PaymentType.id }}">{{ PaymentType.Title }}</label></li>
                        {% endfor %}
                    </ul>
                </div>


                <div id="billing-info-form-wrapper" class="fltlft">
                    <div class="sub-section-header" >Billing Address</div>

                    <div id="default-billing-info-message" class="billing-address-cue"  style="display:{% if FormCache.payment_type %}none{% else %}block{% endif %};" >
                        Please choose a payment option on your left.
                    </div>

                    <div id="billing-address-not-required" class="billing-address-cue" style="display:{% if FormCache.payment_type and FormCache.payment_type.RequiresBillingAddress == false %}block{% else %}none{% endif %};" >
                        A billing address will not be required for the selected payment option.
                    </div>


                    <div class="edit-address" id="credit-card-billing-address" style="display:{% if FormCache.payment_type and FormCache.payment_type.RequiresBillingAddress %}block{% else %}none{% endif %};">

                        <div class="field-label fltlft">First Name</div>
                        <div class="field-input fltlft">
                            <input name="billing_firstname-firstname-{{ checkout.token }}-1" type="text" size="20" maxlength="100" value="{{ FormCache.billing_firstname }}" />
                            <span class="validator-message">{{ FailedItems.billing_firstname }}</span>
                        </div>

                        <div class="field-label fltlft">Last Name</div>
                        <div class="field-input fltlft">
                            <input name="billing_lastname-lastname-{{ checkout.token }}-1" type="text" size="20" maxlength="100" value="{{ FormCache.billing_lastname }}" />
                            <span class="validator-message">{{ FailedItems.billing_lastname }}</span>
                        </div>

                        <div class="field-label fltlft">Country</div>
                        <div class="field-input fltlft">
                            <select name="billing_country-iso2-{{ checkout.token }}-1" id="billing-country-field" >
                                <option value="x" >-- Choose a country --</option>
                                {% for country in countries %}
                                <option data_has_provinces={% if country.hasProvinces %}1{% else %}0{% endif %} value="{{ country.iso2 }}" {% if country.iso2 == FormCache.billing_country.iso2 %} selected {% endif %}>{{ country.printableName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="field-label fltlft">Address</div>
                        <div class="field-input fltlft">
                            <input name="billing_address_1-address-{{ checkout.token }}-1" type="text" size="20" maxlength="100" value="{{ FormCache.billing_address_1 }}" />
                            <span class="validator-message">{{ FailedItems.billing_address_1 }}</span>
                        </div>

                        <div class="field-label fltlft">&nbsp;</div>
                        <div class="field-input fltlft">
                            <input name="billing_address_2-address-{{ checkout.token }}-1" type="text" size="20" maxlength="100"  value="{{ FormCache.billing_address_2 }}" />
                            <span class="validator-message">{{ FailedItems.billing_address_2 }}</span>
                        </div>

                        <div class="field-label fltlft">City</div>
                        <div class="field-input fltlft">
                            <input name="billing-city" type="text" size="20" maxlength="100" value="{{ FormCache.billing_city }}" />
                            <span class="validator-message">{{ FailedItems.billing_city }}</span>
                        </div>

                        <div class="field-label fltlft">State</div>
                        <div class="field-input fltlft">
                            <input id="billing-province-field" name="billing_province-int-{{ checkout.token }}-1" type="text" size="20" maxlength="100" value="{{ FormCache.billing_province }}" />
                            <span class="validator-message">{{ FailedItems.billing_province }}</span>
                        </div>

                        <div class="field-label fltlft">Postal Code</div>
                        <div class="field-input fltlft">
                            <input name="billing_postal_code-postalcode-{{ checkout.token }}-1" type="text" size="10" maxlength="15" value="{{ FormCache.billing_postal_code }}" />
                            <span class="validator-message">{{ FailedItems.billing_postal_code }}</span>
                        </div>

                    </div>
                    <div class="address-summary"></div>



                </div>


                <div id="billing-section-eye-candy" class="fltlft">
                    <div class="sub-section-header" >&nbsp;</div>
                </div>





               <br style="clear: both" />

            </li>




            <!-- REVIEW & CONFIRM ORDER -->

            <li class="list-items-header checkout-wrapper-header" >
                <div class="list-items-x-wide-col">3. Review and Confirm</div>


            </li>

            <li class="list-items-row" id="cart-items-wrapper">



                <ul class="list-items" id="main-cart-items-list">

                <li class="list-items-header" id="main-cart-items-list-header">
                    <div class="list-items-wide-col">Item Description</div>




                    <div class="list-items-narrow-col fltrt">Price</div>

                    {#
                    <div class="list-items-x-narrow-col center fltrt">Remove</div>
                    #}


                    <div class="list-items-narrow-col fltrt">Quantity</div>

                    {#
                    <div class="list-items-narrow-col fltrt">Price</div>
                    #}

                    <div class="list-items-wide-col center fltrt">Status</div>







                </li>

                {% for item in cart.items %}


                <li class="list-items-row">
                    <a href="{{ item.href }}">
                    <img class="x-mini-thumb-1 cart-item-thumb fltlft" src="{{ item.image.thumb }}" />

                    <div class="list-items-wide-col">
                    <strong>{{ item.title }}</strong> <br /><br />
                    <strong>Size</strong> <br />{{ item.size }} <br />
                    <strong>Color</strong> <br />{{ item.color }} <br />
                    </div>
                    </a>





                    <div class="list-items-narrow-col fltrt">{{ store.currency.symbol|raw }} {{ item.subtotal|number_format(2, '.', ',') }}</div>

                    {# <div class="list-items-x-narrow-col center fltrt"><a class="icon-close delete-button-1" href="{{ store.landing }}cart?remove={{ item.id }}">&nbsp;</a></div> #}

                    <div class="list-items-narrow-col fltrt">{{ item.quantity }}</div>

                    {#
                    <div class="list-items-narrow-col fltrt">{{ store.currency.symbol|raw }} {{ item.price|number_format(2, '.', ',') }}</div>
                    #}


                    <div class="list-items-wide-col center fltrt">
                    {% if item.stock < 1 %}
                    <span class="stock-low">Out of stock</span>
                    {% elseif item.stock < 5 %}
                    <span class="stock-low">{{ item.stock }} left</span>
                    {% else %}
                    In Stock
                    {% endif %}
                    </div>


                <br style="clear: both" />
                </li>


                {% endfor %}




                <li class="list-items-row last-child" id="cart-summary">



                        {# DISCOUNTS WRAPPER #}
                    

                        <br />
                        <ul class="list-items fltrt" id="cart-summary-inner-wrapper">
                            
                            
                            {# SUB-TOTAL #}
                            
                            <li class="cart-sub-total">
                                <span class="fltlft field-label"><strong>Sub-total:</strong> </span>
                                <span class="fltrt field-value">{{ store.currency.symbol|raw }}{{ cart.subTotal|number_format(2, '.', ',') }}</span>
                            </li>
                            
                            


                            {# COUPONS #}

                            {% if cart.Discounts.Coupons %}
                                {% for Coupon in cart.Discounts.Coupons %}
                                <li>
                                    <span class="fltlft field-label"><strong>{{ Coupon.description }}:</strong></span> 
                                    <span class="fltrt field-value">LESS {{ store.currency.symbol|raw }}{{ Coupon.amount|number_format(2, '.', ',') }}</span>
                                </li>
                                {% endfor %}
                            {% endif %}


                                
                            {# SALES #}

                            {% if cart.Discounts.Sales %}
                                {% for Sale in cart.Discounts.Sales %}
                                <li>
                                        <span class="fltlft field-label"><strong>{{ Sale.description }}:</strong></span>
                                        <span class="fltrt field-value">LESS {{ store.currency.symbol|raw }}{{ Sale.amount|number_format(2, '.', ',') }}</span>
                                </li>
                                {% endfor %}
                            {% endif %}

                        
                        
                        {# SPACING #}
                        <li>&nbsp;</li>
                        
                        
                        
                        
                        

                        {# TAXES AND SHIPPING #}

                        {# Product Taxes #}
                        {% if cart.Taxes %}
                            {% for TaxRate in cart.Taxes %}
                            <li>
                                <span class="fltlft field-label"><strong>{{ TaxRate.description }}:</strong> </span>
                                <span class="fltrt field-value">{{ store.currency.symbol|raw }}{{ TaxRate.amount|number_format(2, '.', ',') }}</span>
                            </li>
                            {% endfor %}
                        {% endif %}


                        {# shipping cost (tax EXCLUDED) #}
                        {% if cart.ShippingCharges %}
                            <li class="cart-shipping-charge">
                                <span class="fltlft field-label"><strong>Shipping ({{ FormCache.selected_shipping_option.name }}):</strong> </span>
                                <span class="fltrt field-value">{{ store.currency.symbol|raw }}{{ cart.ShippingCharges.amount|number_format(2, '.', ',') }}</span>
                            </li>
                        {% endif %}                   


                        {# Shipping Taxes #}
                        {% if cart.ShippingCharges.Taxes %}
                            {% for TaxRate in cart.ShippingCharges.Taxes %}
                            <li class="cart-shipping-tax">
                                    <span class="fltlft field-label"><strong>{{ TaxRate.description }}:</strong> </span>
                                    <span class="fltrt field-value">{{ store.currency.symbol|raw }}{{ TaxRate.amount|number_format(2, '.', ',') }}</span>
                            </li>
                            {% endfor %}
                        {% endif %}
                            
                            
                        <li class="cart-grand-total">
                            <span class="fltlft field-label"><strong>Order Total:</strong> </span>
                            <span class="fltrt field-value">{{ store.currency.symbol|raw }}{{ cart.grandTotal|number_format(2, '.', ',') }}</span>
                        </li>


                        </ul>
                        <br />
                        <br style="clear: both"/>


                        
                </li>

                
                
                
                <li>

                        
                        {# COUPON DISCOUNT WIDGET #}


                        <ul class="list-items fltrt" id="coupon-code-form-wrapper">

                            <li>
                                Enter your coupon code here if you have one:
                            </li>

                            <li>
                                    <input type="text" name="coupon_code-alphanum-{{ checkout.token }}-1" id="coupon-code-field" value="" size="20" maxlength="20" />
                                    <input type="button" name="coupon_submit_button-submit-{{ checkout.token }}-0" id="cart-apply-coupon-code-button" class="black-button-large-1" value="apply code"  onclick="Checkout.applyCoupon();"/>
                            </li>
                            <li>
                                <span class="validator-message">{{ FailedItems.coupon_code }}</span>
                            </li>

                        </ul>

                        <br />
                        
                        
                        
                </li>
                <li>
                        
                        {# CART ERRORS #}


                        {% if cart.error %}
                        <ul id="cart-errors" class="list-items fltrt">

                            {% for error in cart.errorMessages %}
                            <li>{% if loop.length > 1 %}{{ loop.index }}. {% endif %}{{ error|raw }}</li>
                            {% endfor %}

                            <li class="last-child"></li>

                        </ul>
                        {% endif %}
                        
                        
                        
                </li>



                <br style="clear: both" />

                </ul>



            </li>
            
            <li class="last-child">
            {# <div class="checkout-notice fltrt">On the next page you will be able review and confirm your order.</div> #}
            <div class="clearfloat"></div>
            <input type="button" name="checkout_submit_button-submit-{{ checkout.token }}-0" id="checkout-submit-button" class="black-button-large-1 fltrt" value="confirm order"  onclick="Checkout.submit();"/>


            
            </li>






        </ul>



        <!-- CLOSE CHECKOUT FORM -->
        </form>







{% block sidebar %}{# remove sidebar #}{% endblock sidebar %}


<br style="clear: both" />
</div>


{% endblock content %}

