{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.email.html.twig' %}


{% block content %}


            <br>

            Hello {{email.customer.firstname}},
            <br><br>

            As you requested, your password has now been reset. Your new password to '{{store.title}}' is:
            <br><br>
            <h3 style="color: #a00">{{new_password}}</h3>
            <br><br>
            To change your password to something more memorable, after logging in go to > My Account > Edit Info.
            <br><br>
            Happy Shopping!
            <br><br><br>

            <div style="border-top: 1px solid #ddd;">
                <br>
                For help with any of our online services, please email us at: 
                <a href="mail:{{store.contact.ContactEmail}}" style="color:#555;">{{store.contact.ContactEmail}}</a>
            </div>


{% endblock content %}