{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.email.html.twig' %}


{% block content %}






            <div class="order-details-inner-wrapper" style="width: auto; height: auto; padding: 0px 0px; overflow: hidden; ">
                <table width="750" border="0" cellspacing="0px" cellpadding="0px" class="table-1" style="overflow: hidden; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;">
              <tr>
                  <td style="background: #000; color: #fff; font-family:Arial, Helvetica, sans-serif; padding: 0px 0px; height: 40px; width: 350px; display: inline-block; overflow: hidden; text-indent: 15px;"><h2 style="line-height: 10px;">{{Order.Store.title}}</h2></td>
                    <td style="background: #000; color: #fff; font-family:Arial, Helvetica, sans-serif; padding: 0px 0px;height: 40px; width: 50px; display: inline-block; overflow: hidden;">&nbsp;</td>
                    <td align="right" style="background: #000; color: #fff; font-family:Arial, Helvetica, sans-serif; padding: 0px 0px; height: 40px; width: 350px; display: inline-block; overflow: hidden;">
                        <div class=" field-group">

                        <h3 class="order-num fltrt" style="display: inline-block; color: #aa0; min-width: 50px; padding: 5px 10px 5px 0px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin-right: 15px; line-height: 5px;">
                        <span class="order-status-indicator user-status {{Order.status}}"></span>&nbsp;&nbsp;Order #{{Order.orderNum}}
                        </h3>

                        </div>
                    </td>
              </tr>
            </table>


            <p></p>

            <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-2" >
              <tr>
                    <td style="background: none; color: #000; font-family:'Times New Roman', Times, serif; padding: 0px 10px; width: 240px; vertical-align: top; border-right:solid 1px #ccc; ">

                    <strong>Customer</strong>
                    <p style="font-size: 95%;">
                    <span class="icon-user-5"></span> {{Order.Customer.name}}<br />
                    <span class="icon-mobile-3"></span> {{Order.Customer.phone}}<br />
                    <span class="icon-mail"></span> {{Order.Customer.email}}<br />
                    </p>
                    </td>
                    <td  style="background: none; color: #000; font-family:'Times New Roman', Times, serif; padding: 0px 10px; width: 240px; vertical-align: top; border-right:solid 1px #ccc; ">

                    <strong>Shipping Address</strong>
                    <p style="font-size: 95%;">
                            {{Order.Recipient.name}},<br />
                            {{Order.ShippingAddress.Street}}<br />
                            {{Order.ShippingAddress.Suburb}} {{Order.ShippingAddress.City}}<br />
                            {{Order.ShippingAddress.Province}}{{Order.ShippingAddress.Country}}<br />

                    </p>
                    </td>
                    <td class="last-child" style="background: none; color: #000; font-family:'Times New Roman', Times, serif; padding: 0px 10px; width: 240px; vertical-align: top; ">

                    <strong>Payment</strong>

                    <p style="font-size: 95%;">
                    Type: {{Order.Transaction.PaymentGateway}}<br />
                    Tranx ID: {{Order.Transaction.TranxID}}<br />
                    Amount: {{Order.Transaction.AmountPaid}}<br />
                    Status: {{Order.Transaction.PaymentStatus}}<br />
                    </p>
                    </td>
              </tr>
            </table>

            <div class="quick-info-bar" style="width: 100%; height: 35px; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; margin-bottom: 20px;">
                    <span class="icon-basket" style="float: right; margin-right: 20px; margin-top: 10px;">
                    <img src="{{base_url}}/ui/images/ui/notification-icons/basket-50x50.png" style="height: 15px; width: 15px; margin-right: 10px;" />
                    {{Order.quantity}} item{% if Order.quantity > 1 %}s{% endif %}
                    </span>

                    &nbsp;&nbsp;
                    <span class="icon-calendar-2" style="float: right; margin-right: 20px; margin-top: 10px;">
                    <img src="{{base_url}}/ui/images/ui/notification-icons/calendar-2-50x50.png" style="height: 15px; width: 15px; margin-right: 10px;" />
                    ordered at {{Order.orderDate}}
                    </span>

                    &nbsp;&nbsp;
                    <span class="icon-flight" style="float: right; margin-right: 20px; margin-top: 10px;"><img src="{{base_url}}/ui/images/ui/notification-icons/flight-50x50.png" style="height: 15px; width: 15px; margin-right: 10px;" />
                    {{Order.Shipping.description}}
                    </span>
            </div>

            <p>
                    <span class="payment-status fltrt {{Order.Transaction.PaymentStatusClass}}" style="display: block; float: right; text-transform: uppercase; font-size: 170%; font-weight: bold; font-family: arial; opacity:.3; -moz-opacity:.3; filter:Alpha(opacity=30); ">
                    {{Order.Transaction.PaymentStatus}}
                    </span>
                    <br style="clear: both" />
            </p>

            <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-3" style="width: 100%;" >
              <tr>
                    <th scope="col" class="th-item" style="	background: none; color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 95%; vertical-align: bottom; padding: 10px; padding-bottom: 6px; border-bottom:solid 1px #ccc; text-align: left; width: 360px; font-weight: bold;">Item</th>
                    <th scope="col" class="th-price" style="	background: none; color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 95%; vertical-align: bottom; padding: 10px; padding-bottom: 6px; border-bottom:solid 1px #ccc; text-align: left; width: 80px;">Price</th>
                    <th scope="col" class="th-quantity" style="	background: none; color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 95%; vertical-align: bottom; padding: 10px; padding-bottom: 6px; border-bottom:solid 1px #ccc; text-align: center; width: 60px;">Quantity</th>
                    <th scope="col" class="th-total" style="	background: none; color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 95%; vertical-align: bottom; padding: 10px; padding-bottom: 6px; border-bottom:solid 1px #ccc; text-align: right; width: 160px;">Total</th>
              </tr>

              {% for Item in Order.Items %}
              <tr>
                    <td align="left" class="td-item" style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top; ">
                    {{Item.itemName}} - {{Item.itemDescription}}
                    </td>
                    <td align="left" style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top; ">
                    {{Order.Currency.symbol|raw}}{{Item.originalPrice}}
                    </td>
                    <td align="center" style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top; ">
                    {{Item.quantity}}
                    </td>
                    <td align="right" style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top; ">
                    {{Order.Currency.symbol|raw}}{{Item.originalSubtotal}} {{Order.Currency.code}}
                    </td>
              </tr>
              {% endfor %}
            </table>

            <br />

            <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-4" style="width: 100%;">

              {% for Sale in Order.Discounts.Sales %}
              <tr>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Sale.description}}:
                    </td>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    LESS {{Order.Currency.symbol|raw}}{{Sale.pretty_amount}} {{Order.Currency.code}}
                    </td>
              </tr>
              {% endfor %}

              {% for Coupon in Order.Discounts.Coupons %}
              <tr>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Coupon.description}}:
                    </td>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    LESS {{Order.Currency.symbol|raw}}{{Coupon.pretty_amount}} {{Order.Currency.code}}
                    </td>
              </tr>
              {% endfor %}


              {% for Tax in Order.Taxes %}
              <tr>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Tax.description}}:
                    </td>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Order.Currency.symbol|raw}}{{Tax.pretty_amount}} {{Order.Currency.code}}
                    </td>
              </tr>
              {% endfor %}

              <tr>
                    <td class="label" style="width: 545px; background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    Subtotal:
                    </td>
                    <td class="value" style="width: 170px; background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Order.Currency.symbol|raw}}{{Order.total}} {{Order.Currency.code}}
                    </td>
              </tr>

              <tr>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    Shipping ({{Order.Shipping.description}}):
                    </td>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Order.Currency.symbol|raw}}{{Order.Shipping.amountBeforeTax}} {{Order.Currency.code}}
                    </td>
              </tr>

              {% for Tax in Order.Shipping.Taxes %}
              <tr>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Tax.description}}:
                    </td>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 90%; vertical-align: top;  text-align: right;">
                    {{Order.Currency.symbol|raw}}{{Tax.pretty_amount}} {{Order.Currency.code}}
                    </td>
              </tr>
              {% endfor %}



              <tr class="grand-total">
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 95%; vertical-align: top;  text-align: right; border-top:solid 1px #ccc; font-weight: bold;">
                    Total:
                    </td>
                    <td style="background: none; color: #000; padding: 6px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 95%; vertical-align: top;  text-align: right; border-top:solid 1px #ccc; font-weight: bold;">
                    {{Order.Currency.symbol|raw}}{{Order.grandTotal}} {{Order.Currency.code}}
                    </td>
              </tr>
            </table>

            <p>&nbsp;</p>
            <p>&nbsp;</p>
            </div>










<div style="border-top: 1px solid #ddd;">
    <br>
    


    For Cash Deposits, Bank Transfers, or Cheques, payment can be made at any branch of:

    <br><br>

    Bank Name: GTBank Plc<br />
    Account Name: Aimas Lifestyle Ltd<br />
    Account Number: 0005889274<br />
    Account Type: Current<br />

    <br /><br>

    After payment, please send Invoice Number, Amount Paid, Teller Number, and Bank Name to: <a href="mail:{{Order.Store.Contact.ContactEmail}}" style="color:#555;">{{Order.Store.Contact.ContactEmail}}</a>, 
    so that we can verify your payment.

    <br><br>

    For help with any of our online services, please email us at: <a href="mail:{{Order.Store.Contact.ContactEmail}}" style="color:#555;">{{Order.Store.Contact.ContactEmail}}</a>.
</div>



{% endblock content %}