
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin | Print Order</title>

<!-- STYLE SHEETS -->

<link href="{{ assets_path }}css/base.css" rel="stylesheet" type="text/css" />
<link href="{{ assets_path }}css/icomoon/style.css" rel="stylesheet" type="text/css" />
<link href="{{ assets_path }}css/print.orders.css" rel="stylesheet" type="text/css" />


<style type="text/css" media="all">



</style>


<script type="text/javascript">


</script>


</head>

<body>

<div class="container">

        <div class="order-details-wrapper">
        <table width="750" border="0" cellspacing="0px" cellpadding="0px" class="table-1" >
          <tr>
            <td><h1>{{ Order.Store.title }}</h1></td>
            <td>&nbsp;</td>
            <td align="right"><h3 class="order-num">Order #{{ Order.orderNum }}</h3></td>
          </tr>
        </table>


        <p></p>

        <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-2" >
          <tr>
            <td align="left">

            <strong>Customer</strong>
            <p>
            <span class="icon-user-5"></span> {{ Order.Customer.name }}<br />
            <span class="icon-mobile-3"></span> {{ Order.Customer.phone }}<br />
            <span class="icon-mail"></span> {{ Order.Customer.email }}
            </p>
            </td>
            <td align="left">

            <strong>Shipping Address</strong>
            <p>
            </p>
            </td>
            <td align="left" class="last-child">

            <strong>Payment</strong>

            <p>
            Processed by WebPay
            </p>
            </td>
          </tr>
        </table>

        <div class="quick-info-bar">
            <span class="icon-basket">&nbsp;{{ Order.quantity }} items</span>
            &nbsp;&nbsp;
            <span class="icon-calendar-2">&nbsp;ordered {{ Order.orderDate }}</span>
            &nbsp;&nbsp;
            <span class="icon-flight">&nbsp;{{ Order.ShippingOption.name }}</span>
        </div>

        <p>&nbsp;</p>

        <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-3" >
          <tr>
            <th scope="col" class="th-item">Item</th>
            <th scope="col" class="th-price">Price</th>
            <th scope="col" class="th-quantity">Quantity</th>
            <th scope="col" class="th-total">Total</th>
          </tr>

          {% for Item in Order.Items %}
          <tr>
            <td align="left" class="td-item">{{ Item.itemName }} - {{ Item.itemDescription }}</td>
            <td align="left">{{ Order.Currency.symbol|raw }}{{ Item.price }}</td>
            <td align="center">{{ Item.quantity }}</td>
            <td align="right">{{ Order.Currency.symbol|raw }}{{ Item.subtotal }} {{ Order.Currency.code }}</td>
          </tr>
          {% endfor %}
        </table>

        <br />

        <table width="720" border="0" cellspacing="0px" cellpadding="0px" class="table-4" >
          <tr>
            <td class="label">Subtotal:</td>
            <td class="value">{{ Order.Currency.symbol|raw }}{{ Order.total }} {{ Order.Currency.code }}</td>
          </tr>
          <tr>
            <td>Shipping ({{ Order.ShippingOption.name }}):</td>
            <td>{{ Order.Currency.symbol|raw }}{{ Order.shippingCharges }} {{ Order.Currency.code }}</td>
          </tr>

          {% for TaxRate in Order.taxes %}
          <tr>
            <td>{{ TaxRate.rate }}% {{ TaxRate.title }}:</td>
            <td>{{ Order.Currency.symbol|raw }}{{ TaxRate.amount }} {{ Order.Currency.code }}</td>
          </tr>
          {% endfor %}

          <tr class="grand-total">
            <td>Total:</td>
            <td>{{ Order.Currency.symbol|raw }}{{ Order.grandTotal }} {{ Order.Currency.code }}</td>
          </tr>
        </table>

        </div>




</div>


</body>
</html>
