<div class="shop-side-bar-wrapper">
    <ul class="shop-side-bar">
        {# <a href="{{ shop.landing }}"><li>Home</li></a> #}
        
        {% for cat in categories %}
            {% if not cat.is_root and cat.active %} 
            <a href="{{ cat.href }}"><li>{{ cat.title }}</li></a>
            {% endif %}
        {% endfor %}
    
    </ul>

</div>

