{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Thank You{% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/thank-you.css" rel="stylesheet" type="text/css" />

<!-- NON GLOBAL JS -->
<script type="text/javascript" src="{{ assets_path }}jscript/confirm.js"></script>

{% endblock head %}


{% block content %}

<div class="wide-content-wrapper">
<div class="inner-content-wrapper">

<div class="page-title">Thank You...</div>


<div id="register-wrapper" >


        <table id="register-form-table" cols="3" cellspacing="10" >

            <thead>
                <tr>
                    <th colspan="3" class="register-sub-header">
                        {% if tranx_successful %}
                        Success
                        {% else %}
                        Error
                        {% endif %}
                    </th>
                </tr>

            </thead>
            
            <tbody>     
                <tr>
                    <td class="register-field-label" colspan="2">
                        {% if tranx_successful %}
                        Your order was successful!
                        
                        
                        <br /><br>
                        
                        
                        {#
                        <div class="bank-info">
                            <br>
                            For Cash Deposits, Bank Transfers, or Cheques, payment can be made at any branch of:

                            <br><br>

                            Bank Name: GTBank Plc<br />
                            Account Name: Aimas Lifestyle Ltd<br />
                            Account Number: 0005889274<br />
                            Account Type: Current<br />

                            <br /><br>

                            After payment, please send Invoice Number, Amount Paid, Teller Number, and Bank Name to: <a href="mail:{{Order.Store.Contact.ContactEmail}}" style="color:#555;">{{Order.Store.Contact.ContactEmail}}</a>, 
                            so that we can verify your payment.

                            <br><br>
                        </div>
                        
                        <br><br>
                        
                        #}
                        
                        {% else %}
                        Your payment could not processed.
                        {% endif %}
                        <br /><br />

                        <a class="black-button-large-1"  href="{{ store.landing }}myaccount">view order history</a>
                        <a class="black-button-large-1"  href="{{ store.landing }}">continue shopping</a>
                        
                        
                    </td>
                    <td class="register-field-error"></td>
                </tr>
                
                <tr>
                    <td class="register-field-label" colspan="2"><br><br><br></td>
                    <td class="register-field-error"></td>
                </tr>
            </tbody>

        </table>
        
</div>



<br style="clear: both" />
</div></div>
{% endblock content %}

