{# 

 	@Package: Cataleya
        (c) 2012 Fancy Paper Planes

 #}

{% extends 'base.html.twig' %}


{% block title %} | Your Wishlist {% endblock title %}

{% block head %}
{{ parent() }}


<!-- NON GLOBAL CSS -->
<link href="{{ assets_path }}css/wishlist-display.css" rel="stylesheet" type="text/css" />

{% endblock head %}


{% block content %}

{#
<div id="bread-crumps">
<a href="{{ shop.landing }}">Home</a> - Wishlist

</div> 
#}


<ul class="secondary-nav">
    <a href="javascript:void(0);" onclick="productWidget.seekPane (1); return false;">
        <li class="first-child">Account Settings<span class="connector"></span></li>
    </a>
    
    <a href="javascript:void(0);" onclick="productWidget.seekPane (2); return false;">
        <li class="active-crumb">Wishlist<span class="connector"></span></li>
    </a>
    

    <a href="javascript:void(0);" onclick="productWidget.seekPane (3); return false;">
    <li>Order History<span class="connector"></span></li>
    </a>
        

        
    <a href="javascript:void(0);" onclick="productWidget.seekPane (4); return false;">
    <li class="last-child">Address Book<span class="connector last-child"></span></li>
    </a>

</ul>


<div class="page-title">{{ wishlist.ownerDisplayName }} Wishlist</div>


{#
<a id="wishlist-continue-button-1" class="black-button-large-1" href="{{ wishlist.continueHref }}" >continue shopping</a> 
<div class="clearfloat"></div>
<br />
#}

{% if wishlist.status != '' %}
<ul id="wishlist-status-message" class="list-items">

    <li>{{ wishlist.status }}</li>
    <li class="last-child"></li>

</ul>
{% endif %}


{% if wishlist.error %}
<ul id="wishlist-errors" class="list-items">

    {% for error in wishlist.errorMessages %}
    <li>{{ error }}</li>
    {% endfor %}
    
    <li class="last-child"></li>

</ul>
{% endif %}

<ul class="list-items" id="main-wishlist-items-list">

<li class="list-items-header" id="main-wishlist-items-list-header">
    <div class="list-items-wide-col">Item Description</div>
    

    
    
    <div class="list-items-x-narrow-col fltrt">Total</div>
 
    <div class="list-items-x-narrow-col center fltrt">Remove</div>
 
    <div class="list-items-x-narrow-col fltrt">Quantity</div>
  
    <div class="list-items-narrow-col fltrt">Price</div>
    
    
    <div class="list-items-wide-col center fltrt">Status</div>
    
   
   
   
   
    

</li>

<form id="wishlist-items-form" name="wishlist_items_form" method="POST" action="{{ store.landing }}wishlist/update/" >       
{% for item in wishlist.items %}


<li class="list-items-row" id="item-row-{{ item.id }}">
    <a href="{{ item.href }}">
    <img class="mini-thumb-1 wishlist-item-thumb fltlft" src="{{ item.image.thumb }}" />
    </a>
    
    <div class="list-items-wide-col">
        
    <a href="{{ item.href }}">
    <strong>{{ item.title }}</strong> <br /><br />
            
    {% for attribute in item.attributes %}
    <strong>{{ attribute.label }}:</strong> {{ attribute.value }} <br/>
    {% endfor %}
    </a>
    
    <br />

    {% if item.stock < 1 %}
    <span class="black-button-large-1 deactivated" id="sold-out-button" >sold out</span>
    {% else %}
    <input type="button" class="black-button-mini" id="add-to-cart-button" value="add to bag " onclick="addWishlistItemToCart  ({{ item.id }}, true)" />
    {% endif %}
    
    </div>
    

    
    
  
    <div class="list-items-x-narrow-col fltrt">{{ store.currency.symbol|raw }} {{ item.subtotal|number_format(2, '.', ',') }}</div>
   
    <div class="list-items-x-narrow-col center fltrt"><a class="icon-close delete-button-1" href="{{ store.landing }}wishlist/remove/?id={{ item.id }}">&nbsp;</a></div>
 
    <div class="list-items-x-narrow-col fltrt"> x <input type="text" name="items[{{ item.id }}]" value="{{ item.quantity }}" size="2" maxlength="3" /> </div>
   
    <div class="list-items-narrow-col fltrt">{{ store.currency.symbol|raw }} {{ item.price|number_format(2, '.', ',') }}</div>
    
    
    
    <div class="list-items-wide-col center fltrt">
    {% if item.stock < 1 %}
    <span class="stock-low">Out of stock</span>
    {% elseif item.stock < 5 %}
    <span class="stock-low">Less than 5 left</span>
    {% else %}
    In Stock
    {% endif %}
    </div>
   
    
</li>


{% endfor %}




<li class="list-items-row last-child">
        <br />
        <div class="list-items-x-wide-col fltrt wishlist-sub-total"><strong>Sub-total:</strong> {{ store.currency.symbol|raw }}{{ wishlist.totalAmount|number_format(2, '.', ',') }}</div>


        <br /><br />
        
    {% if wishlist.error %}
    <ul id="wishlist-errors" class="list-items">

        {% for error in wishlist.errorMessages %}
        <li>{% if loop.length > 1 %}{{ loop.index }}. {% endif %}{{ error }}</li>
        {% endfor %}

        <li class="last-child"></li>

    </ul>
    {% endif %}
</li>




</form>

</ul>



<div id="wishlist-user-actions">

    <a id="wishlist-continue-button-2" class="black-button-large-1" href="{{ wishlist.continueHref }}" >continue shopping</a> 

    {% if wishlist.items %}
    <form id="wishlist-items-form" name="wishlist_items_form" method="POST" action="{{ store.landing }}wishlist" > 
        <input type="hidden" name="a" value="move-all-to-cart" />
        <input type="submit" id="wishlist-update-button" class="black-button-large-1" value="add all to bag" />
    </form>
    {% endif %}

</div>


<div class="clearfloat"></div>






{% endblock content %}

